Repository Codecademy/docs, pull requests merged in 2021-08, with the labels that each got.

#134 Create encyclopdia entry on What is CSV
  content/general/concepts/what-is-csv/what-is-csv.md
Labels: general

#133 first regex entries
  content/python/concepts/regex-in-python/regex.md
  content/python/concepts/regex-in-python/terms/digit-class/digit-class.md
  content/python/concepts/regex-in-python/terms/findall/findall.md
  content/python/concepts/regex-in-python/terms/search/search.md
  content/python/concepts/regex-in-python/terms/split/split.md
  content/python/concepts/regex-in-python/terms/sub/sub.md
Labels: python

#135 Table entries
  content/html/concepts/tables/colspan/colspan.md
  content/html/concepts/tables/rowspan/rowspan.md
  content/html/concepts/tables/table/table.md
  content/html/concepts/tables/tbody/tbody.md
  content/html/concepts/tables/td/td.md
  content/html/concepts/tables/tfoot/tfoot.md
  content/html/concepts/tables/th/th.md
  content/html/concepts/tables/thead/thead.md
  content/html/concepts/tables/tr/tr.md
  media-file-hosting/colspan.PNG
  media-file-hosting/rowspan.PNG
Labels: html

#136 CSS clear
  content/css/concepts/display/terms/clear/clear.md
Labels: css

#137 Various PHP Entries
  content/php/concepts/arrays/arrays.md
  content/php/concepts/classes/classes.md
  content/php/concepts/comments/comments.md
  content/php/concepts/conditionals/conditionals.md
  content/php/concepts/functions/functions.md
  content/php/concepts/loops/loops.md
  content/php/concepts/operators/operators.md
  content/php/concepts/variables/variables.md
  content/php/php.md
Labels: php

#138 5 more articles added
  content/language-agnostic/concepts/what-is-a-bitwise-operator/what-is-a-bitwise-operator.md
  content/language-agnostic/concepts/what-is-augmented-reality/what-is-augmented-reality.md
  content/language-agnostic/concepts/what-is-encapsulation/what-is-encapsulation.md
  content/language-agnostic/concepts/what-is-iot/what-is-iot.md
  content/language-agnostic/concepts/what-is-polymorphism/what-is-polymorphism.md
Labels: general

#141 build: added 5 HTML entries
  content/html/concepts/classes/classes.md
  content/html/concepts/headings/headings.md
  content/html/concepts/iframes/iframes.md
  content/html/concepts/links/links.md
  content/html/concepts/paragraphs/paragraphs.md
Labels: html

#173 Edit Git entries
  content/git/concepts/commit/commit.md
  content/git/concepts/init/init.md
  content/git/concepts/merge/merge.md
  content/git/concepts/pull/pull.md
  content/git/concepts/push/push.md
Labels: bug, git

#174 Fix "strong type" typo in python data-types
  content/python/concepts/data-types/data-types.md
Labels: python, typo

#175 Added "license": "UNLICENSED" to package.json
  package.json
Labels: documentation

#172 TypeScript
  content/typescript/concepts/arrays/arrays.md
  content/typescript/concepts/assignability/assignability.md
  content/typescript/concepts/classes/classes.md
  content/typescript/concepts/functions/functions.md
  content/typescript/concepts/generics/generics.md
  content/typescript/concepts/interfaces/interfaces.md
  content/typescript/concepts/narrowing/narrowing.md
  content/typescript/concepts/primitives/primitives.md
  content/typescript/concepts/tuples/tuples.md
  content/typescript/concepts/type-aliases/type-aliases.md
  content/typescript/concepts/type-annotations/type-annotations.md
  content/typescript/concepts/unions/unions.md
  content/typescript/concepts/variables/variables.md
  content/typescript/typescript.md
Labels: typescript

#176 Add c content
  content/c/c.md
  content/c/concepts/basic-output/basic-output
  content/c/concepts/functions/functions.md
  content/c/concepts/variables/variables.md
  documentation/tags.md
Labels: good first issue, c

#178 Update PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#190 Negative Start Value - JS Splice
  content/javascript/concepts/arrays/terms/slice/slice.md
  content/javascript/concepts/arrays/terms/splice/splice.md
Labels: enhancement, javascript

#189 Fix grammar
  content/html/concepts/semantic-html/terms/figure/figure.md
  content/html/concepts/semantic-html/terms/footer/footer.md
Labels: typo

#196 ADD: BigInt data type documentation
  content/javascript/concepts/data-types/data-types.md
Labels: javascript

#205 add nesting a list in html
  content/html/concepts/lists/lists.md
Labels: html, new entry

#204 Add entry for pointers to C content
  content/c/concepts/pointers/pointers.md
Labels: c, new entry

#203 Added Javascript entries for Modules and Requests
  content/javascript/concepts/modules/modules.md
  content/javascript/concepts/requests/requests.md
Labels: javascript, new entry
