Repository Codecademy/docs, pull requests merged in 2021-11, with the labels that each got.

#381 React: Update react-hooks docs
  content/react/concepts/hooks/hooks.md
Labels: enhancement, react, status: review 1️⃣ completed, status: review 2️⃣ completed

#389 JavaScript: Enhance hoisting docs
  content/javascript/concepts/hoisting/hoisting.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#397 Golang/add data-types content
  content/go/concepts/data-types/data-types.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, go

#407 Entry Edit: General - Next.js (GH Actions Test)
  content/general/concepts/what-is-next-js/what-is-next-js.md
Labels: enhancement, react

#374 [Entry] Create Git `add` and `status` commands
  content/git/concepts/add/add.md
  content/git/concepts/status/status.md
Labels: help wanted, git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#395 Python : add Iterators
  content/python/concepts/iterators/iterators.md
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: waiting for author

#401 Add map objects to documentation
  content/javascript/concepts/map/map.md
Labels: javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#413 Update iframes.md
  content/html/concepts/iframes/iframes.md
Labels: enhancement, html, status: review 1️⃣ completed, status: waiting for author

#396 Semantic HTML: Add `<mark>` and `<time>` tags
  content/html/concepts/semantic-html/terms/mark/mark.md
  content/html/concepts/semantic-html/terms/time/time.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#416 [Issuee#398] Edit JavaScript: DataTypes
  content/javascript/concepts/data-types/data-types.md
Labels: javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#415 add documentation to builder pattern
  content/general/concepts/what-is-the-builder-pattern/what-is-the-builder-pattern.md
  media/builder-uml.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#411 Java design pattern creational singleton
  content/general/concepts/what-is-the-singleton-pattern/what-is-the-singleton-pattern.md
  media/singleton-uml.png
Labels: java, status: review 1️⃣ completed

#419 Create content catalog markdown
  documentation/content-catalog.md
Labels: documentation, new entry

#418 Design pattern creational prototype
  content/general/concepts/what-is-the-prototype-pattern/what-is-the-prototype-pattern.md
  media/prototype-uml.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#424 Create swift classes protocols and tuples
  content/swift/concepts/classes/classes.md
  content/swift/concepts/protocols/protocols.md
  content/swift/concepts/tuples/tuples.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#421 Create issue forms
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: enhancement

#432 Edit issue forms
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: documentation, enhancement

#436 refactor: moved language about add GitHub profile to top of file.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#435 Add 'textarea' property to "Entry Edit" issue form
  .github/ISSUE_TEMPLATE/entry_edit.yml
Labels: documentation, enhancement

#425 Add Closures to Swift Documentation
  content/swift/concepts/closures/closures.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#439 Edit issue forms
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: documentation, enhancement, status: review 1️⃣ completed

#426 Added hyperlinks to state and props + Arrow function definition
  content/react/concepts/components/components.md
Labels: enhancement, react, status: review 1️⃣ completed

#441 Fix typo catalog content
  documentation/catalog-content.md
  documentation/content-standards.md
Labels: typo

#442 Update jsx.md
  content/react/concepts/jsx/jsx.md
Labels: typo

#429 Design pattern creational factory
  content/general/concepts/builder-pattern/builder-pattern.md
  content/general/concepts/factory-pattern/factory-pattern.md
  content/general/concepts/prototype-pattern/prototype-pattern.md
  content/general/concepts/singleton-pattern/singleton-pattern.md
  media/factory-uml.png
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#427 Add HashMap
  content/java/concepts/hash-map/hash-map.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#412 Functional programming
  content/general/concepts/what-is-functional-programming/what-is-functional-programming.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#403 Add sections to Python | Functions and edit article for clarity.
  content/python/concepts/functions/functions.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed
