Repository Codecademy/docs, pull requests merged in 2021-07, with the labels that each got.

#73 grids folder and content
  content/css/concepts/grids/grid-template-columns.md
Labels: css

#68 Add padding folder and properties padding, padding-left, padding-righ…
  content/css/concepts/padding/padding-bottom.md
  content/css/concepts/padding/padding-left.md
  content/css/concepts/padding/padding-right.md
  content/css/concepts/padding/padding-top.md
  content/css/concepts/padding/padding.md
Labels: css

#70 Create SQL INDEX encyclopedia entry; Add syntax in CREATE TABLE entry
  content/sql/concepts/commands/create-table.md
  content/sql/concepts/index-in-sql.md
Labels: sql

#74 requests module
  content/python/concepts/built-in-functions/reversed.md
  content/python/concepts/built-in-functions/sorted.md
  content/python/concepts/requests-methods/delete.md
  content/python/concepts/requests-methods/get.md
  content/python/concepts/requests-methods/head.md
  content/python/concepts/requests-methods/post.md
  content/python/concepts/requests-methods/put.md
  content/python/concepts/requests-methods/request.md
Labels: python

#76 Update python glossary update (4)
  content/python/concepts/built-in-functions/classmethod.md
  content/python/concepts/built-in-functions/compile.md
  content/python/concepts/built-in-functions/complex.md
  content/python/concepts/built-in-functions/delattr.md
Labels: python

#85 new css grid content
  content/css/concepts/grids/grid-auto-columns.md
  content/css/concepts/grids/grid-auto-rows.md
  content/css/concepts/grids/grid-template-rows.md
Labels: css

#92 Adding C++ functions ceil() and floor()
  content/c++/concepts/math-functions/ceil.md
  content/c++/concepts/math-functions/floor.md
Labels: c++

#98 created what-is-git.md file
  content/language-agnostic/concepts/what-is-git/what-is-git.md
Labels: agnostic

#100 created entry for JavaScript section
  content/javascript/concepts/hoisting-in-javascript/hoisting-in-javascript.md
Labels: javascript

#97 Add color-functions folder and sub folders and files for hsl, hsla, r…
  content/css/concepts/color-functions/hsl/hsl.md
  content/css/concepts/color-functions/hsla/hsla.md
  content/css/concepts/color-functions/rgb/rgb.md
  content/css/concepts/color-functions/rgba/rgba.md
Labels: css

#99 Date methods
  content/javascript/concepts/date-methods/terms/UTC/UTC.md
  content/javascript/concepts/date-methods/terms/now/now.md
  content/javascript/concepts/date-methods/terms/toString/toString.md
  content/javascript/concepts/date-methods/terms/valueOf/valueOf.md
Labels: javascript

#87 visibility-in-css
  content/css/concepts/visibility-in-css.md
Labels: css

#67 CSS typography
  content/css/concepts/typography/font-family.md
  content/css/concepts/typography/font-size.md
  content/css/concepts/typography/font-style.md
  content/css/concepts/typography/font-weight.md
  content/css/concepts/typography/letter-spacing.md
  content/css/concepts/typography/line-height.md
  content/css/concepts/typography/text-align.md
  content/css/concepts/typography/text-decoration.md
  content/css/concepts/typography/word-spacing.md
Labels: css

#75 Add margin properties
  content/css/concepts/margins/margin-bottom.md
  content/css/concepts/margins/margin-left.md
  content/css/concepts/margins/margin-right.md
  content/css/concepts/margins/margin-top.md
  content/css/concepts/margins/margin.md
Labels: css

#83 Add math functions: calc, max, min
  content/css/concepts/math-functions/calc().md
  content/css/concepts/math-functions/max().md
  content/css/concepts/math-functions/min().md
Labels: css

#79 Add transform-functions folder and properties
  content/css/concepts/transform-functions/rotate.md
  content/css/concepts/transform-functions/scale.md
  content/css/concepts/transform-functions/skew.md
  content/css/concepts/transform-functions/translate.md
Labels: css

#80 Add overflow directory with properties: overflow, overflow-x, overflow-y
  content/css/concepts/overflow/overflow-x.md
  content/css/concepts/overflow/overflow-y.md
  content/css/concepts/overflow/overflow.md
Labels: css

#88 Add position properties: position, top, bottom, right, left
  content/css/concepts/position/bottom.md
  content/css/concepts/position/left.md
  content/css/concepts/position/position.md
  content/css/concepts/position/right.md
  content/css/concepts/position/top.md
Labels: css

#86 Add sizing properties: height, max-height, min-height, width, max-wi…
  content/css/concepts/sizing/height.md
  content/css/concepts/sizing/max-height.md
  content/css/concepts/sizing/max-width.md
  content/css/concepts/sizing/min-height.md
  content/css/concepts/sizing/min-width.md
  content/css/concepts/sizing/width.md
Labels: css

#84 Add filter functions: blur, brightness, contrast, drop-shadow, grayscale
  content/css/concepts/filter-functions/blur.md
  content/css/concepts/filter-functions/brightness.md
  content/css/concepts/filter-functions/contrast.md
  content/css/concepts/filter-functions/drop-shadow.md
  content/css/concepts/filter-functions/grayscale.md
  content/css/concepts/filter-functions/hue-rotate.md
  content/css/concepts/filter-functions/invert.md
  content/css/concepts/filter-functions/opacity.md
  content/css/concepts/filter-functions/saturate.md
  content/css/concepts/filter-functions/sepia.md
Labels: css

#102 box-sizing, float, z-index
  content/css/concepts/box-sizing.md
  content/css/concepts/float.md
  content/css/concepts/z-index.md
  media-file-hosting/z-index-2.png
  media-file-hosting/z-index.png
Labels: css

#103 Npm in javascript entry
  content/javascript/concepts/callbacks-in-javascript/callbacks-in-javascript.md
  content/javascript/concepts/npm-in-javascript/npm-in-javascript.md
Labels: javascript

#108 5 Artciles added
  content/language-agnostic/concepts/what-is-a-processor/what-is-a-processor.md
  content/language-agnostic/concepts/what-is-a-server/what-is-a-server.md
  content/language-agnostic/concepts/what-is-an-algorithm/what-is-an-algorithm.md
  content/language-agnostic/concepts/what-is-ram/what-is-ram.md
  content/language-agnostic/concepts/what-is-ssl/what-is-ssl.md
Labels: agnostic

#104 flex content and grids
  content/css/concepts/flexboxes/terms/flex-basis/flex-basis.md
  content/css/concepts/flexboxes/terms/flex-direction/flex-direction.md
  content/css/concepts/flexboxes/terms/flex-flow/flex-flow.md
  content/css/concepts/flexboxes/terms/flex-grow/flex-grow.md
  content/css/concepts/flexboxes/terms/flex-shrink/flex-shrink.md
  content/css/concepts/flexboxes/terms/flex-wrap/flex-wrap.md
  content/css/concepts/flexboxes/terms/flex/flex.md
  content/css/concepts/grids/terms/grid-area/grid-area.md
  content/css/concepts/grids/terms/grid-template/grid-template.md
Labels: css

#106 Java string methods
  content/java/concepts/strings-methods/terms/charAt/charAt.md
  content/java/concepts/strings-methods/terms/codePointAt/codePointAt.md
  content/java/concepts/strings-methods/terms/codePointBefore/codePointBefore.md
  content/java/concepts/strings-methods/terms/codePointCount/codePointCount.md
  content/java/concepts/strings-methods/terms/compareTo/compareTo.md
  content/java/concepts/strings-methods/terms/compareToIgnoreCase/compareToIgnoreCase.md
  content/java/concepts/strings-methods/terms/concat/concat.md
  content/java/concepts/strings-methods/terms/contains/contains.md
  content/java/concepts/strings-methods/terms/contentEquals/contentEquals.md
  content/java/concepts/strings-methods/terms/copyValueOf/copyValueOf.md
Labels: java

#107 Various JavaScript Entries
  content/javascript/concepts/bitwise-operators-in-javascript/bitwise-operators-in-javascript.md
  content/javascript/concepts/constructors-in-javascript/constructors-in-javascript.md
  content/javascript/concepts/errors-in-javascript/errors-in-javascript.md
  content/javascript/concepts/hashtables-in-javascript/hashtables-in-javascript.md
  content/javascript/concepts/regexp-in-javascript/regexp-in-javascript.md
  content/javascript/concepts/sort-in-javascript/sort-in-javascript.md
  content/javascript/concepts/substring-in-javascript/substring-in-javascript.md
  content/javascript/concepts/switch-in-javascript/switch-in-javascript.md
  content/javascript/concepts/try-catch-in-javascript/try-catch-in-javascript.md
  documentation/tags.md
Labels: javascript

#113 build: added 2 entries for CSS-related topics
  content/css/concepts/box-model-in-css/box-model-in-css.md
  content/css/concepts/units-in-css/units-in-css.md
  content/css/concepts/variables-in-css/variables-in-css.md
Labels: css

#111 build: created 3 entries for Git-related topics
  content/git/concepts/commit-in-git/commit-in-git.md
  content/git/concepts/init-in-git/init-in-git.md
  content/git/concepts/pull-requests-in-git/pull-requests-in-git.md
Labels: git

#110 Ruby encyclopedia entries: arrays, classes, conditionals, data types,…
  content/ruby/concepts/arrays-in-ruby/arrays-in-ruby.md
  content/ruby/concepts/classes-in-ruby/classes-in-ruby.md
  content/ruby/concepts/conditionals-in-ruby/conditionals-in-ruby.md
  content/ruby/concepts/data-types-in-ruby/data-types-in-ruby.md
  content/ruby/concepts/functions-in-ruby/functions-in-ruby.md
  content/ruby/concepts/hashes-in-ruby/hashes-in-ruby.md
  content/ruby/concepts/iterators-in-ruby/iterators-in-ruby.md
  content/ruby/concepts/loops-in-ruby/loops-in-ruby.md
  content/ruby/concepts/modulo-in-ruby/modulo-in-ruby.md
  content/ruby/concepts/operators-in-ruby/operators-in-ruby.md
  content/ruby/concepts/random-in-ruby/random-in-ruby.md
  content/ruby/concepts/strings-in-ruby/strings-in-ruby.md
  content/ruby/concepts/variables-in-ruby/variables-in-ruby.md
Labels: ruby

#109 build: added 9 entries for methods for JS Promises
  content/javascript/concepts/promise-methods/terms/all/all.md
  content/javascript/concepts/promise-methods/terms/allSettled/allSettled.md
  content/javascript/concepts/promise-methods/terms/any/any.md
  content/javascript/concepts/promise-methods/terms/catch/catch.md
  content/javascript/concepts/promise-methods/terms/finally/finally.md
  content/javascript/concepts/promise-methods/terms/race/race.md
  content/javascript/concepts/promise-methods/terms/reject/reject.md
  content/javascript/concepts/promise-methods/terms/resolve/resolve.md
  content/javascript/concepts/promise-methods/terms/then/then.md
Labels: javascript

#112 build: added 1 entry for Express in Language Agnostic section
  content/language-agnostic/concepts/what-is-express/what-is-express.md
Labels: agnostic

#115 text-shadow, text-transform, @font-face
  content/css/concepts/typography/terms/@font-face/@font-face.md
  content/css/concepts/typography/terms/text-shadow/text-shadow.md
  content/css/concepts/typography/terms/text-transform/text-transform.md
Labels: css

#116 Morgan8
  content/language-agnostic/concepts/who-is-bjarne-stroustrup/who-is-bjarne-stroustrup.md
  content/language-agnostic/concepts/who-is-dennis-ritchie/who-is-dennis-ritchie.md
  content/language-agnostic/concepts/who-is-grace-hopper/who-is-grace-hopper.md
  content/language-agnostic/concepts/who-is-john-carmack/who-is-john-carmack.md
  content/language-agnostic/concepts/who-is-linus-torvalds/who-is-linus-torvalds.md
  content/language-agnostic/concepts/who-is-tim-berners-lee/who-is-tim-berners-lee.md
  documentation/tags.md
Labels: agnostic

#117 border, display, font
  content/css/concepts/borders/terms/border/border.md
  content/css/concepts/display/terms/float/display/display..md
  content/css/concepts/typography/terms/font/font.md
Labels: css

#118 added 4 entries for Ruby-related topics
  content/ruby/concepts/errors-in-ruby/errors-in-ruby.md
  content/ruby/concepts/files-in-ruby/files-in-ruby.md
  content/ruby/concepts/modules-in-ruby/modules-in-ruby.md
  content/ruby/user-input-in-ruby/user-input-in-ruby.md
Labels: ruby

#120 Create encyclopedia entry on general use of videos in HTML
  content/html/concepts/videos-in-html/videos-in-html.md
Labels: html

#122 added 6 entries for React-related topics
  content/react/concepts/components/components.md
  content/react/concepts/hooks/hooks.md
  content/react/concepts/jsx/jsx.md
  content/react/concepts/props/props.md
  content/react/concepts/routing/routing.md
  content/react/concepts/virtual-dom/virtual-dom.md
Labels: react

#124 Create a collection of biographies
  content/general/concepts/who-is-ada-lovelace/who-is-ada-lovelace.md
  content/general/concepts/who-is-alan-turing/who-is-alan-turing.md
  content/general/concepts/who-is-ken-thompson/who-is-ken-thompson.md
Labels: agnostic

#123 Various JavaScript Entries
  content/javascript/concepts/dates/dates.md
  content/javascript/concepts/events/events.md
  content/javascript/concepts/methods/methods.md
  content/javascript/concepts/this/this.md
Labels: javascript

#125 Morgan9
  content/language-agnostic/concepts/what-is-firebase/what-is-firebase.md
  content/language-agnostic/concepts/what-is-next-js/what-is-next-js.md
  content/language-agnostic/concepts/what-is-runtime/what-is-runtime.md
  content/language-agnostic/concepts/what-is-webpack/what-is-webpack.md
  documentation/tags.md
Labels: agnostic

#127 Ruby entries
  content/ruby/concepts/casting/casting.md
  content/ruby/concepts/dates/dates.md
  content/ruby/concepts/gems/gems.md
  content/ruby/concepts/inheritance/inheritance.md
  content/ruby/concepts/lambda/lambda.md
  content/ruby/concepts/regex/regex.md
  content/ruby/concepts/scope/scope.md
  content/ruby/concepts/sets/sets.md
Labels: ruby

#128 Create encyclopdia entry on What is SVG
  content/general/concepts/what-is-svg/what-is-svg.md
Labels: general

#130 Entries for CSS transition topic
  content/css/concepts/transition/terms/transition-delay/transition-delay.md
  content/css/concepts/transition/terms/transition-duration/transition-duration.md
  content/css/concepts/transition/terms/transition/transition.md
Labels: css

#131 CSS transition entries
  content/css/concepts/transform-functions/terms/transition/terms/transition-property/transition-property.md
  content/css/concepts/transform-functions/terms/transition/terms/transition-timing-function/transition-timing-function.md
Labels: css
