Repository Codecademy/docs, pull requests merged in 2021-12, with the labels that each got.

#454 Updated React Router Codeblock to v6
  content/react/concepts/routing/routing.md
Labels: enhancement, react, status: review 1️⃣ completed, status: review 2️⃣ completed

#455 Describe what code does and minor fix
  content/css/concepts/animations/animations.md
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#462 Changing names of functions
  content/javascript/concepts/functions/functions.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#470 [Edit]: New criteria comments for entry templates
  documentation/entry-template.md
  documentation/term-entry-template.md
  documentation/topic-info-template.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#463 Added more formatting options and changed name
  content/markdown/concepts/emphasis/emphasis.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed

#469 Copyedit Python `strings()` module documentation
  content/python/concepts/strings/strings.md
Labels: enhancement, python, status: review 1️⃣ completed

#472 HTML Images: Updated typo
  content/html/concepts/images/images.md
Labels: enhancement, html, typo

#471 Add new tags
  documentation/tags.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#478 c-plus-plus -> c, occurrence spelling in strings
  content/c/c.md
  content/c/concepts/arrays/arrays.md
  content/c/concepts/basic-output/basic-output.md
  content/c/concepts/comments/comments.md
  content/c/concepts/compiling/compiling.md
  content/c/concepts/functions/functions.md
  content/c/concepts/memory-management/memory-management.md
  content/c/concepts/pointers/pointers.md
  content/c/concepts/strings/strings.md
  content/c/concepts/strings/terms/strchr/strchr.md
  content/c/concepts/strings/terms/strcmp/strcmp.md
  content/c/concepts/strings/terms/strcpy/strcpy.md
  content/c/concepts/strings/terms/strlen/strlen.md
  content/c/concepts/user-input/user-input.md
  content/c/concepts/variables/variables.md
Labels: enhancement, c

#467 Python `casefold()` method: add German "ß" example
  content/python/concepts/strings/terms/casefold/casefold.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#461 Added another reason to use CSS grids
  content/css/concepts/grids/grids.md
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#456 Added embed content to html
  content/html/concepts/tags/terms/embed/embed.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#459 Update api.md
  content/general/concepts/api/api.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#477 Add string methods: `isupper()` and `islower()`
  content/python/concepts/strings/terms/islower/islower.md
  content/python/concepts/strings/terms/isupper/isupper.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#474 Javascript arrays
  content/javascript/concepts/arrays/arrays.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#481 Edits to Issue templates
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: documentation, enhancement, status: review 1️⃣ completed

#487 Typo
  content/general/concepts/builder-pattern/builder-pattern.md
Labels: general, typo

#465 Copyedit "HTML Attributes" documentation for clarity
  content/html/concepts/attributes/attributes.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#445 Design pattern creational abstract factory
  content/general/concepts/abstract-factory/abstract-factory.md
  content/general/concepts/creational-design-patterns/creational-design-patterns.md
  media/abstract-factory-uml.png
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#492 Update catalog-content.md
  documentation/catalog-content.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#473 Add general entry NFT
  content/general/concepts/nft/nft.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#476 Created print.md for Python: Built-in Functions
  content/python/concepts/built-in-functions/terms/print/print.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#464 Improvements to Python | Casting
  content/python/concepts/casting/casting.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#488 Update paragraphs.md
  content/html/concepts/paragraphs/paragraphs.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#480 Python scope.md added
  content/python/concepts/scope/scope.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#484 JavaScript: Add Sets concept
  content/javascript/concepts/sets/sets.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#485 Sql procedures
  content/sql/concepts/procedures/procedures.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#495 Edit metadata
  content/javascript/concepts/sets/sets.md
Labels: javascript, typo

#494 Edit JavaScript `maps.md` and create term entries for Map methods
  content/javascript/concepts/map/map.md
  content/javascript/concepts/map/terms/delete/delete.md
  content/javascript/concepts/map/terms/get/get.md
  content/javascript/concepts/map/terms/has/has.md
  content/javascript/concepts/map/terms/set/set.md
  content/javascript/concepts/map/terms/size/size.md
Labels: enhancement, javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#497 Update JavaScript map.md
  content/javascript/concepts/map/map.md
Labels: bug, javascript, typo, status: review 1️⃣ completed
