Repository Codecademy/docs, pull requests merged in 2021-10, with the labels that each got.

#276 Review and edit all existing Java articles
  .github/ISSUE_TEMPLATE.md
  content/java/concepts/arrays/arrays.md
  content/java/concepts/classes/classes.md
  content/java/concepts/conditionals/conditionals.md
  content/java/concepts/enums/enums.md
  content/java/concepts/loops/loops.md
  content/java/concepts/math-methods/math-methods.md
  content/java/concepts/math-methods/terms/abs/abs.md
  content/java/concepts/math-methods/terms/acos/acos.md
  content/java/concepts/math-methods/terms/atan2/atan2.md
  content/java/concepts/strings/strings.md
  content/java/concepts/strings/terms/codePointCount/codePointCount.md
  content/java/concepts/strings/terms/concat/concat.md
Labels: java, typo

#312 updated typo
  content/react/concepts/components/components.md
Labels: react, typo

#303 Python dates
  content/general/concepts/what-is-uuid/what-is-uuid.md
  content/python/concepts/dates/dates.md
Labels: python, new entry, hacktoberfest

#302 add 'what-is-an-object'
  content/general/concepts/what-is-an-object/what-is-an-object.md
Labels: general, new entry, hacktoberfest

#402 Amended the General string document: spaces during concatenation
  content/general/concepts/what-is-a-string/what-is-a-string.md
Labels: general, status: review 1️⃣ completed
