Repository Codecademy/docs, pull requests merged in 2021-09, with the labels that each got.

#212 added entry for files in cpp docs
  content/cpp/concepts/files/files.md
Labels: c++, new entry

#215 Add Python tuple concept entry
  content/python/concepts/tuples/tuples.md
Labels: python, new entry

#217 adding .filter() to javascript/concepts/arrays/terms
  content/javascript/concepts/arrays/terms/filter/filter.md
Labels: javascript, new entry

#214 added js iterators and appended js objects
  content/javascript/concepts/arrays/terms/findIndex/findIndex.md
  content/javascript/concepts/iterators/iterators.md
  content/javascript/concepts/objects/objects.md
Labels: javascript, new entry

#221 add summary & details semantic html elements
  content/html/concepts/semantic-html/terms/details/details.md
  content/html/concepts/semantic-html/terms/summary/summary.md
Labels: html, new entry

#235 SQL Command Typo Corrections
  content/sql/concepts/commands/terms/inner-join/inner-join.md
  content/sql/concepts/commands/terms/outer-join/outer-join.md
  content/sql/concepts/commands/terms/select/select.md
Labels: sql, typo

#242 General entry: What is GraphQL?
  content/general/concepts/what-is-graphql/what-is-graphql.md
Labels: general, new entry

#229 Add/decorators python
  content/python/concepts/decorators/decorators.md
  documentation/tags.md
Labels: python

#249 Update CONTRIBUTING.md
  CONTRIBUTING.md
  content/python/concepts/decorators/decorators.md
  yarn.lock
Labels: documentation
