Repository Codecademy/docs, pull requests merged in 2021-06, with the labels that each got.

#43 Add JS array method pop
  content/javascript/concepts/array-methods/pop.md
Labels: good first issue

#45 Add methods toString, toUpperCase and toLowerCase
  content/javascript/concepts/array-methods/toString.md
  content/javascript/concepts/string-methods/toLowerCase.md
  content/javascript/concepts/string-methods/toUpperCase.md
Labels: good first issue

#52 Add date methods
  content/javascript/concepts/date-methods/getDate.md
  content/javascript/concepts/date-methods/getDay.md
  content/javascript/concepts/date-methods/getHours.md
  content/javascript/concepts/date-methods/getMinutes.md
  content/javascript/concepts/date-methods/getMonth.md
  content/javascript/concepts/date-methods/getSeconds.md
Labels: javascript

#55 Update to Python Math Module (3)
  content/python/concepts/math-module/math-sin.md
  content/python/concepts/math-module/math-sqrt.md
  content/python/concepts/math-module/math-tan.md
Labels: python

#56 Add five js string methods
  content/javascript/concepts/string-methods/charAt.md
  content/javascript/concepts/string-methods/indexOf.md
  content/javascript/concepts/string-methods/replace.md
  content/javascript/concepts/string-methods/search.md
  content/javascript/concepts/string-methods/split.md
Labels: javascript

#58 Add encyclopedia entry on SQL window functions
  content/sql/concepts/window-functions-in-sql.md
Labels: sql

#59 Add glossary entries for SQL IS NULL and IS NOT NULL
  content/sql/concepts/commands/is-not-null.md
  content/sql/concepts/commands/is-null.md
Labels: sql

#63 5 articles added
  content/language-agnostic/concepts/what-is-a-cache.md
  content/language-agnostic/concepts/what-is-bootstrap.md
  content/language-agnostic/concepts/what-is-moores-law.md
  content/language-agnostic/concepts/what-is-object-oriented-programming.md
  content/python/concepts/what-is-a-dictionary.md
Labels: agnostic

#64 Create SQL INSERT glossary entry; fix typos in DELETE entry
  content/sql/concepts/commands/delete.md
  content/sql/concepts/commands/insert.md
Labels: sql

#61 Add background properties: clip, color, image, position, repeat
  content/css/concepts/background/background-clip.md
  content/css/concepts/background/background-color.md
  content/css/concepts/background/background-image.md
  content/css/concepts/background/background-position.md
  content/css/concepts/background/background-repeat.md
Labels: html

#65 Add border properties border-width, border-bottom, border-top, border…
  content/css/concepts/borders/border-bottom.md
  content/css/concepts/borders/border-left.md
  content/css/concepts/borders/border-right.md
  content/css/concepts/borders/border-top.md
  content/css/concepts/borders/border-width.md
Labels: css

#66 Add padding tag
  documentation/tags.md
Labels: enhancement
