Repository Codecademy/docs, pull requests merged in 2022-10, with the labels that each got.

#1015 Added info about implicit conversions and static_cast
  content/cpp/concepts/data-types/data-types.md
Labels: enhancement, c++, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1020 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation, enhancement, invalid, status: review 1️⃣ completed

#1033 [Edit] C++ Math Functions: `exp()`
  content/cpp/concepts/math-functions/terms/exp/exp.md
Labels: enhancement, c++, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1056 Fix typos for pandas documentation
  content/pandas/concepts/groupby/terms/sum/sum.md
Labels: invalid, typo, status: review 1️⃣ completed, pandas

#883 New Entry: R CSV files + term entries
  content/r/concepts/built-in-functions/built-in-functions.md
  content/r/concepts/built-in-functions/terms/getwd/getwd.md
  content/r/concepts/built-in-functions/terms/print/print.md
  content/r/concepts/built-in-functions/terms/setwd/setwd.md
  content/r/concepts/built-in-functions/terms/str/str.md
  content/r/concepts/csv-files/csv-files.md
  content/r/concepts/data-frames/data-frames.md
  content/r/concepts/data-frames/terms/colnames/colnames.md
  content/r/concepts/data-frames/terms/ncol/ncol.md
  content/r/concepts/data-frames/terms/nrow/nrow.md
  content/r/concepts/data-frames/terms/subset/subset.md
Labels: invalid, r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#1059 fix typos in r documentation
  content/r/r.md
Labels: invalid, typo, r, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1022 new sql content
  content/sql/concepts/commands/terms/round/round.md
  content/sql/concepts/data-types/data-types.md
Labels: invalid, sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1030 [New Entry] C++ Math Functions: `sin()`
  content/cpp/concepts/math-functions/terms/sin/sin.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1063 fix typos in javascript documentation
  content/javascript/concepts/ajax/ajax.md
  content/javascript/concepts/arrays/terms/join/join.md
  content/javascript/concepts/arrow-functions/arrow-functions.md
  content/javascript/concepts/map/terms/size/size.md
  content/javascript/concepts/npm/npm.md
  content/javascript/concepts/number-methods/number-methods.md
  content/javascript/concepts/number-methods/terms/toExponential/toExponential.md
  content/javascript/concepts/number-methods/terms/toPrecision/toPrecision.md
  content/javascript/concepts/promise/terms/allSettled/allSettled.md
  content/javascript/concepts/promise/terms/any/any.md
  content/javascript/concepts/regexp/regexp.md
  content/javascript/concepts/sets/terms/size/size.md
  content/javascript/concepts/sort/sort.md
  content/javascript/concepts/this/this.md
Labels: javascript, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1047 [Term Entry] C++ Math Functions: sinh() #980
  content/cpp/concepts/math-functions/terms/sinh/sinh.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1014 Added a safer way to access elements in a vector
  content/cpp/concepts/vectors/vectors.md
Labels: enhancement, c++, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1005 New Entry: SwiftUI and Views
  content/swiftui/concepts/views/terms/hstack/hstack.md
  content/swiftui/concepts/views/terms/vstack/vstack.md
  content/swiftui/concepts/views/terms/zstack/zstack.md
  content/swiftui/concepts/views/views.md
  content/swiftui/swiftui.md
  documentation/tags.md
  media/hstack.png
  media/vstack.png
  media/zstack.png
Labels: invalid, swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1023 [New Entry] JavaScript Strings: `.valueOf()`
  content/javascript/concepts/strings/terms/valueOf/valueOf.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1062 fix typos in typescript documentation
  content/typescript/concepts/assignability/assignability.md
  content/typescript/concepts/classes/classes.md
  content/typescript/concepts/functions/functions.md
  content/typescript/concepts/generics/generics.md
  content/typescript/concepts/narrowing/narrowing.md
Labels: typescript, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#930 New Topic: Cloud Computing
  content/cloud-computing/cloud-computing.md
  content/cloud-computing/concepts/types-of-cloud/types-of-cloud.md
  content/general/concepts/cloud-computing/cloud-computing.md
  content/general/concepts/data-science/data-science.md
  content/general/concepts/firebase/firebase.md
  content/general/concepts/serialization/serialization.md
  content/go/go.md
  documentation/tags.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, cloud

#945 New Entry: Cloud FaaS
  content/cloud-computing/concepts/faas/faas.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cloud

#1058 fix typos in react documentation
  content/react/concepts/components/components.md
  content/react/concepts/lifecycle-methods/lifecycle-methods.md
  content/react/concepts/virtual-dom/virtual-dom.md
Labels: react, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1104 Add stakeholder
  content/uiux/concepts/stakeholder/stakeholder.md
Labels: new entry, ui and ux

#1103 Update type-aliases.md
  content/typescript/concepts/type-aliases/type-aliases.md
Labels: typo, status: review 1️⃣ completed, status: waiting for author

#1072 [Edit + New Terms] Python tuples
  content/python/concepts/built-in-functions/terms/tuple/tuple.md
  content/python/concepts/tuples/terms/count/count.md
  content/python/concepts/tuples/terms/index/index.md
  content/python/concepts/tuples/tuples.md
Labels: enhancement, invalid, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1001 New Entry: Cloud Services
  content/cloud-computing/concepts/cloud-services/cloud-services.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cloud

#997 Add new entry on virtual machines
  content/general/concepts/virtual-machines/virtual-machines.md
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1037 New Entry and Terms General: Programming Paradigms
  content/general/concepts/database/database.md
  content/general/concepts/encapsulation/encapsulation.md
  content/general/concepts/objective-c/objective-c.md
  content/general/concepts/programming-paradigms/programming-paradigms.md
  content/general/concepts/programming-paradigms/terms/functional-programming/functional-programming.md
  content/general/concepts/programming-paradigms/terms/object-oriented-programming/object-oriented-programming.md
  content/python/concepts/classes/classes.md
  content/python/concepts/functools-module/functools-module.md
  content/python/concepts/inheritance/inheritance.md
  content/python/concepts/modules/modules.md
Labels: invalid, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#923 Created Matplotlib directory and added a term for legend
  content/matplotlib/matplotlib.md
  content/matplotlib/terms/legend/legend.md
  media/matplotlib-legend-1.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib

#932 New Entry Cloud IaaS
  content/cloud-computing/concepts/iaas/iaas.md
  documentation/subjects.md
  documentation/tags.md
Labels: documentation, invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cloud

#1105 Revise Matplotlib topic
  content/matplotlib/concepts/pyplot/pyplot.md
  content/matplotlib/concepts/pyplot/terms/legend/legend.md
  content/matplotlib/matplotlib.md
Labels: enhancement, new entry, matplotlib

#946 New Entry Cloud Computing:SaaS
  content/cloud-computing/concepts/saas/saas.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, cloud

#1048 Created to-radian function for java.
  content/java/concepts/math-methods/terms/to-radian/to-radian.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1136 Implemented the requested changes
  content/swiftui/concepts/views/terms/button/button.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1007 New Entry: General MFA
  content/general/concepts/multi-factor-authentication/multi-factor-authentication.md
  documentation/tags.md
Labels: invalid, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1141 Update html.md
  content/html/html.md
Labels: html, typo, hacktoberfest, status: review 1️⃣ completed

#1133 add rectangle tag for issue
  documentation/tags.md
Labels: documentation, enhancement, invalid, status: review 1️⃣ completed

#1088 [New Term] C++ Math Functions: `fmod()`
  content/cpp/concepts/math-functions/terms/fmod/fmod.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1144 New term entry for .nextAfter()
  content/java/concepts/math-methods/terms/next-after/next-after.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1146 Switch folder/file to pascalCase
  content/java/concepts/math-methods/terms/nextAfter/nextAfter.md
Labels: invalid

#1148 Fixed typo - added a period
  content/java/concepts/math-methods/terms/nextAfter/nextAfter.md
Labels: invalid, typo

#1147 add typo to entry on purpose
  content/java/concepts/math-methods/terms/toRadians/toRadians.md
Labels: invalid

#1149 Update toRadians.md
  content/java/concepts/math-methods/terms/toRadians/toRadians.md
Labels: invalid

#1115 New term entry for Java Math.hypot()
  content/java/concepts/math-methods/terms/hypot/hypot.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1150 Edit Content Standards
  documentation/content-standards.md
Labels: documentation, enhancement, invalid, status: review 1️⃣ completed

#1123 New term entry for Java Math.tan()
  content/java/concepts/math-methods/terms/tan/tan.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1138 [Term Entry] SwiftUI Views: Circle
  content/swiftui/concepts/views/terms/circle/circle.md
  media/circle.png
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1121 New term entry for Java Math.sinh()
  content/java/concepts/math-methods/terms/sinh/sinh.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1153 New term entry for Java.nextDown()
  content/java/concepts/math-methods/terms/nextDown/nextDown.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1082 Add log10.md
  content/cpp/concepts/math-functions/terms/log10/log10.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1120 New term entry for Java Math.subtractExact()
  content/java/concepts/math-methods/terms/subtractExact/subtractExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1142 New term entry for Java Math.nextUp().
  content/java/concepts/math-methods/terms/nextUp/nextUp.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1101 Add new entry on JIT compilation
  content/general/concepts/jit-compilation/jit-compilation.md
  content/general/concepts/runtime/runtime.md
  documentation/tags.md
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1119 New term entry for Java Math.toIntExact()
  content/java/concepts/math-methods/terms/toIntExact/toIntExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1098 [New Terms] Java Math Methods: `.max()` and `.min()`
  content/java/concepts/math-methods/terms/max/max.md
  content/java/concepts/math-methods/terms/min/min.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1086 Add new entry on file structure
  content/general/concepts/file-system-structure/file-system-structure.md
  media/file-system-structure.png
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1039 [New Term] C++ Math Functions: `fmax()`
  content/cpp/concepts/math-functions/terms/fmax/fmax.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1155 Term Entry for Java Math Method: *`addExact()`*
  content/java/concepts/math-methods/terms/addExact/addExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1145 Creating markdown file for decrement Exact
  content/java/concepts/math-methods/terms/decrementExact/decrementExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1134 [Term Entry] Swift Sets: .contains()
  content/swift/concepts/sets/terms/contains/contains.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1118 New Entry Swift Set.intersection()
  content/swift/concepts/sets/sets.md
  content/swift/concepts/sets/terms/intersection/intersection.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1117 New Entry Set.union()
  content/swift/concepts/sets/terms/union/union.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1161 [Edit] Python Built-in Functions: `input()`
  content/python/concepts/built-in-functions/terms/input/input.md
Labels: enhancement, python, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1170 Update input.md
  content/python/concepts/built-in-functions/terms/input/input.md
Labels: enhancement, invalid, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1129 Add an entry for Java Round
  content/java/concepts/math-methods/terms/round/round.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1043 [New Term] C++ Math Functions: `round()`
  content/cpp/concepts/math-functions/terms/round/round.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1139 [Term Entry] Swift Arrays: .reduce()
  content/swift/concepts/arrays/terms/reduce/reduce.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1143 Added New Entry isSubset
  content/swift/concepts/sets/terms/isSubset/isSubset.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1130 [Term Entry] SwiftUI Views: Rectangle
  content/swiftui/concepts/views/terms/rectangle/rectangle.md
  media/rectangle.png
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1071 [New Term] C++ Math Functions: `rint()`
  content/cpp/concepts/math-functions/terms/rint/rint.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1046 [New Term] C++ Math Functions: `fmin()`
  content/cpp/concepts/math-functions/terms/fmin/fmin.md
Labels: c++, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1140 incrementExact docs added
  content/java/concepts/math-methods/terms/incrementExact/incrementExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1055 fix typos for numpy documentation
  content/numpy/concepts/built-in-functions/terms/sum/sum.md
  content/numpy/concepts/built-in-functions/terms/transpose/transpose.md
  content/numpy/concepts/ndarray/ndarray.md
  content/numpy/concepts/ndarray/terms/transpose/transpose.md
Labels: enhancement, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#1031 C: Basic Output documentation update
  content/c/concepts/basic-output/basic-output.md
  content/c/concepts/basic-output/terms/printf/printf.md
  content/c/concepts/basic-output/terms/putchar/putchar.md
  content/c/concepts/basic-output/terms/puts/puts.md
Labels: enhancement, c, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1158 Yukihiro matsumoto
  content/general/concepts/yukihiro-matsumoto/yukihiro-matsumoto.md
  content/java/concepts/math-methods/terms/nextUp/nextUp.md
  content/java/concepts/math-methods/terms/subtractExact/subtractExact.md
  media/Yukihiro_Matsumoto.png
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1185 Update yukihiro-matsumoto.md
  content/general/concepts/yukihiro-matsumoto/yukihiro-matsumoto.md
Labels: invalid

#1172 Made changes in JavaScript:data-types.md
  content/javascript/concepts/data-types/data-types.md
Labels: enhancement, javascript, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1188 Add example of abs on a positive number
  content/python/concepts/built-in-functions/terms/abs/abs.md
Labels: enhancement, python, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1173 Entry for Java String `valueOf()`
  content/java/concepts/strings/terms/valueOf/valueOf.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1175 New term entry for Java Math.negateExact()
  content/java/concepts/math-methods/terms/negateExact/negateExact.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1132 [Term Entry] Swift Sets: .remove()
  content/swift/concepts/sets/terms/remove/remove.md
Labels: swift, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1029 [New Entry] JavaScript Strings: `.toString()`
  content/javascript/concepts/strings/terms/toString/toString.md
Labels: javascript, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1073 [Edit + Term Entry] React: Hooks
  content/react/concepts/hooks/hooks.md
  content/react/concepts/hooks/terms/useEffect/useEffect.md
  content/react/concepts/hooks/terms/useState/useState.md
Labels: enhancement, react, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1191 Fixed a typo found in the JavaScript Comments content on line 34
  content/javascript/concepts/comments/comments.md
Labels: javascript, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1068 fix typos in css documentation
  content/css/concepts/animations/terms/animation-fill-mode/animation-fill-mode.md
  content/css/concepts/floats/floats.md
  content/css/concepts/grids/grids.md
  content/css/concepts/transform-functions/terms/transform-origin/transform-origin.md
  content/css/concepts/transform-functions/terms/transform/transform.md
  content/css/concepts/transition/terms/transition-delay/transition-delay.md
  content/css/concepts/transition/terms/transition-duration/transition-duration.md
  content/css/concepts/transition/terms/transition/transition.md
  content/css/concepts/transition/transition.md
  content/css/concepts/typography/terms/font/font.md
  content/css/concepts/typography/terms/text-indent/text-indent.md
Labels: css, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1066 fix typos for php documentation
  content/php/concepts/operators/operators.md
  content/php/concepts/variables/variables.md
Labels: php, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1061 fix typos in html documentations
  content/html/concepts/elements/terms/noscript/noscript.md
  content/html/concepts/elements/terms/u/u.md
  content/html/concepts/videos/videos.md
Labels: html, typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#972 New Entry: C++ Math Functions: `isfinite()`
  content/cpp/concepts/math-functions/terms/isfinite/isfinite.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1000 [Term Entry] C++ Math Functions: `pow()`
  content/cpp/concepts/math-functions/terms/pow/pow.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1035 [New Term] HTML Elements: `<style>`
  content/html/concepts/elements/terms/script/script.md
  content/html/concepts/elements/terms/style/style.md
Labels: html, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#970 Created entry on PaaS (Cloud)
  content/cloud-computing/concepts/paas/paas.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, cloud

#1078 Added toDegrees doc
  content/java/concepts/math-methods/terms/toDegrees/toDegrees.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1174 Add java floor
  content/java/concepts/math-methods/terms/floor/floor.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1003 [New Entry] C: data types
  content/c/concepts/data-types/data-types.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1181 🎨 [New Terms]: Java Math Methods: `logarithmic functions` (#902)
  content/java/concepts/math-methods/terms/log/log.md
  content/java/concepts/math-methods/terms/log10/log10.md
  content/java/concepts/math-methods/terms/log1p/log1p.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1079 [New Entry] General: Virtual Reality
  content/general/concepts/augmented-reality/augmented-reality.md
  content/general/concepts/virtual-reality/virtual-reality.md
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, status: review :four: completed

#1180 initial commit for iter() docs
  content/python/concepts/iterators/terms/iter/iter.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author
