Repository Codecademy/docs, pull requests merged in 2022-03, with the labels that each got.

#582 [Edit] Go: Switch - Revised Codebyte signature
  content/go/concepts/switch/switch.md
Labels: enhancement, typo, go

#583 Updated Codebyte section in Content Standards
  documentation/content-standards.md
Labels: documentation, enhancement, typo, status: review 1️⃣ completed, status: waiting for author

#584 style: removed extra backticks
  documentation/content-standards.md
Labels: documentation, typo

#560 Added Term Entry HTML: Tags: `<source>`
  content/html/concepts/tags/terms/source/source.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#545 Added Term Entry for HTML: Tags:`<picture>` tag
  content/html/concepts/tags/terms/picture/picture.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#564 Create Python entry for random.random()
  content/python/concepts/random-module/terms/random/random.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#566 Create Python Entry for random.sample()
  content/python/concepts/random-module/terms/sample/sample.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#542 Added New Term Entry HTML: Tags: `<q>` tag
  content/html/concepts/tags/terms/q/q.md
  media/q.jpg
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#591 Fix image render in `q.md` entry
  content/html/concepts/tags/terms/q/q.md
Labels: enhancement, html

#562 Edits to Git entries (11 total)
  content/git/concepts/add/add.md
  content/git/concepts/branch/branch.md
  content/git/concepts/clone/clone.md
  content/git/concepts/commit/commit.md
  content/git/concepts/init/init.md
  content/git/concepts/merge/merge.md
  content/git/concepts/pull-requests/pull-requests.md
  content/git/concepts/pull/pull.md
  content/git/concepts/push/push.md
  content/git/concepts/reset/reset.md
  content/git/concepts/status/status.md
Labels: enhancement, git, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#575 New Concept Python Substrings
  content/python/concepts/substrings/substrings.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#570 Update "Python: Random Module" + existing term entries
  content/python/concepts/random-module/random-module.md
  content/python/concepts/random-module/terms/choice/choice.md
  content/python/concepts/random-module/terms/randint/randint.md
  content/python/concepts/random-module/terms/random/random.md
  content/python/concepts/random-module/terms/randrange/randrange.md
  content/python/concepts/random-module/terms/sample/sample.md
  content/python/concepts/random-module/terms/seed/seed.md
  content/python/concepts/random-module/terms/shuffle/shuffle.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#596 Add entry HTML: <abbr>
  content/html/concepts/tags/terms/abbr/abbr.md
  media/abbr-example.png
Labels: html, new entry, status: review 1️⃣ completed

#609 Add Entry - General: Front-End
  content/general/concepts/front-end/front-end.md
Labels: general, new entry

#585 Add SQL Wildcards, Update LIKE and SELECT
  content/sql/concepts/commands/terms/select/select.md
  content/sql/concepts/operators/terms/like/like.md
  content/sql/concepts/wildcards/wildcards.md
Labels: enhancement, sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#543 Added individual pages for each data type.
  content/general/concepts/array/array.md
  content/general/concepts/boolean/boolean.md
  content/general/concepts/data-types/data-types.md
  content/general/concepts/function/function.md
  content/general/concepts/number/number.md
Labels: enhancement, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#615 Update boolean.md
  content/general/concepts/boolean/boolean.md
Labels: enhancement, general

#592 Add Entry - Go: Loops
  content/go/concepts/loops/loops.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#623 PR checkbox for linking issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#537 Create Term Entry for Python String function `.endswith()`
  content/python/concepts/strings/terms/endswith/endswith.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#602 Add Entries for HTML Text Formatting and <b>,<i>, and <u> Tags
  content/html/concepts/tags/terms/b/b.md
  content/html/concepts/tags/terms/i/i.md
  content/html/concepts/tags/terms/u/u.md
  content/html/concepts/text-formatting/text-formatting.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#599 Add Entry General: Middleware
  content/general/concepts/middleware/middleware.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#606 Add Term Entry - HTML <center>
  content/html/concepts/tags/terms/center/center.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#601 Add Term Entry: Python String Method `.join()`
  content/python/concepts/strings/terms/join/join.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#605 Add entry - HTML: Tags: `<span>`
  content/html/concepts/tags/terms/span/span.md
  media/span-tag-image.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#631 Add link to HTML <center> entry.
  content/html/concepts/tags/terms/center/center.md
Labels: enhancement

#630 Update img.md
  content/html/concepts/tags/terms/img/img.md
  media/cc_logo.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#633 Edit HTML images
  content/html/concepts/images/images.md
Labels: html, keyword

#594 Add Entries: Go Conditionals, Go Operators
  content/go/concepts/conditionals/conditionals.md
  content/go/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, go

#617 Add Entry: HTML Tags: <blink>
  content/html/concepts/tags/terms/blink/blink.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#637 Update classes.md
  content/html/concepts/classes/classes.md
Labels: enhancement, html, status: review 1️⃣ completed

#604 Add Term Entries - `.includes()` for JS: Arrays and JS: Strings
  content/javascript/concepts/arrays/terms/includes/includes.md
  content/javascript/concepts/strings/terms/includes/includes.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#608 Edits/New Term Entries - Java: Arrays and ArrayList
  content/java/concepts/array-list/array-list.md
  content/java/concepts/array-list/terms/add/add.md
  content/java/concepts/array-list/terms/remove/remove.md
  content/java/concepts/arrays/arrays.md
Labels: enhancement, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#616 Add entry - HTML: Tags: `<kbd>`
  content/html/concepts/tags/terms/kbd/kbd.md
  media/kbd-tag-example-1.png
  media/kbd-tag-example-2.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#614 Add Entry: HTML Comments
  content/html/concepts/comments/comments.md
  media/html-comments-1.png
  media/html-comments-2.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#643 Update add.md
  content/java/concepts/array-list/terms/add/add.md
Labels: java, typo

#624 6 more entries (blogs to docs)
  content/general/concepts/big-data/big-data.md
  content/general/concepts/cyberattack/cyberattack.md
  content/general/concepts/cybersecurity/cybersecurity.md
  content/general/concepts/hacking/hacking.md
  content/general/concepts/proxy-server/proxy-server.md
  content/general/concepts/software-testing/software-testing.md
Labels: general, new entry, status: review 1️⃣ completed

#645 Edited meta-Title to match file/folder structure
  content/general/concepts/proxy-server/proxy-server.md
Labels: general, typo

#613 Add Entry: HTML Entities
  content/html/concepts/entities/entities.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#593 Add Entry General: Vim
  content/general/concepts/vim/vim.md
  media/vim-gui.png
  media/vim-terminal.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: review :four: completed

#618 Create CSS Entry for floats
  content/css/concepts/floats/floats.md
  content/css/concepts/grids/grids.md
  media/css_floats.png
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#622 Add Entry: HTML <applet>, <object>, and <param>
  content/html/concepts/tags/terms/applet/applet.md
  content/html/concepts/tags/terms/object/object.md
  content/html/concepts/tags/terms/param/param.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#638 Add Entry - JavaScript: Closures
  content/javascript/concepts/closures/closures.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#625 Edit - Java: Classes
  content/java/concepts/classes/classes.md
Labels: enhancement, java, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#603 python map and filter builtin func additions
  content/python/concepts/built-in-functions/terms/filter/filter.md
  content/python/concepts/built-in-functions/terms/map/map.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#658 Edit: Added `print()` to Codebyte
  content/python/concepts/built-in-functions/terms/filter/filter.md
Labels: enhancement, python

#636 Edit CSS animations
  content/css/concepts/animations/animations.md
Labels: enhancement, css, status: review 1️⃣ completed

#661 Fixed wrong image link
  content/css/concepts/floats/floats.md
Labels: css, typo

#632 Add 3 entries about Memoization
  content/general/concepts/memoization/memoization.md
  content/javascript/concepts/memoization/memoization.md
  content/python/concepts/memoization/memoization.md
Labels: javascript, python, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#635 Add Entry: Java Type-Conversion
  content/java/concepts/type-conversion/type-conversion.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#663 JS: Memoization grammar fix
  content/javascript/concepts/memoization/memoization.md
Labels: javascript, typo

#639 Edit React state
  content/react/concepts/state/state.md
Labels: enhancement, react, status: review 1️⃣ completed, status: review 2️⃣ completed

#634 Add Entry: General: Serialization
  content/general/concepts/serialization/serialization.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#668 Edit React state image
  content/react/concepts/state/state.md
  media/react-state-example.png
Labels: enhancement, react

#640 Add Entry: CSS cursor
  content/css/concepts/cursor/cursor.md
  documentation/tags.md
  media/css-cursor-cell.png
  media/css-cursor-context-menu.png
  media/css-cursor-crosshair.png
  media/css-cursor-default.png
  media/css-cursor-help.png
  media/css-cursor-pointer.png
  media/css-cursor-progress.png
  media/css-cursor-text.png
  media/css-cursor-vertical-text.png
  media/css-cursor-wait.png
Labels: documentation, css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#642 Add Term Entry: Java String `.split()` method
  content/java/concepts/strings/terms/split/split.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword
