Repository Codecademy/docs, pull requests merged in 2022-05, with the labels that each got.

#656 Markdown examples update
  content/markdown/concepts/blockquotes/blockquotes.md
  content/markdown/concepts/emphasis/emphasis.md
  content/markdown/concepts/headings/headings.md
  content/markdown/concepts/images/images.md
  content/markdown/concepts/links/links.md
  content/markdown/concepts/lists/lists.md
  content/markdown/concepts/paragraphs/paragraphs.md
  content/markdown/concepts/tables/tables.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, markdown

#688 Add Entry C++: Sets
  content/cpp/concepts/sets/sets.md
  content/cpp/concepts/sets/terms/clear/clear.md
  content/cpp/concepts/sets/terms/erase/erase.md
  content/cpp/concepts/sets/terms/insert/insert.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#719 reduce n generator entries
  content/python/concepts/functools-module/functools-module.md
  content/python/concepts/functools-module/terms/reduce/reduce.md
  content/python/concepts/generators/generators.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#696 json mod entries
  content/python/concepts/json-module/json-module.md
  content/python/concepts/json-module/terms/dump/dump.md
  content/python/concepts/json-module/terms/load/load.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#702 New Term Entry: PHP String Functions, `substr()`
  content/php/concepts/string-functions/terms/substr/substr.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#651 Add Term Entry: JavaScript Strings: `.slice()` method
  content/javascript/concepts/strings/terms/slice/slice.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, status: review :four: completed

#687 New Term Entry: C++ `getline()`
  content/cpp/concepts/user-input/terms/getline/getline.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#690 SQL: Injections
  content/sql/concepts/sql-injections/sql-injections.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#735 Update insert.md
  content/cpp/concepts/sets/terms/insert/insert.md
Labels: c++

#736 Update sets.md
  content/cpp/concepts/sets/sets.md
Labels: c++

#725 [Entry] General: Github
  content/general/concepts/github/github.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#695 Add Comparison to Python Strings
  content/python/concepts/strings/strings.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#693 New Entry: Java PriorityQueue
  content/java/concepts/priorityqueue/priorityqueue.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#739 Update iframes.md
  content/html/concepts/iframes/iframes.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#732 Add `instanceof` to Java Operators
  content/java/concepts/operators/operators.md
Labels: enhancement, java, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#724 Add Entry: C++ Maps
  content/cpp/concepts/maps/maps.md
  content/cpp/concepts/maps/terms/clear/clear.md
  content/cpp/concepts/maps/terms/erase/erase.md
  content/cpp/concepts/maps/terms/insert/insert.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#720 New Entry: Python Pandas Module
  content/pandas/concepts/built-in-functions/built-in-functions.md
  content/pandas/concepts/built-in-functions/terms/read-csv/read-csv.md
  content/pandas/concepts/built-in-functions/terms/read-excel/read-excel.md
  content/pandas/concepts/dataframe/dataframe.md
  content/pandas/concepts/dataframe/terms/drop/drop.md
  content/pandas/concepts/dataframe/terms/dropna/dropna.md
  content/pandas/concepts/dataframe/terms/loc/loc.md
  content/pandas/pandas.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#746 Edit C++ Maps .erase() entry
  content/cpp/concepts/maps/terms/erase/erase.md
Labels: c++, typo, status: review 1️⃣ completed

#748 Make `indexOf` folder camel case.
  content/java/concepts/strings/terms/indexOf/indexOf.md
Labels: java, typo

#689 [Add Term Entry] CSS Grids: `grid-template-areas`
  content/css/concepts/grids/terms/grid-template-areas/grid-template-areas.md
  content/css/concepts/grids/terms/grid/grid.md
  media/grid-template-area-example-1.png
  media/grid-template-area-example-2.png
  media/grid-template-area.png
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#756 Update objects.md
  content/javascript/concepts/objects/objects.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: waiting for author

#708 New Entries: PHP Date Functions
  content/php/concepts/date-functions/date-functions.md
  content/php/concepts/date-functions/terms/date-create/date-create.md
  content/php/concepts/date-functions/terms/date-format/date-format.md
  content/php/concepts/date-functions/terms/date/date.md
  content/php/concepts/date-functions/terms/getdate/getdate.md
  content/php/concepts/date-functions/terms/time/time.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#711 Created term entries and made other edits re: Python Sets
  content/python/concepts/built-in-functions/terms/any/any.md
  content/python/concepts/built-in-functions/terms/float/float.md
  content/python/concepts/built-in-functions/terms/frozenset/frozenset.md
  content/python/concepts/built-in-functions/terms/len/len.md
  content/python/concepts/built-in-functions/terms/set/set.md
  content/python/concepts/sets/sets.md
  content/python/concepts/sets/terms/difference/difference.md
  content/python/concepts/sets/terms/intersection/intersection.md
  content/python/concepts/sets/terms/union/union.md
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#728 New Term Entries: Python Dictionary Methods
  content/python/concepts/dictionaries/dictionaries.md
  content/python/concepts/dictionaries/terms/clear/clear.md
  content/python/concepts/dictionaries/terms/copy/copy.md
  content/python/concepts/dictionaries/terms/fromkeys/fromkeys.md
  content/python/concepts/dictionaries/terms/get/get.md
  content/python/concepts/dictionaries/terms/items/items.md
  content/python/concepts/dictionaries/terms/keys/keys.md
  content/python/concepts/dictionaries/terms/pop/pop.md
  content/python/concepts/dictionaries/terms/popitem/popitem.md
  content/python/concepts/dictionaries/terms/setdefault/setdefault.md
  content/python/concepts/dictionaries/terms/update/update.md
  content/python/concepts/dictionaries/terms/values/values.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#703 New Term Entry: PHP String Functions `explode()`
  content/php/concepts/string-functions/terms/explode/explode.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#751 Add C++ Queue and term entries
  content/cpp/concepts/queues/queues.md
  content/cpp/concepts/queues/terms/empty/empty.md
  content/cpp/concepts/queues/terms/front/front.md
  content/cpp/concepts/queues/terms/pop/pop.md
  content/cpp/concepts/queues/terms/push/push.md
  content/cpp/concepts/queues/terms/size/size.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#731 New Entry: NumPy and various concepts/terms
  content/numpy/concepts/built-in-functions/built-in-functions.md
  content/numpy/concepts/built-in-functions/terms/append/append.md
  content/numpy/concepts/built-in-functions/terms/log/log.md
  content/numpy/concepts/built-in-functions/terms/reshape/reshape.md
  content/numpy/concepts/built-in-functions/terms/transpose/transpose.md
  content/numpy/concepts/ndarray/ndarray.md
  content/numpy/concepts/ndarray/terms/reshape/reshape.md
  content/numpy/concepts/ndarray/terms/transpose/transpose.md
  content/numpy/numpy.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#742 Add Terms to Java Arrays
  content/java/concepts/arrays/arrays.md
  content/java/concepts/arrays/terms/fill/fill.md
  content/java/concepts/arrays/terms/sort/sort.md
Labels: enhancement, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#747 New Term: Pandas `.fillna()`
  content/pandas/concepts/dataframe/terms/fillna/fillna.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword, pandas

#757 Fixed a link
  .github/CONTRIBUTING.md
Labels: documentation, typo, status: review 1️⃣ completed

#730 New Entry: General file format
  content/general/concepts/file-formats/file-formats.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#768 Update content-standards.md
  documentation/content-standards.md
Labels: documentation, enhancement

#767 Edit Python: Pandas Dataframe
  content/pandas/concepts/dataframe/dataframe.md
Labels: typo, status: review 1️⃣ completed, pandas

#771 Edit C++ Structure (typo only)
  content/cpp/concepts/structure/structure.md
Labels: c++, typo, c, status: review 1️⃣ completed
