Repository Codecademy/docs, pull requests merged in 2022-06, with the labels that each got.

#752 New Term: C++ Strings `.substr()`
  content/cpp/concepts/strings/terms/substr/substr.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#761 Beginning of UI/UX entries (soft start)
  content/uiux/concepts/design/design.md
  content/uiux/concepts/width-height/width-height.md
  content/uiux/concepts/x-y-coordinates/x-y-coordinates.md
Labels: new entry, status: review 1️⃣ completed, ui and ux

#745 Added entry for HTML`<output>` tag
  content/html/concepts/tags/terms/output/output.md
  media/output-tag.gif
Labels: html, new entry, status: review 1️⃣ completed

#769 HTML examples
  content/html/concepts/tags/terms/audio/audio.md
  content/html/concepts/tags/terms/picture/picture.md
  content/html/concepts/tags/terms/video/video.md
  media/introducing_docs_audio.mp3
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#777 Fix <video> tag in `video.md`
  content/html/concepts/tags/terms/video/video.md
Labels: enhancement, html

#753 New Term: PHP String Functions `str_replace()`
  content/php/concepts/string-functions/terms/str-replace/str-replace.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#741 New Entry : Regular Expressions
  content/general/concepts/regular-expressions/regular-expressions.md
  content/java/concepts/regular-expressions/regular-expressions.md
  content/python/concepts/regex/regex.md
  content/python/concepts/regex/terms/digit-class/digit-class.md
  content/python/concepts/regex/terms/findall/findall.md
  content/python/concepts/regex/terms/search/search.md
  content/python/concepts/regex/terms/split/split.md
  content/python/concepts/regex/terms/sub/sub.md
Labels: enhancement, python, general, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#750 New Term: C++ String `.replace()`
  content/cpp/concepts/strings/terms/replace/replace.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#766 Create file-paths.md
  content/general/concepts/file-paths/file-paths.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#764 Refactor JavaScript callbacks example
  content/javascript/concepts/callbacks/callbacks.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#772 More file formats
  content/general/concepts/file-formats/file-formats.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#773 New Term: NumPy `.sum()`
  content/numpy/concepts/built-in-functions/terms/sum/sum.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#727 build: write a general overview explaining cryptocurrencies
  content/general/concepts/cryptocurrency/cryptocurrency.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#781 New entry: HTML `<noscript>` tag
  content/html/concepts/tags/terms/noscript/noscript.md
  media/no-script-tag-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#783 Update noscript.md
  content/html/concepts/tags/terms/noscript/noscript.md
Labels: html, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#786 modified CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation, enhancement

#704 New term entries for Python: Dates
  content/python/concepts/dates/dates.md
  content/python/concepts/dates/terms/date/date.md
  content/python/concepts/dates/terms/datetime/datetime.md
  content/python/concepts/dates/terms/now/now.md
  content/python/concepts/dates/terms/time/time.md
  content/python/concepts/dates/terms/timedelta/timedelta.md
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#789 Update General: JSON
  content/general/concepts/json/json.md
Labels: enhancement, general, status: review 1️⃣ completed, keyword

#790 Next batch of UIUX entries
  content/uiux/concepts/animation/animation.md
  content/uiux/concepts/annotations/annotations.md
  content/uiux/concepts/button/button.md
  content/uiux/concepts/color-picker/color-picker.md
  content/uiux/concepts/content-hierarchy/content-hierarchy.md
  content/uiux/concepts/corner-radius/corner-radius.md
  content/uiux/concepts/deliverables/deliverables.md
  content/uiux/concepts/design-software/design-software.md
  content/uiux/concepts/fill/fill.md
  content/uiux/concepts/hero-image/hero-image.md
  content/uiux/concepts/high-fidelity/high-fidelity.md
  content/uiux/concepts/homepage/homepage.md
  content/uiux/concepts/image/image.md
  content/uiux/concepts/information-architecture/information-architecture.md
  content/uiux/concepts/iterative-process/iterative-process.md
  content/uiux/concepts/logo/logo.md
  content/uiux/concepts/low-fidelity/low-fidelity.md
  content/uiux/concepts/navigation/navigation.md
  content/uiux/concepts/opacity/opacity.md
  content/uiux/concepts/placeholders/placeholders.md
  content/uiux/concepts/search-fields/search-fields.md
  content/uiux/concepts/site-map/site-map.md
  content/uiux/concepts/sketching/sketching.md
  content/uiux/concepts/stroke/stroke.md
  content/uiux/concepts/technical-capabilities/technical-capabilities.md
  content/uiux/concepts/text-properties/text-properties.md
  content/uiux/concepts/text/text.md
  content/uiux/concepts/user-workflows/user-workflows.md
  content/uiux/concepts/video/video.md
  content/uiux/concepts/width-height/width-height.md
  content/uiux/concepts/wireframe-elements/wireframe-elements.md
  content/uiux/concepts/wireframe/wireframe.md
  content/uiux/concepts/x-y-coordinates/x-y-coordinates.md
Labels: new entry, ui and ux

#763 Targeted keywords: HTML/CSS/JS
  content/css/concepts/combinators/combinators.md
  content/css/concepts/selectors/selectors.md
  content/html/concepts/links/links.md
  content/html/concepts/tags/terms/a/a.md
  content/html/concepts/tags/terms/dd/dd.md
  content/html/concepts/tags/terms/dl/dl.md
  content/html/concepts/tags/terms/dt/dt.md
  content/html/concepts/tags/terms/link/link.md
  content/javascript/concepts/arrays/terms/indexOf/indexOf.md
  content/javascript/concepts/arrays/terms/shift/shift.md
  media/dd-tag-example.png
  media/dl-tag-example.png
  media/dt-tag-example.png
  media/rendered-anchor-tags.png
  media/rendered-css-combinators.png
Labels: enhancement, javascript, html, css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#784 New Terms for General Database
  content/general/concepts/database/database.md
  content/general/concepts/database/terms/acid-properties/acid-properties.md
  content/general/concepts/database/terms/index/index.md
  content/general/concepts/database/terms/transaction/transaction.md
Labels: enhancement, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#792 Implementing captions in video example output
  content/html/concepts/tags/terms/audio/audio.md
  content/html/concepts/tags/terms/video/video.md
  media/html-video-tag-examlpe.vtt
  media/introducing_docs_audio.mp3
Labels: enhancement, html

#754 Python target keywords: Files, Regex, Strings
  content/python/concepts/classes/classes.md
  content/python/concepts/files/terms/read/read.md
  content/python/concepts/files/terms/write/write.md
  content/python/concepts/regex/regex.md
  content/python/concepts/regex/terms/digit-class/digit-class.md
  content/python/concepts/regex/terms/findall/findall.md
  content/python/concepts/regex/terms/match/match.md
  content/python/concepts/regex/terms/metacharacters/metacharacters.md
  content/python/concepts/regex/terms/search/search.md
  content/python/concepts/regex/terms/split/split.md
  content/python/concepts/regex/terms/sub/sub.md
  content/python/concepts/strings/strings.md
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#793 Rename html-video-tag-examlpe.vtt to html-video-tag-example.vtt
  media/html-video-tag-example.vtt
Labels: html, typo

#794 Fix broken image link
  content/css/concepts/combinators/combinators.md
Labels: css, typo

#795 Update video.md
  content/html/concepts/tags/terms/video/video.md
Labels: enhancement, html

#758 New General Entry: XML & XPath
  content/general/concepts/xml/terms/xpath/xpath.md
  content/general/concepts/xml/xml.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#782 New Entry: C Operators
  content/c/concepts/operators/operators.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#774 New Entries: Pandas `GroupBy` and `.groupby()`
  content/pandas/concepts/dataframe/terms/groupby/groupby.md
  content/pandas/concepts/groupby/groupby.md
  content/pandas/concepts/groupby/terms/count/count.md
  content/pandas/concepts/groupby/terms/max/max.md
  content/pandas/concepts/groupby/terms/mean/mean.md
  content/pandas/concepts/groupby/terms/min/min.md
  content/pandas/concepts/groupby/terms/sum/sum.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, pandas

#800 Add Another 30 UIUX entries
  content/uiux/concepts/accessibility/accessibility.md
  content/uiux/concepts/attitudinal-research/attitudinal-research.md
  content/uiux/concepts/behavioral-research/behavioral-research.md
  content/uiux/concepts/context-of-use/context-of-use.md
  content/uiux/concepts/convergent-thinking/convergent-thinking.md
  content/uiux/concepts/design-methodologies/design-methodologies.md
  content/uiux/concepts/design-thinking/design-thinking.md
  content/uiux/concepts/diary-study/diary-study.md
  content/uiux/concepts/divergent-thinking/divergent-thinking.md
  content/uiux/concepts/double-diamond-diagram/double-diamond-diagram.md
  content/uiux/concepts/ethnography-field-studies/ethnography-field-studies.md
  content/uiux/concepts/five-elements-of-ux-design/five-elements-of-ux-design.md
  content/uiux/concepts/focus-groups/focus-groups.md
  content/uiux/concepts/heuristic-evaluation/heuristic-evaluation.md
  content/uiux/concepts/inclusive-design/inclusive-design.md
  content/uiux/concepts/interviews/interviews.md
  content/uiux/concepts/persona/persona.md
  content/uiux/concepts/product-development-life-cycle/product-development-life-cycle.md
  content/uiux/concepts/qualitative-research/qualitative-research.md
  content/uiux/concepts/quantitative-research/quantitative-research.md
  content/uiux/concepts/surveys/surveys.md
  content/uiux/concepts/ui-design/ui-design.md
  content/uiux/concepts/usability-heuristics/usability-heuristics.md
  content/uiux/concepts/user-and-end-user/user-and-end-user.md
  content/uiux/concepts/user-centered-design/user-centered-design.md
  content/uiux/concepts/user-research/user-research.md
  content/uiux/concepts/ux-design/ux-design.md
  content/uiux/concepts/ux-honeycomb/ux-honeycomb.md
  content/uiux/concepts/web-analytics/web-analytics.md
  content/uiux/concepts/wicked-problems/wicked-problems.md
  yarn.lock
Labels: new entry, ui and ux

#785 New Term: NumPy `.linspace()`
  content/numpy/concepts/built-in-functions/terms/linspace/linspace.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, numpy

#804 Edit Contribution Guide
  .github/CONTRIBUTING.md
Labels: documentation

#805 Update README.md w/ new feedback form
  README.md
Labels: documentation, enhancement

#780 Updates To JSON Entries
  content/general/concepts/json/json.md
  content/python/concepts/json-module/json-module.md
  content/python/concepts/json-module/terms/dump/dump.md
  content/python/concepts/json-module/terms/load/load.md
Labels: enhancement, python, general, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#812 add A11y HTML concept
  content/html/concepts/accessibility/accessibility.md
  content/html/concepts/accessibility/terms/aria-attributes/aria-attributes.md
  content/html/concepts/accessibility/terms/aria-attributes/terms/aria-label/aria-label.md
Labels: html, new entry, keyword

#798 Update tags.md
  documentation/tags.md
Labels: documentation, enhancement

#802 New Entry: General WSDL
  content/general/concepts/wsdl/wsdl.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#814 Add Terms for JS: Sets; Clean up JS: Iterators
  content/javascript/concepts/iterators/iterators.md
  content/javascript/concepts/sets/sets.md
  content/javascript/concepts/sets/terms/add/add.md
  content/javascript/concepts/sets/terms/clear/clear.md
  content/javascript/concepts/sets/terms/delete/delete.md
  content/javascript/concepts/sets/terms/has/has.md
  content/javascript/concepts/sets/terms/size/size.md
Labels: enhancement, javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#799 Create white-spaces.md
  content/general/concepts/whitespace/whitespace.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#788 New Term: Java ArrayList `.addAll()`
  content/java/concepts/array-list/terms/addall/addall.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#815 Font tag
  content/html/concepts/tags/terms/font/font.md
  media/font-tag-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#820 Update http.md
  content/general/concepts/http/http.md
Labels: enhancement, general, status: review 1️⃣ completed

#816 Basefont tag
  content/html/concepts/tags/terms/basefont/basefont.md
  content/html/concepts/tags/terms/font/font.md
  media/basefont-tag-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#808 Edits and new content for General, Python, and SQL
  content/general/concepts/database/database.md
  content/general/concepts/database/terms/index/index.md
  content/general/concepts/encapsulation/encapsulation.md
  content/general/concepts/object-oriented-programming/object-oriented-programming.md
  content/general/concepts/uri/uri.md
  content/general/concepts/url/url.md
  content/general/concepts/urn/urn.md
  content/python/concepts/command-line-arguments/command-line-arguments.md
  content/python/concepts/files/files.md
  content/python/concepts/glob-module/glob-module.md
  content/python/concepts/glob-module/terms/escape/escape.md
  content/python/concepts/glob-module/terms/glob/glob.md
  content/python/concepts/idle/idle.md
  content/python/concepts/modules/modules.md
  content/python/concepts/os-path-module/os-path-module.md
  content/python/concepts/os-path-module/terms/basename/basename.md
  content/python/concepts/os-path-module/terms/dirname/dirname.md
  content/python/concepts/os-path-module/terms/exists/exists.md
  content/python/concepts/os-path-module/terms/join/join.md
  content/sql/concepts/commands/commands.md
  content/sql/concepts/commands/terms/alter-table/alter-table.md
  content/sql/concepts/commands/terms/create-table/create-table.md
  content/sql/concepts/commands/terms/group-by/group-by.md
  content/sql/concepts/commands/terms/order-by/order-by.md
  media/python-idle.png
Labels: enhancement, python, sql, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#817 Edit notable figure general entries
  content/general/concepts/aaron-swartz/aaron-swartz.md
  content/general/concepts/ada-lovelace/ada-lovelace.md
  content/general/concepts/alan-turing/alan-turing.md
  content/general/concepts/bjarne-stroustrup/bjarne-stroustrup.md
  content/general/concepts/dennis-ritchie/dennis-ritchie.md
  content/general/concepts/grace-hopper/grace-hopper.md
  content/general/concepts/john-carmack/john-carmack.md
  content/general/concepts/ken-thompson/ken-thompson.md
  content/general/concepts/linus-torvalds/linus-torvalds.md
  content/general/concepts/tim-berners-lee/tim-berners-lee.md
  media/aaron_swartz.png
  media/ada_lovelace.png
  media/alan_turing.png
  media/bjarne_stroustrup.png
  media/dennis_ritchie.png
  media/grace_hopper.png
  media/grace_hopper_bug.png
  media/john_carmack.png
  media/ken_thompson.png
  media/linus_torvalds.png
  media/tim_berners_lee.png
Labels: enhancement, general, status: review 1️⃣ completed

#796 New Java Concept & Terms: Output, `.print`,`.println()`,`.printf()`
  content/java/concepts/output/output.md
  content/java/concepts/output/terms/print/print.md
  content/java/concepts/output/terms/printf/printf.md
  content/java/concepts/output/terms/println/println.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#821 New Entry: General Endianness
  content/general/concepts/endianness/endianness.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#801 New Entry: Java Iterator & Terms
  content/java/concepts/iterator/iterator.md
  content/java/concepts/iterator/terms/add/add.md
  content/java/concepts/iterator/terms/hasNext/hasNext.md
  content/java/concepts/iterator/terms/hasPrevious/hasPrevious.md
  content/java/concepts/iterator/terms/next/next.md
  content/java/concepts/iterator/terms/nextIndex/nextIndex.md
  content/java/concepts/iterator/terms/previous/previous.md
  content/java/concepts/iterator/terms/previousIndex/previousIndex.md
  content/java/concepts/iterator/terms/remove/remove.md
  content/java/concepts/iterator/terms/set/set.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#831 Ethan master coding patch 1
  content/general/concepts/abstract-factory-pattern/abstract-factory-pattern.md
  content/general/concepts/creational-design-patterns/creational-design-patterns.md
Labels: enhancement, general, status: review 1️⃣ completed
