Repository Codecademy/docs, pull requests merged in 2022-01, with the labels that each got.

#489 Create str.md
  content/python/concepts/built-in-functions/terms/str/str.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#490 Create preprocessors.md
  content/c/concepts/compiling/compiling.md
  content/c/concepts/preprocessors/preprocessors.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#499 Python Operator plagiarism
  content/python/concepts/operators/operators.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#500 Python data types
  content/python/concepts/data-types/data-types.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#503 Remove extra line in code block
  content/python/concepts/data-types/data-types.md
Labels: python, typo

#265 add husky to run tests, format and lint code on commit
  .husky/.gitignore
  .husky/pre-commit
  package.json
Labels: enhancement

#498 R
  content/r/concepts/comments/comments.md
  content/r/concepts/data-types/data-types.md
  content/r/concepts/operators/operators.md
  content/r/concepts/variables/variables.md
  content/r/r.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#508 Update emphasis.md
  content/markdown/concepts/emphasis/emphasis.md
Labels: enhancement, typo

#509 Update tables.md
  content/markdown/concepts/tables/tables.md
Labels: enhancement

#504 C++ Inheritance, resolves #295
  content/cpp/concepts/inheritance/inheritance.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#506 Add `<main>` HTML semantic tag term entry
  content/html/concepts/semantic-html/terms/main/main.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#502 Add General/Routing, Issue #281
  content/general/concepts/routing/routing.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#505 Added formatting to new entry unit-testing
  content/general/concepts/unit-testing/unit-testing.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#507 Added Looping Through Objects
  content/javascript/concepts/loops/loops.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#517 Java errors - Resolves #305
  content/java/concepts/errors/errors.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#522 Create General/Modulo resolves 338
  content/general/concepts/modulo/modulo.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#519 C++ constructors, resolves #298
  content/cpp/concepts/constructors/constructors.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#513 Audio
  content/html/concepts/tags/terms/audio/audio.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#514 Git reset
  content/git/concepts/reset/reset.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
