Repository Codecademy/docs, pull requests merged in 2022-12, with the labels that each got.

#1252 SwiftUI Views: Label
  content/swiftui/concepts/views/terms/label/label.md
  media/swiftui-label.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1090 [New Term] C++ Math Functions: `atanh()`
  content/cpp/concepts/math-functions/terms/atanh/atanh.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1267 Create cpp remainder entry, format all and lint
  content/cpp/concepts/math-functions/terms/remainder/remainder.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1114 Cpp math hypot
  content/cpp/concepts/math-functions/terms/hypot/hypot.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1213 Feature new entry first
  content/swift/concepts/arrays/terms/first/first.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1302 Update conditionals.md
  content/javascript/concepts/conditionals/conditionals.md
Labels: javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1280 New Term: Aggressive Scan
  content/cybersecurity/concepts/nmap/terms/aggressive-scan/aggressive-scan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1309 Rename content/python/concepts/functions/terms/arguments-parameters/a…
  content/python/concepts/functions/terms/parameters-arguments/parameters-arguments.md
Labels: enhancement, python, status: review 1️⃣ completed

#1209 Add modifier
  content/swiftui/concepts/viewmodifier/viewmodifier.md
  media/swiftui-viewmodifier.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, swiftui

#1199 Added: [Term Entry] Java Math Methods: .ceil()
  content/java/concepts/math-methods/terms/ceil/ceil.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1292 SwiftUI View: Ellipse shape
  content/swiftui/concepts/views/terms/ellipse/ellipse.md
  media/swiftui-ellipse.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1334 adding a note in npm.md to clarify that typing just npm i instead of …
  content/javascript/concepts/npm/npm.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#1281 SwiftUI Views - List
  content/swiftui/concepts/views/terms/list/list.md
  media/swiftui-list.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, swiftui

#1231 [Edit] CONTRIBUTING.md for Issue Claiming Workflow
  .github/CONTRIBUTING.md
Labels: documentation, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, status: review :four: completed

#1166 Create kotlin.md
  content/kotlin/concepts/comments/comments.md
  content/kotlin/kotlin.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1205 [Entry] General: Environment Variables
  content/general/concepts/environment-variables/environment-variables.md
  documentation/catalog-content.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1312 Added strike-through example to first paragraph
  content/html/concepts/elements/terms/del/del.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1293 SwiftUI View: Rounded rectangle shape
  content/swiftui/concepts/views/terms/roundedrectangle/roundedrectangle.md
  media/swuiftui-roundedrectangle.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1347 Fix Graphic Name for Rounded Rectangle
  media/swiftui-roundedrectangle.png
Labels: typo, swiftui

#1311 make a sin method in java
  content/java/concepts/math-methods/terms/sin/sin.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1284 Create acosh entry and test all changes
  content/cpp/concepts/math-functions/terms/acosh/acosh.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1237 Create a new Entry of Math.tanh for java
  content/java/concepts/math-methods/terms/tanh/tanh.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1241 [New Entry] Go: Comments
  content/go/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1255 [New Term Entry] Java Math Methods: `.ulp()`
  content/java/concepts/math-methods/terms/ulp/ulp.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1208 [New Entry] SwiftUI View: `Text`
  content/swiftui/concepts/views/terms/text/text.md
  media/swiftui-text.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1235 Update section.md
  content/html/concepts/semantic-html/terms/section/section.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1300 New Terms: Nmap no ping, no port
  content/cybersecurity/concepts/nmap/terms/no-ping-scan/no-ping-scan.md
  content/cybersecurity/concepts/nmap/terms/no-port-scan/no-port-scan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1258 [Concept Entry] Go: slices
  content/go/concepts/slices/slices.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1355 Change meta-`Title` to "Title Case"
  content/cybersecurity/concepts/nmap/terms/nmap-scan/nmap-scan.md
Labels: typo, cybersecurity

#1360 fix path slugs in CatalogContent
  content/uiux/concepts/animation/animation.md
  content/uiux/concepts/annotations/annotations.md
  content/uiux/concepts/button/button.md
  content/uiux/concepts/color-picker/color-picker.md
  content/uiux/concepts/content-hierarchy/content-hierarchy.md
  content/uiux/concepts/corner-radius/corner-radius.md
  content/uiux/concepts/deliverables/deliverables.md
  content/uiux/concepts/design-software/design-software.md
  content/uiux/concepts/design/design.md
  content/uiux/concepts/fill/fill.md
  content/uiux/concepts/hero-image/hero-image.md
  content/uiux/concepts/high-fidelity/high-fidelity.md
  content/uiux/concepts/homepage/homepage.md
  content/uiux/concepts/image/image.md
  content/uiux/concepts/information-architecture/information-architecture.md
  content/uiux/concepts/iterative-process/iterative-process.md
  content/uiux/concepts/logo/logo.md
  content/uiux/concepts/low-fidelity/low-fidelity.md
  content/uiux/concepts/navigation/navigation.md
  content/uiux/concepts/opacity/opacity.md
  content/uiux/concepts/placeholders/placeholders.md
  content/uiux/concepts/search-fields/search-fields.md
  content/uiux/concepts/site-map/site-map.md
  content/uiux/concepts/sketching/sketching.md
  content/uiux/concepts/stakeholder/stakeholder.md
  content/uiux/concepts/stroke/stroke.md
  content/uiux/concepts/text-properties/text-properties.md
  content/uiux/concepts/text/text.md
  content/uiux/concepts/user-workflows/user-workflows.md
  content/uiux/concepts/video/video.md
  content/uiux/concepts/width-height/width-height.md
  content/uiux/concepts/wireframe-elements/wireframe-elements.md
  content/uiux/concepts/wireframe/wireframe.md
  content/uiux/concepts/x-y-coordinates/x-y-coordinates.md
Labels: typo, ui and ux

#1328 Milin edit documentation python threads example
  content/python/concepts/threading/threading.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1359 Added another Not Equal To comparison operator
  content/sql/concepts/operators/operators.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: ready for next review

#1358 New pull request for go map.md
  content/go/concepts/map/map.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, go

#1361 fix free learn links in CatalogContent
  content/cloud-computing/concepts/cloud-services/cloud-services.md
  content/general/concepts/routing/routing.md
Labels: typo

#1371 Change one example subheading and added missing line in map.md for Go
  content/go/concepts/map/map.md
Labels: typo, status: review 1️⃣ completed, go, status: ready for next review

#1301 [Entry Edit] Python Built-in Functions: `breakpoint()`
  content/python/concepts/built-in-functions/terms/breakpoint/breakpoint.md
  media/python-built-in-functions-breakpoint-screenshot.png
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1373 Changed case of `-O` when referring to option
  content/cybersecurity/concepts/nmap/terms/aggressive-scan/aggressive-scan.md
Labels: typo, status: review 1️⃣ completed, cybersecurity

#1210 [Edit] Update operators.md
  content/javascript/concepts/operators/operators.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1341 [Term Entry] Nmap: UDP Scan
  content/cybersecurity/concepts/nmap/terms/udp-scan/udp-scan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1403 Update arrow-functions.md
  content/javascript/concepts/arrow-functions/arrow-functions.md
Labels: javascript, typo, status: review 1️⃣ completed

#1389 Create new Command Line topic
  content/command-line/command-line.md
  content/command-line/concepts/bash/bash.md
  content/command-line/concepts/environment-variables/environment-variables.md
  content/command-line/concepts/terminal/terminal.md
  content/command-line/concepts/vim/vim.md
  content/general/concepts/terminal/terminal.md
Labels: enhancement, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, command line

#1368 New Term: Ping-Sweep
  content/cybersecurity/concepts/nmap/terms/ping-sweep/ping-sweep.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1390 [Term Entry] Pandas DataFrame: .shape()
  content/pandas/concepts/dataframe/terms/shape/shape.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas
