Repository Codecademy/docs, pull requests merged in 2022-09, with the labels that each got.

#937 Update Entry: General IDE
  content/general/concepts/ide/ide.md
Labels: enhancement, general, status: review 1️⃣ completed, keyword

#936 Add new Java Math Methods entry: `.sqrt()` method
  content/java/concepts/math-methods/terms/sqrt/sqrt.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#942 Created java .pow method entry
  content/java/concepts/math-methods/terms/pow/pow.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#969 add 'Ethical Hacking' tag
  documentation/tags.md
Labels: documentation, enhancement

#882 New Entry: Java Compiler
  content/java/concepts/compiler/compiler.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#974 New Entry: C++ Math Functions: `sqrt()`
  content/cpp/concepts/math-functions/terms/sqrt/sqrt.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#999 Typo in Java Compiler Entry
  content/java/concepts/compiler/compiler.md
Labels: java, typo

#931 New Entry: Python unittest module
  content/python/concepts/unittest-module/unittest-module.md
  documentation/tags.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#975 New Entry: C++ Math Functions: `log()`
  content/cpp/concepts/math-functions/terms/log/log.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1002 Created hr tag entry
  content/html/concepts/elements/terms/hr/hr.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1006 [New Term Entry] Java Math Methods: `.rint()`
  content/java/concepts/math-methods/terms/rint/rint.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#971 [Edit] JS: Operators
  content/javascript/concepts/operators/operators.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#947 Add links to templates and resources in issue templates
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: documentation, enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1011 cyberattack -> cyber attack and other small edits
  content/general/concepts/cyber-attack/cyber-attack.md
  content/general/concepts/cybersecurity/cybersecurity.md
  content/general/concepts/hacking/hacking.md
Labels: general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1008 [New Entry/ Edits] Python Builtin-Functions: `super()`/ Inheritance
  content/python/concepts/built-in-functions/terms/super/super.md
  content/python/concepts/inheritance/inheritance.md
Labels: enhancement, python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#1013 Typo in Python Operators
  content/python/concepts/operators/operators.md
Labels: python, typo

#1019 Update eng team
  README.md
Labels: documentation, enhancement

#926 New Entry and Terms: Python modules
  content/python/concepts/modules/modules.md
  content/python/concepts/modules/terms/pyspark/pyspark.md
  content/python/concepts/modules/terms/pytorch/pytorch.md
  content/python/concepts/modules/terms/tqdm/tqdm.md
  media/tqdm.gif
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#941 Add details on JSON
  content/general/concepts/json/json.md
  content/javascript/concepts/json/json.md
  content/python/concepts/json-module/json-module.md
Labels: enhancement, javascript, python, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1016 Tech stacks
  content/general/concepts/tech-stack/tech-stack.md
Labels: general, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1024 Edit content standards and entry templates
  documentation/content-standards.md
  documentation/entry-template.md
  documentation/term-entry-template.md
  documentation/topic-info-template.md
Labels: documentation, enhancement, status: review 1️⃣ completed
