Repository Codecademy/docs, pull requests merged in 2022-11, with the labels that each got.

#1200 Update hashmap.md
  content/java/concepts/hashmap/hashmap.md
Labels: java, typo, status: review 1️⃣ completed

#1085 Add property initializers example to React state entry
  content/react/concepts/state/state.md
Labels: enhancement, react, status: review 1️⃣ completed, status: review 2️⃣ completed

#1017 New Topic: C# with a few initial concepts and terms
  content/c-sharp/c-sharp.md
  content/c-sharp/concepts/arrays/arrays.md
  content/c-sharp/concepts/arrays/terms/clear/clear.md
  content/c-sharp/concepts/arrays/terms/length/length.md
  content/c-sharp/concepts/operators/operators.md
  content/c-sharp/concepts/variables/variables.md
Labels: invalid, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, c#

#1053 Added signbit() to cpp docs
  content/cpp/concepts/math-functions/terms/signbit/signbit.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1060 fix typos in java documentation
  content/java/concepts/classes/classes.md
  content/java/concepts/conditionals/conditionals.md
  content/java/concepts/constructors/constructors.md
  content/java/concepts/output/terms/println/println.md
  content/java/concepts/stringbuilder/terms/length/length.md
  content/java/concepts/switch/switch.md
Labels: java, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1041 [New Term] C++ Math Functions: `nearbyint()`
  content/cpp/concepts/math-functions/terms/nearbyint/nearbyint.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1184 image addition
  content/swiftui/concepts/views/terms/image/image.md
  media/image-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, swiftui

#1025 Add global commands to npm article + misc changes
  content/javascript/concepts/npm/npm.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1202 Java math cbrt entry
  content/java/concepts/math-methods/terms/cbrt/cbrt.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1229 Fix typo and code block formatting for Java -> math_methods -> Math.cbrt()
  content/java/concepts/math-methods/terms/cbrt/cbrt.md
Labels: enhancement, java, status: review 1️⃣ completed

#1036 [Term Entry] C++ Math Functions: `trunc()`
  content/cpp/concepts/math-functions/terms/trunc/trunc.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1074 [Term Entry] C++ Math Functions: asinh()
  content/cpp/concepts/math-functions/terms/asinh/asinh.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1240 :tada: fix: title changed to `.log()`, `.log10()`, and `.log1p()` (#902)
  content/java/concepts/math-methods/terms/log/log.md
  content/java/concepts/math-methods/terms/log10/log10.md
  content/java/concepts/math-methods/terms/log1p/log1p.md
Labels: java, typo, status: review 1️⃣ completed

#1182 Progress for next() python function
  content/python/concepts/built-in-functions/terms/next/next.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1201 Update treemap.md
  content/java/concepts/treemap/treemap.md
Labels: java, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1212 [Term Entry] Swift Sets: `.subtracting()`
  content/swift/concepts/sets/terms/subtracting/subtracting.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1081 Create isnan.md
  content/cpp/concepts/math-functions/terms/isnan/isnan.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1049 Create(R_lang-Vectors): added documentation for R lang vectors
  content/r/concepts/vectors/vectors.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1222 Added the requested changes in the `nearbyint` function
  content/cpp/concepts/math-functions/terms/nearbyint/nearbyint.md
Labels: enhancement, c++, status: review 1️⃣ completed

#1250 [New Entry] HTML Elements: `<del>`
  content/html/concepts/elements/terms/del/del.md
  media/del-tag-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1234 Entry html s element
  content/html/concepts/elements/terms/s/s.md
  media/s-element-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1065 fix typos in c documentation
  content/c/concepts/strings/strings.md
  content/c/concepts/variables/variables.md
Labels: enhancement, typo, c, status: review 1️⃣ completed, status: review 2️⃣ completed

#1197 SwiftUI LazyVStack and LazyHStacks
  content/swiftui/concepts/views/terms/lazyHStack/lazyHStack.md
  content/swiftui/concepts/views/terms/lazyVStack/lazyVStack.md
  media/lazyHStack-gif.gif
  media/lazyVStack-gif.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#1089 [New Term] C++ Math Functions: `exp2()`
  content/cpp/concepts/math-functions/terms/exp2/exp2.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1251 :fire: [New Term]: C++ Math-Functions: `.tanh()` (#981)
  content/cpp/concepts/math-functions/terms/tanh/tanh.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1203 Distinguishing-element()-peek()-methods
  content/java/concepts/queue/queue.md
Labels: enhancement, java, status: review 1️⃣ completed, status: review 2️⃣ completed

#1040 Updated description for `atan()` function
  content/cpp/concepts/math-functions/terms/atan/atan.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed

#1159 New Term: Cloud Root User
  content/cloud-computing/concepts/root-user/root-user.md
Labels: new entry, status: review 1️⃣ completed, cloud, status: sme review :one: completed

#1204 Added java stack entry
  content/java/concepts/stack/stack.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1131 [Term Entry] Swift Arrays: .map()
  content/swift/concepts/arrays/terms/map/map.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1273 Removed duplicate content in the Stack's methods section
  content/java/concepts/stack/stack.md
Labels: java, typo, status: review 1️⃣ completed

#1272 Update post-merge-survey.yml
  .github/workflows/post-merge-survey.yml
Labels: documentation, typo

#1135 [Term Entry] Swift Sets: .insert()
  content/swift/concepts/sets/terms/insert/insert.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1264 added the new Variables.md file
  content/go/concepts/variables/variables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, go

#1266 superSet Documentation - mh
  content/swift/concepts/sets/terms/isSuperset/isSuperset.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1198 Add example of using reduce method on array of objects
  content/javascript/concepts/arrays/terms/reduce/reduce.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1160 General object
  content/general/concepts/object/object.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1189 New Topic: Cybersecurity
  content/cybersecurity/concepts/cyber-attack/cyber-attack.md
  content/cybersecurity/concepts/hacking/hacking.md
  content/cybersecurity/concepts/multi-factor-authentication/multi-factor-authentication.md
  content/cybersecurity/concepts/nmap/nmap.md
  content/cybersecurity/concepts/nmap/terms/nmap-scan/nmap-scan.md
  content/cybersecurity/cybersecurity.md
  content/general/concepts/virtual-machines/virtual-machines.md
Labels: enhancement, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, cybersecurity

#1276 Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: documentation, typo, status: review 1️⃣ completed

#1162 New Entry: Cloud AWS Management Console
  content/cloud-computing/concepts/aws-management-console/aws-management-console.md
  media/aws-console-home.png
Labels: new entry, status: review 1️⃣ completed, cloud, status: sme review :one: completed

#1163 New Entry: Cloud Shared Responsibility Model
  content/cloud-computing/concepts/shared-responsibility-model/shared-responsibility-model.md
Labels: new entry, status: review 1️⃣ completed, cloud, status: sme review :one: completed

#1282 Update catalog-content.md
  documentation/catalog-content.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#1270 Edited File Format and File Path entries
  content/general/concepts/file-formats/file-formats.md
  content/general/concepts/file-paths/file-paths.md
  content/general/concepts/url/url.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1238 Create scalb.md
  content/java/concepts/math-methods/terms/scalb/scalb.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1249 Create term entry for log2
  content/cpp/concepts/math-functions/terms/log2/log2.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1256 Created a seaborn.md file in /python/concepts/seaborn
  content/seaborn/concepts/built-in-functions/built-in-functions.md
  content/seaborn/concepts/built-in-functions/terms/load-dataset/load-dataset.md
  content/seaborn/seaborn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, seaborn

#1257 Entry for CPP Math Function ` atan2()`
  content/cpp/concepts/math-functions/terms/atan2/atan2.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#998 New Entry: C++ Math Functions: `tan()`
  content/cpp/concepts/math-functions/terms/tan/tan.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
