Repository Codecademy/docs, pull requests merged in 2022-08, with the labels that each got.

#849 New Entry: General Font Awesome
  content/general/concepts/font-awesome/font-awesome.md
  content/general/concepts/font-awesome/terms/fa-Nx/fa-Nx.md
  content/general/concepts/font-awesome/terms/fa-border/fa-border.md
  content/general/concepts/font-awesome/terms/fa-flip/fa-flip.md
  content/general/concepts/font-awesome/terms/fa-fw/fa-fw.md
  content/general/concepts/font-awesome/terms/fa-li/fa-li.md
  content/general/concepts/font-awesome/terms/fa-pull/fa-pull.md
  content/general/concepts/font-awesome/terms/fa-pulse/fa-pulse.md
  content/general/concepts/font-awesome/terms/fa-rotate/fa-rotate.md
  content/general/concepts/font-awesome/terms/fa-spin/fa-spin.md
  content/general/concepts/font-awesome/terms/fa-stack/fa-stack.md
  content/general/concepts/font-awesome/terms/fa-ul/fa-ul.md
  documentation/tags.md
  media/font-awesome-border.png
  media/font-awesome-check.png
  media/font-awesome-code.png
  media/font-awesome-fixed.png
  media/font-awesome-flip.png
  media/font-awesome-list.png
  media/font-awesome-pull.png
  media/font-awesome-pulse.gif
  media/font-awesome-rotate.png
  media/font-awesome-size.png
  media/font-awesome-spin.gif
  media/font-awesome-stack.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#861 switched .png with .gif (Gen: Font Awesome)
  content/general/concepts/font-awesome/terms/fa-pulse/fa-pulse.md
  content/general/concepts/font-awesome/terms/fa-spin/fa-spin.md
Labels: general, typo

#862 Fix broken HTML elements links
  content/css/concepts/background/terms/background-color/background-color.md
  content/html/concepts/elements/terms/applet/applet.md
  content/html/concepts/elements/terms/source/source.md
  content/html/concepts/forms/forms.md
  content/html/concepts/iframes/iframes.md
  content/html/concepts/lists/lists.md
Labels: html, typo, status: review 1️⃣ completed

#854 New Entry: R Functions
  content/r/concepts/functions/functions.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#857 New Entry and Terms: JavaScript jQuery
  content/javascript/concepts/jquery/jquery.md
  content/javascript/concepts/jquery/terms/click/click.md
  content/javascript/concepts/jquery/terms/dblclick/dblclick.md
  content/javascript/concepts/jquery/terms/hide/hide.md
  content/javascript/concepts/jquery/terms/html/html.md
  content/javascript/concepts/jquery/terms/show/show.md
  content/javascript/concepts/jquery/terms/text/text.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#853 New Entry: Java Threading
  content/java/concepts/threading/threading.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#865 Update show.md
  content/javascript/concepts/jquery/terms/show/show.md
Labels: javascript, typo

#866 More edits to jQuery terms
  content/javascript/concepts/jquery/terms/click/click.md
  content/javascript/concepts/jquery/terms/dblclick/dblclick.md
  content/javascript/concepts/jquery/terms/hide/hide.md
  content/javascript/concepts/jquery/terms/html/html.md
  content/javascript/concepts/jquery/terms/text/text.md
Labels: enhancement, javascript, typo

#867 Update hide.md under JS: jQuery
  content/javascript/concepts/jquery/terms/hide/hide.md
Labels: enhancement, javascript

#868 Update show.md under JS: jQuery
  content/javascript/concepts/jquery/terms/show/show.md
Labels: enhancement, javascript

#863 New Entry: General One Hot Encoding
  content/general/concepts/one-hot-encoding/one-hot-encoding.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#864 New Entry: General Binary Search Tree
  content/general/concepts/binary-search-tree/binary-search-tree.md
  content/general/concepts/binary-search-tree/terms/inorder-traversal/inorder-traversal.md
  content/general/concepts/binary-search-tree/terms/postorder-traversal/postorder-traversal.md
  content/general/concepts/binary-search-tree/terms/preorder-traversal/preorder-traversal.md
  media/binary-tree-labeled.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#860 New Term: Python `eval()`
  content/python/concepts/built-in-functions/terms/eval/eval.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#869 New Terms: C++ `strcpy()` & `strcmp()`
  content/c/concepts/strings/terms/strcmp/strcmp.md
  content/c/concepts/strings/terms/strcpy/strcpy.md
  content/cpp/concepts/strings/strings.md
  content/cpp/concepts/strings/terms/strcmp/strcmp.md
  content/cpp/concepts/strings/terms/strcpy/strcpy.md
Labels: enhancement, c++, c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#876 New Entry: Java POJO & JavaBeans
  content/java/concepts/errors/terms/invalidclassexception/invalidclassexception.md
  content/java/concepts/javabeans/javabeans.md
  content/java/concepts/pojo/pojo.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#888 Add Hisham to `README.md`
  README.md
Labels: documentation, enhancement

#859 SEO Work: General , C, and SQL entries
  content/c/concepts/memory-management/memory-management.md
  content/c/concepts/memory-management/terms/calloc/calloc.md
  content/c/concepts/memory-management/terms/free/free.md
  content/c/concepts/memory-management/terms/malloc/malloc.md
  content/c/concepts/memory-management/terms/realloc/realloc.md
  content/c/concepts/pointers/pointers.md
  content/general/concepts/cors/cors.md
  content/general/concepts/cors/terms/access-control-allow-origin/access-control-allow-origin.md
  content/general/concepts/protocol/protocol.md
  content/general/concepts/unicode/unicode.md
  content/sql/concepts/commands/terms/inner-join/inner-join.md
  content/sql/concepts/commands/terms/update/update.md
  content/sql/concepts/operators/operators.md
  content/sql/concepts/operators/terms/and/and.md
  content/sql/concepts/operators/terms/between/between.md
  content/sql/concepts/operators/terms/exists/exists.md
  content/sql/concepts/operators/terms/in/in.md
  content/sql/concepts/operators/terms/is-not-null/is-not-null.md
  content/sql/concepts/operators/terms/is-null/is-null.md
  content/sql/concepts/operators/terms/like/like.md
  content/sql/concepts/operators/terms/not/not.md
  content/sql/concepts/operators/terms/or/or.md
Labels: enhancement, sql, general, c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#889 Add meta-`Description` to `realloc.md` entry
  content/c/concepts/memory-management/terms/realloc/realloc.md
Labels: enhancement, c

#870 New Entry and Terms: Java `StringBuilder`
  content/java/concepts/errors/terms/stringindexoutofboundsexception/stringindexoutofboundsexception.md
  content/java/concepts/stringbuilder/stringbuilder.md
  content/java/concepts/stringbuilder/terms/append/append.md
  content/java/concepts/stringbuilder/terms/capacity/capacity.md
  content/java/concepts/stringbuilder/terms/delete/delete.md
  content/java/concepts/stringbuilder/terms/deleteCharAt/deleteCharAt.md
  content/java/concepts/stringbuilder/terms/indexOf/indexOf.md
  content/java/concepts/stringbuilder/terms/insert/insert.md
  content/java/concepts/stringbuilder/terms/lastIndexOf/lastIndexOf.md
  content/java/concepts/stringbuilder/terms/length/length.md
  content/java/concepts/stringbuilder/terms/replace/replace.md
  content/java/concepts/stringbuilder/terms/reverse/reverse.md
  content/java/concepts/stringbuilder/terms/substring/substring.md
  content/java/concepts/stringbuilder/terms/toString/toString.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#875 Created type error in python errors entry
  content/python/concepts/errors/errors.md
Labels: enhancement, python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#877 Created SQL Commands Create Index entry
  content/sql/concepts/commands/terms/create-index/create-index.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#872 Created .replace() md for pandas
  content/pandas/concepts/dataframe/terms/replace/replace.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, pandas

#887 Update Entry: C Strings
  content/c/concepts/strings/strings.md
Labels: enhancement, c, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#881 New Entry: General JSP
  content/general/concepts/jsp/jsp.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#871 New Terms: C/C++ `strtok()`
  content/c/concepts/strings/terms/strtok/strtok.md
  content/cpp/concepts/strings/terms/strtok/strtok.md
Labels: c++, c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#884 New Term: Java `Math.random()`
  content/java/concepts/math-methods/terms/abs/abs.md
  content/java/concepts/math-methods/terms/acos/acos.md
  content/java/concepts/math-methods/terms/asin/asin.md
  content/java/concepts/math-methods/terms/atan/atan.md
  content/java/concepts/math-methods/terms/atan2/atan2.md
  content/java/concepts/math-methods/terms/random/random.md
Labels: enhancement, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#891 Add Entry: General Objective-C
  content/general/concepts/objective-c/objective-c.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#879 New Entry: C++ Templates
  content/cpp/concepts/templates/templates.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#878 New Entry: R loops
  content/r/concepts/loops/loops.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword
