Repository Codecademy/docs, pull requests merged in 2022-04, with the labels that each got.

#647 Update Java Errors
  content/java/concepts/errors/errors.md
  content/java/concepts/errors/terms/arrayindexoutofboundsexception/arrayindexoutofboundsexception.md
  content/java/concepts/errors/terms/classformaterror/classformaterror.md
  content/java/concepts/errors/terms/filenotfoundexception/filenotfoundexception.md
  content/java/concepts/errors/terms/incompatibleclasschangeerror/incompatibleclasschangeerror.md
  content/java/concepts/errors/terms/noclassdeffounderror/noclassdeffounderror.md
  content/java/concepts/errors/terms/nullpointerexception/nullpointerexception.md
  content/java/concepts/errors/terms/numberformatexception/numberformatexception.md
Labels: enhancement, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, keyword

#648 Add Entry: General Tuple
  content/general/concepts/tuple/tuple.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#644 Add Entry: Python Command Line
  content/python/concepts/command-line-arguments/command-line-arguments.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#646 Create Python term entries for `.remove()` and `.rmdir()`
  content/python/concepts/file-methods/terms/remove/remove.md
  content/python/concepts/file-methods/terms/rmdir/rmdir.md
  content/python/concepts/file-methods/terms/unlink/unlink.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#654 Blogs to docs
  content/general/concepts/angular/angular.md
  content/general/concepts/framework/framework.md
  content/general/concepts/progressive-web-application/progressive-web-application.md
  content/general/concepts/react-native/react-native.md
  content/general/concepts/ruby-on-rails/ruby-on-rails.md
  content/general/concepts/user-interface-design/user-interface-design.md
  content/react/react.md
  content/ruby/concepts/gems/gems.md
  content/ruby/ruby.md
Labels: enhancement, general, ruby, react, new entry, status: review 1️⃣ completed

#649 Add String Terms: C++
  content/cpp/concepts/strings/terms/find/find.md
  content/cpp/concepts/strings/terms/length/length.md
  content/cpp/concepts/strings/terms/size/size.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#666 Mark tag example
  content/html/concepts/semantic-html/terms/mark/mark.md
  media/mark-example.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#667 Update emphasis.md
  content/markdown/concepts/emphasis/emphasis.md
Labels: enhancement, status: review 1️⃣ completed, markdown

#659 Added General: HTTP entry
  content/general/concepts/http/http.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#679 Add New Collections Tag
  documentation/tags.md
Labels: documentation

#683 Correct typo in angular.md
  content/general/concepts/angular/angular.md
Labels: general, typo, status: review 1️⃣ completed

#627 Update README.md
  README.md
Labels: documentation, enhancement

#678 Found a Way Out of Vim 🧙
  content/general/concepts/vim/vim.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#516 Edit Python: File-Methods/Add Term Entry Python: Built-in Functions: `open()`
  content/python/concepts/built-in-functions/terms/open/open.md
  content/python/concepts/file-methods/file-methods.md
  content/python/concepts/files/files.md
  content/python/concepts/files/terms/close/close.md
  content/python/concepts/files/terms/read/read.md
  content/python/concepts/files/terms/readline/readline.md
  content/python/concepts/files/terms/remove/remove.md
  content/python/concepts/files/terms/rmdir/rmdir.md
  content/python/concepts/files/terms/seek/seek.md
  content/python/concepts/files/terms/truncate/truncate.md
  content/python/concepts/files/terms/unlink/unlink.md
  content/python/concepts/files/terms/writable/writable.md
  content/python/concepts/files/terms/write/write.md
Labels: python, new entry, status: review 1️⃣ completed, status: waiting for author

#650 assert and type concepts
  content/python/concepts/assert/assert.md
  content/python/concepts/built-in-functions/terms/type/type.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#692 Python Files typo
  content/python/concepts/files/files.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#697 Typo
  content/python/concepts/files/files.md
Labels: typo

#662 Create inheritance.md
  content/css/concepts/inheritance/inheritance.md
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#664 How to keep branch up to date
  .github/CONTRIBUTING.md
  media/branch-up-to-date-1.png
  media/branch-up-to-date-2.png
Labels: documentation, enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed

#676 Add Term: SQL Commands UNION
  content/sql/concepts/commands/terms/union/union.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#673 add new points to general writing tips
  documentation/content-standards.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#686 Entry/Edits: Bootstrap and `void` functions
  content/c/concepts/functions/functions.md
  content/general/concepts/bootstrap/bootstrap.md
  content/general/concepts/data-types/data-types.md
  content/general/concepts/void/void.md
  content/javascript/concepts/functions/functions.md
Labels: enhancement, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#657 New Term Entry: Java String `.replace()` Method
  content/java/concepts/strings/terms/replace/replace.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword, status: review :four: completed

#660 Add Entry: PHP String Function term `sprintf()`
  content/php/concepts/string-functions/string-functions.md
  content/php/concepts/string-functions/terms/sprintf/sprintf.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#681 New Entry: Java Queue
  content/java/concepts/queue/queue.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#680 New Entry/Edits: Java Maps
  content/java/concepts/hashmap/hashmap.md
  content/java/concepts/map/map.md
  content/java/concepts/treemap/treemap.md
Labels: enhancement, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#700 `CONTRIBUTING.md`: Fixed image link; resized images
  .github/CONTRIBUTING.md
  media/branch-up-to-date-1.png
  media/branch-up-to-date-2.png
Labels: documentation, enhancement, typo

#685 Add Item: Java Set
  content/java/concepts/set/set.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#669 Py time
  content/python/concepts/time-module/terms/ctime/ctime.md
  content/python/concepts/time-module/terms/strftime/strftime.md
  content/python/concepts/time-module/time-module.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#677 Add Term: HTML Tags `<select>`,`<option>`
  content/html/concepts/tags/terms/option/option.md
  content/html/concepts/tags/terms/select/select.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#694 Create uiux folder and md file
  content/uiux/uiux.md
Labels: status: review 1️⃣ completed

#699 Replaced header image with real headings
  content/markdown/concepts/headings/headings.md
Labels: enhancement, status: review 1️⃣ completed, status: waiting for author, markdown

#701 Moved bulk of Python: Functions info into separate entries
  content/python/concepts/functions/functions.md
  content/python/concepts/functions/terms/anonymous-functions/anonymous-functions.md
  content/python/concepts/functions/terms/arguments-parameters/arguments-parameters.md
  content/python/concepts/keywords/keywords.md
  content/python/concepts/keywords/terms/lambda/lambda.md
  content/python/concepts/recursion/recursion.md
Labels: enhancement, python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#722 Java: Queue Edit
  content/java/concepts/hashmap/hashmap.md
  content/java/concepts/queue/queue.md
  content/java/concepts/treemap/treemap.md
Labels: java, typo, status: review 1️⃣ completed

#721 Patch 2 Markdown: Headings
  content/markdown/concepts/headings/headings.md
  media/rendered-markdown-headings.png
Labels: enhancement, status: review 1️⃣ completed, markdown

#718 Add `yield` to Python Functions
  content/python/concepts/functions/functions.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#705 Add Entry: PHP Data Types
  content/php/concepts/data-types/data-types.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#723 Edits to Java entries
  content/java/concepts/errors/errors.md
  content/java/concepts/map/map.md
Labels: enhancement, java, typo, status: review 1️⃣ completed
