Repository Codecademy/docs, pull requests merged in 2022-02, with the labels that each got.

#518 Open source - Resolves 336
  content/general/concepts/open-source/open-source.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#539 AST edit
  content/general/concepts/abstract-syntax-tree/abstract-syntax-tree.md
Labels: bug, general

#532 New Swift entry on inheritance
  content/swift/concepts/inheritance/inheritance.md
  yarn.lock
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#531 SQL Operators - EXISTS
  content/sql/concepts/operators/terms/exists/exists.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#550 Update ABC explanation in inheritance.md
  content/python/concepts/inheritance/inheritance.md
Labels: enhancement, python, typo

#556 Replaced header image with real headings
  content/html/concepts/headings/headings.md
  media/html-headings.png
Labels: enhancement, html

#559 Update headings.md
  content/html/concepts/headings/headings.md
Labels: enhancement, html

#524 Create Swift enums and optionals
  content/swift/concepts/enums/enums.md
  content/swift/concepts/optionals/optionals.md
  content/swift/concepts/protocols/protocols.md
  documentation/tags.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#534 Go Switch Statement
  content/go/concepts/switch/switch.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, go

#535 Entry on C++ Errors
  content/cpp/concepts/errors/errors.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#563 Fixed issue templates
  .github/ISSUE_TEMPLATE/bug_reports.yml
  .github/ISSUE_TEMPLATE/entry_edit.yml
  .github/ISSUE_TEMPLATE/entry_request.yml
Labels: documentation, enhancement

#571 Update `content-standards.md`
  documentation/content-standards.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#540 Update `CONTRIBUTING.md`
  .github/CONTRIBUTING.md
Labels: documentation, enhancement

#536 CSS Anatomy, resolves 525
  content/css/concepts/anatomy/anatomy.md
  media/css-anatomy-1.png
  media/css-anatomy-2.png
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#580 [Edit] Documentation: Contribution Guide
  .github/CONTRIBUTING.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#576 Create CSS Entries for translateX & translateY and Update translate
  content/css/concepts/transform-functions/terms/translate/translate.md
  content/css/concepts/transform-functions/terms/translateX/translateX.md
  content/css/concepts/transform-functions/terms/translateY/translateY.md
Labels: enhancement, css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#573 Create CSS Entry for grid
  content/css/concepts/grids/terms/grid/grid.md
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#572 Create CSS Entry for border-radius
  content/css/concepts/borders/terms/border-radius/border-radius.md
  media/css-border-radius-1.png
  media/css-border-radius-2.png
  media/css-border-radius-3.png
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#574 Create CSS Entry for clamp()
  content/css/concepts/math-functions/terms/clamp/clamp.md
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#561 Added Term Entry for Python Built-in Function `range()`
  content/python/concepts/built-in-functions/terms/range/range.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed
