Repository Codecademy/docs, pull requests merged in 2022-07, with the labels that each got.

#834 HTML tags -> elements cleanup
  content/html/concepts/elements/terms/basefont/basefont.md
  content/html/concepts/elements/terms/center/center.md
  content/html/concepts/elements/terms/font/font.md
  content/html/concepts/links/links.md
  content/html/concepts/text-formatting/text-formatting.md
  content/uiux/concepts/navigation/navigation.md
Labels: html, typo

#828 New Entry: General Geolocation
  content/general/concepts/geolocation/geolocation.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#809 [New Term Entry]: Java String `.format()` method
  content/java/concepts/strings/terms/format/format.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#823 New Entry: Big-O notation
  content/general/concepts/big-o-notation/big-o-notation.md
  media/big-o-graph.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#836 New Term: SQL Commands `CREATE VIEW`
  content/sql/concepts/commands/terms/create-view/create-view.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#837 New Entry: General Linux & Unix
  content/general/concepts/linus-torvalds/linus-torvalds.md
  content/general/concepts/linux/linux.md
  content/general/concepts/unix/unix.md
  documentation/tags.md
Labels: documentation, enhancement, general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#833 SQL target keywords
  content/sql/concepts/commands/terms/case/case.md
  content/sql/concepts/commands/terms/delete/delete.md
  content/sql/concepts/commands/terms/full-outer-join/full-outer-join.md
  content/sql/concepts/commands/terms/inner-join/inner-join.md
  content/sql/concepts/commands/terms/insert-into/insert-into.md
  content/sql/concepts/commands/terms/left-join/left-join.md
  content/sql/concepts/commands/terms/order-by/order-by.md
  content/sql/concepts/commands/terms/right-join/right-join.md
  content/sql/concepts/commands/terms/union/union.md
  content/sql/concepts/joins/joins.md
  content/sql/concepts/operators/terms/between/between.md
Labels: enhancement, sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#832 New Entries: Java Comparator & Comparable
  content/java/concepts/comparable/comparable.md
  content/java/concepts/comparator/comparator.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#838 Add Entry: C Structures
  content/c/concepts/structures/structures.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#841 New Entry: Java Interfaces
  content/java/concepts/interfaces/interfaces.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#840 New Entries & Terms: Java Collections & Collection
  content/java/concepts/collection/collection.md
  content/java/concepts/collections/collections.md
  content/java/concepts/collections/terms/max/max.md
  content/java/concepts/collections/terms/min/min.md
  content/java/concepts/collections/terms/reverse/reverse.md
  content/java/concepts/collections/terms/shuffle/shuffle.md
  content/java/concepts/collections/terms/sort/sort.md
  content/java/concepts/collections/terms/swap/swap.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, keyword

#842 New Entry: Java Generics
  content/java/concepts/generics/generics.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#848 Fix explanation sentence in the SUM() page
  content/sql/concepts/aggregate-functions/terms/sum/sum.md
Labels: sql, typo, status: review 1️⃣ completed

#845 New Entry and Terms: C++ Stack
  content/cpp/concepts/stacks/stacks.md
  content/cpp/concepts/stacks/terms/empty/empty.md
  content/cpp/concepts/stacks/terms/pop/pop.md
  content/cpp/concepts/stacks/terms/push/push.md
  content/cpp/concepts/stacks/terms/size/size.md
  content/cpp/concepts/stacks/terms/top/top.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#846 New Entry: Java Files
  content/java/concepts/files/files.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#847 SEO Work: JS, Python, Git
  content/git/concepts/fetch/fetch.md
  content/git/concepts/pull/pull.md
  content/javascript/concepts/arrays/terms/sort/sort.md
  content/javascript/concepts/arrays/terms/splice/splice.md
  content/python/concepts/built-in-functions/terms/input/input.md
  content/python/concepts/keywords/terms/global/global.md
  content/python/concepts/lists/lists.md
  content/python/concepts/scope/scope.md
  content/python/concepts/user-input/user-input.md
Labels: enhancement, javascript, python, git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword
