Repository Codecademy/docs, pull requests merged in 2023-05, with the labels that each got.

#1961 PHP ltrim
  content/php/concepts/string-functions/terms/ltrim/ltrim.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1980 Add Laravel to PHP
  content/php/php.md
Labels: enhancement, php, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1946 Add `scaledToFill` ViewModifier documentation and example
  content/swiftui/concepts/viewmodifier/terms/scaledToFill/scaledToFill.md
  media/swiftui-viewmodifier-scaledToFill.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1998 [Term Entry] PHP String function: rtrim()
  content/php/concepts/string-functions/terms/rtrim/rtrim.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#2068 Fix Typo in New `.scaledToFill()` entry
  content/swiftui/concepts/viewmodifier/terms/scaledToFill/scaledToFill.md
Labels: typo, status: review 1️⃣ completed, swiftui

#1940 added baselineOffset concept to SwiftUI viewmodifier terms
  content/swiftui/concepts/viewmodifier/terms/baselineOffset/baselineOffset.md
  media/swiftui-viewmodifier-baselineoffset.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2071 JS objects video
  content/javascript/concepts/objects/objects.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2072 JS functions video
  content/javascript/concepts/functions/functions.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1916 Conditionals
  content/c-sharp/concepts/conditionals/conditionals.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2075 [Concept Entry] ransomware
  content/cybersecurity/concepts/ransomware/ransomware.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2067 [Edit] General: Big-O
  content/general/concepts/big-o-notation/big-o-notation.md
  media/big-o-graph-extended.png
Labels: general, typo, status: review 1️⃣ completed

#2030 Added dictionary method removeAll() for Swift
  content/swift/concepts/dictionaries/terms/removeAll/removeAll.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1974 Add /content/kotlin/concepts/operators/operators.md first version file
  content/kotlin/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#2039 My feature
  content/matplotlib/concepts/pyplot/terms/boxplot/boxplot.md
  media/matplotlib-boxplot-example-1.png
  media/matplotlib-boxplot-example-2.png
Labels: new entry, status: review 1️⃣ completed, matplotlib, status: ready for next review

#2035 [Term Entry] Swift Dictionaries .removeValue()
  content/swift/concepts/dictionaries/terms/removeValue/removeValue.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2076 Changes on my old interface PR
  content/kotlin/concepts/interfaces/interfaces.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#2112 Updated powershell.md description and content
  content/powershell/powershell.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, powershell

#2113 renerepina-patches
  content/python/concepts/built-in-functions/terms/list/list.md
  content/python/concepts/casting/casting.md
  content/python/concepts/data-types/data-types.md
  content/python/concepts/iterators/iterators.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1826 add new file content/pandas/dataframe/apply/apply.md for .apply() entry.
  content/pandas/concepts/dataframe/terms/apply/apply.md
Labels: new entry, status: review 1️⃣ completed, pandas, status: sme review :one: completed

#1909 C_enums
  content/c/concepts/enums/enums.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2041 Added new entry on Software Engineering
  content/general/concepts/software-engineering/software-engineering.md
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#1932 Add Entry: PHP String Function term hex2bin()
  content/php/concepts/string-functions/terms/hex2bin/hex2bin.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2118 [Edit] Go Concepts: Variables
  content/go/concepts/variables/variables.md
Labels: enhancement, status: review 1️⃣ completed, go, status: ready for next review

#2130 Closes #2091 [Concept Entry] Cybersecurity Penetration Testing
  content/cybersecurity/concepts/penetration-testing/penetration-testing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2000 Initial commit
  content/sql/concepts/window-functions/terms/row-number/row-number.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: sme review :one: completed, status: under review

#2003 Create Spiral Entry
  content/general/concepts/software-development-life-cycle/terms/spiral/spiral.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2132 Fixed year on paper and a couple typos
  content/ai/concepts/chatgpt/chatgpt.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, ai

#2043 Generative AI with sub-concepts
  content/ai/concepts/generative-ai/concepts/code/code.md
  content/ai/concepts/generative-ai/concepts/images/images.md
  content/ai/concepts/generative-ai/concepts/music/music.md
  content/ai/concepts/generative-ai/concepts/text/text.md
  content/ai/concepts/generative-ai/generative-ai.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, ai

#2126 Added a term entry for is-nan in PHP (#2087)
  content/php/concepts/math-functions/terms/is-nan/is-nan.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2181 Generative AI moving files for terms to work in browser.
  content/ai/concepts/generative-ai/terms/code/code.md
  content/ai/concepts/generative-ai/terms/images/images.md
  content/ai/concepts/generative-ai/terms/music/music.md
  content/ai/concepts/generative-ai/terms/text/text.md
Labels: bug, status: review 1️⃣ completed, status: review 2️⃣ completed

#2177 Rename General SDLC terms
  content/general/concepts/software-development-life-cycle/terms/agile-model/agile-model.md
  content/general/concepts/software-development-life-cycle/terms/spiral-model/spiral-model.md
  content/general/concepts/software-development-life-cycle/terms/waterfall-model/waterfall-model.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#2117 Term entry sdl bigbang
  content/general/concepts/software-development-life-cycle/terms/big-bang-model/big-bang-model.md
  media/sdlc-bigbang.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2168 Oct
  content/python/concepts/built-in-functions/terms/oct/oct.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2185 Merge Powershell Topic form PowerShell-Jace branch to main
  content/powershell/concepts/arrays/arrays.md
  content/powershell/concepts/conditionals/conditionals.md
  content/powershell/concepts/environment-variables/environment-variables.md
  content/powershell/concepts/functions/functions.md
  content/powershell/concepts/loops/loops.md
  content/powershell/concepts/objects/objects.md
  content/powershell/concepts/operators/operators.md
  content/powershell/concepts/variables/variables.md
  content/powershell/powershell.md
  documentation/catalog-content.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, powershell

#2170 Create V Entry
  content/general/concepts/software-development-life-cycle/terms/v-model/v-model.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2187 added the tan() function
  content/php/concepts/math-functions/terms/tan/tan.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2124 [Term Entry] PHP Math Functions sin()
  content/php/concepts/math-functions/terms/sin/sin.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2195 Add "Gradient Descent" to AI topic
  content/ai/concepts/search-algorithms/terms/gradient-descent/gradient-descent.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2173 [Concept Entry] SwiftUI Fonts
  content/swiftui/concepts/fonts/fonts.md
  media/swiftui-font.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#2179 modified: c-sharp/math-functions (acos-max-pow)
  content/c-sharp/concepts/math-functions/terms/acos/acos.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2196 built in function iter()
  content/python/concepts/built-in-functions/terms/iter/iter.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2197 [Edit] Go: Maps
  content/go/concepts/map/map.md
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, go, status: ready for next review

#2194 [Edit] Update Contribution Guide
  .github/CONTRIBUTING.md
  content/docs-community/concepts/contributions/contributions.md
  content/docs-community/concepts/contributions/terms/docs-repository/docs-repository.md
  content/docs-community/concepts/contributions/terms/reviews/reviews.md
  content/docs-community/concepts/entries/entries.md
  content/docs-community/concepts/entries/terms/concept-entries/concept-entries.md
  content/docs-community/concepts/entries/terms/term-entries/term-entries.md
  content/docs-community/concepts/entries/terms/topic-entries/topic-entries.md
  content/docs-community/docs-community.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, docs

#2192 [Edit] Matplotlib: Bar
  content/matplotlib/concepts/pyplot/terms/bar/bar.md
  media/matplotlib-barplot-example.png
Labels: enhancement, typo, status: review 1️⃣ completed, matplotlib, status: ready for next review

#2160 [Term Entry] Python built-in term divmod()
  content/python/concepts/built-in-functions/terms/divmod/divmod.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#2040 Update1807
  content/general/concepts/software-development-life-cycle/terms/rapid-application-development/rapid-application-development.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2235 php-function-str_shuffle
  content/php/concepts/string-functions/terms/str-shuffle/str-shuffle.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2229 [Edit] Java Methods (Typo)
  content/java/concepts/methods/methods.md
Labels: java, typo, status: review 1️⃣ completed, status: ready for next review

#2239 sql-math-function-power
  content/sql/concepts/math-functions/terms/power/power.md
Labels: sql, new entry, status: review 1️⃣ completed, status: ready for next review

#2238 Term entry cybersecurity phishing
  content/cybersecurity/concepts/phishing/phishing.md
Labels: new entry, status: review 1️⃣ completed, cybersecurity, status: under review

#2248 Update treemap.md
  content/java/concepts/treemap/treemap.md
Labels: enhancement, java, status: review 1️⃣ completed

#2228 sql-math-functions
  content/sql/concepts/math-functions/math-functions.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2243 add-c#-codebytes
  content/c-sharp/concepts/arrays/terms/clear/clear.md
  content/c-sharp/concepts/arrays/terms/length/length.md
  content/c-sharp/concepts/arrays/terms/resize/resize.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2245 Edit javascript codebyte1
  content/javascript/concepts/dates/terms/getDate/getDate.md
  content/javascript/concepts/dates/terms/getDay/getDay.md
  content/javascript/concepts/dates/terms/getHours/getHours.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#2246 [Term Entry] python Built-in Function: getattr()
  content/python/concepts/built-in-functions/terms/getattr/getattr.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2236 [Entry] Subject: Entry Name GIT LOG
  content/git/concepts/log/log.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2250 Sql-math-function-floor
  content/sql/concepts/math-functions/terms/floor/floor.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2253 sql-function-ceiling
  content/sql/concepts/math-functions/terms/ceiling/ceiling.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2175 [Term Entry] Python Built-in Functions ord()
  content/python/concepts/built-in-functions/terms/ord/ord.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2237 [Edit] Swift Bold Big O
  content/swift/concepts/arrays/terms/append/append.md
  content/swift/concepts/arrays/terms/contains/contains.md
Labels: typo, swift, status: review 1️⃣ completed

#2249 R conditionals
  content/r/concepts/conditionals/conditionals.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2079 [Term Entry] Java Exceptions NegativeArraySizeException
  content/java/concepts/errors/terms/negativearraysizeexception/negativearraysizeexception.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2180 Codeacademy docs hex term creation
  content/python/concepts/built-in-functions/terms/hex/hex.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2085 Floor
  content/php/concepts/math-functions/terms/floor/floor.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2120 [Term Entry] PHP Math Functions ceil() #2061
  content/php/concepts/math-functions/terms/ceil/ceil.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2073 Statements issue
  content/javascript/concepts/statements/statements.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2069 Initial commit PHP implode documentation
  content/php/concepts/string-functions/terms/implode/implode.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2081 [Term Entry] Swift Dictionaries .updateValue()
  content/swift/concepts/dictionaries/terms/updateValue/updateValue.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2288 added codebyte to JavaScript arrays to slice and toString method
  content/javascript/concepts/arrays/terms/slice/slice.md
  content/javascript/concepts/arrays/terms/toString/toString.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2282 [Concept Entry] JavaScript Window
  content/javascript/concepts/window/window.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2233 Term entry Javascript window clearInterval
  content/javascript/concepts/window/terms/clearInterval/clearInterval.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2230 adding setTimeout term
  content/javascript/concepts/window/terms/setTimeout/setTimeout.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2240 sql-math-function-abs
  content/sql/concepts/math-functions/terms/abs/abs.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2159 added str-repeat.md in str-repeat folder in the string functions in php
  content/php/concepts/string-functions/terms/str-repeat/str-repeat.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2190 [Concept Entry] Ai Neural Networks (ANN)
  content/ai/concepts/neural-networks/neural-networks.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#2286 Added entry to describe the getFullYear method in javascript
  content/javascript/concepts/dates/terms/getFullYear/getFullYear.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2295 add .toString() and .valueOf() codebyte examples
  content/javascript/concepts/dates/terms/toString/toString.md
  content/javascript/concepts/dates/terms/valueOf/valueOf.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2070 [Concept Entry] R Strings #2021
  content/r/concepts/strings/strings.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
