Repository Codecademy/docs, pull requests merged in 2023-02, with the labels that each got.

#1557 [Term Entry] Java ArrayList: .get()
  content/java/concepts/array-list/terms/get/get.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1505 Term entry isinf
  content/cpp/concepts/math-functions/terms/isinf/isinf.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1416 Added variable-scope markdown file
  content/javascript/concepts/variable-scope/variable-scope.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: sme review :two: completed

#1506 Term entry swiftui frame
  content/swiftui/concepts/viewmodifier/terms/frame/frame.md
  media/swiftui-frame.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#1599 fixed typo in `joins.md` links
  content/sql/concepts/joins/joins.md
Labels: sql, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1542 Term entry c sharp sort
  content/c-sharp/concepts/arrays/terms/sort/sort.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1475 Term entry swiftui padding
  content/swiftui/concepts/viewmodifier/terms/padding/padding.md
  media/swiftui-padding.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1537 [Term Entry] HTML Attributes: `id`
  content/html/concepts/attributes/terms/id/id.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1552 Added `remove.md` in the terms folder of `hashmap`
  content/kotlin/concepts/hashmap/terms/remove/remove.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1462 Update GraphQL documentation
  content/open-source/concepts/graphql/graphql.md
  media/GraphQL-default-values-example.png
  media/GraphQL-parameters-example.png
  media/GraphQL-types-example.png
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, open source

#1348 Nmap: TCP SYN Scan
  content/cybersecurity/concepts/nmap/terms/tcp-syn-scan/tcp-syn-scan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, cybersecurity

#1604 Correct format specifiers table
  content/c/concepts/basic-output/terms/printf/printf.md
Labels: typo, c, status: review 1️⃣ completed, status: review 2️⃣ completed

#1535 Concept Entry: Go Strings
  content/go/concepts/strings/strings.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, go

#1601 [Term Entry] Pandas DataFrame: .sort_values()
  content/pandas/concepts/dataframe/terms/sortvalues/sortvalues.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas, status: ready for next review

#1641 FIX: update typo
  content/cpp/concepts/functions/functions.md
Labels: c++, typo, status: review 1️⃣ completed

#1578 Created p.md
  content/html/concepts/elements/terms/p/p.md
Labels: enhancement, html, status: review 1️⃣ completed

#1550 Equals ignore case fixed
  content/java/concepts/strings/terms/equalsIgnoreCase/equalsIgnoreCase.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1406 scaledToFit md file and image added
  content/swiftui/concepts/viewmodifier/terms/scaledToFit/scaledToFit.md
  media/scaled-to-fit.jpg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui, status: ready for next review

#1454 [New Term] Java ArrayList: `.indexOf()`
  content/java/concepts/array-list/terms/indexOf/indexOf.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1623 [Term Entry] C# Math Functions .Sqrt() #1613
  content/c-sharp/concepts/math-functions/terms/sqrt/sqrt.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1634 [Edit] Python: Functions
  content/python/concepts/functions/functions.md
  content/python/concepts/functions/terms/arguments-parameters/arguments-parameters.md
Labels: python, typo, status: review 1️⃣ completed

#1629 [Term Entry] Java Strings: .trim() Method #1597
  content/java/concepts/strings/terms/trim/trim.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1572 Create toUpperCase.md
  content/java/concepts/strings/terms/toUpperCase/toUpperCase.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, status: under review

#1643 add max.md file into c-sharp folder tree
  content/c-sharp/concepts/math-functions/terms/max/max.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#, status: ready for next review

#1655 Fix Title on C# Math Functions `.Max()` entry
  content/c-sharp/concepts/math-functions/terms/max/max.md
Labels: typo, c#, status: ready for next review

#1618 Ends with
  content/java/concepts/strings/terms/endsWith/endsWith.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1495 Andrewperk resizable term entry
  content/swiftui/concepts/viewmodifier/terms/resizable/resizable.md
  media/swiftui-resizable-tile-50.png
  media/swiftui-resizable-tile.png
  media/swiftui-resizable.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1647 [Term Entry] Java Strings: .replaceAll method
  content/java/concepts/strings/terms/replaceAll/replaceAll.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1642 Add a subSequence md file.
  content/java/concepts/strings/terms/subSequence/subSequence.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1666 update typo error
  content/cpp/concepts/arrays/arrays.md
Labels: c++, typo, status: review 1️⃣ completed

#1649 Add MathExp-kpetrov2
  content/c-sharp/concepts/math-functions/terms/exp/exp.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#, status: under review

#1421 Added classes.md in the kotlin folder
  content/kotlin/concepts/classes/classes.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, kotlin

#1621 [Term Entry] SwiftUI View Modifier: .overlay()
  content/swiftui/concepts/viewmodifier/terms/overlay/overlay.md
  media/swiftui-viewmodifier-overlay.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui, status: sme review :one: completed

#1513 Swiftui viewmodifier fontweight
  content/swiftui/concepts/viewmodifier/terms/fontWeight/fontWeight.md
  media/swiftui-fontWeight-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#1519 [Term Entry] SwiftUI ViewModifier `.strikethrough()`
  content/swiftui/concepts/viewmodifier/terms/strikethrough/strikethrough.md
  media/swiftui-viewmodifier-strikethrough.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1673 PowerShell: Initial file push
  content/powershell/concepts/arrays/arrays.md
  content/powershell/concepts/conditionals/conditionals.md
  content/powershell/concepts/functions/functions.md
  content/powershell/concepts/loops/loops.md
  content/powershell/concepts/objects/objects.md
  content/powershell/concepts/operators/operators.md
  content/powershell/concepts/variables/variables.md
  content/powershell/powershell.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, powershell

#1646 Math floor
  content/c-sharp/concepts/math-functions/terms/floor/floor.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1637 First commit of startsWith.md
  content/java/concepts/strings/terms/startsWith/startsWith.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1580 Tolowercase
  content/java/concepts/strings/terms/toLowerCase/toLowerCase.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1657 [General Reorganization] Data Types
  content/c/concepts/data-types/data-types.md
  content/c/concepts/functions/functions.md
  content/general/concepts/big-o-notation/big-o-notation.md
  content/general/concepts/data-types/data-types.md
  content/general/concepts/data-types/terms/array/array.md
  content/general/concepts/data-types/terms/boolean/boolean.md
  content/general/concepts/data-types/terms/number/number.md
  content/general/concepts/data-types/terms/string/string.md
  content/general/concepts/data-types/terms/void/void.md
  content/general/concepts/hash-table/hash-table.md
  content/general/concepts/json/json.md
  content/java/concepts/javabeans/javabeans.md
  content/java/concepts/strings/terms/equalsIgnoreCase/equalsIgnoreCase.md
  content/javascript/concepts/operators/operators.md
  content/kotlin/concepts/data-types/data-types.md
  content/python/concepts/modules/modules.md
  content/swift/concepts/arrays/terms/first/first.md
  documentation/content-standards.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1435 Go: Memory Model entry file
  content/go/concepts/memory/memory.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, go

#1681 Math exp kpetrov2 patch 1
  content/c-sharp/concepts/math-functions/terms/exp/exp.md
  media/e-formula.jpg
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1720 [Edit] General Data Types: String #1714
  content/general/concepts/data-types/terms/string/string.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1565 [Term Entry] Java Strings: .substring()
  content/java/concepts/strings/terms/substring/substring.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, status: under review

#1340 Add useContext hook in React docs
  content/react/concepts/context/context.md
  content/react/concepts/context/terms/createContext/createContext.md
  content/react/concepts/hooks/terms/useContext/useContext.md
Labels: react, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1632 [Concept Entry] Cybersecurity: Cryptography.
  content/cybersecurity/concepts/cryptography/cryptography.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1678 added composition on line 61
  documentation/tags.md
Labels: documentation, enhancement, status: review 1️⃣ completed

#1703 Ceiling
  content/c-sharp/concepts/math-functions/terms/ceiling/ceiling.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#1692 Keyboardtype modifier
  content/swiftui/concepts/viewmodifier/terms/keyboardType/keyboardType.md
  media/swiftui-viewmodifier-keyboardtype.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1726 adjust description
  content/general/concepts/data-types/terms/array/array.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1653 [Concept] General: SDLC
  content/general/concepts/software-development-life-cycle/software-development-life-cycle.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1723 Edit: Changed description to one suggested in issue
  content/general/concepts/data-types/terms/boolean/boolean.md
Labels: enhancement, general, status: review 1️⃣ completed

#1543 Docs Style Guide
  documentation/content-standards.md
  documentation/style-guide.md
Labels: documentation, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: ready for next review

#1685 Term entry swiftui tracking
  content/swiftui/concepts/viewmodifier/terms/tracking/tracking.md
  media/swiftui-viewmodifier-tracking.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1679 Fix error in the Array documentation of Swift language
  content/swift/concepts/arrays/arrays.md
Labels: typo, swift, status: review 1️⃣ completed, status: under review

#1674 [Term Entry] C# Math Functions `.Pow()`
  content/c-sharp/concepts/math-functions/terms/pow/pow.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1366 Functor branch
  content/cpp/concepts/functors/functors.md
  documentation/tags.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1539 Style attribute HTML
  content/html/concepts/attributes/terms/style/style.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1617 foregroundColor() Brent
  content/swiftui/concepts/viewmodifier/terms/foregroundColor/foregroundColor.md
  media/SwiftUI-foregroundColor-display.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1721 [General Reorganization] Computer Hardware
  content/general/concepts/computer-hardware/computer-hardware.md
  content/general/concepts/computer-hardware/terms/cpu/cpu.md
  content/general/concepts/computer-hardware/terms/processor/processor.md
  content/general/concepts/computer-hardware/terms/ram/ram.md
  content/general/concepts/programming-optimization/programming-optimization.md
  content/open-source/concepts/linux-kernel/linux-kernel.md
  content/python/concepts/files/files.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author

#1352 [New Entry] C++: Overloading (Operators & Functions)
  content/cpp/concepts/overloading/overloading.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, keyword

#1624 Create toCharArray method
  content/java/concepts/strings/terms/toCharArray/toCharArray.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1665 Update slice.md
  content/javascript/concepts/arrays/terms/slice/slice.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: waiting for author

#1739 foregroundColor() Brent
  content/swiftui/concepts/viewmodifier/terms/foregroundColor/foregroundColor.md
Labels: enhancement, typo, swiftui, status: under review

#1718 Changed the description of the entry to the one suggested in the issue
  content/general/concepts/data-types/terms/number/number.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed
