Repository Codecademy/docs, pull requests merged in 2023-06, with the labels that each got.

#2308 Fix Typo in getFullYear
  content/javascript/concepts/dates/terms/getFullYear/getFullYear.md
Labels: javascript, typo, status: review 1️⃣ completed

#2313 add-c#-codebytes
  content/c-sharp/concepts/strings/terms/equals/equals.md
  content/c-sharp/concepts/strings/terms/replace/replace.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2305 Term Entry for Python: NumPy function .amin(), closes issue #2094
  content/numpy/concepts/built-in-functions/terms/amin/amin.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2307 add-js-codebytes
  content/javascript/concepts/dates/terms/now/now.md
  content/javascript/concepts/dates/terms/toLocaleDateString/toLocaleDateString.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2299 Added square root markdown for sql
  content/sql/concepts/math-functions/terms/sqrt/sqrt.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2004 Add SwiftUI View Modifier: .animation()
  content/swiftui/concepts/viewmodifier/terms/animation/animation.md
  media/swiftui-viewmodifier-animation.gif
Labels: new entry, status: review 1️⃣ completed, swiftui, status: under review

#2231 adding prompt term
  content/javascript/concepts/window/terms/prompt/prompt.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2083 PHP-Math-Functions-max()-#2063
  content/php/concepts/math-functions/terms/max/max.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2122 [Term Entry] PHP Math Functions pow()
  content/php/concepts/math-functions/terms/pow/pow.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2183 [Term entry] Python Built-in-Function: .Repr()
  content/python/concepts/built-in-functions/terms/repr/repr.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2182 Eng omar ahmed ios gesturesdoc
  content/swiftui/concepts/gestures/gestures.md
  media/swiftui-longgesture-example.gif
  media/swiftui-magnficationgesture-example-with-animation.gif
  media/swiftui-magnificationgesture-example.gif
  media/swiftui-tapgesture-example.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2254 [Edit] Go: Slices
  content/go/concepts/slices/slices.md
Labels: enhancement, status: review 1️⃣ completed, go, status: ready for next review

#2163 Reorganize Cybersecurity Malware
  content/cybersecurity/concepts/malware/malware.md
  content/cybersecurity/concepts/malware/terms/ransomware/ransomware.md
  content/cybersecurity/concepts/malware/terms/virus/virus.md
Labels: enhancement, status: review 1️⃣ completed, cybersecurity, status: ready for next review

#2323 add entry LOG() for SQL
  content/sql/concepts/math-functions/terms/log/log.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2283 Entry on the BEAM Search algorithm
  content/ai/concepts/search-algorithms/terms/beam-search/beam-search.md
  documentation/tags.md
  media/BEAM-Search Tree-1.png
  media/BEAM-Search Tree-2.png
  media/BEAM-Search Tree-3.png
  media/BEAM-Search Tree-4.png
  media/BEAM-Search Tree-5.png
  media/BEAM-Search Tree-6.png
  media/BEAM-Search-example-graph.png
  media/BEAM-search-final-path.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, ai

#1999 Add new entry about prototype model in SDLC
  content/general/concepts/software-development-life-cycle/terms/prototype/prototype.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2312 move-iter-function
  content/python/concepts/built-in-functions/terms/iter/iter.md
  content/python/concepts/iterators/terms/iter/iter.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1956 content/java/concepts/strings/terms/getChars/getChars.md
  content/java/concepts/strings/terms/getChars/getChars.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2247 added asin.md
  content/php/concepts/math-functions/terms/asin/asin.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2077 [Concept Entry] HTML Quotations #2065
  content/html/concepts/quotations/quotations.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2255 Update UIKit concept entry in uikit.md
  content/swiftui/concepts/uikit/uikit.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2121 Add entry on PHP String Functions echo()
  content/php/concepts/string-functions/terms/echo/echo.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2346 Closes Issue #2224 2.0
  content/javascript/concepts/arrays/terms/length/length.md
  content/javascript/concepts/arrays/terms/map/map.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2241 Conditionals.md
  content/general/concepts/conditionals/conditionals.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2251 Add files via upload
  content/ai/concepts/search-algorithms/terms/hill-climbing/hill-climbing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, ai

#2416 Get utc full year issue
  content/javascript/concepts/dates/terms/getUTCFullYear/getUTCFullYear.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2284 Move comments to a new line for PowerShell concepts
  content/powershell/concepts/arrays/arrays.md
  content/powershell/concepts/conditionals/conditionals.md
  content/powershell/concepts/objects/objects.md
  content/powershell/concepts/operators/operators.md
  content/powershell/concepts/variables/variables.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, command line, powershell

#2423 [Edit] General SDLC terms
  content/general/concepts/software-development-life-cycle/terms/prototype-model/prototype-model.md
  content/general/concepts/software-development-life-cycle/terms/waterfall-model/waterfall-model.md
Labels: enhancement, general, status: review 1️⃣ completed, status: ready for next review

#2408 [Concept Entry] Go Math Functions.
  content/go/concepts/math-functions/math-functions.md
  content/go/concepts/math-functions/terms/abs/abs.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go, status: ready for next review

#2409 New entry for JavaScript dates getTime method
  content/javascript/concepts/dates/terms/getTime/getTime.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2318 Str repeat Edit
  content/php/concepts/string-functions/terms/str-repeat/str-repeat.md
Labels: enhancement, php, status: review 1️⃣ completed, status: under review

#2292 added codebyte to unshift and valueOf method for arrays in javascript
  content/javascript/concepts/arrays/terms/unshift/unshift.md
  content/javascript/concepts/arrays/terms/valueOf/valueOf.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2422 added new entry for javascript getUTCDate method
  content/javascript/concepts/dates/terms/getUTCDate/getUTCDate.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2420 Update Go Strings to list String Functions.
  content/go/concepts/strings/strings.md
  content/go/concepts/strings/terms/count/count.md
Labels: enhancement, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2232 [Concept Entry] Go: Structs
  content/go/concepts/structs/structs.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, go

#2285 Add control-flow.md
  content/general/concepts/control-flow/control-flow.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2467 [Term Entry] Python Built-in Function: Setattr()
  content/python/concepts/built-in-functions/terms/setattr/setattr.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2330 [Term Entry] Src attribute
  content/html/concepts/attributes/terms/src/src.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2320 Created content for JavaScript setInterval
  content/javascript/concepts/window/terms/setInterval/setInterval.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2468 [Term Entry] Create track.md
  content/html/concepts/elements/terms/track/track.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2478 Update HTML Elements Track
  content/html/concepts/elements/elements.md
  content/html/concepts/elements/terms/track/track.md
Labels: html, typo, status: under review

#2456 [Term Entry] JavaScript Dates .getUTCDay() #2338
  content/javascript/concepts/dates/terms/getUTCDay/getUTCDay.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2479 Utc minutes
  content/javascript/concepts/dates/terms/getUTCMinutes/getUTCMinutes.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2473 Add new term entry for javascript set date method
  content/javascript/concepts/dates/terms/setDate/setDate.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2476 sql-function-cos
  content/sql/concepts/math-functions/terms/cos/cos.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#2462 Closes [Term Entry] JavaScript Dates .setMinutes() #2432
  content/javascript/concepts/dates/terms/setMinutes/setMinutes.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2477 [Term Entry] JavaScript Dates .getUTCMonth() #2426
  content/javascript/concepts/dates/terms/getUTCMonth/getUTCMonth.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2302 [Concept Entry] AI Simulated Annealing #2019
  content/ai/concepts/search-algorithms/terms/simulated-annealing/simulated-annealing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#2289 Add files via upload
  content/php/concepts/math-functions/terms/acos/acos.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2419 Term entry] sql math functions atan
  content/sql/concepts/math-functions/terms/atan/atan.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2344 [Concept Entry] AI Convolutional Neural Networks (CNN)
  content/ai/concepts/neural-networks/terms/convolutional-neural-networks/convolutional-neural-networks.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2492 Javascript get utc hours method
  content/javascript/concepts/dates/terms/getUTCHours/getUTCHours.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2332 Documentation about log() function for php
  content/php/concepts/math-functions/terms/log/log.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2494 added an entry for getUTCSeconds term
  content/javascript/concepts/dates/terms/getUTCSeconds/getUTCSeconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2311 Create confirm.md
  content/javascript/concepts/window/terms/confirm/confirm.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: ready for next review

#2244 added cosine function
  content/php/concepts/math-functions/terms/cos/cos.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2321 Create sin.md
  content/sql/concepts/math-functions/terms/sin/sin.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2481 Get utc milliseconds
  content/javascript/concepts/dates/terms/getUTCMilliseconds/getUTCMilliseconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2463 Created a new entry for numpy.aMax
  content/numpy/concepts/built-in-functions/terms/amax/amax.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#2458 Window clear timeout
  content/javascript/concepts/window/terms/clearTimeout/clearTimeout.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: ready for next review

#2496 [Edit] Go struct file
  content/go/concepts/structs/structs.md
Labels: enhancement, typo, status: review 1️⃣ completed, go, status: ready for next review

#2515 Create sinh.md
  content/php/concepts/math-functions/terms/sinh/sinh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2080 [Term Entry] Java Exceptions TypeNotPresentException
  content/java/concepts/errors/terms/typenotpresentexception/typenotpresentexception.md
Labels: invalid, java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2293 [Term Entry] AI Activation Function
  content/ai/concepts/neural-networks/terms/activation-function/activation-function.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, ai

#2412 Create sum.md
  content/python/concepts/built-in-functions/terms/sum/sum.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2497 [Term Entry]Add entry for the Sin() function in Go language
  content/go/concepts/math-functions/terms/sin/sin.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2517 added setTime.md
  content/javascript/concepts/dates/terms/setTime/setTime.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2523 Complete term entry for ACOS SQL function
  content/sql/concepts/math-functions/terms/acos/acos.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2526 [Concept Entry]: Added bindec in the terms folder of math-function
  content/php/concepts/math-functions/terms/bindec/bindec.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2495 [Edit] JavaScript Add Codebytes Issue: #2405
  content/javascript/concepts/map/terms/delete/delete.md
  content/javascript/concepts/map/terms/get/get.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2297 php-function-tanh
  content/php/concepts/math-functions/terms/tanh/tanh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2291 php-function-cosh
  content/php/concepts/math-functions/terms/cosh/cosh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2480 Adding revert.md file
  content/git/concepts/revert/revert.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2524 added setSeconds
  content/javascript/concepts/dates/terms/setSeconds/setSeconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2520 [Concept Entry] Added date.md in Java folder
  content/java/concepts/date/date.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2418 Edit entries php examples1
  content/php/concepts/string-functions/terms/hex2bin/hex2bin.md
  content/php/concepts/string-functions/terms/ltrim/ltrim.md
  content/php/concepts/string-functions/terms/str-repeat/str-repeat.md
Labels: enhancement, php, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2485 php-function-strtolower
  content/php/concepts/string-functions/terms/strtolower/strtolower.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2528 New branch for dir built-in function
  content/python/concepts/built-in-functions/terms/dir/dir.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2450 Create vars.md
  content/python/concepts/built-in-functions/terms/vars/vars.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2486 [Term Entry] Python Built-in Function: .id()
  content/python/concepts/built-in-functions/terms/id/id.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review, status: ready for next review

#2174 Add entry for SwiftUI Spacer
  content/swiftui/concepts/views/terms/spacer/spacer.md
  media/swiftui-spacer-left-and-right.png
  media/swiftui-spacer-left.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2493 [Term Entry] PHP Math Functions exp() #2269
  content/php/concepts/math-functions/terms/exp/exp.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2453 offsetbycodepoints function added #1590
  content/java/concepts/strings/terms/offsetByCodePoints/offsetByCodePoints.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2455 [Concept Entry] Created Terms folder and added Euclidean algorithm
  content/general/concepts/algorithm/terms/euclidean-algorithm/euclidean-algorithm.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2540 Update type-annotations.md
  content/typescript/concepts/type-annotations/type-annotations.md
Labels: typescript, typo, status: review 1️⃣ completed

#2573 Update data-types.md
  content/c/concepts/data-types/data-types.md
Labels: typo, c, status: review 1️⃣ completed

#2116 General scope 2066
  content/general/concepts/scope/scope.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: sme review :one: completed

#2475 [feat] Create emojis.md
  content/markdown/concepts/emojis/emojis.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, markdown

#2587 fix: revise title
  content/markdown/concepts/emojis/emojis.md
Labels: typo, status: review 1️⃣ completed, markdown

#2490 [Term Entry] Swift Arrays .allSatisfy()
  content/swift/concepts/arrays/terms/allSatisfy/allSatisfy.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2532 Codebyte examples for Map in Javascript
  content/javascript/concepts/map/terms/has/has.md
  content/javascript/concepts/map/terms/size/size.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2188 add content for CSS display property
  content/css/concepts/display/display.md
  media/css-display-flex-versus-grid.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2328 [Concept entry] Kotlin Objects.md
  content/kotlin/concepts/objects/objects.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: waiting for author, kotlin

#2287 [Term Entry] Php Math Function: log10()
  content/php/concepts/math-functions/terms/log10/log10.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2595 Swift array term entry filter
  content/swift/concepts/arrays/terms/filter/filter.md
  documentation/tags.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#2415 Swift func
  content/swift/concepts/functions/functions.md
  media/swift-functions-diagram.png
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2535 [Term Entry] Go Math Functions: .Tan()
  content/go/concepts/math-functions/terms/tan/tan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2602 [Term Entry] Go Math Function Max()
  content/go/concepts/math-functions/terms/max/max.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2572 Add str starts with
  content/php/concepts/string-functions/terms/str-starts-with/str-starts-with.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2601 Codebyte examples for Javascript Promise.all and finally
  content/javascript/concepts/promise/terms/all/all.md
  content/javascript/concepts/promise/terms/finally/finally.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2580 Add js string codebytes
  content/javascript/concepts/strings/terms/charAt/charAt.md
  content/javascript/concepts/strings/terms/concat/concat.md
  content/javascript/concepts/strings/terms/indexOf/indexOf.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2582 ASIN() in sql
  content/sql/concepts/math-functions/terms/asin/asin.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2574 [Term Entry] JavaScript Dates .setUTCMinutes()
  content/javascript/concepts/dates/terms/setUTCMinutes/setUTCMinutes.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2584 Create [Concept Entry] SQL Subqueries
  content/sql/concepts/subqueries/subqueries.md
  documentation/tags.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2596 [Term Entry] PHP Math Functions rad2deg()
  content/php/concepts/math-functions/terms/rad2deg/rad2deg.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2537 Created Initial write up of globals.md
  content/python/concepts/built-in-functions/terms/globals/globals.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2516 [CLOSES] 2429 [Term Entry] JavaScript Dates .setFullYear()
  content/javascript/concepts/dates/terms/setFullYear/setFullYear.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2499 [Concept Entry] Swift Subscripts
  content/swift/concepts/subscripts/subscripts.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2578 [Term Entry] PHP String Function: str_pad()
  content/php/concepts/string-functions/terms/str-pad/str-pad.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2611 [Term entry] Go-math-function-min
  content/go/concepts/math-functions/terms/min/min.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2612 [Term Entry] Go Math Functions Pow()
  content/go/concepts/math-functions/terms/pow/pow.md
Labels: new entry, status: review 1️⃣ completed, go, status: ready for next review
