Repository Codecademy/docs, pull requests merged in 2023-10, with the labels that each got.

#2711 A brief and hopefully concise description of Proof by Induction
  content/discrete-math/concepts/proofs/terms/proof-by-induction/proof-by-induction.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, discrete math

#3263 Html Images Media
  content/html/concepts/images/images.md
  media/html-image-example.png
  media/html-image-figcaption-example.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3328 HTML - Quotations - Fix typo on "blockquote" link
  content/html/concepts/quotations/quotations.md
Labels: html, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3322 [Term Entry] Python String Function: isspace()
  content/python/concepts/strings/terms/isspace/isspace.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3239 tables doc
  content/luau/concepts/tables/tables.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, luau

#3252 Write an entry for move()
  content/lua/concepts/tables/terms/move/move.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3319 [Term Entry] Go Math Functions Dim()
  content/go/concepts/math-functions/terms/dim/dim.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3299 Go term copysign
  content/go/concepts/math-functions/terms/copysign/copysign.md
Labels: new entry, status: review 1️⃣ completed, go, status: ready for next review

#3420 Images display issue resolved
  content/html/concepts/images/images.md
Labels: html, typo, hacktoberfest, status: review 1️⃣ completed, status: ready for next review

#3198 [Term Entry] Swift Protocols Decodable #2958
  content/swift/concepts/protocols/terms/decodable/decodable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3428 [EDIT] Add gifs to demonstrate CSS animations
  content/css/concepts/animations/terms/animation/animation.md
  media/css-animation-example-1.gif
  media/css-animation-example-2.gif
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3414 mk--term-edit-3411
  content/css/concepts/animations/terms/animation-name/animation-name.md
  media/css-animation-name-disappear.gif
  media/css-animation-name-fade-slide.gif
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3415 Mk term edit animation iteration 3410
  content/css/concepts/animations/terms/animation-iteration-count/animation-iteration-count.md
  media/css-animation-iteration-count-fade-slide.gif
  media/css-animation-iteration-count-fade.gif
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3354 [New Topic] Rust
  content/rust/rust.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, rust

#3053 C++ abstraction is added
  content/cpp/concepts/abstraction/abstraction.md
  documentation/tags.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3436 Hacktoberfest entry
  content/general/concepts/hacktoberfest/hacktoberfest.md
Labels: general, new entry, status: review 1️⃣ completed, status: ready for next review

#3431 [Edit] Luau: Tables
  content/luau/concepts/tables/tables.md
Labels: enhancement, status: review 1️⃣ completed, status: ready for next review, luau

#3317 Complete isfrozen function term entry
  content/luau/concepts/tables/terms/isfrozen/isfrozen.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#3422 [Term Entry]: add new doc entry for the python .translate() method.
  content/python/concepts/strings/terms/translate/translate.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3347 [Editted] SQL Commands:ORDER BY
  content/sql/concepts/commands/terms/order-by/order-by.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed

#3318 Added foreach function
  content/luau/concepts/tables/terms/foreach/foreach.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#3421 Update functions.md
  content/cpp/concepts/functions/functions.md
Labels: enhancement, c++, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3443 Create cross-join.md
  content/sql/concepts/commands/terms/cross-join/cross-join.md
Labels: sql, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3441 Update syntax for second parameter in split() method
  content/python/concepts/strings/terms/split/split.md
Labels: enhancement, python, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3419 Create atan2 entry for golang
  content/go/concepts/math-functions/terms/atan2/atan2.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, go, hacktoberfest-accepted

#3418 [Concept Entry] Luau: iterators.md
  content/luau/concepts/iterators/iterators.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, luau

#3357 [Term Entry] Python String .rindex() function
  content/python/concepts/strings/terms/rindex/rindex.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3355 [Edit] Fix Codebyte example in Python .isdecimal()
  content/python/concepts/strings/terms/isdecimal/isdecimal.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3353 [Term Entry] rfind
  content/python/concepts/strings/terms/rfind/rfind.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2794 New term entry for cross site scripting
  content/cybersecurity/concepts/cyber-attack/terms/cross-site-scripting/cross-site-scripting.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, cybersecurity

#2941 [Concept Entry]: AI Stochastic Gradient Descent
  content/ai/concepts/search-algorithms/terms/stochastic-gradient-descent/stochastic-gradient-descent.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#3142 Create create.md
  content/luau/concepts/tables/terms/create/create.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3143 Term Entry Lua `clear()`
  content/luau/concepts/tables/terms/clear/clear.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3149 Adding a new PHP array
  content/php/concepts/arrays/terms/array-values/array-values.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3430 Solved issue 3392.
  content/lua/concepts/mathematical-library/terms/exp/exp.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, hacktoberfest-accepted, lua

#3432 Solved issue 3393 math floor
  content/lua/concepts/mathematical-library/terms/floor/floor.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3424 Add splitlines term entry for python
  content/python/concepts/strings/terms/splitlines/splitlines.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3425 Add rsplit() term entry in python
  content/python/concepts/strings/terms/rsplit/rsplit.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3446 Added Lua Coroutines .close() function
  content/lua/concepts/coroutines/terms/close/close.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3060 [Term Entry] Swift Protocols Hashable
  content/swift/concepts/protocols/terms/hashable/hashable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3429 Python strings .rstrip(), Closes #3363
  content/python/concepts/strings/terms/rstrip/rstrip.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3052 feat: add entry about IT
  content/general/concepts/information-technology/information-technology.md
  documentation/subjects.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3196 Proof edits
  content/discrete-math/concepts/proofs/proofs.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#3061 Animation
  content/swiftui/concepts/animation/animation.md
  media/swiftui-animation-explicit-1.gif
  media/swiftui-animation-explicit-2.gif
  media/swiftui-animation-implicit.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#3460 Add Lua and fix typos
  documentation/style-guide.md
Labels: documentation, enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3467 Added replaceAll() term in javascript/strings
  content/javascript/concepts/strings/terms/replaceAll/replaceAll.md
Labels: javascript, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3325 added istitle.md
  content/python/concepts/strings/terms/istitle/istitle.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3326 Added new term entry for Python string method isalpha
  content/python/concepts/strings/terms/isalpha/isalpha.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#2847 [New Term Entry] Adding date_trunc() to SQL date terms
  content/sql/concepts/dates/terms/date-trunc/date-trunc.md
Labels: sql, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#2945 Array-chunk.md has been added and is up for review
  content/php/concepts/arrays/terms/array-chunk/array-chunk.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3454 Branch 1
  content/html/concepts/file-paths/file-paths.md
Labels: enhancement, html, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3482 [New Concept]Kotlin: Math-methods
  content/kotlin/concepts/math-methods/math-methods.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3445 [Edit] Fix hyperlinks of resources
  content/uiux/concepts/button/button.md
Labels: typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#3358 [Edit] HTML Add Media: Entities
  content/html/concepts/entities/entities.md
  media/html-entity-tab.png
Labels: enhancement, html, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3189 [New Concept Entries] Visual Design, Typography, Design Pattern, Design System, Design Component, Style Guide + [Entry Updates] Information Architecture Content + Old Entry Attribution
  content/uiux/concepts/accessibility/accessibility.md
  content/uiux/concepts/attitudinal-research/attitudinal-research.md
  content/uiux/concepts/context-of-use/context-of-use.md
  content/uiux/concepts/convergent-thinking/convergent-thinking.md
  content/uiux/concepts/design-component/design-component.md
  content/uiux/concepts/design-methodologies/design-methodologies.md
  content/uiux/concepts/design-pattern/design-pattern.md
  content/uiux/concepts/design-system/design-system.md
  content/uiux/concepts/design-thinking/design-thinking.md
  content/uiux/concepts/design/design.md
  content/uiux/concepts/diary-study/diary-study.md
  content/uiux/concepts/divergent-thinking/divergent-thinking.md
  content/uiux/concepts/double-diamond-diagram/double-diamond-diagram.md
  content/uiux/concepts/ethnography-field-studies/ethnography-field-studies.md
  content/uiux/concepts/five-elements-of-ux-design/five-elements-of-ux-design.md
  content/uiux/concepts/focus-groups/focus-groups.md
  content/uiux/concepts/heuristic-evaluation/heuristic-evaluation.md
  content/uiux/concepts/inclusive-design/inclusive-design.md
  content/uiux/concepts/information-architecture/information-architecture.md
  content/uiux/concepts/interviews/interviews.md
  content/uiux/concepts/persona/persona.md
  content/uiux/concepts/product-development-life-cycle/product-development-life-cycle.md
  content/uiux/concepts/qualitative-research/qualitative-research.md
  content/uiux/concepts/quantitative-research/quantitative-research.md
  content/uiux/concepts/style-guide/style-guide.md
  content/uiux/concepts/surveys/surveys.md
  content/uiux/concepts/typography/typography.md
  content/uiux/concepts/ui-design/ui-design.md
  content/uiux/concepts/usability-heuristics/usability-heuristics.md
  content/uiux/concepts/user-and-end-user/user-and-end-user.md
  content/uiux/concepts/user-centered-design/user-centered-design.md
  content/uiux/concepts/user-research/user-research.md
  content/uiux/concepts/ux-design/ux-design.md
  content/uiux/concepts/ux-honeycomb/ux-honeycomb.md
  content/uiux/concepts/visual-design/visual-design.md
  content/uiux/concepts/web-analytics/web-analytics.md
  content/uiux/concepts/wicked-problems/wicked-problems.md
  media/design-pattern-date-picker.png
  media/design-pattern-progress-indicator.png
  media/design-system.png
  media/helvetica-family.png
  media/information-architecture.webp
  media/typography.png
  media/visual-design.png
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, ui and ux

#3481 Closes [Term Entry] PHP String Functions chr() #3220
  content/php/concepts/string-functions/terms/chr/chr.md
Labels: php, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3480 [Term Entry] Go Math Functions RoundToEven() #3223
  content/go/concepts/math-functions/terms/roundtoeven/roundtoeven.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, go, hacktoberfest-accepted

#3479 Term Entry: Python String Method .lstrip()
  content/python/concepts/strings/terms/lstrip/lstrip.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3254 [Term Entry] discrete-math/proofs/conditional-proof.md
  content/discrete-math/concepts/proofs/terms/conditional-proof/conditional-proof.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#3578 Typos swiftui topic
  content/swiftui/concepts/navigation/navigation.md
  content/swiftui/concepts/viewmodifier/terms/background/background.md
Labels: typo, status: review 1️⃣ completed, swiftui

#3577 Typos c sharp topic
  content/c-sharp/concepts/arrays/arrays.md
  content/c-sharp/concepts/arrays/terms/copyto/copyto.md
  content/c-sharp/concepts/strings/terms/equals/equals.md
  content/c-sharp/concepts/strings/terms/lastindexof/lastindexof.md
  content/c-sharp/concepts/switch/switch.md
Labels: typo, status: review 1️⃣ completed

#3569 Fix typos in ./content/javascript/concepts/this/this.md
  content/javascript/concepts/this/this.md
Labels: typo, status: review 1️⃣ completed

#3581 Typos cybersecurity topic
  content/cybersecurity/concepts/malware/terms/trojan/trojan.md
  content/cybersecurity/concepts/nmap/terms/ping-sweep/ping-sweep.md
  content/cybersecurity/concepts/risk/risk.md
Labels: typo, status: review 1️⃣ completed

#3435 Add Python strings strip function documentation
  content/python/concepts/strings/terms/strip/strip.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3589 fix typos
  content/python/concepts/built-in-functions/terms/format/format.md
  content/python/concepts/built-in-functions/terms/hex/hex.md
  content/python/concepts/built-in-functions/terms/print/print.md
Labels: typo

#3587 fix typos
  content/python/concepts/strings/terms/partition/partition.md
  content/python/concepts/strings/terms/replace/replace.md
  content/python/concepts/strings/terms/swapcase/swapcase.md
Labels: typo, status: review 1️⃣ completed

#3588 fix typos
  content/python/concepts/lists/terms/copy/copy.md
  content/python/concepts/lists/terms/index/index.md
  content/python/concepts/lists/terms/remove/remove.md
Labels: typo, status: review 1️⃣ completed

#3586 fix typos
  content/python/concepts/dictionaries/terms/values/values.md
  content/python/concepts/files/terms/write/write.md
  content/python/concepts/glob-module/terms/escape/escape.md
Labels: typo, status: review 1️⃣ completed

#3580 Typos cloud computing topic
  content/cloud-computing/concepts/iaas/iaas.md
  content/cloud-computing/concepts/paas/paas.md
  content/cloud-computing/concepts/root-user/root-user.md
Labels: typo

#3558 Create min.md
  content/lua/concepts/mathematical-library/terms/min/min.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3562 Add image to CSS Typography word-spacing
  content/css/concepts/typography/terms/word-spacing/word-spacing.md
  media/css-typography-word-spacing.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3571 Fix typos
  content/javascript/concepts/comments/comments.md
  content/javascript/concepts/map/terms/delete/delete.md
  content/javascript/concepts/regexp/regexp.md
Labels: typo, status: review 1️⃣ completed

#3583 [Edit] CSS Background: background
  content/css/concepts/background/terms/background/background.md
  media/css-background-example-1.png
  media/css-background-example-2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: waiting for author

#3560 Add Rust to Catalog
  documentation/catalog-content.md
  documentation/style-guide.md
Labels: documentation, status: review 1️⃣ completed

#3582 Added new term entry for Lua's tan() function
  content/lua/concepts/mathematical-library/terms/tan/tan.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, lua

#3554 added a new term entry on the .atan() method for Lua: Math
  content/lua/concepts/mathematical-library/terms/atan/atan.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3555 Kotlin floor() method implementation
  content/kotlin/concepts/math-methods/terms/floor/floor.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3478 Add acos
  content/lua/concepts/mathematical-library/terms/acos/acos.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3450 Add semantic html content
  content/html/concepts/semantic-html/semantic-html.md
  media/semantic-tags.png
  media/use-semantics-for-meaning.png
Labels: enhancement, html, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3593 [Term Entry] Lua Math ult.md
  content/lua/concepts/mathematical-library/terms/ult/ult.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3315 Docs issue #3173
  content/lua/concepts/tables/terms/remove/remove.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3564 Lua modf
  content/lua/concepts/mathematical-library/terms/modf/modf.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3449 [Term Entry] Lua Math .ceil()
  content/lua/concepts/mathematical-library/terms/ceil/ceil.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3576 [Term Entry] Lua math function .max()
  content/lua/concepts/mathematical-library/terms/max/max.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3579 Added new term entry for Lua's tointeger() function
  content/lua/concepts/mathematical-library/terms/tointeger/tointeger.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3591 Added: [Term Entry] Kotlin Math .atan2()
  content/kotlin/concepts/math-methods/terms/atan2/atan2.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3613 [Term Entry] Kotlin Math .acos()
  content/kotlin/concepts/math-methods/terms/acos/acos.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3611 [Concept Entry] Rust Conditionals
  content/rust/concepts/conditionals/conditionals.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, rust

#3604 [Term Entry] Kotlin `hypot()` method
  content/kotlin/concepts/math-methods/terms/hypot/hypot.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3607 Created term-entry for randomseed in lua
  content/lua/concepts/mathematical-library/terms/randomseed/randomseed.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3599 [Term Entry] Lua Math .sin()
  content/lua/concepts/mathematical-library/terms/sin/sin.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3652 [Edit] Java: Strings method revision
  content/java/concepts/strings/terms/replaceAll/replaceAll.md
Labels: enhancement, java, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3612 Addresses #3533 | added image example for background-clip
  content/css/concepts/background/terms/background-clip/background-clip.md
  media/rendered-background-clip.png
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3557 [Term Entry] Lua Coroutines .running()
  content/lua/concepts/coroutines/terms/running/running.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3538 [Term Entry] Add Lua Coroutines .wrap()
  content/lua/concepts/coroutines/terms/wrap/wrap.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3651 Add lua math random
  content/lua/concepts/mathematical-library/terms/random/random.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3605 [Term Entry] Kotlin `.ln()` method
  content/kotlin/concepts/math-methods/terms/ln/ln.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3606 [Term Entry] Kotlin `.log()` method
  content/kotlin/concepts/math-methods/terms/log/log.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3622 Kotlin asinh
  content/kotlin/concepts/math-methods/terms/asinh/asinh.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3655 [Term Entry] Lua Math .rad()
  content/lua/concepts/mathematical-library/terms/rad/rad.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3654 [Term Entry] Lua Math type.md
  content/lua/concepts/mathematical-library/terms/type/type.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3623 [Term Entry] Python Strings `.maketrans()` method
  content/python/concepts/strings/terms/maketrans/maketrans.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3618 Docs: Added Kotlin Math cbrt function
  content/kotlin/concepts/math-methods/terms/cbrt/cbrt.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3561 [EDIT] Added images to demonstrate background-blend-mode
  content/css/concepts/background/terms/background-blend-mode/background-blend-mode.md
  media/background-blend-mode-example1.png
  media/background-blend-mode-example2.png
  media/background-blend-mode-example3.png
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3541 [Term Entry] Add Lua Coroutines .yield()
  content/lua/concepts/coroutines/terms/yield/yield.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3657 Edit html src media
  content/html/concepts/attributes/terms/src/src.md
  media/html-attribute-src-img.png
  media/html-src-attribute-video.gif
Labels: enhancement, html, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3610 docs: Add Kotlin math term atan
  content/kotlin/concepts/math-methods/terms/atan/atan.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3323 [Term Entry] Python String Function: format_map()
  content/python/concepts/strings/terms/format-map/format-map.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3324 [Concept Entry] Luau: conditionals
  content/luau/concepts/conditionals/conditionals.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, luau

#3427 Add rpartition() term entry in python
  content/python/concepts/strings/terms/rpartition/rpartition.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3668 [Term Entry] Kotlin Math: max function
  content/kotlin/concepts/math-methods/terms/max/max.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3469 [Concept Entry] Rust Variables
  content/rust/concepts/variables/variables.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, rust

#3667 Edit syntax and examples for border-right.md.
  content/css/concepts/borders/terms/border-right/border-right.md
  media/css-border-right-example-1.PNG
  media/css-border-right-example-2.PNG
  media/css-border-right-example-3.PNG
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3311 [Term Entry] Lua Tables getn()
  content/luau/concepts/tables/terms/getn/getn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, luau

#3472 feat: add entry about cherry-pick
  content/git/concepts/cherry-pick/cherry-pick.md
Labels: git, new entry, status: review 1️⃣ completed, status: sme review :one: completed, status: under review

#3476 [Edit] Add notes about overloading for C++ Classes
  content/cpp/concepts/classes/classes.md
Labels: enhancement, c++, hacktoberfest, status: review 1️⃣ completed, status: under review

#3356 [Edit]Lua: Math
  content/lua/concepts/mathematical-library/mathematical-library.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3412 removed link to third-party website
  content/uiux/concepts/double-diamond-diagram/double-diamond-diagram.md
Labels: typo, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux, hacktoberfest-accepted

#3433 [EDIT] Go: Composition - Inheritance examples
  content/go/concepts/composition/composition.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, go, hacktoberfest-accepted

#3475 create-rust-functions
  content/rust/concepts/functions/functions.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, rust

#3444 Documents atanh() function for Go Language
  content/go/concepts/math-functions/terms/atanh/atanh.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, go, hacktoberfest-accepted

#3689 [Edit] CSS [Edit] CSS Borders: border-width
  content/css/concepts/borders/terms/border-width/border-width.md
  media/css-borders-border-width-example1.png
  media/css-borders-border-width-example2.png
  media/css-borders-border-width-example3.png
  media/css-borders-border-width-example4.png
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3343 #3003 add new concept entry about Javascript mutators
  content/javascript/concepts/mutators/mutators.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3691 [EDIT] Added images to demonstrate border-bottom
  content/css/concepts/borders/terms/border-bottom/border-bottom.md
  media/border-bottom-example1.png
  media/border-bottom-example2.png
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3677 [Term Entry] Kotlin Math .sinh()
  content/kotlin/concepts/math-methods/terms/sinh/sinh.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, status: ready for next review, kotlin

#3676 [Term Entry] Kotlin Math .sqrt()
  content/kotlin/concepts/math-methods/terms/sqrt/sqrt.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3675 Create encode.md for Python Strings .encode()
  content/python/concepts/strings/terms/encode/encode.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3674 [Edit] Add Java Math Constants
  content/java/concepts/math-methods/math-methods.md
Labels: enhancement, java, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3673 [Edit] CSS [Edit] CSS Borders: border-top
  content/css/concepts/borders/terms/border-top/border-top.md
  media/border-top-example-1.PNG
  media/border-top-example-2.PNG
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3671 [Term Entry] Lua Math .abs()
  content/lua/concepts/mathematical-library/terms/abs/abs.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3717 [Term Entry] Kotlin Math.cosh()
  content/kotlin/concepts/math-methods/terms/cosh/cosh.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3712 [Term Entry] Lua math constant mininteger
  content/lua/concepts/mathematical-library/terms/mininteger/mininteger.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, lua

#3714 [Edit] CSS [Edit] CSS Background: background-attachment
  content/css/concepts/background/terms/background-attachment/background-attachment.md
  media/css-background-attachment-example-1.gif
  media/css-background-attachment-example-2.gif
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3719 Fixed typo in url of 3rd image (background-blend-mode)
  content/css/concepts/background/terms/background-blend-mode/background-blend-mode.md
Labels: css, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3713 Update arrays.md
  content/java/concepts/arrays/arrays.md
Labels: java, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3706 Concept entry rust enums
  content/rust/concepts/enums/enums.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, rust

#3710 Edited the syntax and examples for border-left.md
  content/css/concepts/borders/terms/border-left/border-left.md
  media/css-border-left-example1.png
  media/css-border-left-example2.png
  media/css-border-left-example3.png
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3552 Add content for git mv command.
  content/git/concepts/mv/mv.md
Labels: git, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3750 add kotlin math max function to documentation
  content/kotlin/concepts/math-methods/terms/max/max.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3699 [Edit]Kotlin: Strings
  content/kotlin/concepts/strings/strings.md
Labels: enhancement, status: review 1️⃣ completed, status: ready for next review, kotlin

#3413 [Edit] Swift: CodingKeyRepresentable
  content/swift/concepts/protocols/terms/codingkeyrepresentable/codingkeyrepresentable.md
Labels: typo, swift, status: review 1️⃣ completed, status: under review

#3477 [Edit] Update HTML style
  content/html/concepts/attributes/terms/style/style.md
Labels: enhancement, html, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3696 Term entry atanh.md
  content/kotlin/concepts/math-methods/terms/atanh/atanh.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3749 Added the new term entry binascii module in python . Resolves #3684
  content/python/concepts/binascii-module/binascii-module.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3448 Issue 3409 animation fill mode add media
  content/css/concepts/animations/terms/animation-fill-mode/animation-fill-mode.md
  media/css-animation-fill-mode-backwards.gif
  media/css-animation-fill-mode-forwards.gif
Labels: enhancement, css, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3585 feat(git): add new entry(rebase) in git subdirectory
  content/git/concepts/rebase/rebase.md
Labels: git, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#3262 My entry about the CodingKey protocol
  content/swift/concepts/protocols/terms/codingkey/codingkey.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3327 Add new term entry for the Python string method .center()
  content/python/concepts/strings/terms/center/center.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3341 [Term Entry] Python Strings: .rjust()
  content/python/concepts/strings/terms/rjust/rjust.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3459 [Term Entry] Lua Math .fmod()
  content/lua/concepts/mathematical-library/terms/fmod/fmod.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, lua
