Repository Codecademy/docs, pull requests merged in 2023-09, with the labels that each got.

#3122 Adding a new entry for array_replace method in php
  content/php/concepts/arrays/terms/array-replace/array-replace.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2606 New entry for docs repository "setUTCFullYear"
  content/javascript/concepts/dates/terms/setUTCFullYear/setUTCFullYear.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3074 Create Go - Concepts - Strings - Terms - HasSuffix
  content/go/concepts/strings/terms/hassuffix/hassuffix.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3021 [Edit] Ruby:Comments
  content/ruby/concepts/comments/comments.md
Labels: enhancement, ruby, status: review 1️⃣ completed, status: review 2️⃣ completed

#3129 [Term Entry] Lua Tables `freeze()`
  content/lua/concepts/tables/terms/freeze/freeze.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, lua

#2920 Arrays PR Request
  content/lua/concepts/arrays/arrays.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#3130 Acos.md for Golang
  content/go/concepts/math-functions/terms/acos/acos.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3085 [Edit]Add Codebytes Content/c sharp/concepts/math functions/terms/sqrt/sqrt.md
  content/c-sharp/concepts/math-functions/terms/tanh/tanh.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#3125 New Entry: Added comment on hashable protocol conformation to ../swift/structures
  content/swift/concepts/structures/structures.md
Labels: enhancement, swift, status: review 1️⃣ completed

#3073 [Term Entry] Go Strings `Compare()`
  content/go/concepts/strings/terms/compare/compare.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3132 add design tag and add to wireframes.md
  content/uiux/concepts/wireframe/wireframe.md
  documentation/tags.md
Labels: enhancement, status: review 1️⃣ completed, ui and ux, status: ready for next review

#3127 [Term Entry] Go Strings `ToLower()`
  content/go/concepts/strings/terms/tolower/tolower.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, go

#3145 Fix Typo in ruby.md
  content/html/concepts/semantic-html/terms/ruby/ruby.md
Labels: html, typo, status: review 1️⃣ completed

#3133 Swift Structures: Fixed the braces so that link shows correctly in ../swift/structures/structures.md file.
  content/swift/concepts/structures/structures.md
Labels: typo, swift, status: review 1️⃣ completed, status: review 2️⃣ completed

#3140 Fix typos
  content/general/concepts/iot/iot.md
  content/javascript/concepts/dates/dates.md
  content/numpy/concepts/built-in-functions/terms/amax/amax.md
  content/php/concepts/arrays/terms/array-push/array-push.md
  content/python/concepts/regex/terms/match/match.md
  content/python/concepts/regex/terms/metacharacters/metacharacters.md
  content/python/concepts/regex/terms/search/search.md
  content/python/concepts/regex/terms/sub/sub.md
  content/react/concepts/hooks/terms/useContext/useContext.md
  documentation/content-standards.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3150 Term entry go asin
  content/go/concepts/math-functions/terms/asin/asin.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3151 Term entry go asinh
  content/go/concepts/math-functions/terms/asinh/asinh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3134 [Term Entry] Java calendar getTime()
  content/java/concepts/calendar/terms/getTime/getTime.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3144 [Term Entry] Lua Strings upper()
  content/lua/concepts/strings/terms/upper/upper.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3154 Lua strings char()
  content/lua/concepts/strings/terms/char/char.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3141 [Term Entry] Java Calendar isSet()
  content/java/concepts/calendar/terms/isSet/isSet.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3161 Create array_search() doc #3047
  content/php/concepts/arrays/terms/array-search/array-search.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#3160 Lua strings sub()
  content/lua/concepts/strings/terms/sub/sub.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#2909 Created generics.md
  content/go/concepts/generics/generics.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3148 [Term Entry] Swift Protocols Encodable
  content/swift/concepts/protocols/terms/encodable/encodable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3156 Lua strings reverse
  content/lua/concepts/strings/terms/reverse/reverse.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3187 Create array-reverse() doc, closes #3162
  content/php/concepts/arrays/terms/array-reverse/array-reverse.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#3184 Array shift
  content/php/concepts/arrays/terms/array-shift/array-shift.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3183 Lua strings format()
  content/lua/concepts/strings/terms/format/format.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3158 [Edit] Swift:Comparable
  content/swift/concepts/protocols/terms/comparable/comparable.md
Labels: typo, swift, status: review 1️⃣ completed, status: ready for next review

#3020 [Term Entry] trojan malware
  content/cybersecurity/concepts/malware/terms/trojan/trojan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2953 [Topic Entry] Statistics
  content/general/concepts/statistics/statistics.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3090 [Concept Entry] C# Interfaces
  content/c-sharp/concepts/interfaces/interfaces.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#3195 [New Topic] Luau
  content/luau/luau.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, luau

#3193 [Term Entry] setMinimalDaysInFirstWeek()
  content/java/concepts/calendar/terms/setMinimalDaysInFirstWeek/setMinimalDaysInFirstWeek.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#3192 [Term Entry] Java Calendar internalGet() (#3102)
  content/java/concepts/calendar/terms/internalGet/internalGet.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3182 added Java Calendar isLenient() method
  content/java/concepts/calendar/terms/isLenient/isLenient.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#3147 docs browser: Add entry for string.byte function
  content/lua/concepts/strings/terms/byte/byte.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, lua

#3124 [Term Entry] PHP Math Functions round()
  content/php/concepts/math-functions/terms/round/round.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3035 Add Java's Calendar term computeFields
  content/java/concepts/calendar/terms/computeFields/computeFields.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2644 Prompt engineering
  content/ai/concepts/prompt-engineering/prompt-engineering.md
  documentation/subjects.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#3157 [Term Entry] Java Calendar getTimeZone() #3098
  content/java/concepts/calendar/terms/getTimeZone/getTimeZone.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3202 Get week year method
  content/java/concepts/calendar/terms/getWeekYear/getWeekYear.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3036 AI Linear Activation Function (Issue #2700)
  content/ai/concepts/neural-networks/terms/linear-activation-function/linear-activation-function.md
  media/linear-equ.png
  media/linear-equation-express.png
  media/linear-expression.png
  media/linear-graph.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#3213 [Edit] Lua Strings .char() typo
  content/lua/concepts/strings/terms/char/char.md
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3212 Creation of atan.md for Golang
  content/go/concepts/math-functions/terms/atan/atan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2592 Python format() built-in-function entry
  content/python/concepts/built-in-functions/terms/format/format.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3248 To bold or not to bold
  documentation/content-standards.md
  documentation/style-guide.md
Labels: documentation, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#3234 Issue3165 Term Entry: setLenient() method
  content/java/concepts/calendar/terms/setLenient/setLenient.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3190 [Entry Edits]: Link updates
  content/cloud-computing/concepts/cloud-services/cloud-services.md
  content/command-line/concepts/environment-variables/environment-variables.md
  content/php/concepts/math-functions/terms/max/max.md
  content/powershell/concepts/objects/objects.md
  content/python/concepts/built-in-functions/terms/len/len.md
  content/swiftui/concepts/gestures/gestures.md
  content/uiux/concepts/content-hierarchy/content-hierarchy.md
  content/uiux/concepts/ethnography-field-studies/ethnography-field-studies.md
  media/BEAM-Search-Tree-1.png
  media/BEAM-Search-Tree-2.png
  media/BEAM-Search-Tree-3.png
  media/BEAM-Search-Tree-4.png
  media/BEAM-Search-Tree-5.png
  media/BEAM-Search-Tree-6.png
  media/BEAM-Search-final-path.png
Labels: general, typo, status: review 1️⃣ completed, status: under review

#2784 Congruencies v1
  content/discrete-math/concepts/congruences/congruences.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, discrete math

#3251 added image to html forms
  content/html/concepts/forms/forms.md
  media/html-form-code-output.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3199 Edit html favicon media
  content/html/concepts/favicon/favicon.md
  media/favicon-codecademy.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3200 Go term cosh
  content/go/concepts/math-functions/terms/cosh/cosh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3186 [Edit] HTML Add Media (HTML Attribute)
  content/html/concepts/attributes/attributes.md
  media/Changing-height-attribute-of-html-element.gif
  media/button-disabled-attribute.gif
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3233 Added Java Calendar getWeeksInWeekYear() function
  content/java/concepts/calendar/terms/getWeeksInWeekYear/getWeeksInWeekYear.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3010 create equals method to the calendar class
  content/java/concepts/calendar/terms/equals/equals.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3249 Create remainder.md, closes #3324
  content/go/concepts/math-functions/terms/remainder/remainder.md
Labels: new entry, status: review 1️⃣ completed, go, status: ready for next review

#3191 Add Term - Lua sort()
  content/lua/concepts/tables/terms/sort/sort.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#3245 [Term Entry] Lua Table Function: unpack()
  content/lua/concepts/tables/terms/unpack/unpack.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, lua

#3240 Create number-format.md, closes #3219
  content/php/concepts/string-functions/terms/number-format/number-format.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#3235 added gitMinimum.md
  content/java/concepts/calendar/terms/getMinimum/getMinimum.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#3131 Adding new swift protocol for issue #2962
  content/swift/concepts/protocols/terms/codingkeyrepresentable/codingkeyrepresentable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3247 [Term Entry] Java Calendar add()
  content/java/concepts/calendar/terms/add/add.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2928 Add coroutines variables
  content/lua/concepts/coroutines/coroutines.md
  content/lua/concepts/variables/variables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#3093 Term entry swiftui accessibility
  content/swiftui/concepts/accessibility/accessibility.md
Labels: new entry, status: review 1️⃣ completed, swiftui, status: sme review :one: completed

#3242 Added lua .insert()
  content/lua/concepts/tables/terms/insert/insert.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#2934 Navigation
  content/swiftui/concepts/navigation/navigation.md
  media/swiftui-navigation-1.gif
  media/swiftui-navigation-2.gif
  media/swiftui-navigation-3.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#3058 HTML Greek symbol edition
  content/html/concepts/entities/terms/greek-symbols/greek-symbols.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3044 CSS-Fonts
  content/css/concepts/typography/terms/font-face/font-face.md
  content/css/concepts/typography/terms/font-family/font-family.md
  content/css/concepts/typography/terms/font-weight/font-weight.md
Labels: css, new entry, status: review 1️⃣ completed, status: sme review :one: completed

#3307 Added content for isascii for python
  content/python/concepts/strings/terms/isascii/isascii.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3092 Creation of enumeration reference for discrete math
  content/discrete-math/concepts/enumeration/enumeration.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#3091 Added Sinh() documentation
  content/go/concepts/math-functions/terms/sinh/sinh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3086 added tanh.md documentation
  content/go/concepts/math-functions/terms/tanh/tanh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3257 added png images of Einstein, Jobs
  content/html/concepts/quotations/quotations.md
  media/html-quotations-1.png
  media/html-quotations-2.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3258 [Term Entry] Edit: Py Assert
  content/python/concepts/keywords/terms/assert/assert.md
  documentation/tags.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3292 Add [Term Entry] Go Math Functions Trunc()
  content/go/concepts/math-functions/terms/trunc/trunc.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3301 [Edit] Python:Capitalize
  content/python/concepts/strings/terms/capitalize/capitalize.md
Labels: python, status: review 1️⃣ completed, status: review 2️⃣ completed

#3303 [Term Entry] Python String .isnumeric() function
  content/python/concepts/strings/terms/isnumeric/isnumeric.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3300 [Term Entry] isprintable()
  content/python/concepts/strings/terms/isprintable/isprintable.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3302 [Edit] Add descriptive media for HTML term `class` - Closes #3289
  content/html/concepts/attributes/terms/class/class.md
  media/html-classes-example-1.jpg
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3294 [Concept Entry] Added Luau concept file operators.md
  content/luau/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#3310 Add [term entry] Go Strings CutSuffix
  content/go/concepts/strings/terms/cutsuffix/cutsuffix.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3291 submission of isWeekDateSupported
  content/java/concepts/calendar/terms/isWeekDateSupported/isWeekDateSupported.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#3304 Added Python Strings .isidentifier() function
  content/python/concepts/strings/terms/isidentifier/isidentifier.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2655 Add isEmpty documentation file for Swift Arrays
  content/swift/concepts/arrays/terms/isEmpty/isEmpty.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3297 [Term Entry] Python Strings .isdigit() #3278
  content/python/concepts/strings/terms/isdigit/isdigit.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3296 Add [term entry] Go Strings LastIndex()
  content/go/concepts/strings/terms/lastindex/lastindex.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3137 Created toupper.md
  content/go/concepts/strings/terms/toupper/toupper.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3314 [Term Entry] Python: isdecimal()
  content/python/concepts/strings/terms/isdecimal/isdecimal.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2743 [Term Entry] Python Built-in Functions property()
  content/python/concepts/built-in-functions/terms/property/property.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3295 [Term Entry] Python Strings .isalnum()
  content/python/concepts/strings/terms/isalnum/isalnum.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3008 [Term Entry] Java Calendar Function: .getActualMinimum()
  content/java/concepts/calendar/terms/getActualMinimum/getActualMinimum.md
  documentation/tags.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3312 Create remote.md
  content/git/concepts/remote/remote.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3348 Edit Git Remotes
  content/git/concepts/remotes/remotes.md
Labels: git, typo

#3349 Move Bitwise Operators
  content/cpp/concepts/operators/operators.md
  content/cpp/concepts/operators/terms/bitwise/bitwise.md
Labels: enhancement, c++

#3340 Andrew barker audio element edit 3338
  content/html/concepts/elements/terms/audio/audio.md
  media/html-audio-element-example.png
Labels: enhancement, html, status: review 1️⃣ completed

#3313 PHP String Functions money_format(), Closes #3218
  content/php/concepts/string-functions/terms/money-format/money-format.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3320 Issue #3204 Luau Comments
  content/luau/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#3264 Create map.md, closes #3068
  content/go/concepts/strings/terms/map/map.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#3255 [Term Entry] php/string-functions ord.md
  content/php/concepts/string-functions/terms/ord/ord.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
