Repository Codecademy/docs, pull requests merged in 2023-04, with the labels that each got.

#1876 Added entry for Best-First Search
  content/ai/concepts/search-algorithms/search-algorithms.md
  content/ai/concepts/search-algorithms/terms/best-first-search/best-first-search.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, ai

#1911 [Term Entry] General: Graphs
  content/general/concepts/graph/graph.md
Labels: general, new entry, status: review 1️⃣ completed

#1902 Copy module
  content/pandas/concepts/dataframe/terms/copy/copy.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pandas

#1762 Hexadecimal
  content/general/concepts/hexadecimal/hexadecimal.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1917 Broken links #1912
  content/python/concepts/built-in-functions/terms/open/open.md
  content/python/concepts/classes/classes.md
  content/python/concepts/dunder-methods/dunder-methods.md
  content/python/concepts/files/terms/remove/remove.md
  content/python/concepts/files/terms/rmdir/rmdir.md
  content/python/concepts/files/terms/unlink/unlink.md
  content/python/concepts/modules/terms/pyspark/pyspark.md
  content/python/concepts/os-path-module/terms/join/join.md
  content/python/concepts/requests-module/requests-module.md
Labels: bug, status: review 1️⃣ completed, status: review 2️⃣ completed

#1705 Add Arrays, Objects, Operators, Variables content for PowerShell
  content/powershell/concepts/arrays/arrays.md
  content/powershell/concepts/environment-variables/environment-variables.md
  content/powershell/concepts/objects/objects.md
  content/powershell/concepts/operators/operators.md
  content/powershell/concepts/variables/variables.md
  documentation/catalog-content.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, powershell

#1710 PR changes for isinstance() function markdown
  content/python/concepts/built-in-functions/terms/isinstance/isinstance.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1865 Adding Links to Cybersecurity Topics
  content/cybersecurity/concepts/blue-team/blue-team.md
  content/cybersecurity/concepts/cyber-attack/cyber-attack.md
  content/cybersecurity/concepts/cyber-resilience/cyber-resilience.md
  content/cybersecurity/concepts/data-exfiltration/data-exfiltration.md
  content/cybersecurity/concepts/hacking/hacking.md
  content/cybersecurity/concepts/red-team/red-team.md
  content/cybersecurity/concepts/risk-management/risk-management.md
  content/cybersecurity/concepts/security-testing/security-testing.md
  content/cybersecurity/concepts/spear-phishing/spear-phishing.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1929 Edit General SDLC terms folder
  content/general/concepts/software-development-life-cycle/terms/agile/agile.md
Labels: bug, general

#1922 fixed the links of entries 21-30
  content/css/concepts/cursor/cursor.md
  content/general/concepts/data-science/data-science.md
  content/general/concepts/firebase/firebase.md
  content/general/concepts/framework/framework.md
  content/general/concepts/one-hot-encoding/one-hot-encoding.md
  content/general/concepts/serialization/serialization.md
  content/general/concepts/server-side-rendering/server-side-rendering.md
  content/java/concepts/compiler/compiler.md
  content/java/concepts/queue/queue.md
Labels: typo, status: review 1️⃣ completed, status: under review, status: ready for next review

#1881 [General Reorganization] New Folder: Developer Tools
  content/general/concepts/developer-tools/developer-tools.md
  content/general/concepts/developer-tools/terms/abstract-syntax-tree/abstract-syntax-tree.md
  content/general/concepts/developer-tools/terms/code-editor/code-editor.md
  content/general/concepts/developer-tools/terms/ide/ide.md
  content/java/concepts/compiler/compiler.md
  documentation/content-standards.md
Labels: general, new entry, status: review 1️⃣ completed

#1923 Bugfix broken links Arun 31-40
  content/cloud-computing/concepts/cloud-services/cloud-services.md
  content/html/concepts/elements/terms/button/button.md
  content/html/concepts/elements/terms/em/em.md
  content/html/concepts/elements/terms/hr/hr.md
  content/html/concepts/elements/terms/menu/menu.md
  content/html/concepts/elements/terms/span/span.md
  content/php/concepts/date-functions/terms/date-format/date-format.md
  content/uiux/concepts/button/button.md
  content/uiux/concepts/content-hierarchy/content-hierarchy.md
  content/uiux/concepts/hero-image/hero-image.md
  media/html-menu-tag-example.png
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1934 Update extend.md
  content/python/concepts/lists/terms/extend/extend.md
Labels: python, typo, status: review 1️⃣ completed, status: ready for next review

#1937 Update Survey Link
  .github/workflows/post-merge-survey.yml
Labels: documentation, status: review 1️⃣ completed

#1887 Add PHP switch case statement entry to docs
  content/php/concepts/switch/switch.md
  documentation/tags.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1884 [General Reorganization] Data Science Topic
  content/cloud-computing/concepts/cloud-services/cloud-services.md
  content/general/concepts/data-science/data-science.md
  content/general/concepts/data-science/terms/big-data/big-data.md
  content/general/concepts/data-science/terms/data-mining/data-mining.md
  content/general/concepts/data-science/terms/jupyter-notebook/jupyter-notebook.md
  content/general/concepts/data-science/terms/one-hot-encoding/one-hot-encoding.md
Labels: general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1794 Add PowerShell content: Conditionals, Functions, and Loops
  content/powershell/concepts/conditionals/conditionals.md
  content/powershell/concepts/functions/functions.md
  content/powershell/concepts/loops/loops.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: sme review :one: completed, status: ready for next review, powershell

#1702 Cybersecurity New Topic: Vulnerability
  content/cybersecurity/concepts/vulnerability/vulnerability.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1935 added in the C# loops file, the foreach loop
  content/c-sharp/concepts/loops/loops.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1852 Lead window function
  content/sql/concepts/window-functions/terms/lead/lead.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1829 Ai chatgpt
  content/ai/concepts/chatgpt/chatgpt.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, status: sme review :one: completed, ai

#1853 Add markdown description for String.ToUpper() method
  content/c-sharp/concepts/strings/terms/toupper/toupper.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1921 [Term Entry] AI/Search-Algos: Breadth-First Search
  content/ai/concepts/search-algorithms/terms/breadth-first-search/breadth-first-search.md
  media/networkx-graph-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#1811 New Entry: matplotlib.pyplot.pie()
  content/matplotlib/concepts/pyplot/terms/pie/pie.md
  media/matplotlib-pie-1.png
  media/matplotlib-pie-2.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib

#1817 typo fix && introduce .size() method
  content/cpp/concepts/enum/enum.md
  content/cpp/concepts/vectors/vectors.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: under review

#1800 [Term Entry] Matplotlib hist
  content/matplotlib/concepts/pyplot/terms/hist/hist.md
  media/matplotlib-hist-dogs-fig.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib

#1959 path edits
  content/matplotlib/concepts/pyplot/terms/hist/hist.md
  content/matplotlib/concepts/pyplot/terms/subplots/subplots.md
Labels: bug, typo

#1925 remove spaces
  content/go/concepts/functions/functions.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1796 [Entry] SwiftUI: Color
  content/swiftui/concepts/color/color.md
  media/swiftui-color-from-components.png
  media/swiftui-color.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1815 Tanh term added
  content/c-sharp/concepts/math-functions/terms/tanh/tanh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1958 Add HTML table video
  content/html/concepts/tables/tables.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, keyword

#1888 C loop entry
  content/c/concepts/loops/loops.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1857 Add indexof method in string/terms
  content/c-sharp/concepts/strings/terms/indexof/indexof.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1664 Reverse method entry
  content/c-sharp/concepts/arrays/terms/reverse/reverse.md
Labels: new entry, status: review 1️⃣ completed, c#, status: under review

#1816 C sharp acos
  content/c-sharp/concepts/math-functions/terms/acos/acos.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#1953 Entry for A* Search
  content/ai/concepts/search-algorithms/terms/a-star-search/a-star-search.md
  media/a-star-example-graph.png
  media/a-star-tree-1.png
  media/a-star-tree-2.png
  media/a-star-tree-3.png
  media/a-star-tree-4.png
  media/a-star-tree-5.png
  media/a-star-tree-6.png
  media/a-star-tree-7.png
  media/a-star-tree-8.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#1952 Add markdown description for String.LastIndexOf() method
  content/c-sharp/concepts/strings/terms/lastindexof/lastindexof.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1844 C# Strings.Equals() entry added for review
  content/c-sharp/concepts/strings/terms/equals/equals.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#1968 Python Loops video
  content/python/concepts/loops/loops.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1728 added to kotlin hashmap docs information about accessing and adding items
  content/kotlin/concepts/hashmap/hashmap.md
Labels: enhancement, status: review 1️⃣ completed, status: ready for next review, kotlin

#1955 New Entry: .intern() Method
  content/java/concepts/strings/terms/intern/intern.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1967 JavaScript Variables video
  content/javascript/concepts/variables/variables.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: ready for next review

#1965 Add video to css flexbox
  content/css/concepts/flexbox/flexbox.md
Labels: enhancement, css, status: review 1️⃣ completed, status: under review, status: ready for next review

#1938 ROSHAN ISSUE #1919
  content/uiux/concepts/button/button.md
  content/uiux/concepts/design-software/design-software.md
  content/uiux/concepts/homepage/homepage.md
  content/uiux/concepts/image/image.md
  content/uiux/concepts/opacity/opacity.md
  content/uiux/concepts/qualitative-research/qualitative-research.md
  content/uiux/concepts/search-fields/search-fields.md
  content/uiux/concepts/sketching/sketching.md
  content/uiux/concepts/wireframe-elements/wireframe-elements.md
  content/uiux/concepts/wireframe/wireframe.md
Labels: bug, status: review 1️⃣ completed, status: review 2️⃣ completed

#1943 Term entry c sharp compare
  content/c-sharp/concepts/strings/terms/compare/compare.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1707 [Edit] SQL: COUNT()
  content/sql/concepts/aggregate-functions/terms/count/count.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1966 HTML forms video
  content/html/concepts/forms/forms.md
Labels: enhancement, html, status: review 1️⃣ completed, status: ready for next review

#1982 Term entry c sharp abs
  content/c-sharp/concepts/math-functions/terms/abs/abs.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#, status: ready for next review

#1933 New Java Errors term entry: Arithmeticexceptions
  content/java/concepts/errors/terms/arithmeticexception/arithmeticexception.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#1951 Add markdown description for Math.Tan() method
  content/c-sharp/concepts/math-functions/terms/tan/tan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1905 [Term Entry] C# Math Function: .Round()
  content/c-sharp/concepts/math-functions/terms/round/round.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, c#

#1981 M toome kotlin functions
  content/kotlin/concepts/functions/functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review, kotlin

#1948 Added `Interfaces.md` in the kotlin folder
  content/kotlin/concepts/Interfaces/Interfaces.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1973 Added pandas built-in-function: get_dummies.
  content/pandas/concepts/built-in-functions/terms/get-dummies/get-dummies.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pandas

#1988 [Term Entry] Data Science: Data Warehouse
  content/general/concepts/data-science/terms/data-warehouse/data-warehouse.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1990 CSS Selectors Video
  content/css/concepts/selectors/selectors.md
Labels: enhancement, css, status: review 1️⃣ completed, status: under review, status: ready for next review

#1991 CSS padding video
  content/css/concepts/padding/padding.md
Labels: enhancement, css, status: review 1️⃣ completed, status: under review, status: ready for next review

#1790 [Term Entry] Pandas `.to_datetime()`
  content/pandas/concepts/built-in-functions/terms/to-datetime/to-datetime.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas

#1930 [Concept Entry] PHP: Math functions
  content/php/concepts/math-functions/math-functions.md
  content/php/concepts/math-functions/terms/abs/abs.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#1971 Add Pandas sum codebyte
  content/pandas/concepts/groupby/terms/sum/sum.md
Labels: enhancement, status: review 1️⃣ completed, pandas, status: ready for next review

#1907 [Term Entry] Pandas DataFrame `isna()`
  content/pandas/concepts/dataframe/terms/isna/isna.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas

#1989 Closes #1779 Sql ntile term entry
  content/sql/concepts/window-functions/terms/ntile/ntile.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1993 Python tuples video
  content/python/concepts/tuples/tuples.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1994 Python list video
  content/python/concepts/lists/lists.md
Labels: enhancement, python, status: review 1️⃣ completed, status: ready for next review

#1854 Doc entry for sql window function Lag
  content/sql/concepts/window-functions/terms/lag/lag.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1984 add c# enums doc
  content/c-sharp/concepts/enums/enums.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1910 add C switch-case draft for Codecademy Docs
  content/c/concepts/switch/switch.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1997 [General Reorganization] Data Structures
  content/general/concepts/big-o-notation/big-o-notation.md
  content/general/concepts/data-structures/terms/array/array.md
  content/general/concepts/data-structures/terms/hash-table/hash-table.md
  content/general/concepts/data-types/data-types.md
  content/general/concepts/json/json.md
  content/python/concepts/modules/modules.md
  documentation/content-standards.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1964 [Term Entry] AI: Greedy best-first search
  content/ai/concepts/search-algorithms/terms/greedy-best-first-search/greedy-best-first-search.md
  media/greedy-best-first-search-example-graph.png
  media/greedy-best-first-search-final-example-graph.png
  media/greedy-best-first-search-tree-1.png
  media/greedy-best-first-search-tree-2.png
  media/greedy-best-first-search-tree-3.png
Labels: new entry, status: review 1️⃣ completed, ai

#1891 Added information about ConcurrentModificationException
  content/java/concepts/errors/terms/concurrentmodificationexception/concurrentmodificationexception.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1886 Concep entry php enums
  content/php/concepts/enums/enums.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#1719 class.md recreated
  content/html/concepts/attributes/terms/class/class.md
Labels: html, new entry, status: review 1️⃣ completed, status: ready for next review

#2002 Fix HTML Attribute Class Title
  content/html/concepts/attributes/terms/class/class.md
Labels: html, typo, status: review 1️⃣ completed

#1789 Cpp scoped enums
  content/cpp/concepts/enum/enum.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed

#1963 continution to #1708
  content/go/concepts/interfaces/interfaces.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2001 added: startswith.md in csharp\concepts\strings\terms\startswith directory
  content/c-sharp/concepts/strings/terms/startswith/startswith.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2031 Broken links audit #1903
  content/docs-community/concepts/contributions/contributions.md
  content/docs-community/concepts/contributions/terms/docs-repository/docs-repository.md
  content/docs-community/concepts/contributions/terms/reviews/reviews.md
  content/go/concepts/composition/composition.md
  content/go/go.md
  content/open-source/concepts/font-awesome/font-awesome.md
  content/open-source/concepts/node-js/node-js.md
  content/open-source/concepts/open-source-software/open-source-software.md
  content/python/concepts/built-in-functions/terms/any/any.md
Labels: bug, status: review 1️⃣ completed, status: review 2️⃣ completed

#2033 make enum examples use public
  content/c-sharp/concepts/enums/enums.md
Labels: typo, status: review 1️⃣ completed, c#, status: ready for next review

#2037 Kotlin functions video
  content/kotlin/concepts/functions/functions.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#2042 Correct latex in cosh term
  content/cpp/concepts/math-functions/terms/cosh/cosh.md
Labels: c++, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1941 Edit entries csharp codebyte 2
  content/c-sharp/concepts/math-functions/terms/max/max.md
  content/c-sharp/concepts/math-functions/terms/pow/pow.md
  content/c-sharp/concepts/math-functions/terms/sqrt/sqrt.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#2032 Rename entry templates
  documentation/concept-entry-template.md
  documentation/topic-entry-template.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed
