Repository Codecademy/docs, pull requests merged in 2023-11, with the labels that each got.

#3829 [Edit] Kotlin: removePrefix - fix entry style
  content/kotlin/concepts/strings/terms/removePrefix/removePrefix.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3828 Kotlin to date period
  content/kotlin/concepts/datetime/terms/toDatePeriod/toDatePeriod.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, kotlin

#3834 [Term Entry] Kotlin Strings .prependIndent()
  content/kotlin/concepts/strings/terms/prependIndent/prependIndent.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3830 Fix typo
  content/markdown/markdown.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3833 [Term Entry] Kotlin Strings .padEnd()
  content/kotlin/concepts/strings/terms/padEnd/padEnd.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3766 Add .asin() method to Lua documentation
  content/lua/concepts/mathematical-library/terms/asin/asin.md
Labels: hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3842 [EDIT] HTML Add Media Videos
  content/html/concepts/videos/videos.md
  media/html-add-media-videos.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3832 [Term Entry] Lua String: .find()
  content/lua/concepts/strings/terms/find/find.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3614 DOCS: Added git rm documentation
  content/git/concepts/rm/rm.md
Labels: git, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3855 [Edit] Lua String: .find()
  content/lua/concepts/strings/terms/find/find.md
Labels: documentation, status: review 1️⃣ completed, status: ready for next review, lua

#3841 Add info about git config files
  content/git/concepts/config/config.md
Labels: enhancement, git, status: review 1️⃣ completed, status: review 2️⃣ completed

#3859 [Edit] Markdown: Paragraphs
  content/markdown/concepts/paragraphs/paragraphs.md
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3822 [Term Entry] Kotlin String Function: .drop()
  content/kotlin/concepts/strings/terms/drop/drop.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, kotlin

#3850 [Edit]ML: Language Clarification
  content/ai/concepts/machine-learning/machine-learning.md
Labels: typo, status: review 1️⃣ completed, status: ready for next review, ai

#3860 [Edit] HTML Add Media: Elements
  content/html/concepts/elements/elements.md
  media/html-elements-example.png
Labels: html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3800 [Concept Entry] SwiftUI Tables
  content/swiftui/concepts/tables/tables.md
  media/swiftui-tables.png
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3891 Update branch.md
  content/git/concepts/branch/branch.md
Labels: enhancement, git, status: review 1️⃣ completed, status: review 2️⃣ completed

#3861 [Edit] Update terminal.md documentation
  content/command-line/concepts/terminal/terminal.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, command line

#3458 [Term Entry] Lua Coroutines .status()
  content/lua/concepts/coroutines/terms/status/status.md
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: under review, lua

#3899 correct spelling
  content/general/concepts/programming-paradigms/terms/object-oriented-programming/object-oriented-programming.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3894 [Edit] HTML Add Media: Headings
  content/html/concepts/headings/headings.md
  media/html-heading-resize-example.gif
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3903 Create decoct.md for PHP Math Functions
  content/php/concepts/math-functions/terms/decoct/decoct.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3893 [Edit] update to brightness.md added image example
  content/css/concepts/filter-functions/terms/brightness/brightness.md
  media/css-filterfunctions-brightness-example.png
Labels: enhancement, css, status: review 2️⃣ completed, status: sme review :one: completed

#3603 [Term Entry] SwiftUI ViewModifier .dropDestination()
  content/swiftui/concepts/viewmodifier/terms/dropDestination/dropDestination.md
  media/swiftui-viewmodifier-dropDestination.gif
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#3602 [Term Entry] SwiftUI ViewModifier .draggable()
  content/swiftui/concepts/viewmodifier/terms/draggable/draggable.md
  media/swiftui-viewmodifier-draggable.gif
Labels: new entry, hacktoberfest, status: review 1️⃣ completed, status: waiting for author, swiftui

#3790 [Term Entry] Java Calendar Class Method: .getDisplayName()
  content/java/concepts/calendar/terms/getDisplayName/getDisplayName.md
Labels: java, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed

#3849 [New Topic]D3.js: Base Pages
  content/d3/concepts/anatomy/anatomy.md
  content/d3/concepts/selection/selection.md
  content/d3/d3.md
  media/d3-scatterplot-example.png
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3900 [Term Entry] PHP String Function: html_entity_decode()
  content/php/concepts/string-functions/terms/html-entity-decode/html-entity-decode.md
Labels: php, status: review 1️⃣ completed, status: review 2️⃣ completed

#3908 Update enums.md
  content/java/concepts/enums/enums.md
Labels: java, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3858 added about useRef() topic hook in react
  content/react/concepts/hooks/terms/useRef/useRef.md
Labels: react, status: review 1️⃣ completed, status: review 2️⃣ completed

#3549 Add Flutter topic
  content/general/concepts/flutter/flutter.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3864 [Term Entry] Kotlin Math .cos()
  content/kotlin/concepts/math-methods/terms/cos/cos.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3847 Kotlin offset in
  content/kotlin/concepts/datetime/terms/offsetIn/offsetIn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3904 [Term Entry] Kotlin/Strings/partition
  content/kotlin/concepts/strings/terms/partition/partition.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3914 HTML Add Media: style #3556
  content/html/concepts/attributes/terms/style/style.md
  media/style-attribute-example.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3911 [Term Entry] Lua Math .log()
  content/lua/concepts/mathematical-library/terms/log/log.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3827 Create daysUntil.md
  content/kotlin/concepts/datetime/terms/daysUntil/daysUntil.md
  documentation/tags.md
Labels: hacktoberfest, status: review 1️⃣ completed, status: under review, kotlin

#3895 [term entry]- d3 domain
  content/d3/concepts/scaling/terms/domain/domain.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#3856 [Concept Entry] Rust loops #3374
  content/rust/concepts/loops/loops.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, rust

#3892 [term entry]- kotlin offsetAt
  content/kotlin/concepts/datetime/terms/offsetAt/offsetAt.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, status: under review, kotlin

#3836 Added description of day of week method
  content/kotlin/concepts/datetime/terms/DayOfWeek/DayOfWeek.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3921 [Edit] CSS background-repeat
  content/css/concepts/background/terms/background-repeat/background-repeat.md
  media/css-background-repeat1.png
  media/css-background-repeat2.png
  media/css-background-repeat3.png
  media/css-background-repeat4.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3848 Kotlin concept datetime.
  content/kotlin/concepts/datetime/datetime.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3837 [Term Entry] Swift Protocols Decoder #2960
  content/swift/concepts/protocols/terms/decoder/decoder.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3912 New entry swift collections
  content/swift/concepts/collections/collections.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3918 Add images to to rgb.md
  content/css/concepts/colors/terms/rgb/rgb.md
  media/css-rgb-example1.png
  media/css-rgb-example2.png
  media/css-rgb-example3.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3929 Edit meta description, add media
  content/css/concepts/box-sizing/box-sizing.md
  media/box-sizing-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3936 Update opacity.md
  content/css/concepts/colors/terms/opacity/opacity.md
Labels: css, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3913 [Term Entry] General / Semantic Technologies / RDF
  content/general/concepts/semantic-technologies/terms/rdf/rdf.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3931 Added a new term entry on the .decodeFromHexString() method for Kotlin
  content/kotlin/concepts/serialization/terms/decodeFromHexString/decodeFromHexString.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3928 [Edit] Kotlinx:datetime
  content/kotlin/concepts/datetime/terms/DayOfWeek/DayOfWeek.md
  content/kotlin/concepts/datetime/terms/daysUntil/daysUntil.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3932 [EDIT] CSS Animations: Animation Duration - Add media to demonstrate codeblocks
  content/css/concepts/animations/terms/animation-duration/animation-duration.md
  media/Animation-Duration-example-1.gif
  media/Animation-Duration-example-2.gif
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3857 UIUX Update
  content/uiux/concepts/bias-in-user-research/bias-in-user-research.md
  content/uiux/concepts/bias-in-user-research/terms/acquiescence-bias/acquiescence-bias.md
  content/uiux/concepts/bias-in-user-research/terms/confirmation-bias/confirmation-bias.md
  content/uiux/concepts/bias-in-user-research/terms/demand-characteristics-bias/demand-characteristics-bias.md
  content/uiux/concepts/bias-in-user-research/terms/framing-effect/framing-effect.md
  content/uiux/concepts/bias-in-user-research/terms/interviewer-bias/interviewer-bias.md
  content/uiux/concepts/bias-in-user-research/terms/response-bias/response-bias.md
  content/uiux/concepts/bias-in-user-research/terms/social-desirability-bias/social-desirability-bias.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#3840 term-entry: kotlin periodUntil
  content/kotlin/concepts/datetime/terms/periodUntil/periodUntil.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3447 Add .zfill() Method Entry in 'Terms' Section (#3367)
  content/python/concepts/strings/terms/zfill/zfill.md
Labels: python, new entry, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3802 [Concept Entry] Git Restore
  content/git/concepts/restore/restore.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3919 [Concept Entries]D3: Scaling & Observable
  content/d3/concepts/observable/observable.md
  content/d3/concepts/scaling/scaling.md
  content/d3/concepts/selection/selection.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#3843 [Term Entry] Kotlin Datetime .Month() #3813
  content/kotlin/concepts/datetime/terms/Month/Month.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3915 Add content to kotlin documentation 'toDateTimePeriod'.
  content/kotlin/concepts/datetime/terms/toDateTimePeriod/toDateTimePeriod.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3901 [Term Entry] Swift Protocols SingleValueEncodingContainer #2963
  content/swift/concepts/protocols/terms/singlevalueencodingcontainer/singlevalueencodingcontainer.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3916 [Term Entry] Kotlin Datetime .DateTimePeriod()
  content/kotlin/concepts/datetime/terms/DateTimePeriod/DateTimePeriod.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3970 encodeToString updated file path to serialization
  content/kotlin/concepts/serialization/terms/encodeToString/encodeToString.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3940 [Term Entry] Add entry for SwiftUI .tint()
  content/swiftui/concepts/viewmodifier/terms/tint/tint.md
  media/SwiftUI-tint-display.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#3945 [Edit] Small edit to fix syntax errors in rdf.md
  content/general/concepts/semantic-technologies/terms/rdf/rdf.md
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3947 Filter functions: contrast()
  content/css/concepts/filter-functions/terms/contrast/contrast.md
  media/css-filterfunctions-contrast-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: ready for next review

#3484 Addresses HTML Add Media: Elements #3178
  content/html/concepts/elements/elements.md
  content/html/concepts/elements/terms/col/col.md
  media/rendered-col-tag.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#3909 [Term Entry] Kotlin Datetime: .toInstant()
  content/kotlin/concepts/datetime/terms/toInstant/toInstant.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3974 html-attribute-id-addmedia
  content/html/concepts/attributes/terms/id/id.md
  media/html-attribute-id-exampl3.png
  media/html-attribute-id-example-img1.png
  media/html-attribute-id-example2-gif.gif
  media/html-attribute-id-example4.png
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3972 Removed the duplicate file. This should only be present in serialization.
  content/kotlin/concepts/datetime/terms/encodeToString/encodeToString.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3946 [TERM] : Added new term entry in python for ljust method in strings
  content/python/concepts/strings/terms/ljust/ljust.md
Labels: python, new entry, status: review 2️⃣ completed, status: waiting for author, status: sme review :one: completed

#3973 [Term Entry] CSS Filter Function: Opacity() Example 2
  content/css/concepts/filter-functions/terms/opacity/opacity.md
  media/css-filterfunction-opacity-50%.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3839 Create minus.md
  content/kotlin/concepts/datetime/terms/minus/minus.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3910 Update comparable.md
  content/java/concepts/comparable/comparable.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed

#3935 [Concept Entry] Swift Ranges
  content/swift/concepts/ranges/ranges.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#3917 [Term Entry] Kotlin Datetime .atStartOfDayIn()
  content/kotlin/concepts/datetime/terms/atStartOfDayIn/atStartOfDayIn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, kotlin

#3896 Added rust slices
  content/rust/concepts/slices/slices.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, rust

#3938 Add term entry kotlin datetime method todayin 3866
  content/kotlin/concepts/datetime/terms/todayIn/todayIn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3934 CSS [Edit] CSS animation-direction
  content/css/concepts/animations/terms/animation-direction/animation-direction.md
  media/animation-direction-example1.gif
  media/animation-direction-example2.gif
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3977 [Edit] CSS [Edit] CSS Borders: border-color
  content/css/concepts/borders/terms/border-color/border-color.md
  media/css-border-color-example1.png
  media/css-border-color-example2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3243 [Term Entry] discrete-math: proofs: proof-by-contradiction.md
  content/discrete-math/concepts/proofs/terms/proof-by-contradiction/proof-by-contradiction.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#3986 [EDIT] CSS Background: background-color - Add media to show output
  content/css/concepts/background/terms/background-color/background-color.md
  media/css-background-color-example-1.png
  media/css-background-color-example-2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3897 [Concept Entry] Luau Data Types
  content/luau/concepts/data-types/data-types.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#3981 [term entry]: d3-scaling range
  content/d3/concepts/scaling/terms/range/range.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3
