Repository Codecademy/docs, pull requests merged in 2023-12, with the labels that each got.

#3978 [Term Entries]JS:Parameters, Coercion
  content/javascript/concepts/functions/functions.md
  content/javascript/concepts/operators/operators.md
  content/javascript/concepts/rest-parameters/rest-parameters.md
  content/javascript/concepts/type-coercion/type-coercion.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#4005 [Edit] JS: Concepts
  content/javascript/concepts/constructors/constructors.md
  content/javascript/concepts/objects/objects.md
  content/javascript/concepts/objects/terms/assign/assign.md
  content/javascript/concepts/strings/strings.md
Labels: enhancement, javascript, typo, status: review 1️⃣ completed, status: sme review :two: completed, status: under review

#3991 Create data.md for D3
  content/d3/concepts/selection/terms/data/data.md
  media/d3-data-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4013 Add image example to CSS filter function Invert
  content/css/concepts/filter-functions/terms/invert/invert.md
  media/css-filter-invert-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4012 Add image example to CSS filter func hue-rotate
  content/css/concepts/filter-functions/terms/hue-rotate/hue-rotate.md
  media/css-filter-hue-rotate-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3948 decodeFromString() term entry
  content/kotlin/concepts/serialization/terms/decodeFromString/decodeFromString.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, kotlin

#4002 Edit css animations animation timing function #3529
  content/css/concepts/animations/terms/animation-timing-function/animation-timing-function.md
  media/css-animation-timing-function.gif
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3992 [Term Entry] CSS Filter Function: grayscale()
  content/css/concepts/filter-functions/terms/grayscale/grayscale.md
  media/css-filterfunction-grayscale-20%.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4042 Add Entry: Javascript Object.fromEntries()
  content/javascript/concepts/objects/terms/fromEntries/fromEntries.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4049 [Term Entry] CSS Filter Function: drop-shadow()
  content/css/concepts/filter-functions/terms/drop-shadow/drop-shadow.md
  media/css-filterfunction-drop-shadow.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4048 [Term Entry] JavaScript Objects .entries()
  content/javascript/concepts/objects/terms/entries/entries.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3237 [Edit] Edits to proof-by-strong-induction.md
  content/discrete-math/concepts/proofs/terms/proof-by-strong-induction/proof-by-strong-induction.md
  yarn.lock
Labels: enhancement, status: review 1️⃣ completed, status: under review, discrete math

#4008 [Term Entry] D3 Selection .csv()
  content/d3/concepts/selection/terms/csv/csv.md
  documentation/catalog-content.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3

#4055 Edit: Add media to CSS terms - border-style
  content/css/concepts/borders/terms/border-style/border-style.md
  media/css-border-style-example-1.png
  media/css-border-style-example-2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#4033 Create .octdec() term entry
  content/php/concepts/math-functions/terms/octdec/octdec.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4040 Topic content term
  content/d3/concepts/interactivity/terms/delay/delay.md
  media/delay-3-sec.gif
Labels: new entry, status: review 1️⃣ completed, status: under review, status: ready for next review, d3

#4045 Concept entry: rust comments
  content/rust/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, rust

#4083 Edit: Add media to CSS color - hsla()
  content/css/concepts/colors/terms/hsla/hsla.md
  media/css-color-hsla-example-1.png
  media/css-color-hsla-example-2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#3987 Term entry styling text method
  content/d3/concepts/styling/terms/text/text.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3

#4079 Made a tiny edit to line 50
  content/javascript/concepts/callbacks/callbacks.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4038 [Term Entry] JavaScript Objects .freeze() method
  content/javascript/concepts/objects/terms/freeze/freeze.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4011 D3 Entry for .select()
  content/d3/concepts/selection/terms/select/select.md
  media/d3-select-example.png
Labels: new entry, status: review 2️⃣ completed, status: sme review :one: completed, d3

#3933 Animation delay examples
  content/css/concepts/animations/terms/animation-delay/animation-delay.md
  media/animation-delay-example1.gif
  media/animation-delay-example2.gif
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4037 Add Term Entry: JavaScript Objects .getOwnPropertyDescriptor()
  content/javascript/concepts/objects/terms/getOwnPropertyDescriptor/getOwnPropertyDescriptor.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, status: under review, status: ready for next review

#4057 Add the term .monthsUntil() for Kotlin datetime library
  content/kotlin/concepts/datetime/terms/monthsUntil/monthsUntil.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4092 add getOwnPropertyDescription Entry
  content/javascript/concepts/objects/terms/getOwnPropertyDescriptors/getOwnPropertyDescriptors.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2614 [Entry] Algorithm: Adding kadane.md into algorithm folder
  content/general/concepts/algorithm/terms/kadanes-algorithm/kadanes-algorithm.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4081 [Term Entry] JavaScript Objects .getOwnPropertyNames() added
  content/javascript/concepts/objects/terms/getOwnPropertyNames/getOwnPropertyNames.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4085 [Term Entry] JavaScript Object Function: Object.getPrototypeOf()
  content/javascript/concepts/objects/terms/getPrototypeOf/getPrototypeOf.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: waiting for author, status: ready for next review

#4090 Issue #3884 add D3 Scaling.scaleLinear()
  content/d3/concepts/scaling/terms/scaleLinear/scaleLinear.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3

#4089 Add term: Javascript Objects: .isFrozen()
  content/javascript/concepts/objects/terms/isFrozen/isFrozen.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4046 [Term Entry] D3 Interactivity .duration()
  content/d3/concepts/interactivity/terms/duration/duration.md
  media/d3-duration-example.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4084 [Term Entry] JavaScript Object Function: Object.isSealed()
  content/javascript/concepts/objects/terms/isSealed/isSealed.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review, status: ready for next review

#4101 Demonstrate best practice for image "Alt text" in Style Guide
  documentation/style-guide.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: under review

#4056 [Term Entry] D3 Interactivity .on()
  content/d3/concepts/interactivity/terms/on/on.md
  media/d3-yellow-square.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#3305 [Term Entry] /discrete-math/concepts/proofs/terms/proof-by-cases/proof-by-cases.md
  content/discrete-math/concepts/proofs/terms/proof-by-cases/proof-by-cases.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#4093 [Concept Entry] Rust Threads
  content/rust/concepts/threads/threads.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, rust

#4087 Add term: Javascript Objects - isExtensible
  content/javascript/concepts/objects/terms/isExtensible/isExtensible.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4099 Term Entry JavaScript Object.is()
  content/javascript/concepts/objects/terms/is/is.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4088 [Term Entry] JavaScript Object Function: Object.getOwnPropertySymbols()
  content/javascript/concepts/objects/terms/getOwnPropertySymbols/getOwnPropertySymbols.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4080 [Term Entry] JavaScript / Dates / toJSON.md
  content/javascript/concepts/dates/terms/toJSON/toJSON.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4044 [Term Entry] JavaScript Dates: .toDateString()
  content/javascript/concepts/dates/terms/toDateString/toDateString.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4098 Edit CSS Position
  content/css/concepts/position/terms/position/position.md
  media/css-position-example2.png
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#3941 [Term Entry] D3 Scaling .scaleBand()
  content/d3/concepts/scaling/terms/scaleBand/scaleBand.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4095 [Term Entry] JavaScript Objects .groupBy()
  content/javascript/concepts/objects/terms/groupBy/groupBy.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4109 [Term Entry] Kotlin Datetime .atDate() #3806
  content/kotlin/concepts/datetime/terms/atDate/atDate.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4094 4070 object keys
  content/javascript/concepts/objects/terms/keys/keys.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3990 Kotlin decode from byte array
  content/kotlin/concepts/serialization/terms/decodeFromByteArray/decodeFromByteArray.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4053 Added concept entry for AI gaussian function
  content/ai/concepts/neural-networks/terms/gaussian-activation-function/gaussian-activation-function.md
  media/gaussian-function-1d.png
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#4077 Add images
  content/css/concepts/position/terms/top/top.md
  media/css_top_position_absolute.png
  media/css_top_position_relative.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4112 feat: add entry for mergetool
  content/git/concepts/mergetool/mergetool.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4107 [Term Entry] Java ArrayList: .spliterator() added
  content/java/concepts/array-list/terms/spliterator/spliterator.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4100 [ Term Entry ] .defineProperty() for Javascript
  content/javascript/concepts/objects/terms/definedProperty/definedProperty.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4120 Java script objects .define properties
  content/javascript/concepts/objects/terms/defineProperties/defineProperties.md
Labels: javascript, new entry, status: review 2️⃣ completed

#4114 [Term Entry] Kotlin Datetime .plus()
  content/kotlin/concepts/datetime/terms/plus/plus.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#3924 [Term Entry] Lua Tables find() #3117
  content/luau/concepts/tables/terms/find/find.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, luau

#4111 added Java ArrayList: .trimToSize()
  content/java/concepts/array-list/terms/trimToSize/trimToSize.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3983 [term entry]: d3 styling .attr()
  content/d3/concepts/styling/terms/attr/attr.md
  media/d3-styling-attr-example.jpg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3
