Repository Codecademy/docs, pull requests merged in 2023-03, with the labels that each got.

#1741 create a c-sharp content entry for math funchtion min.
  content/c-sharp/concepts/math-functions/terms/min/min.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1686 Updated [Term Entry] java string
  content/java/concepts/strings/terms/lastIndexOf/lastIndexOf.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1750 Changed description
  content/general/concepts/data-types/terms/void/void.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1743 [Edit] SwiftUI ViewModifier metadata
  content/swiftui/concepts/viewmodifier/terms/fontWeight/fontWeight.md
  content/swiftui/concepts/viewmodifier/terms/frame/frame.md
  content/swiftui/concepts/viewmodifier/terms/overlay/overlay.md
  content/swiftui/concepts/viewmodifier/terms/resizable/resizable.md
  content/swiftui/concepts/viewmodifier/terms/scaledToFit/scaledToFit.md
  content/swiftui/concepts/viewmodifier/terms/tracking/tracking.md
  content/swiftui/concepts/viewmodifier/terms/underline/underline.md
  content/swiftui/concepts/viewmodifier/viewmodifier.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1675 new Color.md file
  content/swiftui/concepts/views/terms/color/color.md
  media/swiftui-color-background.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#1628 Created security-testing.md
  content/cybersecurity/concepts/security-testing/security-testing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity, status: ready for next review

#1555 Added `conditionals.md` in the kotlin folder
  content/kotlin/concepts/conditionals/conditionals.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1730 added .length in the array terms folder
  content/java/concepts/arrays/terms/length/length.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1622 First commit. Add explanation and examples to isEmpty.md
  content/java/concepts/strings/terms/isEmpty/isEmpty.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1636 [Term Entry] SwiftUI View Modifier: .font()
  content/swiftui/concepts/viewmodifier/terms/font/font.md
  media/swiftui-viewmodifier-font.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1709 Add in SwiftUI ViewModifier: .kerning()
  content/swiftui/concepts/viewmodifier/terms/kerning/kerning.md
  media/swiftui-kerning.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1727 Issue/#1587
  content/java/concepts/strings/terms/join/join.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1755 Added documentation for matplotlib.pyplot.scatter()
  content/matplotlib/concepts/pyplot/terms/scatter/scatter.md
  media/matplotlib-scatter-1.png
  media/matplotlib-scatter-2.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib, status: ready for next review

#1633 [Concept Entry] Cybersecurity, Risk Management and Spear Phishing
  content/cybersecurity/concepts/risk-management/risk-management.md
  content/cybersecurity/concepts/spear-phishing/spear-phishing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1740 Octal
  content/general/concepts/octal/octal.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1751 Edit concept html elements
  content/html/concepts/elements/elements.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1573 Add term new
  content/python/concepts/dunder-methods/terms/new/new.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1785 [Edit] Link Corrections
  content/cpp/concepts/stacks/terms/empty/empty.md
  content/general/concepts/programming-optimization/programming-optimization.md
  content/open-source/concepts/linux-kernel/linux-kernel.md
  content/python/concepts/files/files.md
  content/r/concepts/csv-files/csv-files.md
  content/swiftui/concepts/viewmodifier/terms/overlay/overlay.md
Labels: general, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1775 [Edit] CSS:Position Terms
  content/css/concepts/position/terms/bottom/bottom.md
  content/css/concepts/position/terms/left/left.md
  content/css/concepts/position/terms/right/right.md
  content/css/concepts/position/terms/top/top.md
Labels: enhancement, css, status: review 1️⃣ completed, status: ready for next review

#1682 Dcs multi factor authentication
  content/cybersecurity/concepts/multi-factor-authentication/multi-factor-authentication.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1698 Cybersecurity New Topic: Social engineering
  content/cybersecurity/concepts/social-engineering/social-engineering.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity, status: under review

#1700 Cybersecurity New Topic: Virtual private network
  content/cybersecurity/concepts/virtual-private-network/virtual-private-network.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1526 closes [Concept Entry] Go: Functions #1242
  content/go/concepts/functions/functions.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1753 Added pandas dataframe term about reset_index() method.
  content/pandas/concepts/dataframe/terms/reset-index/reset-index.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas, status: ready for next review

#1527 Issue #1496 [Term Entry] C# Array .Resize()
  content/c-sharp/concepts/arrays/terms/resize/resize.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#, status: ready for next review

#1783 Updated bar file
  content/matplotlib/concepts/pyplot/terms/bar/bar.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib, status: ready for next review

#1782 Term entry html attributes title
  content/html/concepts/attributes/terms/title/title.md
  media/html-attribute-title.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1784 [General Reorganization] Data Structures
  content/general/concepts/binary-search-tree/binary-search-tree.md
  content/general/concepts/data-structures/data-structures.md
  content/general/concepts/data-structures/terms/class/class.md
  content/general/concepts/data-structures/terms/dictionary/dictionary.md
  content/general/concepts/data-structures/terms/hash-table/hash-table.md
  content/general/concepts/data-structures/terms/object/object.md
  content/general/concepts/data-structures/terms/tuple/tuple.md
  content/general/concepts/data-types/data-types.md
  content/general/concepts/json/json.md
  content/general/concepts/programming-paradigms/terms/encapsulation/encapsulation.md
  content/java/concepts/treemap/treemap.md
  content/kotlin/concepts/hashmap/hashmap.md
  documentation/style-guide.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#1598 clarify unclear content and/or terms, add new content (definitions, c…
  content/html/concepts/forms/forms.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#1684 [Concept Entry] C# Strings
  content/c-sharp/concepts/strings/strings.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#1793 Adding C# Switch concept
  content/c-sharp/concepts/switch/switch.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#1738 Term entry java replacefirst
  content/java/concepts/strings/terms/replaceFirst/replaceFirst.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, status: under review

#1717 Edit entries swiftui terms syntax
  content/swiftui/concepts/viewmodifier/terms/bold/bold.md
  content/swiftui/concepts/viewmodifier/terms/resizable/resizable.md
  content/swiftui/concepts/viewmodifier/terms/scaledToFit/scaledToFit.md
Labels: enhancement, typo, status: review 1️⃣ completed, swiftui, status: under review

#1663 [Topic] AI
  content/ai/ai.md
  content/ai/concepts/machine-learning/machine-learning.md
  content/general/concepts/artificial-intelligence/artificial-intelligence.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, ai

#1795 Update typo in Swift UI forEach.md
  content/swift/concepts/arrays/terms/forEach/forEach.md
Labels: typo, status: review 1️⃣ completed, swiftui

#1820 Asin
  content/c-sharp/concepts/math-functions/terms/asin/asin.md
Labels: typo, status: review 1️⃣ completed, c#

#1819 Generative AI policy inclusion in Contribution Guide
  .github/CONTRIBUTING.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1773 [Edit] HTML Attributes: Linking to id #1603
  content/html/concepts/attributes/attributes.md
  content/html/concepts/attributes/terms/id/id.md
  content/html/concepts/elements/terms/output/output.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#1787 [Concept Entry] C# Loops
  content/c-sharp/concepts/loops/loops.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1823 Fix "pseudo" Typos
  content/general/concepts/csv/csv.md
  content/git/concepts/clone/clone.md
  content/python/concepts/substrings/substrings.md
  content/swiftui/concepts/viewmodifier/terms/italic/italic.md
  documentation/tags.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1520 [New Term] Pandas DataFrame: `.drop_duplicates()`
  content/pandas/concepts/dataframe/terms/drop-duplicates/drop-duplicates.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, pandas

#1696 Cybersecurity New Topic: Red team
  content/cybersecurity/concepts/red-team/red-team.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1695 Cybersecurity New Topic: Data exfiltration
  content/cybersecurity/concepts/data-exfiltration/data-exfiltration.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, cybersecurity

#1627 QR Codes issue282
  content/general/concepts/qr-code/qr-code.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1706 [Term Entry] SwiftUI View Modifier: .border() #1511
  content/swiftui/concepts/viewmodifier/terms/border/border.md
  media/swiftui-viewmodifier-border.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1742 Search algorithms
  content/general/concepts/search-algorithms/search-algorithms.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review, ai

#1756 Add output example for nested blockquotes
  content/markdown/concepts/blockquotes/blockquotes.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, markdown

#1761 Pull Request for Adding Content to C#
  content/c-sharp/concepts/arrays/terms/copy/copy.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1763 [Edit] SQL:Primary Keys
  content/sql/concepts/primary-keys/primary-keys.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed

#1716 Changed description for "branch" and added links
  content/git/concepts/branch/branch.md
  content/git/concepts/merge/merge.md
  content/git/concepts/pull-requests/pull-requests.md
  content/git/git.md
Labels: enhancement, git, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1697 Cybersecurity New Topic: Risk
  content/cybersecurity/concepts/risk/risk.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1772 [Term Entry] SwiftUI View Modifier: .background() #1510
  content/swiftui/concepts/viewmodifier/terms/background/background.md
  media/swiftui-viewmodifier-background.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1781 Add code-blocks.md
  content/markdown/concepts/code-blocks/code-blocks.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, markdown

#1792 C sharp/atan2
  content/c-sharp/concepts/math-functions/terms/atan2/atan2.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1848 [Term Entry]: General-Data Mining
  content/general/concepts/data-mining/data-mining.md
Labels: general, new entry, status: review 1️⃣ completed, status: ready for next review

#1843 Add Method Intro to C# Math Functions
  content/c-sharp/concepts/math-functions/math-functions.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1850 [Term Entry] General: Semantic HTML
  content/general/concepts/semantic-html/semantic-html.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1797 Term entry c sharp sin
  content/c-sharp/concepts/math-functions/terms/sin/sin.md
Labels: new entry, status: review 1️⃣ completed, c#

#1694 Cybersecurity New Topic: Cyber Resilience
  content/cybersecurity/concepts/cyber-resilience/cyber-resilience.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1831 .Atan() entry branch
  content/c-sharp/concepts/math-functions/terms/atan/atan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1861 [Edit]: JavaScript Arrays: forEach()
  content/javascript/concepts/arrays/terms/forEach/forEach.md
Labels: enhancement, javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1798 Term entry c sharp cos
  content/c-sharp/concepts/math-functions/terms/cos/cos.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1862 [Edit]: SQL Entry Typos
  content/sql/concepts/commands/terms/round/round.md
  content/sql/concepts/data-types/data-types.md
Labels: sql, typo, status: review 1️⃣ completed

#1856 C# Strings.Replace() entry added for review
  content/c-sharp/concepts/strings/terms/replace/replace.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1855 [Term Entry] General SDLC: Waterfall
  content/general/concepts/software-development-life-cycle/terms/waterfall/waterfall.md
  media/sdlc-waterfall.jpg
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1866 [Edit] C++: Smart Pointers
  content/cpp/concepts/smart-pointers/smart-pointers.md
Labels: enhancement, c++, typo, status: review 1️⃣ completed, status: ready for next review

#1827 Fix C and C++ Metadata Descriptions
  content/c/concepts/arrays/arrays.md
  content/c/concepts/comments/comments.md
  content/c/concepts/user-input/user-input.md
  content/cpp/concepts/enum/enum.md
  content/cpp/concepts/exceptions/exceptions.md
  content/cpp/concepts/files/files.md
  content/cpp/concepts/loops/loops.md
  content/cpp/concepts/random/random.md
Labels: enhancement, c++, c, status: review 1️⃣ completed, status: review 2️⃣ completed

#1489 [New Term] Python Built-in Functions: `issubclass()`
  content/python/concepts/built-in-functions/terms/issubclass/issubclass.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1825 Added .hashCode() method in Java Strings terms folder
  content/java/concepts/strings/terms/hashCode/hashCode.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#1824 Added .getBytes() method in Java Strings terms folder
  content/java/concepts/strings/terms/getBytes/getBytes.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1882 Issue #1496 - Supplemental
  content/c-sharp/concepts/arrays/terms/resize/resize.md
Labels: typo, c#

#1880 EasoftwareGit/issue282
  content/general/concepts/qr-code/qr-code.md
Labels: general, typo

#1635 isinstance() Documentation, forked/branch: mfw_ca_docs
  content/python/concepts/functions/terms/isinstance/isinstance.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1859 Created markdown for C# EndsWith Term Entry
  content/c-sharp/concepts/strings/terms/endswith/endswith.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1737 Mybranch #1736
  content/python/concepts/time-module/terms/sleep/sleep.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: ready for next review

#1830 Term entry c sharp cosh
  content/c-sharp/concepts/math-functions/terms/cosh/cosh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1828 Term entry c sharp sinh
  content/c-sharp/concepts/math-functions/terms/sinh/sinh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1845 Added markdown for ToLower() string method
  content/c-sharp/concepts/strings/terms/tolower/tolower.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1849 [Edit] Fixing Plot Image Paths
  content/matplotlib/concepts/pyplot/terms/legend/legend.md
  content/matplotlib/concepts/pyplot/terms/scatter/scatter.md
Labels: bug, status: review 1️⃣ completed, status: review 2️⃣ completed, matplotlib

#1847 [Term Entry] General: REST API
  content/general/concepts/rest/rest.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1563 Added `queue.md` in the Kotlin
  content/kotlin/concepts/queue/queue.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1752 New entry cicd
  content/general/concepts/cicd-pipeline/cicd-pipeline.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1863 [Edit] Python Strings `.count()` Method
  content/python/concepts/strings/terms/count/count.md
Labels: enhancement, python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1851 Edit entries c sharp add codebyte 1
  content/c-sharp/concepts/math-functions/terms/ceiling/ceiling.md
  content/c-sharp/concepts/math-functions/terms/exp/exp.md
  content/c-sharp/concepts/math-functions/terms/floor/floor.md
Labels: enhancement, status: review 1️⃣ completed, c#, status: under review

#1691 Content matplotlib
  content/matplotlib/concepts/pyplot/terms/subplots/subplots.md
  media/matplotlib-subplots-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, matplotlib

#1879 [Term Entry] Sdlc: agile
  content/general/concepts/software-development-life-cycle/Terms/agile/agile.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
