Repository Codecademy/docs, pull requests merged in 2023-01, with the labels that each got.

#1405 [Term Entry] SwiftUI ViewModifier: `.italic()`
  content/swiftui/concepts/viewmodifier/terms/italic/italic.md
  documentation/tags.md
  media/swiftui-viewmodifier-italic.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1420 Update environment-variables.md
  content/command-line/concepts/environment-variables/environment-variables.md
Labels: typo, status: review 1️⃣ completed, command line

#1289 Added information about reference data types to java/data-types documentation
  content/java/concepts/arrays/arrays.md
  content/java/concepts/classes/classes.md
  content/java/concepts/data-types/data-types.md
  content/java/concepts/enums/enums.md
  content/java/concepts/interfaces/interfaces.md
Labels: enhancement, java, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1384 Small change to bracket notation
  content/javascript/concepts/objects/objects.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1326 [New Entry] Go: Arrays
  content/go/concepts/arrays/arrays.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1388 Update JavaScript : Arrow functions
  content/javascript/concepts/arrow-functions/arrow-functions.md
Labels: enhancement, javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1308 [Edit] Swift Arrays: `.first()`
  content/swift/concepts/arrays/terms/first/first.md
Labels: enhancement, swift, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1426 Fix the Codebyte Example in the Go arrays entry
  content/go/concepts/arrays/arrays.md
Labels: typo, status: review 1️⃣ completed, go

#1290 SwiftUI Entry: Scrollview
  content/swiftui/concepts/views/terms/scrollview/scrollview.md
  media/swiftui-scrollview-horizontal.gif
  media/swiftui-scrollview-vertical.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#1351 SwiftUI View: Stepper
  content/swiftui/concepts/views/terms/stepper/stepper.md
  media/swiftui-stepper.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1410 New entry go goroutines
  content/go/concepts/goroutines/goroutines.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#1411 [Term Entry] SwiftUI ViewModifier: `.bold()`
  content/swiftui/concepts/viewmodifier/terms/bold/bold.md
  media/swiftui-bold.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1440 General Reorganization Test
  content/swift/concepts/objective-c/objective-c.md
Labels: enhancement, swift

#1269 Created new React Native Components entry
  content/react/concepts/react-native/terms/components/components.md
  media/react_native_UI_Views.png
  media/react_react_native_components.png
Labels: react, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1433 ds course link
  content/pandas/pandas.md
Labels: enhancement, status: waiting for author, pandas

#1463 General Reorganization: Move Objective-C to Swift
  content/swift/concepts/objective-c/objective-c.md
Labels: enhancement, general, swift

#1458 [Edit] HTML (topic page) Closes #1447
  content/html/html.md
Labels: html, typo, status: review 1️⃣ completed, status: ready for next review

#1466 Corrected images URLs for entry #1269
  content/react/concepts/react-native/terms/components/components.md
Labels: typo, status: review 1️⃣ completed

#1275 Programming optimization doc study assignment
  content/general/concepts/programming-optimization/programming-optimization.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed

#1310 [New Concept] General: CMS
  content/general/concepts/cms/cms.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1339 [New Term] C++ Math Functions `remquo()`
  content/cpp/concepts/math-functions/terms/remquo/remquo.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1474 Edit Python Strings `.split()`
  content/python/concepts/strings/terms/split/split.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1325 Comment section
  content/c-sharp/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, c#

#1456 Css position edit
  content/css/concepts/position/terms/position/position.md
  media/css-position-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#1455 [New Term] SQL: Drop Table
  content/sql/concepts/commands/terms/drop-table/drop-table.md
Labels: sql, new entry, status: review 1️⃣ completed, status: waiting for author

#1472 strings.md added in the kotlin folder
  content/kotlin/concepts/strings/strings.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, kotlin

#1295 CSS: Pseudo-classes
  content/css/concepts/pseudo-classes/pseudo-classes.md
  media/css-disabled-example.png
  media/css-hover-example.gif
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1490 Minor Updates to Pseudo Classes
  content/css/concepts/pseudo-classes/pseudo-classes.md
Labels: css, typo, status: ready for next review

#1349 Nmap os detection
  content/cybersecurity/concepts/nmap/terms/os-detection/os-detection.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, cybersecurity

#1400 Add new entry on the Linux Kernel
  content/general/concepts/historical-technical-figures/terms/linus-torvalds/linus-torvalds.md
  content/open-source/concepts/linux-kernel/linux-kernel.md
  content/open-source/concepts/linux/linux.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, open source

#1492 [Edit] JavaScript: AJAX (typo)
  content/javascript/concepts/ajax/ajax.md
Labels: javascript, typo

#1425 Added __str__() term to Python Dunder Methods
  content/python/concepts/dunder-methods/terms/str/str.md
Labels: python, new entry, status: review 1️⃣ completed, status: waiting for author

#1494 fix typo (utilize)
  content/javascript/concepts/ajax/ajax.md
Labels: javascript, typo

#1423 Added data-types.md in the kotlin folder
  content/kotlin/concepts/data-types/data-types.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review, kotlin

#1486 [New Term] Python Built-in Functions: `help()`
  content/python/concepts/built-in-functions/terms/help/help.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1465 1445 sql primary keys
  content/sql/concepts/primary-keys/primary-keys.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed

#1439 SwiftUI: Toggle
  content/swiftui/concepts/views/terms/toggle/toggle.md
  media/swiftui-toggle-off.png
  media/swiftui-toggle-on.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1507 Little edit to SwiftUI: Toggle
  content/swiftui/concepts/views/terms/toggle/toggle.md
  media/swiftui-toggle-off.png
  media/swiftui-toggle-on.png
Labels: enhancement, status: waiting for author, swiftui

#1493 [Edit] JavaScript Arrays: .indexOf()
  content/javascript/concepts/arrays/terms/indexOf/indexOf.md
Labels: enhancement, javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#1487 Alter primary key
  content/sql/concepts/primary-keys/primary-keys.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed

#1514 Update primary-keys.md
  content/sql/concepts/primary-keys/primary-keys.md
Labels: sql, typo, status: review 1️⃣ completed

#1516 Add topic slugs to `catalog-content.md`
  documentation/catalog-content.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: ready for next review

#1515 Update `ContentCatalog` in Kotlin: Data Types
  content/kotlin/concepts/data-types/data-types.md
Labels: typo, status: review 1️⃣ completed, kotlin

#1469 Copy within
  content/javascript/concepts/arrays/terms/copyWithin/copyWithin.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1437 Variables.md added in kotlin folder
  content/kotlin/concepts/variables/variables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1381 Term Entry: Nmap TCP Connect Scan
  content/cybersecurity/concepts/nmap/terms/tcp-connect-scan/tcp-connect-scan.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1407 added to dictionaries.md replacing key values
  content/python/concepts/dictionaries/dictionaries.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#1502 Update `Java: ArrayList` Concept With `.set()` Method Entry
  content/java/concepts/array-list/terms/set/set.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1399 Add startswith to Python strings
  content/python/concepts/strings/terms/startswith/startswith.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1350 SwiftUI View: TextField
  content/swiftui/concepts/views/terms/textfield/textfield.md
  media/swiftui-textfield-fill.png
  media/swiftui-textfield.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1419 Added arrays.md in the kotlin folder
  content/kotlin/concepts/arrays/arrays.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, kotlin

#1337 Nmap version detection
  content/cybersecurity/concepts/nmap/terms/nmap-version-detection/nmap-version-detection.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#1517 [New Term] Kotlin Arrays: `.get()`
  content/kotlin/concepts/hashmap/terms/get/get.md
Labels: new entry, status: waiting for author, kotlin

#1476 Added hashmap.md in kotlin folder
  content/kotlin/concepts/hashmap/hashmap.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, kotlin

#1375 [Term Entry] Python Time Module: `.sleep()`
  content/python/concepts/time-module/terms/sleep/sleep.md
Labels: python, new entry, status: review 1️⃣ completed, status: waiting for author

#1286 Create removeAll.md Issue #1127
  content/swift/concepts/sets/terms/removeAll/removeAll.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1429 New html term label (redo)
  content/html/concepts/elements/terms/label/label.md
Labels: html, new entry, status: review 1️⃣ completed, status: waiting for author

#1427 Added SwiftUI ViewModifier: `.underline()`
  content/swiftui/concepts/viewmodifier/terms/underline/underline.md
  media/swiftui-viewmodifier-underline.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#1401 Added data type topic in C-sharp
  content/c-sharp/concepts/data-types/data-types.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1534 Update README.md
  README.md
Labels: documentation, enhancement

#1327 [New Entry] C#: System.Math
  content/c-sharp/concepts/math-functions/math-functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#1536 Corrected swiftUI term `.underline()`
  content/swiftui/concepts/viewmodifier/terms/underline/underline.md
Labels: typo, status: review 1️⃣ completed, swiftui

#1298 New entry - HTML element textarea
  content/html/concepts/elements/terms/textarea/textarea.md
  media/html-elements-textarea.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1470 Added size.md in the java folder
  content/java/concepts/array-list/terms/size/size.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1299 [New Term] Swift Sets: `.symmetricDifference()`
  content/swift/concepts/sets/terms/symmetricDifference/symmetricDifference.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1417 Added loops.md in kotlin folder
  content/kotlin/concepts/loops/loops.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1344 Concept Edit: JavaScript Dynamic Typing
  content/javascript/concepts/variables/variables.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#1521 Added put.md in the terms folder of `hashmap`
  content/kotlin/concepts/hashmap/terms/put/put.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#1546 Fix Swift UI View Modifier .bold() tag
  content/swiftui/concepts/viewmodifier/terms/bold/bold.md
Labels: typo, status: review 1️⃣ completed, status: waiting for author, swiftui

#1305 [New Entry] SQL Commands: `SELECT TOP`
  content/sql/concepts/commands/terms/select-top/select-top.md
Labels: sql, new entry, status: review 1️⃣ completed, status: waiting for author

#1418 add favicon html content
  content/html/concepts/favicon/favicon.md
  documentation/tags.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1345 [Edit] JavaScript: Loops
  content/javascript/concepts/loops/loops.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#1564 Fix bad link - git branches
  .github/CONTRIBUTING.md
Labels: documentation, typo

#1346 SwiftUI: Form View
  content/swiftui/concepts/views/terms/form/form.md
  media/swiftui-form.png
  media/swiftui-list.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui
