Repository Codecademy/docs, pull requests merged in 2023-08, with the labels that each got.

#2900 [Term Entry] PHP Arrays compact()
  content/php/concepts/arrays/terms/compact/compact.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2866 [Term Entry] Go Math Functions .Modf()
  content/go/concepts/math-functions/terms/modf/modf.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2891 [Term Entry] PHP Arrays extract() #2753
  content/php/concepts/arrays/terms/extract/extract.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2893 Python add codebytes
  content/python/concepts/regex/terms/match/match.md
  content/python/concepts/regex/terms/search/search.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2645 Css selectors
  content/css/concepts/selectors/selectors.md
  content/html/concepts/tags/tags.md
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#2796 Storage clear documentation
  content/javascript/concepts/storage/terms/clear/clear.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2737 Add removeItem term entry
  content/javascript/concepts/storage/terms/removeItem/removeItem.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2735 Term entry Javascript storage set item
  content/javascript/concepts/storage/terms/setItem/setItem.md
  documentation/tags.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2715 [Term Entry] JavaScript Storage .getItem(key) - close #2694
  content/javascript/concepts/storage/terms/getItem/getItem.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#1914 Create trim.md
  content/php/concepts/string-functions/terms/trim/trim.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2699 [Concept Entry] SwiftUI Layouts
  content/swiftui/concepts/layouts/layouts.md
  media/swiftui-conditional-layout.gif
  media/swiftui-custom-layout.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2123 Added SwiftUI Widgets file, what widgets are and how to create one
  content/swiftui/concepts/widgets/widgets.md
Labels: new entry, status: review 1️⃣ completed, swiftui, status: sme review :one: completed

#2908 Create sets.md
  content/kotlin/concepts/sets/sets.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#2916 Add lua concept
  content/lua/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, lua

#2907 JavaScript Array.prototype.toReversed()
  content/javascript/concepts/arrays/terms/toReversed/toReversed.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2904 [Term Entry] Go Math Functions Exp2()
  content/go/concepts/math-functions/terms/exp2/exp2.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2903 [Term Entry] Go Math Functions Mod()
  content/go/concepts/math-functions/terms/mod/mod.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2902 Python - Add codebytes for math.pow and math.sin
  content/python/concepts/math-module/terms/math-pow/math-pow.md
  content/python/concepts/math-module/terms/math-sin/math-sin.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2898 Python add codebytes #2887
  content/python/concepts/math-module/terms/math-sqrt/math-sqrt.md
  content/python/concepts/math-module/terms/math-tan/math-tan.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2895 New python file codebytes
  content/python/concepts/files/terms/close/close.md
  content/python/concepts/files/terms/readline/readline.md
  content/python/concepts/files/terms/remove/remove.md
Labels: enhancement, python, status: review 1️⃣ completed, status: ready for next review

#2870 [Term Entry] PHP Arrays range()
  content/php/concepts/arrays/terms/range/range.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2899 [Concept Entry] Java Calendar #2839
  content/java/concepts/calendar/calendar.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2935 Edit entries python codebyte
  content/python/concepts/math-module/terms/math-ceil/math-ceil.md
  content/python/concepts/math-module/terms/math-cos/math-cos.md
  content/python/concepts/math-module/terms/math-log/math-log.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2911 Closes #2570 Added and edited Codebytes
  content/python/concepts/built-in-functions/terms/compile/compile.md
  content/python/concepts/built-in-functions/terms/complex/complex.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2704 [Concept Entry] AI Recurrent Neural Networks (RNN)
  content/ai/concepts/neural-networks/terms/recurrent-neural-networks/recurrent-neural-networks.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#2901 Array.prototype.to spliced()
  content/javascript/concepts/arrays/terms/toSpliced/toSpliced.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2890 [Term Entry] PHP Arrays rsort() #2824
  content/php/concepts/arrays/terms/rsort/rsort.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2951 New entry for PHP array_count_values function
  content/php/concepts/arrays/terms/array-count-values/array-count-values.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2950 [Term Entry] PHP Arrays shuffle()
  content/php/concepts/arrays/terms/shuffle/shuffle.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2943 [Edit] Python Built-In Functions Input() and isinstance() (Add Codebytes)
  content/python/concepts/built-in-functions/terms/isinstance/isinstance.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2936 Edit python add codebytes #2821
  content/python/concepts/files/terms/truncate/truncate.md
  content/python/concepts/files/terms/unlink/unlink.md
  content/python/concepts/files/terms/writable/writable.md
Labels: enhancement, python, status: review 1️⃣ completed, status: ready for next review

#2932 Added section about the review process
  content/git/concepts/pull-requests/pull-requests.md
Labels: enhancement, git, status: review 1️⃣ completed, status: ready for next review

#2919 add lua conditionals entry
  content/lua/concepts/conditionals/conditionals.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, lua

#2991 Add script and append post merge workflow
  .github/scripts/urls.py
  .github/workflows/post-merge-messages.yml
Labels: enhancement

#2910 Starts with codebyte
  content/javascript/concepts/arrays/terms/toSpliced/toSpliced.md
  content/javascript/concepts/strings/terms/startsWith/startsWith.md
  content/javascript/concepts/strings/terms/substring/substring.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2992 Move message from issues to pr
  .github/workflows/post-merge-messages.yml
Labels: enhancement

#2905 Javascript length property entry addition
  content/javascript/concepts/storage/terms/length/length.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2922 add lua strings entry
  content/lua/concepts/strings/strings.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#2940 [Term Entry] PHP Math Functions: .atanh()
  content/php/concepts/math-functions/terms/atanh/atanh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2921 add functions entry
  content/lua/concepts/functions/functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#2925 Operators PR
  content/lua/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, lua

#2598 [Term Entry] JavaScript Dates .setUTCDate() method
  content/javascript/concepts/dates/terms/setUTCDate/setUTCDate.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2615 [CLOSES] Issue#2431 Term Entry: JavaScript Dates .setMilliseconds()
  content/javascript/concepts/dates/terms/setMilliseconds/setMilliseconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2957 Changed boldface to backticks for file names
  content/python/concepts/files/files.md
  content/python/concepts/files/terms/read/read.md
  content/python/concepts/files/terms/rmdir/rmdir.md
  content/python/concepts/files/terms/seek/seek.md
  content/python/concepts/files/terms/truncate/truncate.md
  content/python/concepts/files/terms/unlink/unlink.md
  content/python/concepts/files/terms/writable/writable.md
  content/python/concepts/files/terms/write/write.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2994 Added new [Term Entry] Java Calendar get()
  content/java/concepts/calendar/terms/get/get.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#2995 [New Term entry] added getDisplayNames.md
  content/java/concepts/calendar/terms/getDisplayNames/getDisplayNames.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2986 php new entry for sqrt function
  content/php/concepts/math-functions/terms/sqrt/sqrt.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2929 Term Entry Java Date.from()
  content/java/concepts/date/terms/from/from.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2788 [Term Entry] Cybersecurity Malware Rootkit
  content/cybersecurity/concepts/malware/terms/rootkit/rootkit.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#3000 [Term Entry]: PHP array-intersect()
  content/php/concepts/arrays/terms/array-intersect/array-intersect.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#2993 feat: adding entry about mdx
  content/markdown/concepts/mdx/mdx.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, markdown, status: sme review :one: completed

#3001 Fix typo in .toSpliced() method
  content/javascript/concepts/arrays/terms/toSpliced/toSpliced.md
Labels: javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#3007 [Edit] Template metadata
  documentation/concept-entry-template.md
  documentation/term-entry-template.md
  documentation/topic-entry-template.md
Labels: documentation, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2858 [Edit Entry] Center
  content/html/concepts/elements/terms/center/center.md
Labels: enhancement, html, status: review 1️⃣ completed, status: ready for next review

#2853 2833 semantic html meter
  content/html/concepts/semantic-html/terms/meter/meter.md
  media/meter.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2997 Khiem's Calendar.clear() method
  content/java/concepts/calendar/terms/clear/clear.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2923 add lua mathematical library entry
  content/lua/concepts/mathematical-library/mathematical-library.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#2862 Creation of enums.md for kotlin
  content/kotlin/concepts/enums/enums.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, kotlin

#2987 [Edit] Python Added Codebyte in .lower()
  content/python/concepts/strings/terms/lower/lower.md
Labels: enhancement, python, status: review 1️⃣ completed, status: ready for next review

#3009 Add [Term Entry] Java Calendar clone()
  content/java/concepts/calendar/terms/clone/clone.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2933 Added documentation on Promises in TypeScript
  content/typescript/concepts/promises/promises.md
Labels: typescript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3006 [Concept Entry] Ruby: JRuby
  content/ruby/concepts/jruby/jruby.md
  documentation/tags.md
Labels: ruby, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2594 Created depth-first-search.md
  content/ai/concepts/search-algorithms/terms/depth-first-search/depth-first-search.md
  media/Depth-First-Search-Example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2917 add lua data type entry
  content/lua/concepts/data-types/data-types.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review, lua

#2721 [Edit]General:Unicode
  content/general/concepts/unicode/unicode.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: sme review :one: completed

#2983 Python add codebytes
  content/python/concepts/math-module/terms/math-ceil/math-ceil.md
Labels: enhancement, python, status: review 1️⃣ completed, status: waiting for author

#2778 #2511 add codebytes for javascript promise race and reject
  content/javascript/concepts/promise/terms/race/race.md
  content/javascript/concepts/promise/terms/reject/reject.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#2789 PR: [Concept Entry] Discrete Math Number Bases
  content/discrete-math/concepts/number-bases/number-bases.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, discrete math

#2773 Add term entry for semantic html ruby
  content/html/concepts/semantic-html/terms/ruby/ruby.md
  media/semantic-html-ruby.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3022 [Term Entry] added .before() for Calendar class of Java
  content/java/concepts/calendar/terms/before/before.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3031 Java date equals
  content/java/concepts/date/terms/equals/equals.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3023 Adding in method
  content/java/concepts/calendar/terms/getAvailableCalendarTypes/getAvailableCalendarTypes.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3017 Term Entry Java Calendar Complete
  content/java/concepts/calendar/terms/complete/complete.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3042 [TERM ENTRY] Java Calendar CompareTo Fixes #2969
  content/java/concepts/calendar/terms/compareTo/compareTo.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2863 Re issue #2818 - add codebyte for Python Built-in Reversed Function applied on tuple
  content/python/concepts/built-in-functions/terms/reversed/reversed.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#3037 [Term Entry] Go Math Functions Hypot()
  content/go/concepts/math-functions/terms/hypot/hypot.md
Labels: new entry, status: review 1️⃣ completed, go, status: ready for next review

#3014 [Term Entry] Java Calendar getActualMaximum()
  content/java/concepts/calendar/terms/getActualMaximum/getActualMaximum.md
Labels: java, new entry, status: review 1️⃣ completed, status: ready for next review

#2771 [Term Entry] PHP dechex()
  content/php/concepts/math-functions/terms/dechex/dechex.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2734 Concept Entry: SwiftUI Button
  content/swiftui/concepts/views/terms/button/button.md
  media/swiftui-button.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#3054 [Edit] Markdown: Links and Highlight
  content/markdown/concepts/highlight/highlight.md
  content/markdown/concepts/links/links.md
Labels: enhancement, markdown

#2869 [Edit] JavaScript promises: Async-await
  content/javascript/concepts/promise/promise.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#2780 [Term Entry] Discrete Math: Proof by Strong Induction
  content/discrete-math/concepts/proofs/terms/proof-by-strong-induction/proof-by-strong-induction.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#2926 Tables PR
  content/lua/concepts/tables/tables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#2871 New concept entry: `git diff`
  content/git/concepts/diff/diff.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2765 Add codebyte exemples for python built in function delattr and eval
  content/python/concepts/built-in-functions/terms/delattr/delattr.md
  content/python/concepts/built-in-functions/terms/eval/eval.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#2739 Add switch concept entry
  content/r/concepts/switch/switch.md
Labels: r, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3055 [Term Entry] array_reduce() PHP
  content/php/concepts/arrays/terms/array-reduce/array-reduce.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#2931 Memoryview
  content/python/concepts/built-in-functions/terms/memoryview/memoryview.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3013 Concept Entry Javascript Accessors
  content/javascript/concepts/accessors/accessors.md
Labels: invalid, javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3059 [Term Entry] PHP Arrays array_uniqe()
  content/php/concepts/arrays/terms/array-unique/array-unique.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3057 [Term Entry] PHP Arrays array_column()
  content/php/concepts/arrays/terms/array-column/array-column.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2918 Update rest.md
  content/general/concepts/rest/rest.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#2897 Add rb entry
  content/html/concepts/semantic-html/terms/rb/rb.md
  media/semantic-html-rb-example-1.png
  media/semantic-html-rb-example-2.png
Labels: html, new entry, status: review 1️⃣ completed, status: sme review :one: completed, status: under review

#2930 Swiftui shape
  content/swiftui/concepts/shapes/shapes.md
  media/swiftui-shapes-triangle.jpeg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#2643 Update cpp pointer docs
  content/cpp/concepts/pointers/pointers.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed

#2873 Term entry cybersecurity disaster recovery
  content/cybersecurity/concepts/disaster-recovery/disaster-recovery.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2988 Entry for Swift Comparable protocol
  content/swift/concepts/protocols/terms/comparable/comparable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2947 Added [Term Entry] Swift Protocols Identifiable
  content/swift/concepts/protocols/terms/identifiable/identifiable.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2999 [Term Entry] Swift Protocols Equatable
  content/swift/concepts/protocols/terms/equatable/equatable.md
  documentation/tags.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3121 Add CutPrefix() to Go String Function Terms
  content/go/concepts/strings/terms/cutprefix/cutprefix.md
Labels: new entry, status: review 1️⃣ completed, go, status: ready for next review

#2850 [Edit] JavaScript Add Codebytes
  content/javascript/concepts/promise/terms/resolve/resolve.md
  content/javascript/concepts/promise/terms/then/then.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2604 Swift concept methods
  content/swift/concepts/methods/methods.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3056 [Term Entry] PHP Array Method: array_splice()
  content/php/concepts/arrays/terms/array-splice/array-splice.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#3071 [Term Entry] PHP `array_map()`
  content/php/concepts/arrays/terms/array-map/array-map.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2924 Iterators PR
  content/lua/concepts/iterators/iterators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#3123 Java get time in millis
  content/java/concepts/calendar/terms/getTimeInMillis/getTimeInMillis.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
