Repository Codecademy/docs, pull requests merged in 2023-07, with the labels that each got.

#2529 Term entry sql log10
  content/sql/concepts/math-functions/terms/log10/log10.md
Labels: sql, new entry, status: review 1️⃣ completed, status: ready for next review

#2546 [Term Entry] PHP String Functions str_contains()
  content/php/concepts/string-functions/terms/str-contains/str-contains.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2588 [Term Entry] JavaScript Array.prototype.findLast()
  content/javascript/concepts/arrays/terms/findLast/findLast.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2349 Add SwiftUI Search Entry
  content/swiftui/concepts/search/search.md
  media/swiftui-search-1.jpg
  media/swiftui-search-2.jpg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, swiftui

#2413 [Edit]Python: Regular Expressions
  content/python/concepts/regex/regex.md
  content/python/concepts/regex/terms/findall/findall.md
  content/python/concepts/regex/terms/match/match.md
  content/python/concepts/regex/terms/search/search.md
  content/python/concepts/regex/terms/split/split.md
Labels: enhancement, python, typo, status: review 1️⃣ completed, status: under review

#2509 Remove src example
  content/html/concepts/attributes/attributes.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#2331 Backpropagation new entry
  content/ai/concepts/neural-networks/terms/backpropagation/backpropagation.md
Labels: new entry, status: review 1️⃣ completed, status: under review, ai

#2585 Docs math proofs
  content/discrete-math/concepts/proofs/proofs.md
  content/discrete-math/discrete-math.md
  documentation/subjects.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#2636 Create cut term for go string function
  content/go/concepts/string-functions/terms/cut/cut.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2647 php pi() function entry
  content/php/concepts/math-functions/terms/pi/pi.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2637 [Term Entry] Go string function contains
  content/go/concepts/strings/terms/contains/contains.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2325 [fix] added more attributes to the label and input elements
  content/html/concepts/elements/terms/input/input.md
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#2618 [Term Entry]: PHP stripos()
  content/php/concepts/string-functions/terms/stripos/stripos.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2664 [Typo] Fix Path Error for Go Cut Entry
  content/go/concepts/strings/terms/cut/cut.md
Labels: typo, status: review 1️⃣ completed, go

#2613 [Edit] Adding Codebytes in python built-in-functions [all() , breakpoint() and classmethod)
  content/python/concepts/built-in-functions/terms/all/all.md
  content/python/concepts/built-in-functions/terms/classmethod/classmethod.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2410 [New Concept] AI Foundation Models
  content/ai/concepts/foundation-models/foundation-models.md
  content/ai/concepts/generative-ai/generative-ai.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2591 [Term Entry] JavaScript Array.prototype.findLastIndex()
  content/javascript/concepts/arrays/terms/findLastIndex/findLastIndex.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2605 Origin/get timezone offset
  content/javascript/concepts/dates/terms/getTimezoneOffset/getTimezoneOffset.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2667 Go entry project
  content/go/concepts/strings/terms/join/join.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2668 [Term Entry] Go String Functions Index()
  content/go/concepts/strings/terms/index/index.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2471 Term entry] swift arrays .shuffle()
  content/swift/concepts/arrays/terms/shuffle/shuffle.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2165 [Concept Entry] AI Large Language Models
  content/ai/concepts/foundation-models/terms/large-language-models/large-language-models.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: review 3️⃣ completed, ai

#2672 Edit HTML Elements: input
  content/html/concepts/elements/terms/input/input.md
Labels: html, typo, status: review 1️⃣ completed

#2665 [Term Entry] Create staticmethod.md | Closes issue #2387
  content/python/concepts/built-in-functions/terms/staticmethod/staticmethod.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2657 [ Term Entry ] PHP String Functions Str_ends_with() adresses #2433
  content/php/concepts/string-functions/terms/str-ends-with/str-ends-with.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2538 Add Sigmoid Activation Function entry and fix typo
  content/ai/concepts/neural-networks/terms/activation-function/activation-function.md
  content/ai/concepts/neural-networks/terms/sigmoid-activation-function/sigmoid-activation-function.md
  content/ai/concepts/search-algorithms/terms/gradient-descent/gradient-descent.md
  media/sigmoid-function.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2466 firstIndex method completed
  content/swift/concepts/arrays/terms/firstIndex/firstIndex.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2648 [Term Entry] Create address.md
  content/html/concepts/semantic-html/terms/address/address.md
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2661 [Term Entry] Go String Function: Replace()
  content/go/concepts/strings/terms/replace/replace.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2674 PHP decbin() math function
  content/php/concepts/math-functions/terms/decbin/decbin.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2669 [Term Entry] Go String Functions Trim()
  content/go/concepts/strings/terms/trim/trim.md
Labels: new entry, status: review 1️⃣ completed, go, status: under review

#2653 [Term Entry] PHP Arrays array_pop()_07/02/2023_9:34:PM
  content/php/concepts/arrays/terms/array-pop/array-pop.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2646 [Term Entry] PHP Arrays array_push()_07/01/2023_10:45:PM
  content/php/concepts/arrays/terms/array-push/array-push.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2610 [Term Entry] Swift Arrays .randomElement() #2561
  content/swift/concepts/arrays/terms/randomElement/randomElement.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2296 Update General Topic Entry
  content/general/general.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#2469 [Term Entry] PHP Math Functions deg2rad()
  content/php/concepts/math-functions/terms/deg2rad/deg2rad.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2590 Go math ceil
  content/go/concepts/math-functions/terms/ceil/ceil.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, go

#2544 [Concept Entry] Swift Errors
  content/swift/concepts/errors/errors.md
Labels: swift, new entry, status: review 1️⃣ completed

#2706 [Term Entry] Go Math Functions Round()
  content/go/concepts/math-functions/terms/round/round.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2677 [Term Entry] PHP Arrays array_merge()
  content/php/concepts/arrays/terms/array-merge/array-merge.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2703 [Term Entry] Java Date Method: .after()
  content/java/concepts/date/terms/after/after.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2707 Go strings Fields() added #2563
  content/go/concepts/strings/terms/fields/fields.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2710 [Term Entry] Javascript Date function setMonth()
  content/javascript/concepts/dates/terms/setMonth/setMonth.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2675 [Term Entry] PHP Array term array_combine()
  content/php/concepts/arrays/terms/array-combine/array-combine.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2725 [Term Entry]: PHP date_add()
  content/php/concepts/date-functions/terms/date-add/date-add.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2724 Created atan2() reference function for php
  content/php/concepts/math-functions/terms/atan2/atan2.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2723 [Term Entry] PHP Arrays array_fill()
  content/php/concepts/arrays/terms/array-fill/array-fill.md
  yarn.lock
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2718 [Term Entry]: PHP strtoupper()
  content/php/concepts/string-functions/terms/strtoupper/strtoupper.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2716 [Term Entry] JavaScript Array.prototype.toSorted() - close #2650
  content/javascript/concepts/arrays/terms/toSorted/toSorted.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2635 [Term Entry] Adding Selection-Sort.md in Algorithm folder
  content/general/concepts/algorithm/terms/selection-sort/selection-sort.md
  media/SelectionSort.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2545 Adding Codebyte example to lastIndexOf JavaScript documentation
  content/javascript/concepts/arrays/terms/filter/filter.md
  content/javascript/concepts/arrays/terms/isArray/isArray.md
  content/javascript/concepts/arrays/terms/lastIndexOf/lastIndexOf.md
Labels: javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#2702 Supply chain attack
  content/cybersecurity/concepts/cyber-attack/terms/supply-chain-attack/supply-chain-attack.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2713 [Term Entry] C# Array .CopyTo()
  content/c-sharp/concepts/arrays/terms/copyto/copyto.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#2742 Introduced enhancements to pi.md using constants.
  content/php/concepts/math-functions/terms/pi/pi.md
Labels: enhancement, php, status: review 1️⃣ completed, status: review 2️⃣ completed

#2717 [Term Entry] JavaScript Array .every()
  content/javascript/concepts/arrays/terms/every/every.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2730 [Term Entry] PHP Date function date_sub()
  content/php/concepts/date-functions/terms/date-sub/date-sub.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2729 [Term Entry] PHP Arrays array_keys()
  content/php/concepts/arrays/terms/array-keys/array-keys.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2673 [Term Entry] JavaScript Dates .setHours()
  content/javascript/concepts/dates/terms/setHours/setHours.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2736 [Term Entry] Go Math Function: Floor()
  content/go/concepts/math-functions/terms/floor/floor.md
Labels: new entry, status: review 1️⃣ completed, go, status: under review

#2542 add binary-step-activation-function.md
  content/ai/concepts/neural-networks/terms/binary-step-activation-function/binary-step-activation-function.md
  media/binary-step-function.jpg
  media/binary-step-plot.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#2541 Move SQL Injection to Cybersecurity
  content/cybersecurity/concepts/cyber-attack/terms/sql-injection/sql-injection.md
  content/cybersecurity/concepts/hacking/hacking.md
  content/sql/concepts/sql-injections/sql-injections.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2575 feat: add information about good first issues
  content/general/concepts/github/github.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2770 [Typo] Cybersecurity: Hacking
  content/cybersecurity/concepts/hacking/hacking.md
Labels: typo, cybersecurity, status: ready for next review

#2738 Add array_flip term entry
  content/php/concepts/arrays/terms/array-flip/array-flip.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2671 Edit entries php examples3
  content/php/concepts/string-functions/terms/explode/explode.md
  content/php/concepts/string-functions/terms/strtolower/strtolower.md
  content/php/concepts/string-functions/terms/substr/substr.md
Labels: enhancement, php, status: review 1️⃣ completed, status: review 2️⃣ completed

#2767 [Term Entry] Spyware
  content/cybersecurity/concepts/malware/terms/spyware/spyware.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2608 [Edit]Semantic HTML: Content Consolidation
  content/general/concepts/semantic-html/semantic-html.md
  content/html/concepts/semantic-html/semantic-html.md
Labels: html, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2740 Add vim modes subsection to commandline/vim.md doc
  content/command-line/concepts/vim/vim.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, command line

#2741 Created date-parse.md
  content/php/concepts/date-functions/terms/date-parse/date-parse.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2779 [Term Entry] Go Math Function Sqrt()
  content/go/concepts/math-functions/terms/sqrt/sqrt.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2769 add ruby-text element entry
  content/html/concepts/semantic-html/terms/rt/rt.md
  media/kenjutsu.png
Labels: invalid, html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2679 PHP - Date Functions - Terms - date_diff
  content/php/concepts/date-functions/terms/date-diff/date-diff.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2783 [Term Entry] JavaScript Dates .setUTCMonth()
  content/javascript/concepts/dates/terms/setUTCMonth/setUTCMonth.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#2774 [Term Entry] PHP Math Functions is_infinite()
  content/php/concepts/math-functions/terms/is-infinite/is-infinite.md
Labels: php, new entry, status: review 1️⃣ completed, status: ready for next review

#2772 fmod.md for PHP
  content/php/concepts/math-functions/terms/fmod/fmod.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2748 New term entry for PHP about the strpos() function
  content/php/concepts/string-functions/terms/strops/strops.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2744 [Term Entry] PHP Math Function: hypot()
  content/php/concepts/math-functions/terms/hypot/hypot.md
Labels: php, new entry, status: review 1️⃣ completed, status: under review

#2670 New cpp codebytes
  content/cpp/concepts/math-functions/terms/abs/abs.md
  content/cpp/concepts/math-functions/terms/acos/acos.md
  content/cpp/concepts/math-functions/terms/asin/asin.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed

#2791 Update methods.md
  content/cpp/concepts/methods/methods.md
Labels: c++, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2776 2775 fix typo
  .github/CODE_OF_CONDUCT.md
Labels: documentation, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2787 fix: Update codebyte example for PHP acos() method
  content/php/concepts/math-functions/terms/acos/acos.md
Labels: php, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2781 Create [Term Entry] SQL Math Functions EXP
  content/sql/concepts/math-functions/terms/exp/exp.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2709 [Edit] PHP Arrays
  content/php/concepts/arrays/arrays.md
Labels: enhancement, php, status: review 1️⃣ completed, status: review 2️⃣ completed

#2733 [Term Entry] Cybersecurity Malware keylogger #2689
  content/cybersecurity/concepts/malware/terms/keylogger/keylogger.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, cybersecurity

#2785 [Concept Entry]: DDoS attacks
  content/cybersecurity/concepts/cyber-attack/terms/ddos-attack/ddos-attack.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, cybersecurity

#2790 [Term Entry] PHP Math Function: atan
  content/php/concepts/math-functions/terms/atan/atan.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2844 Go Math Function Cbrt
  content/go/concepts/math-functions/terms/cbrt/cbrt.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2840 Added term entry for Go Math Function Log()
  content/go/concepts/math-functions/terms/log/log.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2534 [Concept Entry] AI Diffusion Models #2109
  content/ai/concepts/foundation-models/terms/diffusion-models/diffusion-models.md
  documentation/tags.md
  media/ai-diffusion-model-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ai

#2482 Eng omar ahmed ios gesturesdoc
  content/swiftui/concepts/gestures/gestures.md
  media/swiftui-gesture-longgesture.gif
  media/swiftui-gesture-magnificationgesture-1.gif
  media/swiftui-gesture-magnificationgesture-2.gif
  media/swiftui-gesture-tapgesture.gif
Labels: enhancement, status: review 1️⃣ completed, swiftui

#2848 [New Term Entry] Adding compareTo() to Java date terms
  content/java/concepts/date/terms/compareTo/compareTo.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2843 Creation of Asinh for php
  content/php/concepts/math-functions/terms/asinh/asinh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2782 [Term Entry] PHP Math Functions base_convert()
  content/php/concepts/math-functions/terms/base-convert/base-convert.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2662 [Entry] SASS - New term page for sass concept
  content/css/concepts/sass/sass.md
  documentation/tags.md
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2576 [Concept Entry] Swift Extensions - Issue #2444
  content/swift/concepts/extensions/extensions.md
  documentation/tags.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2842 [Term Entry] Progress
  content/html/concepts/semantic-html/terms/progress/progress.md
  media/html-progress-bar-example.png
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2851 [Term Entry]: PHP array()
  content/php/concepts/arrays/terms/array/array.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2852 fixed a typo - changed excepts to accepts
  content/go/concepts/math-functions/terms/sqrt/sqrt.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#2639 Edit entries php examples2
  content/php/concepts/string-functions/terms/str-replace/str-replace.md
  content/php/concepts/string-functions/terms/str-shuffle/str-shuffle.md
  content/php/concepts/string-functions/terms/strlen/strlen.md
Labels: enhancement, php, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2732 Update convolutional-neural-networks.md
  content/ai/concepts/neural-networks/terms/convolutional-neural-networks/convolutional-neural-networks.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#2856 [Term Entry] PHP Math Functions acosh()
  content/php/concepts/math-functions/terms/acosh/acosh.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2865 Add php is finite function
  content/php/concepts/math-functions/terms/is-finite/is-finite.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2864 [Term Edit] Update count.md to use correct syntax of count() for Lists
  content/python/concepts/lists/terms/count/count.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2861 added before.md file
  content/java/concepts/date/terms/before/before.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2663 [Term Entry] JavaScript Dates .setUTCSeconds() | Closes Issue #2620
  content/javascript/concepts/dates/terms/setUTCSeconds/setUTCSeconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2854 Create array.with().md
  content/javascript/concepts/arrays/terms/with/with.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#2777 Array.prototype.at() method added
  content/javascript/concepts/arrays/terms/at/at.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#2860 Created clone.md for Java Date clone method
  content/java/concepts/date/terms/clone/clone.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#2747 New term entry for JavaScript Dates about the setUTCMilliseconds() method
  content/javascript/concepts/dates/terms/setUTCMilliseconds/setUTCMilliseconds.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#2874 correct typo in code example
  content/javascript/concepts/strings/terms/toUpperCase/toUpperCase.md
Labels: javascript, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#2867 Add deprecation notes
  content/general/concepts/ssl/ssl.md
  content/html/concepts/elements/terms/acronym/acronym.md
  content/html/concepts/elements/terms/basefont/basefont.md
  content/html/concepts/elements/terms/blink/blink.md
  content/html/concepts/elements/terms/font/font.md
  content/html/concepts/text-formatting/text-formatting.md
  content/swiftui/concepts/viewmodifier/terms/border/border.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed

#2666 RE: [Edit] C++ Add Codebytes #2156
  content/cpp/concepts/math-functions/terms/cbrt/cbrt.md
  content/cpp/concepts/math-functions/terms/ceil/ceil.md
  content/cpp/concepts/math-functions/terms/cos/cos.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author
