Repository Codecademy/docs, pull requests merged in 2024-07, with the labels that each got.

#4852 added a codebyte example/seperate from the other examples in the entry
  content/javascript/concepts/enums/enums.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4696 Postgresql collations
  content/postgresql/concepts/collations/collations.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4815 adds .update() term
  content/python/concepts/sets/terms/update/update.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4785 Completed concept entry for Postgresql operators #4764
  content/postgresql/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4781 [Term Entry] Python Plotly .box()
  content/plotly/concepts/express/terms/box/box.md
  media/plotly-express-box()-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#4876 [Edit] CSS [Edit] CSS: Filter Functions .saturate()
  content/css/concepts/filter-functions/terms/saturate/saturate.md
  media/css-filterfunction-saturate-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#4783 [Added] Lua Strings: .len()
  content/lua/concepts/strings/terms/len/len.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#4786 [Concept Entry] Python : ImageFilter()
  content/pillow/concepts/imagefilter/imagefilter.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pillow

#4855 add .md file/entry for Pandas dataframe tail
  content/pandas/concepts/dataframe/terms/tail/tail.md
Labels: new entry, status: review 1️⃣ completed, pandas, status: under review

#4875 Adding Flatten docs
  content/numpy/concepts/ndarray/terms/flatten/flatten.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#4899 [Term Entry] for Dart List .add() method
  content/dart/concepts/list/terms/add/add.md
Labels: new entry, status: review 1️⃣ completed, dart

#4901 [Edit] JavaScript Arrays: .slice()
  content/javascript/concepts/arrays/terms/slice/slice.md
Labels: enhancement, javascript, status: under review

#4776 [Term Entry] Java ArrayList .listiterator() #4341
  content/java/concepts/array-list/terms/listiterator/listiterator.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4874 Add entry rust data types #4821
  content/rust/concepts/data-types/data-types.md
  media/rust-data-types.gif
Labels: new entry, status: review 1️⃣ completed, status: under review, rust

#4909 [Term Entry] Dart Maps: .containsValue()
  content/dart/concepts/map/terms/containsValue/containsValue.md
Labels: new entry, status: review 1️⃣ completed, dart

#4910 feat: adding keras term entry basic
  content/tensorflow/concepts/keras/keras.md
Labels: new entry, status: review 1️⃣ completed, tensorflow

#4914 [Edit] React components : Code Errors Fixed
  content/react/concepts/components/components.md
Labels: bug, enhancement, react, status: review 1️⃣ completed

#4904 Completed [Term Entry] Dart List .cast() #4297
  content/dart/concepts/list/terms/cast/cast.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4882 [Term Entry] Python:NumPy Math Methods log #4709
  content/numpy/concepts/math-methods/terms/log/log.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#4902 [Edit] Git: Pull Requests
  content/git/concepts/pull-requests/pull-requests.md
Labels: git, status: review 1️⃣ completed, status: ready for next review

#4929 [Term Entry] Dart Maps: .values
  content/dart/concepts/map/terms/values/values.md
Labels: new entry, status: under review, dart

#4847 [Edit] Java data-types
  content/java/concepts/data-types/data-types.md
Labels: java, status: review 1️⃣ completed, status: review 2️⃣ completed

#4881 [Term Entry] Python: Numpy ndarray.astype()
  content/numpy/concepts/ndarray/terms/astype/astype.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#4947 [Topic Entry] Created `llm.md`
  content/general/concepts/llm/llm.md
Labels: general, new entry, status: review 1️⃣ completed

#4948 [Concept Entry] Added a new entry `tokenization.md`
  content/general/concepts/tokenization/tokenization.md
  documentation/tags.md
Labels: general, new entry, status: under review

#4772 Add codebyte to getUTCDate()
  content/javascript/concepts/dates/terms/getUTCDate/getUTCDate.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4747 Add Concepts: Keywords
  content/mysql/concepts/keywords/keywords.md
Labels: new entry, status: review 1️⃣ completed, status: under review, mysql

#4734 Rust operators
  content/rust/concepts/operators/operators.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, rust

#4740 Create bit-functions.md
  content/mysql/concepts/bit-functions/bit-functions.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4811 [Concept Entry] MySQL user-defined variables
  content/mysql/concepts/user-defined-variables/user-defined-variables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, mysql

#4957 [Concept Entry] UIUX: UX Psychology
  content/uiux/concepts/ux-psychology/terms/fitts-law/fitts-law.md
  content/uiux/concepts/ux-psychology/terms/hicks-law/hicks-law.md
  content/uiux/concepts/ux-psychology/ux-psychology.md
Labels: new entry, status: review 1️⃣ completed, ui and ux

#4916 PowerShell, Arrays: Revise range operator to inclusive
  content/powershell/concepts/arrays/arrays.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, powershell

#4944 [Edit] JavaScript Objects #4941
  content/javascript/concepts/objects/objects.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4885 [Term Entry] Python Math Module comb() #4348
  content/python/concepts/math-module/terms/math-comb/math-comb.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4974 [Term Entry] Python:NumPy Built-In Functions: Correlation Coefficient
  content/numpy/concepts/built-in-functions/terms/correlation-coefficient/correlation-coefficient.md
Labels: new entry, status: review 1️⃣ completed, numpy

#4954 Adding plotly graph objects heatmap term
  content/plotly/concepts/graph-objects/terms/heatmap/heatmap.md
  media/plotly-heatmap-example.png
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4955 [Term Entry] Python Math-Module: .isclose()
  content/python/concepts/math-module/terms/math-isclose/math-isclose.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4920 feat: new entry for SQL IF statement
  content/sql/concepts/operators/terms/if/if.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#4814 [Term Entry] Python:Pandas built-in-functions: .concat()
  content/pandas/concepts/built-in-functions/terms/concat/concat.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4791 [Edit] Lua - Tables
  content/lua/concepts/tables/tables.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#4794 [Term Entry] Go: Pointers Go
  content/go/concepts/pointers/pointers.md
Labels: new entry, status: review 1️⃣ completed, go, status: under review

#4898 Add codebyte examples for hoisted variables and functions
  content/javascript/concepts/hoisting/hoisting.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4915 Add section on indent lines method, extra note on Syntax Highlighting
  content/markdown/concepts/code-blocks/code-blocks.md
Labels: new entry, status: review 1️⃣ completed, markdown, status: under review

#4978 [New Entry] Insert sort algorithm
  content/general/concepts/algorithm/terms/insertion-sort/insertion-sort.md
  media/insert-sort.png
Labels: general, new entry, status: under review

#4907 Issue4890
  content/markdown/concepts/links/links.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, markdown

#4168 [Term Entry] D3 Selection .join() added
  content/d3/concepts/selection/terms/join/join.md
  media/d3-selection-join.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3
