Repository Codecademy/docs, pull requests merged in 2024-01, with the labels that each got.

#3485 [Edit] Reorganizing proofs.md and proof-by-induction.md
  content/discrete-math/concepts/proofs/proofs.md
  content/discrete-math/concepts/proofs/terms/proof-by-induction/proof-by-induction.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, discrete math

#4129 [Term Entry] D3 Interactivity .transition() added
  content/d3/concepts/interactivity/terms/transition/transition.md
  media/d3-transition.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4054 [Term Entry] D3 Interactivity .ease() added
  content/d3/concepts/interactivity/terms/ease/ease.md
  media/d3-ease-example.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3

#4124 [Term Entry] D3 Selection .append() added
  content/d3/concepts/selection/terms/append/append.md
  media/d3-selection-append.png
Labels: new entry, status: review 1️⃣ completed, status: under review, d3

#4163 Fix typo in useRef.md
  content/react/concepts/hooks/terms/useRef/useRef.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4078 Add entry javascript object.hasOwn()
  content/javascript/concepts/objects/terms/hasOwn/hasOwn.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4051 Create a new term entry
  content/d3/concepts/interactivity/terms/classed/classed.md
  media/d3-classed-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4122 Create toArray.md
  content/java/concepts/array-list/terms/toArray/toArray.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4133 [Term Entry] D3 Styling .html()
  content/d3/concepts/styling/terms/html/html.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4121 Term entry] java array list .sort
  content/java/concepts/array-list/terms/sort/sort.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4043 [Edit] CSS [Edit] CSS Colors: color
  content/css/concepts/colors/terms/color/color.md
  media/colors-image-output.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4191 Fixing punctuations
  CONTRIBUTING.md
Labels: enhancement, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4190 Add common ways to handle multiple errors in a try-catch block in Java
  content/java/concepts/errors/errors.md
Labels: enhancement, java, status: review 1️⃣ completed, status: under review

#4195 Update javascript.md
  content/javascript/javascript.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4197 [Entry] Java Hashmap: Create the term entry map.containsKey()
  content/java/concepts/map/terms/containsKey/containsKey.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4178 [Term Entry] PHP Array Functions: array_pad()
  content/php/concepts/arrays/terms/array-pad/array-pad.md
Labels: php, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4170 New term entry kotlin serialization encodeToByteArray
  content/kotlin/concepts/serialization/terms/encodeToByteArray/encodeToByteArray.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4188 [Term entry] JS Date Method getUTCDay()
  content/javascript/concepts/dates/terms/getUTCDay/getUTCDay.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4159 Adding Example 3, in case of complex string including other characters
  content/javascript/concepts/strings/terms/toLowerCase/toLowerCase.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4204 Fix image links
  content/css/concepts/position/terms/top/top.md
Labels: css, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4164 Adding Dart topic file
  content/dart/dart.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, Dart

#4052 Created concept entry for SwiftUI Notifications
  content/swiftui/concepts/notifications/notifications.md
  media/swiftui-local-notifications.png
  media/swiftui-remote-push-notification.png
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4157 New Entry: Adding Counting Sort to Algorithm Terms
  content/general/concepts/algorithm/terms/counting-sort/counting-sort.md
  documentation/tags.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#3930 [Term Entry] General / Semantic Technologies / OWL
  content/general/concepts/semantic-technologies/terms/owl/owl.md
  documentation/tags.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4202 [Term Entry] Java .putIfAbsent() Added.
  content/java/concepts/map/terms/putIfAbsent/putIfAbsent.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4209 Edit: Add Codebyte to Javascript - .getUTCFullYear()
  content/javascript/concepts/dates/terms/getUTCFullYear/getUTCFullYear.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4135 Add documentation for the .atTime() method in Kotlin #3808
  content/kotlin/concepts/datetime/terms/atTime/atTime.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4059 [Term Entry] Kotlin Strings .lowercase()
  content/kotlin/concepts/strings/terms/lowercase/lowercase.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, kotlin

#4179 Edit JavaScript Bitwise Operators term entry to include Code byte examples
  content/javascript/concepts/bitwise-operators/bitwise-operators.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4169 [Edit] Arrays: Added codebyte for .toSorted()
  content/javascript/concepts/arrays/terms/toSorted/toSorted.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4006 Term entry] UI and ux design UI ux (ideation) user pain points
  content/uiux/concepts/user-pain-points/user-pain-points.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4035 [Topic Entry] Data Science
  content/data-science/concepts/big-data/big-data.md
  content/data-science/concepts/data-mining/data-mining.md
  content/data-science/concepts/data-warehouse/data-warehouse.md
  content/data-science/concepts/jupyter-notebook/jupyter-notebook.md
  content/data-science/concepts/one-hot-encoding/one-hot-encoding.md
  content/data-science/data-science.md
  content/general/concepts/data-science/data-science.md
  content/general/concepts/database/terms/relational-database/relational-database.md
  content/general/concepts/graphs/graphs.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed

#4203 Edit: Add Codebyte to Javascript .getTime()
  content/javascript/concepts/dates/terms/getTime/getTime.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4218 [Term Entry] Kotlin: .encodeToHexString()
  content/kotlin/concepts/serialization/terms/encodeToHexString/encodeToHexString.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4184 Merge Sort
  content/general/concepts/algorithm/terms/merge-sort/merge-sort.md
  media/merge.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4004 Added cos math method in java concepts
  content/java/concepts/math-methods/terms/cos/cos.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4210 Resolve 4150 commit issue
  content/javascript/concepts/dates/terms/getUTCHours/getUTCHours.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#3975 [Term Entry] UI/UX Focus group
  content/uiux/concepts/focus-group/focus-group.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4224 [Typo] CSS Display: clear
  content/css/concepts/display/terms/clear/clear.md
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#4222 [Term Entry] Binary Search Algorithm
  content/general/concepts/algorithm/terms/binary-search/binary-search.md
  media/binary-search-1.png
  media/binary-search-2.png
  media/binary-search-3.png
  media/binary-search-4.png
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4220 Term Entry: Design Sprint
  content/uiux/concepts/design-methodologies/terms/design-sprint/design-sprint.md
  media/design-sprint-phases.png
Labels: new entry, ui and ux, status: ready for next review

#4234 Update typo in lifecycle-methods.md
  content/react/concepts/lifecycle-methods/lifecycle-methods.md
Labels: react, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4225 [Concept Entry] Java / Boolean Logic
  content/java/concepts/boolean-logic/boolean-logic.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4257 New entry, text and images CSS [Edit] CSS Position: bottom() #4071
  content/css/concepts/position/terms/bottom/bottom.md
  media/css-absolute-bottom.png
  media/css-relative-bottom.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed, status: under review

#4255 Fix punctuations
  CONTRIBUTING.md
Labels: typo, status: review 1️⃣ completed, docs, status: under review

#4265 [Term Entry] Dart Switch Cases: Switch Statements
  content/dart/concepts/switch/switch.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, Dart

#4261 Improved intro about software testing, providing more context.
  content/general/concepts/software-testing/software-testing.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#4264 [Term Entry] Python: defaultdict
  content/python/concepts/collections-module/terms/defaultdict/defaultdict.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4259 feat: Add Issue section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, documentation, status: review 1️⃣ completed, status: review 2️⃣ completed

#4267 [Entry] Adding new concept entry data-types.md #4246
  content/dart/concepts/data-types/data-types.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, Dart

#4211 Uxui competitive analysis
  content/uiux/concepts/competitive-analysis/competitive-analysis.md
Labels: new entry, status: review 1️⃣ completed, ui and ux

#3942 Concept Entry D3 Interactivity
  content/d3/concepts/interactivity/interactivity.md
  media/d3-non-hover.png
  media/d3-tooltip-hover.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, d3

#4292 Fix typos
  CONTRIBUTING.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4186 Add codebytes to Javascripts statements entry #4155
  content/javascript/concepts/statements/statements.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed
