Repository Codecademy/docs, pull requests merged in 2024-10, with the labels that each got.

#5346 fixed codebyte error in iter.md
  content/python/concepts/built-in-functions/terms/iter/iter.md
Labels: python, typo, status: review 1️⃣ completed, status: under review

#5187 Scatterpolar.md
  content/plotly/concepts/graph-objects/terms/scatterpolar/scatterpolar.md
  media/plotly-scatterpolar-example.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5195 [New Entry] added deque file for csharp
  content/c-sharp/concepts/deque/deque.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, c#

#5199 [Term Entry] Python Plotly- graph_objects .Figure()
  content/plotly/concepts/graph-objects/terms/figure/figure.md
  media/plotly_figure_example.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#5292 [New Entry] CURDATE() sql
  content/sql/concepts/dates/terms/curdate/curdate.md
Labels: sql, new entry, status: review 1️⃣ completed, status: waiting for author

#4856 [Concept Entry] Postgresql inheritance
  content/postgresql/concepts/inheritance/inheritance.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#5296 [Term Entry] Python NumPy - Math functions .ceil()
  content/numpy/concepts/math-methods/terms/ceil/ceil.md
Labels: python, new entry, status: review 1️⃣ completed, numpy, status: under review

#5216 added adam Docs
  content/ai/concepts/neural-networks/terms/adam-optimization/adam-optimization.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai, neural-networks

#5213 Locals project
  content/python/concepts/built-in-functions/terms/locals/locals.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5288 New Term Entry .treemap()
  content/plotly/concepts/express/terms/treemap/treemap.md
  media/dataset_plot_treemap.png
  media/treemap_plot.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, plotly

#4942 [Concept Entry] PyTorch Tensors
  content/pytorch/concepts/tensors/tensors.md
  documentation/catalog-content.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review, tensorflow

#5403 edit: Shorten description in JavaScript switch
  content/javascript/concepts/switch/switch.md
Labels: enhancement, javascript, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5398 [Term Entry] Adding Pytorch Tensor empty
  content/pytorch/concepts/tensors/terms/empty/empty.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#4769 Email Now Set with Git Config
  content/swiftui/concepts/fonts/fonts.md
  content/swiftui/concepts/viewmodifier/terms/font/font.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#5277 [Edit] JavaScript Variables
  content/javascript/concepts/variables/variables.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#5205 [Term Entry] SQL NULL SAFE EQUAL Operator
  content/sql/concepts/operators/terms/null-safe-equal/null-safe-equal.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#5336 Emarshgaulin user research edits
  content/uiux/concepts/user-research/user-research.md
Labels: typo, status: review 1️⃣ completed, ui and ux, status: under review

#5212 [Term Entry] Swift dictionary.mapValues()
  content/swift/concepts/dictionaries/terms/mapValues/mapValues.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5414 feat(update): comments.md
  content/python/concepts/comments/comments.md
Labels: enhancement, python, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5290 SQL concept entry - Between
  content/sql/concepts/dates/terms/between/between.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5407 Modification of the reshape entry in Numpy
  content/numpy/concepts/ndarray/terms/reshape/reshape.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#5419 [Edit] C# Strings - Contains comparisionType
  content/c-sharp/concepts/strings/terms/contains/contains.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, c#, status: under review

#5297 [Term Entry] Python NumPy - Math functions .unwrap()
  content/numpy/concepts/math-methods/terms/unwrap/unwrap.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#5327 Creation of the logspace entry
  content/pytorch/concepts/tensors/terms/logspace/logspace.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5301 Created .linspace() entry
  content/pytorch/concepts/tensors/terms/linspace/linspace.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5298 Python plotly funnel
  content/plotly/concepts/express/terms/funnel/funnel.md
  media/plotly-express-funnel-example1.png
  media/plotly-express-funnel-example2.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#5088 [New Term for Existing Concept Entry] Pytorch Tensor .size()
  content/pytorch/concepts/tensors/terms/size/size.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5412 AI A Star Search Edit (Added Code & Complexity)
  content/ai/concepts/search-algorithms/terms/a-star-search/a-star-search.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#5457 Update javascript concept of this entry
  content/javascript/concepts/this/this.md
Labels: javascript, status: review 1️⃣ completed, hacktoberfest-accepted, status: ready for next review

#5440 Updating Python hash description
  content/python/concepts/built-in-functions/terms/hash/hash.md
Labels: python, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5437 edit: add Codebyte example to transpose.md
  content/numpy/concepts/built-in-functions/terms/transpose/transpose.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy, hacktoberfest-accepted

#5283 [New entry] UNHEX() function in MySQL
  content/mysql/concepts/built-in-functions/terms/unhex/unhex.md
Labels: new entry, status: review 1️⃣ completed, mysql

#5418 Revising JS Substring concept
  content/javascript/concepts/substring/substring.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5364 Term Entry: C++ Deque Push_Back()
  content/cpp/concepts/deque/terms/push-back/push-back.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5404 Update sub.md
  content/python/concepts/regex/terms/sub/sub.md
Labels: enhancement, python, hacktoberfest, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5342 [Term Entry] PIVOT command in SQL
  content/sql/concepts/commands/terms/pivot/pivot.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#5339 Kotlin map() doc added
  content/kotlin/concepts/arrays/terms/map/map.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#5102 add getrandbits entry
  content/python/concepts/random-module/terms/getrandbits/getrandbits.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5503 [Term Entry] PyTorch Tensors .full()
  content/pytorch/concepts/tensors/terms/full/full.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5197 added content on primitive type coercion
  content/javascript/concepts/type-coercion/type-coercion.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#5328 [Term Entry] PyTorch Tensor Operations: .mm()
  content/pytorch/concepts/tensor-operations/terms/mm/mm.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, pytorch

#5435 Docs: Edit the javascript bitwise operators entry
  content/javascript/concepts/bitwise-operators/bitwise-operators.md
Labels: enhancement, javascript, hacktoberfest, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5452 fixed broken images links
  content/css/concepts/position/terms/left/left.md
Labels: css, typo, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5434 Update machine-learning.md
  content/ai/concepts/machine-learning/machine-learning.md
Labels: enhancement, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review, ai

#5438 Cpp deque insert 5358
  content/cpp/concepts/deque/terms/insert/insert.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5335 [Concept Entry]: Add codebyte example - sklearn concepts
  content/sklearn/concepts/multitask-classification/multitask-classification.md
  content/sklearn/concepts/naive-bayes/naive-bayes.md
  content/sklearn/concepts/support-vector-machines/support-vector-machines.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, sklearn

#5300 Virtual Environments with pip
  content/python/concepts/pip/pip.md
Labels: enhancement, python, status: review 1️⃣ completed, status: under review

#5507 made the description below 150 characters
  content/cpp/concepts/exceptions/exceptions.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5459 Summarized the description of JS Modules
  content/javascript/concepts/modules/modules.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5293 Python NumPy - Math functions .nanprod()
  content/numpy/concepts/math-methods/terms/nanprod/nanprod.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#5498 Add code example for conditionals in C# and fix typos in conditionals.md
  content/c-sharp/concepts/conditionals/conditionals.md
Labels: enhancement, status: review 1️⃣ completed, c#, hacktoberfest-accepted, status: under review

#4990 [Term Entry] Adding SQL's IIF function
  content/sql/concepts/operators/terms/iff/iff.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#5093 Added Utility Types in Typescript
  content/typescript/concepts/utility-types/utility-types.md
  documentation/tags.md
Labels: typescript, new entry, status: review 1️⃣ completed, status: under review

#5333 [Concept Entry] Sklearn: Label Propagation
  content/sklearn/concepts/label-propagation/label-propagation.md
  media/sklearn-label-propagation.png
Labels: new entry, status: review 1️⃣ completed, sklearn

#5415 Javascript Concept Entry update - Callbacks
  content/javascript/concepts/callbacks/callbacks.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#5436 update: built-in-functions.md
  content/python/concepts/built-in-functions/built-in-functions.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5513 shorten the description of cpp-polymorphism
  content/cpp/concepts/polymorphism/polymorphism.md
Labels: enhancement, c++, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5463 Doc update - Javascript Errors
  content/javascript/concepts/errors/errors.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5210 concept entry sql rollback #5168
  content/sql/concepts/commands/terms/rollback/rollback.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#5433 [Concept Entry] C++ Unordered set unordered_set #5315
  content/cpp/concepts/unordered-set/unordered-set.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5450 added css position: relative
  content/css/concepts/position/terms/relative/relative.md
  media/css-position-relative-ex1.png
  media/css-position-relative-ex2.png
Labels: css, new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5551 Feat: [Term Entry] PyTorch Tensor Operations .split()
  content/pytorch/concepts/tensor-operations/terms/split/split.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted, pytorch

#5510 Added C++ docs for map .upper_bound() with examples
  content/cpp/concepts/maps/terms/upper-bound/upper-bound.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5549 [New Entry] Swap Method Maps C++
  content/cpp/concepts/maps/terms/swap/swap.md
Labels: c++, new entry, status: review 1️⃣ completed

#5504 [Concept Entry] C++ List List
  content/cpp/concepts/list/list.md
Labels: c++, new entry, status: review 1️⃣ completed
