Repository Codecademy/docs, pull requests merged in 2024-06, with the labels that each got.

#4328 [New Entry] Dart: strings.md
  content/dart/concepts/strings/strings.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4131 [Edit] HTML add media: FIle paths
  content/html/concepts/file-paths/file-paths.md
  media/abs-filepath.png
  media/anchor-specific-page.png
  media/rel-filepath.png
  media/root-relative-path-tree.png
  media/root-relative-path.png
Labels: enhancement, html, status: review 1️⃣ completed, status: under review

#4733 [Term Entry] Python sets .symmetric_difference_update() #4618
  content/python/concepts/sets/terms/symmetric-difference-update/symmetric-difference-update.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4596 [Term Entry] Dart Type Conversion .parse()
  content/dart/concepts/type-conversion/terms/parse/parse.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4277 Quick Sort
  content/general/concepts/algorithm/terms/quick-sort/quick-sort.md
  media/quicksort.png
Labels: general, java, new entry, status: review 1️⃣ completed, status: under review

#4165 added more examples to getUTCMonth() function
  content/javascript/concepts/dates/terms/getUTCMonth/getUTCMonth.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4739 Completed term entry for JS .padStart()
  content/javascript/concepts/strings/terms/padStart/padStart.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4486 Numpy terms inv
  content/numpy/concepts/built-in-functions/terms/inv/inv.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#4278 added deque.md that describes deque() method
  content/python/concepts/collections-module/terms/deque/deque.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4391 Add magic to dunder md file
  content/python/concepts/dunder-methods/dunder-methods.md
Labels: enhancement, python, status: review 1️⃣ completed, status: waiting for author

#4754 Pillow image module
  content/pillow/concepts/image/image.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#4656 [Term Entry] Pillow Image .convert()
  content/pillow/concepts/image/terms/convert/convert.md
  media/pillow-image-example.jpg
  media/pillow-image-grayscale-example.jpg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#4640 New pillow crop entry
  content/pillow/concepts/image/terms/crop/crop.md
  media/pillow-crop.png
  media/pillow-original.jpeg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#4748 A new term entry for the padEnd string method in javascript
  content/javascript/concepts/strings/terms/padEnd/padEnd.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4684 [Term Entry] Pillow fromarray
  content/pillow/concepts/image/terms/fromarray/fromarray.md
  media/pillow-fromarray.jpeg
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#4506 [Term Entry] UIUX: User Story
  content/uiux/concepts/user-story/user-story.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4464 [Term Entry] Dart Queue .clear() #4457
  content/dart/concepts/queue/terms/clear/clear.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4007 Added selectAll markdown file
  content/d3/concepts/selection/terms/selectAll/selectAll.md
  media/d3-selectall-after.png
  media/d3-selectall-before.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, d3

#4326 updated html-element-applet content, issue-number #3337
  content/html/concepts/elements/terms/applet/applet.md
  media/html-elements-applet.gif
Labels: enhancement, html, status: review 1️⃣ completed, status: review 2️⃣ completed

#4699 [Term Entry] Dart Type Conversion .toStringAsExponential()
  content/dart/concepts/type-conversion/terms/toStringAsExponential/toStringAsExponential.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4746 New entry for the charCodeAt method in javascript
  content/javascript/concepts/strings/terms/charCodeAt/charCodeAt.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4755 solved the issue Python:NumPy Math Methods exp #4721
  content/numpy/concepts/math-methods/terms/exp/exp.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#4737 [Term Entry] JavaScript Strings .substr() #4726
  content/javascript/concepts/strings/terms/substr/substr.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4766 [Term Entry] pythonnumpy math.arcsin()
  content/numpy/concepts/math-methods/terms/arcsin/arcsin.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#4693 PostgreSQL constraints
  content/postgresql/concepts/constraints/constraints.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4687 New Concept Entry: graph_objects module
  content/plotly/concepts/graph-objects/graph-objects.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#4743 [Term Entry] Python:NumPy Math Methods round
  content/numpy/concepts/math-methods/terms/round/round.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4761 [Edit] JavaScript Strings: toUpperCase()
  content/javascript/concepts/strings/terms/toUpperCase/toUpperCase.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4544 added Postgresql positional-parameters
  content/postgresql/concepts/positional-parameters/positional-parameters.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4286 Add bubble sort term to general/concepts/algorithm
  content/general/concepts/algorithm/terms/bubble-sort/bubble-sort.md
  media/bubble-sort.png
Labels: general, new entry, status: review 1️⃣ completed, status: waiting for author

#4789 Documenting scatter.md
  content/plotly/concepts/express/terms/scatter/scatter.md
  media/plotlyScatterOutput1.png
  media/plotlysampleOutput2.png
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4731 [Term entry] Python pillow .putpixel() method
  content/pillow/concepts/image/terms/putpixel/putpixel.md
  media/putpixel().png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pillow

#4768 Add files via upload
  content/numpy/concepts/math-methods/terms/cos/cos.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#4750 [Term Entry]Kotlin Datetime .asTimeZone
  content/kotlin/concepts/datetime/terms/asTimeZone/asTimeZone.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, kotlin

#4490 Term addition for .std() in NumPy
  content/numpy/concepts/built-in-functions/terms/std/std.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4749 Postgresql aggregate functions
  content/postgresql/concepts/aggregate-functions/aggregate-functions.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4767 fix: correct code spacing
  content/d3/concepts/selection/terms/selectAll/selectAll.md
Labels: typo, status: under review

#4704 [Concept Entry] MySQL expressions
  content/mysql/concepts/expressions/expressions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, mysql

#4763 Created a mark down file for the .add() function for python sets
  content/python/concepts/sets/terms/add/add.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4816 [Term Entry] Java ArrayList: .clone()
  content/java/concepts/array-list/terms/clone/clone.md
Labels: java, new entry, status: review 1️⃣ completed

#4229 [Term Entry] Minimax algorithm in AI
  content/ai/concepts/minimax-algorithm/minimax-algorithm.md
Labels: new entry, status: review 1️⃣ completed, status: under review, ai

#4483 [Term Entry] numpy built-in-functions: .mean()
  content/numpy/concepts/built-in-functions/terms/mean/mean.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#4642 Java Arraylist replaceAll()
  content/java/concepts/array-list/terms/replaceAll/replaceAll.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4760 [Term Entry] Python:NumPy Math Methods sin
  content/numpy/concepts/math-methods/terms/sin/sin.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4803 [Edit] CSS Typography: text-align #4418
  content/css/concepts/typography/terms/text-align/text-align.md
  media/text-align-paragraph-example.png
Labels: css, typo, status: review 1️⃣ completed, status: under review

#4835 Added codebytes to JS Constructors #4819
  content/javascript/concepts/constructors/constructors.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4762 [Term Entry] Dart Type Conversion .toStringAsPrecision()
  content/dart/concepts/type-conversion/terms/toStringAsPrecision/toStringAsPrecision.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4813 [Term Entry] Java ArrayList .clear()
  content/java/concepts/array-list/terms/clear/clear.md
Labels: java, new entry, status: review 1️⃣ completed, status: under review

#4845 [Topic Entry] PyTorch
  content/pytorch/pytorch.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#4838 {Term Entry] Python:NumPy Math Methods power
  content/numpy/concepts/math-methods/terms/power/power.md
Labels: python, new entry, status: review 1️⃣ completed

#4756 [Term entry] Pillow library method: .Transpose()
  content/pillow/concepts/image/terms/transpose/transpose.md
  media/bird-thumbnail.jpg
  media/output.jpg
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#4817 Completed [Term Entry] Python Sets: .copy() #4799
  content/python/concepts/sets/terms/copy/copy.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4807 Add Python set.clear() term
  content/python/concepts/sets/terms/clear/clear.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4834 created markdown file for python sets pop method
  content/python/concepts/sets/terms/pop/pop.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4784 Completed [Term Entry] Python:NumPy Math Methods degrees
  content/numpy/concepts/math-methods/terms/degrees/degrees.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#4837 [Term Entry] Python:NumPy ndarray .tolist()
  content/numpy/concepts/ndarray/terms/tolist/tolist.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4741 Created term entry for Python symmetric difference.
  content/python/concepts/sets/terms/symmetric-difference/symmetric-difference.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4759 [Concept Entry] Python Deque Deque #4452 #4511
  content/python/concepts/deque/deque.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4843 Added codebytes to JS Accessors #4818
  content/javascript/concepts/accessors/accessors.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed
