Repository Codecademy/docs, pull requests merged in 2024-08, with the labels that each got.

#4995 Added new concept entry on Dart Conditionals
  content/dart/concepts/conditionals/conditionals.md
Labels: new entry, status: under review, dart

#4919 Create thematic-analysis.md
  content/uiux/concepts/qualitative-research/terms/thematic-analysis/thematic-analysis.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4994 [Term Entry] C++ vector .size()
  content/cpp/concepts/vectors/terms/size/size.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4906 [Term Entry] Adding SQL operator greater than
  content/sql/concepts/operators/terms/greater-than/greater-than.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4832 [Concept Entry] MySQL: Indexing
  content/mysql/concepts/indexing/indexing.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, mysql

#4918 [Topic Entry] Sklearn:Support-Vector-Machines
  content/sklearn/concepts/support-vector-machines/support-vector-machines.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: under review, sklearn

#4951 C# interface concept enhancement. Issue # 4894
  content/c-sharp/concepts/interfaces/interfaces.md
Labels: new entry, status: review 1️⃣ completed, c#, status: under review

#4992 Added new concept entry for Naive Bayes in Sklearn
  content/sklearn/concepts/naive-bayes/naive-bayes.md
Labels: new entry, status: review 1️⃣ completed, status: under review, sklearn

#4924 new entry java deque
  content/java/concepts/deque/deque.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4745 [Term Entry] JavaScript Strings .at()
  content/javascript/concepts/strings/terms/at/at.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5010 Fixed inaccurate explanation of the `not in` operator
  content/python/concepts/operators/operators.md
Labels: python, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#5008 [Term Entry] C++ vector.erase() #4987
  content/cpp/concepts/vectors/terms/erase/erase.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5004 [Term Entry] PyTorch Tensors .ones()
  content/pytorch/concepts/tensors/terms/ones/ones.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#4887 [Term Entry] Java ArrayList: .iterator()
  content/java/concepts/array-list/terms/iterator/iterator.md
Labels: java, new entry, status: review 1️⃣ completed, status: under review

#4674 [Edit] HTML Add Media: Links
  content/html/concepts/links/links.md
  media/image-link.gif
  media/internal-link.gif
  media/text-link.gif
Labels: html, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4972 created Codebyte Example for JavaScript sort.md
  content/javascript/concepts/sort/sort.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5044 Python math-module math.copysign()
  content/python/concepts/math-module/terms/math-copysign/math-copysign.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5017 added new file for printwriter
  content/java/concepts/printwriter/printwriter.md
Labels: java, new entry, status: under review

#5006 made edits to strings.md.
  content/javascript/concepts/strings/strings.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#5049 [New Entry] Inheritance in dart
  content/dart/concepts/inheritance/inheritance.md
Labels: new entry, status: under review, dart

#5039 Python math.degrees()
  content/python/concepts/math-module/terms/math-degrees/math-degrees.md
  media/radian-measure-45-degree-rotations-256.png
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5068 [New entry] added file for tan in math methods
  content/numpy/concepts/math-methods/terms/tan/tan.md
Labels: new entry, status: review 1️⃣ completed, numpy

#4956 [Term Entry] PyTorch Tensors: .randn()
  content/pytorch/concepts/tensors/terms/randn/randn.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review, pytorch

#5040 [Term Entry] Adding Pytorch Tensor .tensor()
  content/pytorch/concepts/tensors/terms/tensor/tensor.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5072 Fix error in test output
  content/go/concepts/strings/terms/cutsuffix/cutsuffix.md
Labels: enhancement, status: review 1️⃣ completed, go, status: under review

#5038 Adding quadratic-regression-analysis.md file
  content/sklearn/concepts/quadratic-regression-analysis/quadratic-regression-analysis.md
  media/quadratic-equation.png
Labels: new entry, status: review 1️⃣ completed, status: under review, sklearn

#4971 [Term Entry] Adding Pytorch Tensor zeros
  content/pytorch/concepts/tensors/terms/zeros/zeros.md
  documentation/catalog-content.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pytorch

#4998 Add .emplace() entry for C++ vector
  content/cpp/concepts/vectors/terms/emplace/emplace.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5048 new term entry math erf()
  content/python/concepts/math-module/terms/math-erf/math-erf.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5002 [Term Entry] C++ vector .assign()
  content/cpp/concepts/vectors/terms/assign/assign.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5012 [Term Entry] C++ vector .clear()
  content/cpp/concepts/vectors/terms/clear/clear.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4975 feat: created codebyte example
  content/javascript/concepts/rest-parameters/rest-parameters.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4857 [Concept Entry] PyTorch nn
  content/pytorch/concepts/nn/nn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5101 [New Entry] NumPy Arccos function
  content/numpy/concepts/math-methods/terms/arccos/arccos.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5070 Position left
  content/css/concepts/position/terms/left/left.md
  media/example-css-left()-absolute.png
  media/example-css-left()-relative.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4873 Add Not-equal-to entry in SQL docs #4850
  content/sql/concepts/operators/terms/not-equal-to/not-equal-to.md
Labels: sql, new entry, status: review 1️⃣ completed, status: under review

#4782 [Term Entry] Neural Networks ai RMSprop
  content/ai/concepts/neural-networks/terms/rmsprop/rmsprop.md
  media/rmsprop-update.png
Labels: new entry, status: review 1️⃣ completed, status: under review, ai

#5055 [Term Entry] Python Random function: .triangular()
  content/python/concepts/random-module/terms/triangular/triangular.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5089 [Term Entry] Python function: math.acosh()
  content/python/concepts/math-module/terms/math-acosh/math-acosh.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5009 [Concept Entry] Sklearn multitask-classification #4999
  content/sklearn/concepts/multitask-classification/multitask-classification.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, sklearn

#5112 added file for every in dart
  content/dart/concepts/list/terms/every/every.md
Labels: new entry, status: review 1️⃣ completed, dart

#4996 Added documentation for the .empty() method on vectors
  content/cpp/concepts/vectors/terms/empty/empty.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5108 [Term Entry] Dart Maps .forEach()
  content/dart/concepts/map/terms/forEach/forEach.md
Labels: new entry, status: review 1️⃣ completed, dart

#5130 added codebyte example for js iterator
  content/javascript/concepts/iterators/iterators.md
Labels: enhancement, javascript, status: under review
