Repository Codecademy/docs, pull requests merged in 2024-02, with the labels that each got.

#4321 [Edit] Developer Tools: Code Editor
  content/general/concepts/developer-tools/terms/code-editor/code-editor.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#4327 Update visibility.md
  content/css/concepts/visibility/visibility.md
Labels: css, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4330 Fix typos
  documentation/content-standards.md
Labels: documentation, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#4226 Add Term Entry for Fitts' Law
  content/uiux/concepts/fitts-law/fitts-law.md
  media/fitts-law.gif
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, ui and ux

#4281 [New entry] python namedtuple
  content/python/concepts/collections-module/terms/namedtuple/namedtuple.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4273 [Entry] dart: operators concept entry
  content/dart/concepts/operators/operators.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4320 added new Term Entry - Dart List .setAll() issue #4316
  content/dart/concepts/list/terms/setAll/setAll.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4258 Data types: Adding codebyte for data-type.md
  content/javascript/concepts/data-types/data-types.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4352 [Term Entry] Dart List .contains()
  content/dart/concepts/list/terms/contains/contains.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4288 [Term Entry] Queue for Dart
  content/dart/concepts/queue/queue.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4333 New term entry list.clear in dart
  content/dart/concepts/list/terms/clear/clear.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4360 [Typo] Discrete Math: Congruences
  content/discrete-math/concepts/congruences/congruences.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, discrete math

#4354 [Term Entry] Dart List .insertAll()
  content/dart/concepts/list/terms/insertAll/insertAll.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4379 [Term Entry] Java ArrayList .contains()
  content/java/concepts/array-list/terms/contains/contains.md
Labels: java, new entry, status: review 1️⃣ completed, status: under review

#4386 Term entry dart list.index of
  content/dart/concepts/list/terms/indexOf/indexOf.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4359 Added the new doc for List.remove() method
  content/dart/concepts/list/terms/remove/remove.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4272 [Entry] Dart Map Concept
  content/dart/concepts/map/map.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4282 [Term Entry] Dart List - Added list.md which describes Dart Lists
  content/dart/concepts/list/list.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4382 [Edit] Git: Pull Requests - Add Note
  content/git/concepts/pull-requests/pull-requests.md
Labels: enhancement, git, status: review 1️⃣ completed, status: review 2️⃣ completed

#4353 [Term Entry] Python Math Module : .remainder()
  content/python/concepts/math-module/terms/math-remainder/math-remainder.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4384 added length.md documentation
  content/dart/concepts/map/terms/length/length.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4289 Added constructors.md
  dart/concepts/constructors/constructors.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4389 added new entry-dart-getRangeMethod-issue#4306
  content/dart/concepts/list/terms/getRange/getRange.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4350 add Python Math.floor()
  content/python/concepts/math-module/terms/math-floor/math-floor.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
