Repository Codecademy/docs, pull requests merged in 2024-05, with the labels that each got.

#4513 Numpy math methods
  content/numpy/concepts/math-methods/math-methods.md
Labels: python, new entry, status: review 1️⃣ completed, numpy, status: under review

#4287 Created new classes term for Dart
  content/dart/concepts/classes/classes.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4586 [Term Entry] Dart Type Conversion .tryParse() #4572
  content/dart/concepts/type-conversion/terms/tryParse/tryParse.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4516 [Term Entry] Python:NumPy built-in-functions .median()
  content/numpy/concepts/built-in-functions/terms/median/median.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4450 [Term Entry] Dart List forEach method issue4305
  content/dart/concepts/list/terms/forEach/forEach.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4199 Create toLocaleTimeString.md
  content/javascript/concepts/dates/terms/toLocaleTimeString/toLocaleTimeString.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: waiting for author

#4600 correct "Or" operator from "!!" to "||"
  content/kotlin/concepts/operators/operators.md
Labels: typo, status: review 1️⃣ completed, status: under review, kotlin

#4470 [Term Entry]Dart Queue .contains()
  content/dart/concepts/queue/terms/contains/contains.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4629 Added the catalog subjects and tags for new issues
  documentation/catalog-content.md
  documentation/tags.md
Labels: documentation, enhancement, status: review 1️⃣ completed, status: under review

#4634 [Term Entry] Python sets .issubset() #4613
  content/python/concepts/sets/terms/issubset/issubset.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4610 Created dot.md in the numpy/concepts/built-in-functions/terms/dot
  content/numpy/concepts/built-in-functions/terms/dot/dot.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4598 [Term Entry] Dart Type Conversion .toString()
  content/dart/concepts/type-conversion/terms/toString/toString.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4603 I add how to use group selector in selectors.md
  content/css/concepts/selectors/selectors.md
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4609 [Concept Entry] Python Plotly
  content/plotly/plotly.md
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4492 add Julia programming language
  content/general/concepts/julia/julia.md
Labels: documentation, status: review 1️⃣ completed, status: review 2️⃣ completed

#4597 Create index and columns
  content/pandas/concepts/dataframe/terms/columns/columns.md
  content/pandas/concepts/dataframe/terms/index/index.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas

#4540 Create comments.md under postgresql
  content/postgresql/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, postgresql

#4420 [Term Entry] Dart Maps .remove()
  content/dart/concepts/map/terms/remove/remove.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4545 Object.create commit
  content/javascript/concepts/objects/terms/create/create.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4428 for the issue: [Entry] Variables: Creating new concept entry variables.md #4237
  content/dart/concepts/variables/variables.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4636 Add .discard() method.
  content/python/concepts/sets/terms/discard/discard.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4392 Add sentence to make sure classs names are capitalized
  content/python/concepts/classes/classes.md
Labels: enhancement, python, status: review 1️⃣ completed, status: under review

#4658 Add .remove() Method.
  content/python/concepts/sets/terms/remove/remove.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4579 Update objects.md
  content/javascript/concepts/objects/objects.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: under review

#4499 Concept entry dart loops. Adresses issue #4249
  content/dart/concepts/loops/loops.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4541 Adding the document-new entry Context Managers and files
  content/python/concepts/files/terms/context-managers/context-managers.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4630 [Term Entry] Dart Type Conversion .toDouble()
  content/dart/concepts/type-conversion/terms/toDouble/toDouble.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4631 Add .b2a_uu() entry
  content/python/concepts/binascii-module/terms/b2a-uu/b2a-uu.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#4665 [Topic Entry] MySQL
  content/mysql/mysql.md
Labels: new entry, status: review 1️⃣ completed, status: under review, mysql

#4489 Added Data Types Comparison Table
  content/dart/concepts/data-types/data-types.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, dart

#4661 Correct Broken Image Link
  content/html/concepts/attributes/terms/style/style.md
Labels: html, typo, status: review 1️⃣ completed, status: under review

#4670 Added the [Term Entry]-Python sets .disjoint()
  content/python/concepts/sets/terms/isdisjoint/isdisjoint.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4638 [Concept Entry] Postgresql window-functions #4591
  content/postgresql/concepts/window-functions/window-functions.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, postgresql

#4581 [Term Entry] Java ArrayList .removeAll()
  content/java/concepts/array-list/terms/removeAll/removeAll.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4577 Create a Term Entry for Python
  content/plotly/concepts/express/terms/line/line.md
  media/Output_plotly_line().png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#4686 Update server.md
  content/general/concepts/server/server.md
Labels: general, status: review 1️⃣ completed, status: under review

#4582 Create column-reference for PostgreSQL.
  content/postgresql/concepts/column-references/column-references.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, postgresql

#4694 [Topic Entry] Python: Pillow
  content/pillow/pillow.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#4660 frozenset() initial addition
  content/python/concepts/sets/terms/frozenset/frozenset.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4442 [Term Entry] UI and UX Design UIUX (Ideation) Crazy Eights #4412
  content/uiux/concepts/crazy-eights/crazy-eights.md
  media/crazy8s.jpg
Labels: new entry, status: review 1️⃣ completed, ui and ux, status: under review

#4547 New term entry on the built in function for Numpy named 'svd'
  content/numpy/concepts/built-in-functions/terms/svd/svd.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#4637 [New Concept Entry for existing topic] POSTGRESQL array-constructor
  content/postgresql/concepts/array-constructors/array-constructors.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4671 Pull request for create-gantt entry (Issue #4563)
  content/plotly/content/figure-factory/terms/create-gantt/create-gantt.md
  media/plotly-figure-factory-create-gantt-output.png
Labels: python, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#4635 [Term Entry] Python pillow .resize()
  content/pillow/concepts/image/terms/resize/resize.md
  media/pillow-resize-earth-resized.png
  media/pillow-resize-earth.png
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#4667 Pull request for Julia variables
  content/general/concepts/julia/terms/variables/variables.md
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#4666 Update software-testing.md
  content/general/concepts/software-testing/software-testing.md
Labels: documentation, status: review 1️⃣ completed, status: review 2️⃣ completed

#4668 Term entry difference update py 4617
  content/python/concepts/sets/terms/difference-update/difference-update.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4689 Added PostgreSQL Type Casts Concept Entry
  content/postgresql/concepts/type-casts/type-casts.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#4688 [Term entry] Python sets .issuperset()
  content/python/concepts/sets/terms/issuperset/issuperset.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4698 Feature fig factory
  content/plotly/concepts/figure-factory/figure-factory.md
  content/plotly/concepts/figure-factory/terms/create-gantt/create-gantt.md
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4705 Term entry pandas pop py 4522
  content/pandas/concepts/dataframe/terms/pop/pop.md
Labels: new entry, status: review 1️⃣ completed, pandas, status: under review

#4659 [Term Entry] Python Plotly .violin()
  content/plotly/express/concepts/terms/violin/violin.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review, status: ready for next review, plotly

#4729 [Term Entry] Javascript Method: .parseInt()
  content/javascript/concepts/number-methods/terms/parseInt/parseInt.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#4736 Fixpr-4659 [output image]
  content/plotly/concepts/express/terms/violin/violin.md
  content/plotly/express/concepts/terms/violin/violin.md
  media/newplot.png
Labels: status: review 1️⃣ completed, status: under review, plotly

#4700 [Term Entry] Javascript Method : .parseFloat()
  content/javascript/concepts/number-methods/terms/parseFloat/parseFloat.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
