Repository Codecademy/docs, pull requests merged in 2024-03, with the labels that each got.

#4425 [Edit]: Move `constructors.md` to correct directory
  content/dart/concepts/constructors/constructors.md
Labels: typo, status: review 1️⃣ completed, status: ready for next review, dart

#4422 [Edit] CSS Typography: font-weight
  content/css/concepts/typography/terms/font-weight/font-weight.md
  media/css-font-weight-600.png
  media/css-font-weight-bold.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4424 [Edit] Move Lua Tables: .freeze()
  content/luau/concepts/tables/terms/freeze/freeze.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, lua, luau

#4430 for the issue: [Edit] Subject: Erroneous link in Codecademy Docs file/document -> Docs/JavaScript/Objects #4427
  content/javascript/concepts/objects/objects.md
Labels: javascript, typo, status: review 1️⃣ completed, status: under review

#4410 Restructuring UIUX: Design Methodologies (phase 2)
  content/uiux/concepts/design-methodologies/terms/accessibility/accessibility.md
  content/uiux/concepts/design-methodologies/terms/design-pattern/design-pattern.md
  content/uiux/concepts/design-methodologies/terms/inclusive-design/inclusive-design.md
  content/uiux/concepts/design-methodologies/terms/user-centered-design/user-centered-design.md
  content/uiux/concepts/design-methodologies/terms/ux-honeycomb/ux-honeycomb.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4396 [Term Entry] Dart list method: .indexWhere()
  content/dart/concepts/list/terms/indexWhere/indexWhere.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4400 [Term Entry] Dart List.asMap()
  content/dart/concepts/list/terms/asMap/asMap.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4404 [Term Entry] Dart: .fold()
  content/dart/concepts/list/terms/fold/fold.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4355 [Term Entry] Java retainAll()
  content/java/concepts/array-list/terms/retainAll/retainAll.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4317 First iteration of Dart math-methods entry
  content/dart/concepts/math-methods/math-methods.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4440 EDIT: CSS overflow-y
  content/css/concepts/overflow/terms/overflow-y/overflow-y.md
  media/css-overflow-y.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4325 [Term Entry] Dart List .join()
  content/dart/concepts/list/terms/join/join.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4397 [Term Entry] Dart: .elementAt()
  content/dart/concepts/list/terms/elementAt/elementAt.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4387 [Term Entry] Java ArrayList .isEmpty()
  content/java/concepts/array-list/terms/isEmpty/isEmpty.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#4439 Edit: CSS overflow
  content/css/concepts/overflow/terms/overflow/overflow.md
  media/css-overflow.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4438 EDIT: CSS overflow-x
  content/css/concepts/overflow/terms/overflow-x/overflow-x.md
  media/css-overflow-x.png
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#4429 Added descriptions and examples for font-style.
  content/css/concepts/typography/terms/font-style/font-style.md
  media/font-styles-example.png
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#4449 [Edit] UIUX: Correct broken image link
  content/uiux/concepts/design-methodologies/terms/design-sprint/design-sprint.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#4274 Example/codebyte added that shows how we can use .set().
  content/javascript/concepts/map/terms/set/set.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4401 [Term Entry] Dart List .addAll()
  content/dart/concepts/list/terms/addAll/addAll.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4402 [Term Entry] Dart Maps .clear()
  content/dart/concepts/map/terms/clear/clear.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#4411 Java hashmap contains values entry
  content/java/concepts/map/terms/containsValue/containsValue.md
Labels: java, new entry, status: review 1️⃣ completed, status: under review

#4432 [Term Entry] Dart: .firstWhere()
  content/dart/concepts/list/terms/firstWhere/firstWhere.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, dart

#4269 [Term Entry] Dart Iterable: New Concept Entry Iterable.md
  content/dart/concepts/iterable/iterable.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4358 Initial removeWhere.md for dart
  content/dart/concepts/list/terms/removeWhere/removeWhere.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4409 Pr js this
  content/javascript/concepts/this/this.md
Labels: java, typo, status: review 1️⃣ completed, status: under review

#4405 [concept entry] Dart map putIfAbsent function
  content/dart/concepts/map/terms/putifabsent/putifabsent.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, dart

#4466 [Edit] README: Improve "How do I Contribute?" section
  README.md
Labels: documentation, enhancement

#4318 [Edit]: Python math-module term entries
  content/python/concepts/math-module/terms/math-ceil/math-ceil.md
  content/python/concepts/math-module/terms/math-cos/math-cos.md
  content/python/concepts/math-module/terms/math-exp/math-exp.md
  content/python/concepts/math-module/terms/math-log/math-log.md
  content/python/concepts/math-module/terms/math-pow/math-pow.md
  content/python/concepts/math-module/terms/math-sin/math-sin.md
  content/python/concepts/math-module/terms/math-sqrt/math-sqrt.md
  content/python/concepts/math-module/terms/math-tan/math-tan.md
Labels: enhancement, python, status: review 1️⃣ completed, status: under review

#3927 Rust smart pointers
  content/rust/concepts/smart-pointers/smart-pointers.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, rust

#4423 [Edit] C++: Methods
  content/cpp/concepts/methods/methods.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: under review

#4270 Adding new term entry for Hick's law to UI/UX
  content/uiux/concepts/hicks-law/hicks-law.md
  media/hickslaw-examples.png
  media/hickslaw-formula.png
Labels: new entry, status: review 1️⃣ completed, ui and ux, status: under review
