Repository Codecademy/docs, pull requests merged in 2024-11, with the labels that each got.

#5533 Adding new entry for Kotlin forEach()
  content/kotlin/concepts/arrays/terms/forEach/forEach.md
Labels: new entry, status: review 1️⃣ completed, status: under review, kotlin

#5532 Adding codebyte example in Numpy/log()
  content/numpy/concepts/built-in-functions/terms/log/log.md
Labels: enhancement, status: review 1️⃣ completed, numpy, hacktoberfest-accepted, status: under review

#5528 [Term Entry] PyTorch Tensor Operations .hstack()
  content/pytorch/concepts/tensor-operations/terms/hstack/hstack.md
Labels: new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review, pytorch

#5521 Edit C++ functions file
  content/cpp/concepts/functions/functions.md
Labels: enhancement, c++, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5367 PyTorch Optimizers
  content/pytorch/concepts/optimizers/optimizers.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5495 Codebyte component for variance entry
  content/numpy/concepts/built-in-functions/terms/variance/variance.md
Labels: enhancement, hacktoberfest, status: review 1️⃣ completed, numpy, status: under review

#5517 Term entry: PyTorch .chunk()
  content/pytorch/concepts/tensors/terms/chunk/chunk.md
Labels: new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review, pytorch

#5556 Creation of hsplit entry for pytorch
  content/pytorch/concepts/tensor-operations/terms/hsplit/hsplit.md
Labels: new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review, pytorch

#5591 edit: Add example to csharp asin.md
  content/c-sharp/concepts/math-functions/terms/asin/asin.md
Labels: status: review 1️⃣ completed, c#, claimed, status: under review

#5593 Kotlin arrayOfNulls() term entry : Issue #5310
  content/kotlin/concepts/arrays/terms/arrayOfNulls/arrayOfNulls.md
Labels: good first issue, status: review 1️⃣ completed, status: review 2️⃣ completed, claimed, kotlin

#5579 [Term Entry] C++ Deque Empty()
  content/cpp/concepts/deque/terms/empty/empty.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5578 [Term Entry] C++ Deque Clear()
  content/cpp/concepts/deque/terms/clear/clear.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5525 Added count for Cpp
  content/cpp/concepts/unordered-map/terms/count/count.md
Labels: c++, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5605 [Term Entry]Py torch tensor operations .gather()
  content/pytorch/concepts/tensor-operations/terms/gather/gather.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5607 [Term Entry]Py torch tensors .view()
  content/pytorch/concepts/tensors/terms/view/view.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5399 Empty
  content/cpp/concepts/maps/terms/empty/empty.md
Labels: c++, new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5606 [Term Entry]C++ variables constant variables
  content/cpp/concepts/variables/terms/constant-variables/constant-variables.md
Labels: c++, new entry, status: review 1️⃣ completed

#5584 Adding an example for atan()
  content/c-sharp/concepts/math-functions/terms/atan/atan.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#5582 Feat: [Term Entry] PyTorch Tensor Operations .narrow()
  content/pytorch/concepts/tensor-operations/terms/narrow/narrow.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5585 Feat: [Term Entry] PyTorch Tensor Operations .conj()
  content/pytorch/concepts/tensor-operations/terms/conj/conj.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5583 Adding .Tan() Example - C# Math Function
  content/c-sharp/concepts/math-functions/terms/tan/tan.md
Labels: enhancement, status: review 1️⃣ completed, c#, hacktoberfest-accepted, status: under review

#5194 New term added scatter3d()
  content/plotly/concepts/express/terms/scatter-3d/scatter-3d.md
  media/plotlyScatter3dOutput1.png
  media/plotlyScatter3dOutput2.png
Labels: python, new entry, status: review 1️⃣ completed, status: under review, plotly

#5496 [Term Entry] local-variables
  content/cpp/concepts/variables/terms/local-variables/local-variables.md
Labels: c++, new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5343 Forward list
  content/cpp/concepts/forward-list/forward-list.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, claimed

#5545 Naumantamboli references
  content/cpp/concepts/references/references.md
Labels: enhancement, c++, status: review 1️⃣ completed, claimed, status: under review

#5552 add concept entry for postgresql transactions
  content/postgresql/concepts/transactions/transactions.md
Labels: new entry, status: review 1️⃣ completed, status: under review, postgresql

#5548 Edit cpp enum
  content/cpp/concepts/enum/enum.md
Labels: enhancement, c++, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5526 [Edit] Python numpy - Added Codebyte example to linspace function
  content/numpy/concepts/built-in-functions/terms/linspace/linspace.md
Labels: enhancement, status: review 1️⃣ completed, numpy, hacktoberfest-accepted, status: under review

#5208 Add sgd docs
  content/ai/concepts/neural-networks/terms/stochastic-gradient-descent/stochastic-gradient-descent.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, neural-networks

#5219 [Term Entry] Python Plotly- graph_objects .Surface()
  content/plotly/concepts/graph-objects/terms/surface/surface.md
  media/3d-surface-example-plotly.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#5449 Refactor RegExp Documentation: Fix Typos and Enhance Formatting;
  content/javascript/concepts/regexp/regexp.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, hacktoberfest-accepted

#5555 New entry mutable variables
  content/cpp/concepts/variables/terms/mutable-variables/mutable-variables.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5603 C# Strings .Concat() Entry
  content/c-sharp/concepts/strings/terms/concat/concat.md
Labels: new entry, status: review 1️⃣ completed, c#, status: under review

#5612 Added file on take()
  content/pytorch/concepts/tensor-operations/terms/take/take.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5608 add concept entry for c++ size map
  content/cpp/concepts/maps/terms/size/size.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5405 Creation of cat.md for pytorch
  content/pytorch/concepts/tensors/terms/cat/cat.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5402 Added file on clustering
  content/sklearn/concepts/clustering/clustering.md
  media/k-means-clustering.png
Labels: new entry, status: review 1️⃣ completed, status: under review, sklearn

#5609 [Term Entry] C# Strings: .Format()
  content/c-sharp/concepts/strings/terms/format/format.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, docs, c#

#4840 Update colors.md
  content/swiftui/concepts/colors/colors.md
  media/swiftui-colors-assetsfolder.png
  media/swiftui-colors-colorexample.png
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, swiftui

#5586 PyTorch nn Layers entry
  content/pytorch/concepts/nn/terms/layers/layers.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5527 Issue 4419: [Edit] CSS [Edit] CSS Typography: text-decoration
  content/css/concepts/typography/terms/text-decoration/text-decoration.md
  media/text-decoration-line-through.png
  media/text-decoration-overline.png
  media/text-decoration-red-wavy-underline.png
  media/text-decoration-underline.png
Labels: css, new entry, status: review 1️⃣ completed, hacktoberfest-accepted, status: under review

#5581 Issue #5570 Add doc for C# String.Split()
  content/c-sharp/concepts/strings/terms/split/split.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, c#

#5458 Created activation functions in Pytorch
  content/pytorch/concepts/nn/terms/activation-functions/activation-functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5550 [Term entry] Python:Numpy Math Function: .hypot()
  content/numpy/concepts/math-methods/terms/hypot/hypot.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy

#5016 add pytorch datasets and dataloaders docs
  content/pytorch/concepts/datasets-and-dataloaders/datasets-and-dataloaders.md
  documentation/catalog-content.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5590 Feat: [Term Entry] C# Strings .PadLeft()
  content/c-sharp/concepts/strings/terms/padleft/padleft.md
Labels: new entry, status: review 1️⃣ completed, c#, hacktoberfest-accepted, status: under review

#4779 [Entry] Algorithms: Heap Sort
  content/general/concepts/algorithm/terms/heap-sort/heap-sort.md
  media/heap_in_array.jpg
  media/heap_sort_animation.gif
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5537 Re-push of the numpy transpose entry
  content/numpy/concepts/ndarray/terms/transpose/transpose.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, numpy, hacktoberfest-accepted

#5646 [Term Entry]C++ pointers nullptr
  content/cpp/concepts/pointers/terms/nullptr/nullptr.md
Labels: c++, new entry, status: under review

#5610 [New Entry] adding Pytorch stack
  content/pytorch/concepts/tensor-operations/terms/stack/stack.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pytorch

#5299 #5237 fix added around method to docs
  content/numpy/concepts/math-methods/terms/around/around.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#5519 Added sticky position term to CSS concepts
  content/css/concepts/position/terms/sticky/sticky.md
  media/StickyHeaderExample.gif
Labels: css, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, hacktoberfest-accepted

#5462 [Edit] C# Classes: Static Definition #5460
  content/c-sharp/concepts/classes/classes.md
Labels: enhancement, status: review 1️⃣ completed, c#, hacktoberfest-accepted, status: under review

#5492 Updated dates for Python added definitions and codeblocks
  content/python/concepts/dates/terms/date/date.md
Labels: enhancement, python, status: review 1️⃣ completed, status: under review

#5580 Adding Substring term.
  content/c-sharp/concepts/strings/terms/substring/substring.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, c#

#5554 Term Entry - css position static doc added
  content/css/concepts/position/terms/static/static.md
  media/css-position-static.png
Labels: css, new entry, status: review 1️⃣ completed, status: under review

#5648 New Term Entry - choices.md
  content/python/concepts/random-module/terms/choices/choices.md
Labels: python, new entry, status: under review

#5665 [Term Entry] Kotlin Arrays: .size
  content/kotlin/concepts/arrays/terms/size/size.md
Labels: new entry, status: review 1️⃣ completed, kotlin

#5666 [Term Entry] Kotlin Arrays: .indices
  content/kotlin/concepts/arrays/terms/indices/indices.md
Labels: new entry, status: review 1️⃣ completed, kotlin

#5657 Shortened Description
  content/cpp/concepts/classes/classes.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: review 2️⃣ completed

#5664 [Term Entry]Py torch tensors .unsqueeze()
  content/pytorch/concepts/tensors/terms/unsqueeze/unsqueeze.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5617 Term Entry - .mesh3d() - Plotly
  content/plotly/concepts/graph-objects/terms/mesh3d/mesh3d.md
  media/mesh3d-dataset-sphere.png
  media/mesh3d-example-results.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#5618 Term Entry - .create_distplot() - Plotly
  content/plotly/concepts/figure-factory/terms/create-distplot/create-distplot.md
  media/distplot-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, plotly

#5671 Fix image markdown in mesh3d concept entry
  content/plotly/concepts/graph-objects/terms/mesh3d/mesh3d.md
Labels: typo, status: under review, plotly

#5626 [Term Entry] PyTorch Tensor Operations .index_add() #5614
  content/pytorch/concepts/tensor-operations/terms/index-add/index-add.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5658 [Edit] Add output media files for CSS `animation-play-state`
  content/css/concepts/animations/terms/animation-play-state/animation-play-state.md
  media/animation-play-state-paused.gif
  media/animation-play-state-running.gif
Labels: enhancement, css, status: under review

#5656 [Concept Entry] Postgresql subscripts
  content/postgresql/concepts/subscripts/subscripts.md
Labels: new entry, status: review 1️⃣ completed, postgresql

#5647 [Concept Entry] on Postgresql constants
  content/postgresql/concepts/constants/constants.md
Labels: new entry, status: under review, postgresql

#5667 [Concept Entry] MySQL `CONV()` function
  content/mysql/concepts/built-in-functions/terms/conv/conv.md
Labels: new entry, status: under review, mysql

#5670 Create statsmodels entry for Python
  content/python/concepts/statsmodels/statsmodels.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5651 Write a new description and fixed some typos
  content/cpp/concepts/methods/methods.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: under review

#5661 Created new concept entry - nearest-neighbors.md
  content/sklearn/concepts/nearest-neighbors/nearest-neighbors.md
Labels: new entry, status: under review, sklearn

#5662 Create covariance-estimation.md
  content/sklearn/concepts/covariance-estimation/covariance-estimation.md
Labels: new entry, status: under review, sklearn

#5220 add postgresql functions concept
  content/postgresql/concepts/functions/functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, postgresql

#5683 Created Concept Entry for Python SQL Connectors
  content/python/concepts/sql-connectors/sql-connectors.md
Labels: new entry, status: review 1️⃣ completed, status: under review, status: ready for next review, mysql

#5697 [Term Entry] NumPy - `.rint()`
  content/numpy/concepts/math-methods/terms/rint/rint.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5655 [Term Entry]Py torch tensors .mean()
  content/pytorch/concepts/tensors/terms/mean/mean.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5699 [Term Entry] NumPy - `.nansum()`
  content/numpy/concepts/math-methods/terms/nansum/nansum.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5704 [Term Entry] NumPy - `.diff()`
  content/numpy/concepts/math-methods/terms/diff/diff.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5707 [Term Entry] Python Math Module: math.asinh()
  content/python/concepts/math-module/terms/math-asinh/math-asinh.md
Labels: python, new entry, status: review 1️⃣ completed

#5708 [Term Entry] Python Math Module: math.frexp()
  content/python/concepts/math-module/terms/math-frexp/math-frexp.md
Labels: python, new entry, status: review 1️⃣ completed

#5653 [Term Entry] Python:NumPy Math Methods: .arctan()
  content/numpy/concepts/math-methods/terms/arctan/arctan.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5675 Added a new Concept entry for Linear Models in Sklearn
  content/sklearn/concepts/linear-models/linear-models.md
Labels: new entry, status: under review, sklearn

#5663 Feat: [Term Entry] PyTorch Tensor Operations .index_copy_()
  content/pytorch/concepts/tensor-operations/terms/index-copy/index-copy.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5685 Shorten the description of the pointer description to less than 160 c…
  content/cpp/concepts/pointers/pointers.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: under review

#5714 [Teem Entry] C++ deque rend()
  content/cpp/concepts/deque/terms/rend/rend.md
Labels: c++, new entry, status: review 1️⃣ completed

#5684 [Term Entry] Python Plotly- graph_objects .Histogram2d()
  content/plotly/concepts/graph-objects/terms/histogram2d/histogram2d.md
  media/histogram2d-example.png
Labels: python, new entry, status: review 1️⃣ completed, plotly

#5712 [Term Entry] PyTorch Tensors: .dsplit()
  content/pytorch/concepts/tensors/terms/dsplit/dsplit.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5711 [Term Entry] Swift Sets: .count
  content/swift/concepts/sets/terms/count/count.md
Labels: swift, new entry, status: review 1️⃣ completed

#5672 Term entry - PyTorch - nn - Loss Functions
  content/pytorch/concepts/nn/terms/loss-functions/loss-functions.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch
