Repository Codecademy/docs, pull requests merged in 2024-12, with the labels that each got.

#5717 [Term Entry] Swift sets isEmpty
  content/swift/concepts/sets/terms/isEmpty/isEmpty.md
Labels: swift, new entry, status: review 1️⃣ completed

#5720 Add term entry for numpy prod
  content/numpy/concepts/math-methods/terms/prod/prod.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5725 [Edit] JavaScript Try/Catch
  content/javascript/concepts/try-catch/try-catch.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#5678 [Term Entry] Kotlin: .slice()
  content/kotlin/concepts/arrays/terms/slice/slice.md
Labels: new entry, status: under review, kotlin

#5679 [Term Entry] Kotlin: arrayOf()
  content/kotlin/concepts/arrays/terms/arrayOf/arrayOf.md
Labels: new entry, status: under review, kotlin

#5680 [Term Entry] Kotlin: .sort()
  content/kotlin/concepts/arrays/terms/sort/sort.md
Labels: new entry, status: under review, kotlin

#5696 [Term Entry] Python statsmodels: ARMA
  content/python/concepts/statsmodels/terms/arma/arma.md
  media/arma-forecast-example.png
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5723 [Term Entry] Python NumPy - Math functions .rad2deg()
  content/numpy/concepts/math-methods/terms/rad2deg/rad2deg.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5715 [Concept Entry] MySQL COVAR_POP() function
  content/mysql/concepts/built-in-functions/terms/covar-pop/covar-pop.md
Labels: new entry, status: under review, mysql

#5724 [New Entry] Subject: SQL CONCAT function
  content/sql/concepts/string-function/terms/concat/concat.md
Labels: sql, new entry, status: under review

#5745 Edit entry: AI Greedy-Best-First-Search
  content/ai/concepts/search-algorithms/terms/greedy-best-first-search/greedy-best-first-search.md
Labels: enhancement, status: under review, ai

#5709 [Concept Entry] Sklearn gaussian processes
  content/sklearn/concepts/gaussian-processes/gaussian-processes.md
Labels: status: review 1️⃣ completed, status: waiting for author

#5729 [Concept Entry] Sklearn linear-regression-analysis
  content/sklearn/concepts/linear-regression-analysis/linear-regression-analysis.md
  media/linear-regression-analysis.png
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, sklearn

#5749 [Term Entry] Kotlin Arrays: .reverse()
  content/kotlin/concepts/arrays/terms/reverse/reverse.md
Labels: new entry, status: review 1️⃣ completed, kotlin

#5750 [Term Entry] PyTorch Tensors: .dstack()
  content/pytorch/concepts/tensors/terms/dstack/dstack.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5770 [Term Entry] C# Strings: .Trim()
  content/c-sharp/concepts/strings/terms/trim/trim.md
Labels: new entry, status: review 1️⃣ completed, c#

#5774 added codebyte example
  content/javascript/concepts/hashtables/hashtables.md
Labels: enhancement, javascript

#5768 [Term Entry] C++ Variables: Global Variables
  content/cpp/concepts/variables/terms/global-variables/global-variables.md
Labels: c++, new entry, status: review 1️⃣ completed

#5779 [Term entry] Py torch tensor operations .adjoint()
  content/pytorch/concepts/tensor-operations/terms/adjoint/adjoint.md
Labels: new entry, status: under review, pytorch

#5778 [Concept entry] Sklearn cross decomposition
  content/sklearn/concepts/cross-decomposition/cross-decomposition.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5741 [Term Entry] PyTorch Tensors `.column_stack()`
  content/pytorch/concepts/tensors/terms/column-stack/column-stack.md
Labels: new entry, status: under review, pytorch

#5706 Term Entry - PyTorch - nn - nn.Dropout()
  content/pytorch/concepts/nn/terms/dropout/dropout.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5751 Edit: Markdown-Images
  content/markdown/concepts/images/images.md
  media/codey.jpg
Labels: enhancement, status: review 1️⃣ completed, markdown, status: under review

#5728 [Concept Entry] MySQL query attributes
  content/mysql/concepts/query-attributes/query-attributes.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, mysql

#5775 Added a new entry for Decision Trees
  content/sklearn/concepts/decision-trees/decision-trees.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5777 [Term Entry] Python Plotly - express .sunburst()
  content/plotly/concepts/express/terms/sunburst/sunburst.md
  media/sunburst-plotly.png
Labels: new entry, status: review 1️⃣ completed, plotly

#5776 Added feature selection entry
  content/sklearn/concepts/feature-selection/feature-selection.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5780 Fix broken link in PyTorch loss functions documentation
  content/pytorch/concepts/nn/terms/loss-functions/loss-functions.md
Labels: enhancement, status: review 1️⃣ completed, pytorch

#5781 [Edit] JavaScript: try-catch (Shorten description) (#5766)
  content/javascript/concepts/try-catch/try-catch.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#5732 Glm term entry
  content/python/concepts/statsmodels/terms/glm/glm.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5767 [Concept Entry] Add string functions in SQL
  content/sql/concepts/string-function/string-function.md
Labels: sql, status: review 1️⃣ completed

#5793 [Term Entry] C# Strings .ToCharArray()
  content/c-sharp/concepts/strings/terms/tochararray/tochararray.md
Labels: new entry, status: review 1️⃣ completed, c#

#5815 fix: [Bug/Error] Java Map: .replaceAll() (Codecademy#5291)
  content/java/concepts/map/terms/replaceAll/replaceAll.md
Labels: enhancement, java, status: review 1️⃣ completed, status: under review

#5810 [Edit Entry] Gen AI
  content/ai/concepts/generative-ai/generative-ai.md
Labels: enhancement, status: review 1️⃣ completed, ai

#5786 [Term Entry] PyTorch Tensors .eye()
  content/pytorch/concepts/tensors/terms/eye/eye.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5791 [Term Entry] C# Strings .PadRight()
  content/c-sharp/concepts/strings/terms/padright/padright.md
Labels: new entry, status: review 1️⃣ completed, c#

#5673 Added file on index_select
  content/pytorch/concepts/tensor-operations/terms/index-select/index-select.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5818 [Term Entry] PyTorch Tensor Operations .index_reduce()
  content/pytorch/concepts/tensor-operations/terms/index-reduce/index-reduce.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5820 [Concept Entry] Sklearn multioutput-regression
  content/sklearn/concepts/multioutput-regression/multioutput-regression.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5743 Masked select entry for pytorch
  content/pytorch/concepts/tensor-operations/terms/masked-select/masked-select.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5726 Create deg2rad.md
  content/numpy/concepts/math-methods/terms/deg2rad/deg2rad.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#5783 Feat: [Term Entry] PyTorch Tensor Operations .select()
  content/pytorch/concepts/tensor-operations/terms/select/select.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5677 Add example and usecase using Partition by
  content/sql/concepts/window-functions/terms/lag/lag.md
Labels: enhancement, sql, status: review 1️⃣ completed, status: review 2️⃣ completed

#5681 [Term Entry] Python SQL Connectors: SQLite3
  content/python/concepts/sql-connectors/terms/sqlite3/sqlite3.md
Labels: python, sql, new entry, status: review 1️⃣ completed, status: under review

#5660 Create general math ops for TensorFlow
  content/tensorflow/concepts/math/math.md
  documentation/catalog-content.md
Labels: new entry, status: review 1️⃣ completed, status: under review, tensorflow

#5785 [Term Entry] Neural Networks ai gradient descent
  content/ai/concepts/neural-networks/terms/gradient-descent/gradient-descent.md
Labels: new entry, status: review 1️⃣ completed, ai, neural-networks

#5747 [Term Entry] Python Plotly- graph_objects .Histogram2dContour()
  content/plotly/concepts/graph-objects/terms/histogram2dContour/histogram2dContour.md
  media/histogram2dcontour-example.png
Labels: new entry, status: under review, plotly

#5790 [Term Entry] Python SQL Connectors: pyodbc
  content/python/concepts/sql-connectors/terms/pyodbc/pyodbc.md
Labels: python, new entry, status: under review

#5812 changes made
  content/numpy/concepts/built-in-functions/terms/sort/sort.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#5771 Edit: Python - loops
  content/python/concepts/loops/loops.md
Labels: enhancement, python, status: review 1️⃣ completed, status: under review

#5772 Concept Entry: Python - Type Hints
  content/python/concepts/type-hints/type-hints.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5734 Added file on movedim
  content/pytorch/concepts/tensor-operations/terms/movedim/movedim.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5736 Concept Entry - Python: Enum
  content/python/concepts/enum/enum.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5817 [Concept Entry] Sklearn multilabel-classification
  content/sklearn/concepts/multilabel-classification/multilabel-classification.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5876 Created the concept file `scipy.md`
  content/scipy/scipy.md
Labels: python, new entry, status: review 1️⃣ completed, scipy

#5740 Numpy square
  content/numpy/concepts/math-methods/terms/square/square.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#5824 [Concept Entry] Sklearn: Linear Discriminant Analysis
  content/sklearn/concepts/linear-discriminant-analysis/linear-discriminant-analysis.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5819 [Term Entry] Python Plotly- graph_objects .Candlestick()
  content/plotly/concepts/graph-objects/terms/candlestick/candlestick.md
  media/candlestick-example.png
Labels: new entry, status: review 1️⃣ completed, plotly

#5825 [Concept Entry] Sklearn: Quadratic Discriminant Analysis
  content/sklearn/concepts/quadratic-discriminant-analysis/quadratic-discriminant-analysis.md
Labels: new entry, status: under review, sklearn

#5878 Created the `stats-optimize` concept file
  content/scipy/concepts/scipy-optimize/scipy-optimize.md
Labels: python, new entry, status: review 1️⃣ completed, scipy

#5822 [Concept Entry] Sklearn: Stochastic Gradient Descent
  content/sklearn/concepts/stochastic-gradient-descent/stochastic-gradient-descent.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, sklearn

#5814 [Concept Entry] Sklearn multiclass-classification
  content/sklearn/concepts/multiclass-classification/multiclass-classification.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, sklearn

#5877 Created the `scipy-stats` concept file
  content/scipy/concepts/scipy-stats/scipy-stats.md
Labels: python, new entry, status: review 1️⃣ completed, scipy

#5863 typo : lower()->.lower() in Title, because all other documents have '…
  content/lua/concepts/strings/terms/lower/lower.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, lua

#5821 [Concept Entry] Sklearn Biclustering
  content/sklearn/concepts/biclustering/biclustering.md
Labels: new entry, status: review 1️⃣ completed, sklearn

#5889 [Edit] Python OS Path Module: .join()
  content/python/concepts/os-path-module/terms/join/join.md
Labels: python, typo, status: review 1️⃣ completed

#5886 [Term Entry] PyTorch Tensor Operations: .permute()
  content/pytorch/concepts/tensor-operations/terms/permute/permute.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5888 [Term Entry] PyTorch Tensor Operations: .scatter()
  content/pytorch/concepts/tensor-operations/terms/scatter/scatter.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5887 [Term Entry] PyTorch Tensor Operations: .row_stack()
  content/pytorch/concepts/tensor-operations/terms/row-stack/row-stack.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5882 [Topic Entry] Subject: Blockchain
  content/blockchain/blockchain.md
Labels: new entry, status: review 1️⃣ completed

#5885 [Concept Entry] NumPy: Array Broadcasting
  content/numpy/concepts/array-broadcasting/array-broadcasting.md
Labels: new entry, status: review 1️⃣ completed, numpy

#5792 [Term Entry] Subject: SQL update
  content/sql/concepts/operators/terms/update/update.md
Labels: sql, new entry, status: under review

#5782 [Concept Entry] TRUCATE in SQL
  content/sql/concepts/commands/terms/truncate/truncate.md
Labels: sql, new entry, status: under review

#5894 [Term Entry]Python SQL Connectors: SQLAlchemy
  content/python/concepts/sql-connectors/terms/sqlalchemy/sqlalchemy.md
Labels: python, new entry, status: under review

#5892 [Term Entry] PyTorch Tensor Operations: .nonzero()
  content/pytorch/concepts/tensor-operations/terms/nonzero/nonzero.md
Labels: new entry, status: under review, pytorch

#5710 fixed file path as suggested
  content/python/concepts/statsmodels/terms/logit/logit.md
  documentation/tags.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5826 Completed Concept Entry for Javascript: Optional Chaining #5805
  content/javascript/concepts/optional-chaining/optional-chaining.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
