Repository Codecademy/docs, pull requests merged in 2024-09, with the labels that each got.

#5107 [Term Entry] Python:Pandas dataframe at #4520
  content/pandas/concepts/dataframe/terms/at/at.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas

#5132 Update animation.md
  content/css/concepts/animations/terms/animation/animation.md
Labels: css, typo, status: review 1️⃣ completed, status: under review

#5087 [Term Entry] Python math-module math.asin()
  content/python/concepts/math-module/terms/math-asin/math-asin.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5148 docs(containerization): intended path link
  content/cloud-computing/concepts/containerization/containerization.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, cloud

#5149 Edit for issue #5143
  content/c-sharp/concepts/methods/methods.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, c#

#5142 [Term Entry] Python math-module math.isinf() #5028
  content/python/concepts/math-module/terms/math-isinf/math-isinf.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5147 Update classes.md
  content/java/concepts/classes/classes.md
Labels: java, typo, status: review 1️⃣ completed, status: review 2️⃣ completed

#5096 Python math-module math.isnan()
  content/python/concepts/math-module/terms/math-isnan/math-isnan.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5020 Create entry on Tensor operation for Pytorch
  content/pytorch/concepts/tensor-operations/tensor-operations.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#4911 Plotly concepts express terms histogram
  content/plotly/concepts/express/terms/histogram/histogram.md
  media/plotly-express-histogram-example.png
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4965 Pie
  content/plotly/concepts/express/terms/pie/pie.md
  media/pieplot.png
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#4812 Add neuralnetwork [Concept Entry] under TensorFlow
  content/tensorflow/concepts/nn/nn.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, tensorflow

#5045 Adding math-fsum.md to explain how math.fsum() works
  content/python/concepts/math-module/terms/math-fsum/math-fsum.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5186 edited numpy cos codebyte example
  content/numpy/concepts/math-methods/terms/cos/cos.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#5005 Added a new entry for Dart User-input
  content/dart/concepts/user-input/user-input.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, dart

#5046 Create concept entry for HEX function for MySQL
  content/mysql/concepts/hex/hex.md
Labels: new entry, status: review 1️⃣ completed, status: under review, mysql

#4908 Create data-types.md
  content/mysql/concepts/data-types/data-types.md
Labels: new entry, status: review 1️⃣ completed, status: under review, mysql

#5111 [Edit] JavaScript Substring
  content/javascript/concepts/substring/substring.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5099 Add Usage for math.atanh()
  content/python/concepts/math-module/terms/math-atanh/math-atanh.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5053 created markdown file for cpp vector front
  content/cpp/concepts/vectors/terms/front/front.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5137 Create entry on pytorch tensors sum
  content/pytorch/concepts/tensors/terms/sum/sum.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#4977 [New Entry] Added SQL SUBSTRING function
  content/sql/concepts/string-function/terms/substring/substring.md
  documentation/tags.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5192 Update paragraphs.md
  content/markdown/concepts/paragraphs/paragraphs.md
Labels: enhancement, status: review 1️⃣ completed, markdown, status: under review

#4357 [Term Entry] Java ArrayList method: .removeRange()
  content/java/concepts/array-list/terms/removeRange/removeRange.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5095 [Term Entry] Python Math Module: math.acos()
  content/python/concepts/math-module/terms/math-acos/math-acos.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#4853 [Term Entry] C: Linked List
  content/c/concepts/linked-list/linked-list.md
  media/linked-list-node.png
  media/singular-linked-list.png
Labels: c, new entry, status: review 1️⃣ completed, status: waiting for author

#5144 Creation of the math-erfc term
  content/python/concepts/math-module/terms/math-erfc/math-erfc.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5103 Create math-atan2.md
  content/python/concepts/math-module/terms/math-atan2/math-atan2.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5150 Foreach swift
  content/swift/concepts/dictionaries/terms/forEach/forEach.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5280 feat: php class codebyte example
  content/php/concepts/classes/classes.md
Labels: enhancement, php, status: review 1️⃣ completed, status: under review

#4928 [Term Entry] Dart List .insert()
  content/dart/concepts/list/terms/insert/insert.md
Labels: new entry, status: review 1️⃣ completed, dart

#5200 [New Entry} Added NumPy trace file
  content/numpy/concepts/built-in-functions/terms/trace/trace.md
Labels: python, new entry, status: review 1️⃣ completed, status: waiting for author, numpy

#5289 added file for extract sql
  content/sql/concepts/dates/terms/extract/extract.md
Labels: sql, new entry

#5129 created torch.reshape term entry
  content/pytorch/concepts/tensors/terms/reshape/reshape.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pytorch

#4796 Dart Methods (New Pull Request)
  content/dart/concepts/methods/methods.md
Labels: new entry, status: review 1️⃣ completed, status: under review, dart

#5325 [Concept Entry] C++: Deque
  content/cpp/concepts/deque/deque.md
Labels: c++, new entry, status: under review

#4952 Add images to media folder and right.md. Replaced top with right in b…
  content/css/concepts/position/terms/right/right.md
  media/css_position_right_absolute.png
  media/css_position_right_relative.png
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#4921 [Edit] JavaScript: Loops
  content/javascript/concepts/loops/loops.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: review 2️⃣ completed

#4385 [Term Entry] Semantic Technologies / SPARQL
  content/general/concepts/semantic-technologies/terms/sparql/sparql.md
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#5331 [Term Entry] PyTorch Tensor Operations: .t()
  content/pytorch/concepts/tensor-operations/terms/t/t.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, pytorch

#5285 Python Plotly- graph_objects .Barpolar()
  content/plotly/concepts/graph-objects/terms/barpolar/barpolar.md
  media/plotly-barpolar-example.png
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#5217 Python math module math.atan
  content/python/concepts/math-module/terms/math-atan/math-atan.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5278 [Term Entry] Python built-in functions slice() #5117
  content/python/concepts/built-in-functions/terms/slice/slice.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5329 [Concept Entry] Sklearn self-training
  content/sklearn/concepts/self-training/self-training.md
Labels: new entry, sklearn

#5105 [Topic Entry] Python math-module math.cosh()
  content/python/concepts/math-module/terms/math-cosh/math-cosh.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5196 Python builtin methods iter
  content/python/concepts/built-in-functions/terms/iter/iter.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5211 [Term Entry] Swift dictionary.keys()
  content/swift/concepts/dictionaries/terms/keys/keys.md
  documentation/tags.md
Labels: swift, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5043 added math.factorial() page
  content/python/concepts/math-module/terms/math-factorial/math-factorial.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#5191 [Term Entry] Adding Pytorch Tensor arange
  content/pytorch/concepts/tensors/terms/arange/arange.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch
