Repository Codecademy/docs, pull requests merged in 2025-06, with the labels that each got.

#6873 Rbegin for C++
  content/cpp/concepts/maps/terms/rbegin/rbegin.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#6984 [Term Entry]: Separate Overload
  content/cpp/concepts/overloading/terms/seperate-overload/seperate-overload.md
  documentation/tags.md
Labels: c++, new entry, status: review 1️⃣ completed

#6947 Fix typo in position property list (removed extra 'or')
  content/css/concepts/position/position.md
Labels: enhancement, css, status: review 1️⃣ completed, status: under review

#6839 [Edit] PHP: sin()
  content/php/concepts/math-functions/terms/sin/sin.md
Labels: enhancement, php

#6862 [Edit] PHP: exp()
  content/php/concepts/math-functions/terms/exp/exp.md
Labels: enhancement, php

#6826 Feat/6790 array crbegin
  content/cpp/concepts/arrays/terms/crbegin/crbegin.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7035 [Edit] C: Arrays
  content/c/concepts/arrays/arrays.md
Labels: enhancement, c, status: review 1️⃣ completed

#7033 [Edit] Java: Strings
  content/java/concepts/strings/strings.md
Labels: enhancement, java, status: review 1️⃣ completed

#6842 [Edit] Java: .tan()
  content/java/concepts/math-methods/terms/tan/tan.md
Labels: enhancement, java

#6843 [Edit] SQL: TAN()
  content/sql/concepts/math-functions/terms/tan/tan.md
Labels: enhancement, sql

#6840 [Edit] SQL: SQRT()
  content/sql/concepts/math-functions/terms/sqrt/sqrt.md
Labels: enhancement, sql

#6857 [Edit] Kotlin: cbrt()
  content/kotlin/concepts/math-methods/terms/cbrt/cbrt.md
Labels: enhancement, kotlin

#6855 [Edit] Java: .atan()
  content/java/concepts/math-methods/terms/atan/atan.md
Labels: enhancement, java

#6852 [Edit] Java: .asin()
  content/java/concepts/math-methods/terms/asin/asin.md
Labels: enhancement, java

#6854 [Edit] Go: Asinh()
  content/go/concepts/math-functions/terms/asinh/asinh.md
Labels: enhancement, go

#6864 [Edit] JavaScript: .length
  content/javascript/concepts/strings/terms/length/length.md
Labels: enhancement, javascript

#6988 [Edit]: C `sizeof`
  content/c/concepts/operators/terms/sizeof/sizeof.md
Labels: enhancement, c, status: under review

#6993 [Edit] Numpy: Random: .beta()
  content/numpy/concepts/random-module/terms/beta/beta.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#6897 [Term Entry] C++ Key_comp()
  content/cpp/concepts/maps/terms/key-comp/key-comp.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#6913 Add .reset() term for smart pointers in C++
  content/cpp/concepts/pointers/terms/reset/reset.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7097 [Edit] Java: .set()
  content/java/concepts/array-list/terms/set/set.md
Labels: enhancement, java, status: review 1️⃣ completed

#6992 Add keyword entry: try (Python)
  content/python/concepts/keywords/terms/try/try.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#6994 [Term Entry] Python Keyword: break #6962
  content/python/concepts/keywords/terms/break/break.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#7027 [Term entry]: Python keywords: continue
  content/python/concepts/keywords/terms/continue/continue.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#7117 [Edit] Python: .replace()
  content/python/concepts/strings/terms/replace/replace.md
Labels: enhancement, python, status: review 1️⃣ completed

#7038 [Edit] Python: .randint()
  content/python/concepts/random-module/terms/randint/randint.md
Labels: enhancement, python, status: under review

#7065 [Edit] Python: substrings
  content/python/concepts/substrings/substrings.md
Labels: enhancement, python, status: review 1️⃣ completed

#7067 [Edit] Python: inheritance
  content/python/concepts/inheritance/inheritance.md
Labels: enhancement, python, status: review 1️⃣ completed

#7044 [Edit]Python: datetime.now()
  content/python/concepts/dates/terms/now/now.md
Labels: enhancement, python, status: review 1️⃣ completed

#7074 [Edit] C++: unordered maps
  content/cpp/concepts/unordered-map/unordered-map.md
Labels: enhancement, c++, status: review 1️⃣ completed

#7076 [Edit] C++: Arrays
  content/cpp/concepts/arrays/arrays.md
Labels: enhancement, c++, status: review 1️⃣ completed

#6878 [Term Entry] C++ Arrays: cbegin()
  content/cpp/concepts/arrays/terms/cbegin/cbegin.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7103 Created term entry for .append() method for C++ strings
  content/cpp/concepts/strings/terms/append/append.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7077 [Edit] CSS: Box Model
  content/css/concepts/box-model/box-model.md
  media/box-model-output1.png
  media/box-model-output2.png
  media/box-model-output3.png
  media/box-model.png
Labels: enhancement, css, status: under review

#7119 [Edit] Ruby: gems
  content/ruby/concepts/gems/gems.md
Labels: enhancement, ruby, status: review 1️⃣ completed

#7148 [Edit] C++: .erase()
  content/cpp/concepts/vectors/terms/erase/erase.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: ready for next review

#7120 Conj phys entry for pytorch
  content/pytorch/concepts/tensor-operations/terms/conj-physical/conj-physical.md
Labels: new entry, status: review 1️⃣ completed, status: ready for next review, pytorch

#7126 [Term Entry] PyTorch Tensor Operations: .clamp()
  content/pytorch/concepts/tensor-operations/terms/clamp/clamp.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#7168 [Edit] JavaScript: AJAX
  content/javascript/concepts/ajax/ajax.md
Labels: enhancement, javascript

#7127 [Edit] SwiftUI: UIKit
  content/swiftui/concepts/uikit/uikit.md
Labels: enhancement, status: review 1️⃣ completed, swiftui

#7154 Closes #7134 : Added a new entry for swap() method under strings in C++.
  content/cpp/concepts/strings/terms/swap/swap.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7123 [Edit] SwiftUI: ZStack
  content/swiftui/concepts/views/terms/zstack/zstack.md
  media/zStack-output-1.png
  media/zStack-output-2.png
Labels: enhancement, status: review 1️⃣ completed, swiftui

#6941 [Term Entry]Command line Bash: Functions
  content/command-line/concepts/bash/terms/functions/functions.md
Labels: new entry, status: review 1️⃣ completed, command line

#7165 [Edit] C++ Strings: insert #7136
  content/cpp/concepts/strings/terms/insert/insert.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7151 Update operators.md
  content/c/concepts/operators/operators.md
Labels: enhancement, c, status: review 1️⃣ completed, status: under review

#6694 Update smart-pointers.md: transfer of ownership
  content/cpp/concepts/smart-pointers/smart-pointers.md
Labels: enhancement, c++, status: review 1️⃣ completed, status: under review
