Repository Codecademy/docs, pull requests merged in 2025-08, with the labels that each got.

#7331 Js is safe integer term
  content/javascript/concepts/number-methods/terms/isSafeInteger/isSafeInteger.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7204 [Term Entry] PyTorch Tensor Operations: .div()
  content/pytorch/concepts/tensor-operations/terms/div/div.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#7353 [Term Entry] JavaScript Arrays: .keys()
  content/javascript/concepts/arrays/terms/keys/keys.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7357 [Term Entry] PyTorch Tensor Operations: .cosh()
  content/pytorch/concepts/tensor-operations/terms/cosh/cosh.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#7373 add: java queue .peek() method term entry
  content/java/concepts/queue/terms/peek/peek.md
Labels: java, new entry, status: review 1️⃣ completed, status: under review

#7386 [Term Entry] PyTorch Tensor Operations: .erfinv()
  content/pytorch/concepts/tensor-operations/terms/erfinv/erfinv.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#7345 Create new .md entry for JavaScript .MAX_VALUE
  content/javascript/concepts/number-methods/terms/MAX-VALUE/MAX-VALUE.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7404 [Edit] Pandas Built-in Functions: .unique()
  content/pandas/concepts/built-in-functions/terms/unique/unique.md
Labels: enhancement, status: review 1️⃣ completed, pandas

#7442 [Edit] Python: Strings
  content/python/concepts/strings/strings.md
Labels: enhancement, python, status: review 1️⃣ completed

#7106 docs: Add new term entry for Multilevel Inheritance in Python
  content/python/concepts/inheritance/terms/multilevel-inheritance/multilevel-inheritance.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#7486 [Edit] HTML: <blink>
  content/html/concepts/elements/terms/blink/blink.md
  media/html-blink-1.gif
  media/html-blink-2.gif
Labels: enhancement, html, status: review 1️⃣ completed

#7476 [Term Entry] C++ Sets: empty()
  content/cpp/concepts/sets/terms/empty/empty.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#7480 Attempt to create an exp2 entry fot pytorch
  content/pytorch/concepts/tensor-operations/terms/exp2/exp2.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#7492 [Edit] CSS: Comments
  content/css/concepts/comments/comments.md
Labels: enhancement, css, status: review 1️⃣ completed

#7475 [Term Entry] JavaScript Objects: seal()
  content/javascript/concepts/objects/terms/seal/seal.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6948 Update ndarray.md
  content/numpy/concepts/ndarray/ndarray.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed

#6824 Update euclidean-algorithm.md
  content/general/concepts/algorithm/terms/euclidean-algorithm/euclidean-algorithm.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#7411 [Term Entry] JavaScript Objects: preventExtensions()
  content/javascript/concepts/objects/terms/preventExtensions/preventExtensions.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7445 Docs/java queue remove
  content/java/concepts/queue/terms/remove/remove.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#7522 [Term Entry] scaleX()
  content/css/concepts/transform-functions/terms/scaleX/scaleX.md
  media/scaleX-Ejemplo.png
Labels: css, new entry, status: review 1️⃣ completed, status: under review

#7526 [Term Entry] PyTorch Tensor Operations: .frexp()
  content/pytorch/concepts/tensor-operations/terms/frexp/frexp.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#7547 docs(sql): added syntax and example for RADIANS() function
  content/sql/concepts/math-functions/terms/radians/radians.md
Labels: sql, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
