Repository Codecademy/docs, pull requests merged in 2025-05, with the labels that each got.

#6665 Created nonzero.md
  content/numpy/concepts/built-in-functions/terms/nonzero/nonzero.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6538 [Term Entry]: Add Think Aloud Protocol
  content/uiux/concepts/think-aloud-protocol/think-aloud-protocol.md
  media/think-aloud-protocol.png
Labels: new entry, status: review 1️⃣ completed, ui and ux, status: under review

#6576 [Edit] Placeholders: Context and Types
  content/uiux/concepts/placeholders/placeholders.md
Labels: enhancement, status: review 1️⃣ completed, ui and ux, status: under review

#6555 [Edit] Focus Group: Typos
  content/uiux/concepts/focus-group/focus-group.md
Labels: enhancement, status: review 1️⃣ completed, ui and ux, status: under review

#6659 [Edit] Information Architecture
  content/uiux/concepts/information-architecture/information-architecture.md
Labels: enhancement, status: review 1️⃣ completed, ui and ux, status: under review

#6681 [Edit] JavaScript: Switch
  content/javascript/concepts/switch/switch.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6688 [Edit] Python: Functions
  content/python/concepts/functions/functions.md
Labels: enhancement, python, status: review 1️⃣ completed

#6583 [Term Entry] General Machine Learning: Epochs
  content/general/concepts/machine-learning/terms/epochs/epochs.md
  media/epochs.png
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#6729 [Edit] - Pandas - reset_index()
  content/pandas/concepts/dataframe/terms/reset-index/reset-index.md
Labels: enhancement, status: review 1️⃣ completed, pandas

#6752 [Edit] Python: Tuples
  content/python/concepts/tuples/tuples.md
Labels: enhancement, python, status: review 1️⃣ completed

#6579 [Edit] Accessibility: Add Practicality and Challenges
  content/uiux/concepts/design-methodologies/terms/accessibility/accessibility.md
Labels: enhancement, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#6750 [Edit] - C++ `.substr()`
  content/cpp/concepts/strings/terms/substr/substr.md
Labels: enhancement, c++, status: review 1️⃣ completed

#6772 [Edit] Python:NumPy: .floor()
  content/numpy/concepts/math-methods/terms/floor/floor.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6698 [Edit] - C# Switch
  content/c-sharp/concepts/switch/switch.md
Labels: enhancement, status: review 1️⃣ completed, c#

#6689 [Term Entry] Python - NumPy Random module: .randn()
  content/numpy/concepts/random-module/terms/randn/randn.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6691 [Term Entry] Python - NumPy Random module: .rand()
  content/numpy/concepts/random-module/terms/rand/rand.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6670 [Term Entry] C++ Maps: begin()
  content/cpp/concepts/maps/terms/begin/begin.md
Labels: c++, new entry, status: review 1️⃣ completed

#6672 [Term Entry] C++ Maps: .at()
  content/cpp/concepts/maps/terms/at/at.md
  documentation/tags.md
Labels: c++, new entry, status: review 1️⃣ completed

#6797 [Edit] JavaScript: .setTimeout()
  content/javascript/concepts/window/terms/setTimeout/setTimeout.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6795 [Edit] Matplotlib - Python: .hist()
  content/matplotlib/concepts/pyplot/terms/hist/hist.md
  media/histogram-output-1.png
  media/histogram-output-2.png
  media/histogram-output-3.png
Labels: enhancement, status: review 1️⃣ completed, matplotlib

#6807 [Edit] CSS: padding
  content/css/concepts/padding/terms/padding/padding.md
  media/css-padding-output-1.png
  media/css-padding-output-2.png
  media/css-padding-output-3.png
Labels: enhancement, css, status: under review

#6806 [Edit] Python: __repr__()
  content/python/concepts/dunder-methods/terms/repr/repr.md
Labels: enhancement, python, status: review 1️⃣ completed

#6801 Max size
  content/cpp/concepts/maps/terms/max-size/max-size.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pandas

#6676 [Edit] - JS Slice
  content/javascript/concepts/arrays/terms/slice/slice.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6677 [Edit] - Py Comments
  content/python/concepts/comments/comments.md
Labels: enhancement, python, status: review 1️⃣ completed

#6678 [Edit] Numpy.log10
  content/numpy/concepts/math-methods/terms/log10/log10.md
  media/numpy_log10.png
Labels: enhancement, status: review 1️⃣ completed, numpy

#6818 [Edit] Python:NumPy: .rad2deg()
  content/numpy/concepts/math-methods/terms/rad2deg/rad2deg.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6809 [Edit] Go: Comments
  content/go/concepts/comments/comments.md
Labels: enhancement, status: review 1️⃣ completed, go

#6810 [Edit] R: Comments
  content/r/concepts/comments/comments.md
Labels: enhancement, r, status: review 1️⃣ completed

#6811 [Edit] C: Loops
  content/c/concepts/loops/loops.md
Labels: enhancement, c, status: review 1️⃣ completed

#6812 [Edit] C++: Macros
  content/cpp/concepts/macros/macros.md
Labels: enhancement, c++, status: review 1️⃣ completed

#6813 [Edit] Lua: Arrays
  content/lua/concepts/arrays/arrays.md
Labels: enhancement, status: review 1️⃣ completed, lua

#6815 [Edit] Dart: Variables
  content/dart/concepts/variables/variables.md
Labels: enhancement, status: review 1️⃣ completed, dart

#6816 [Edit] Rust: Variables
  content/rust/concepts/variables/variables.md
Labels: enhancement, status: review 1️⃣ completed, rust

#6817 [Edit] C: strcmp()
  content/c/concepts/strings/terms/strcmp/strcmp.md
Labels: enhancement, c, status: review 1️⃣ completed

#6679 [Edit] - Pandas fillna
  content/pandas/concepts/dataframe/terms/fillna/fillna.md
Labels: enhancement, status: review 1️⃣ completed, pandas

#6687 [Edit] - Pandas drop_duplicates
  content/pandas/concepts/dataframe/terms/drop-duplicates/drop-duplicates.md
Labels: enhancement, status: review 1️⃣ completed, pandas

#6793 [Term Entry] Python NumPy - Random module: .beta()
  content/numpy/concepts/random-module/terms/beta/beta.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6697 [Edit] - Python lists `.pop()`
  content/python/concepts/lists/terms/pop/pop.md
Labels: enhancement, python, status: review 1️⃣ completed

#6721 [Edit] - numpy linspace()
  content/numpy/concepts/built-in-functions/terms/linspace/linspace.md
  media/sine-wave-using-linspace.png
Labels: enhancement, status: review 1️⃣ completed, numpy

#6777 [Edit] Numpy - `.norm()`
  content/numpy/concepts/built-in-functions/terms/norm/norm.md
  content/numpy/concepts/linear-algebra/terms/norm/norm.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6796 [Term Entry] PyTorch Tensor Operations: .reshap_as()
  content/pytorch/concepts/tensor-operations/terms/reshape-as/reshape-as.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6823 [Edit] SQL: DATEADD()
  content/sql/concepts/dates/terms/dateadd/dateadd.md
Labels: enhancement, sql, status: review 1️⃣ completed

#6804 [Edit] Python: .dump()
  content/python/concepts/json-module/terms/dump/dump.md
Labels: enhancement, python, status: review 1️⃣ completed

#6872 [Edit] Matplotlib - Python: PyPlot
  content/matplotlib/concepts/pyplot/pyplot.md
  media/pyplot-output-1.png
  media/pyplot-output-2.png
Labels: enhancement, status: review 1️⃣ completed, matplotlib

#6881 [Edit] JavaScript: Substring
  content/javascript/concepts/substring/substring.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6821 [Edit] Java: .format()
  content/java/concepts/strings/terms/format/format.md
Labels: enhancement, java, status: review 1️⃣ completed

#6820 [Edit] Python: .insert()
  content/python/concepts/lists/terms/insert/insert.md
Labels: enhancement, python, status: review 1️⃣ completed

#6882 [Edit] Java: .printf()
  content/java/concepts/output/terms/printf/printf.md
Labels: enhancement, java, status: review 1️⃣ completed

#6805 [Edit] Java: .charAt()
  content/java/concepts/strings/terms/charAt/charAt.md
Labels: enhancement, java, status: review 1️⃣ completed

#6877 [Edit] Matplotlib - Python: .subplots()
  content/matplotlib/concepts/pyplot/terms/subplots/subplots.md
  documentation/tags.md
  media/subplots-1.png
  media/subplots-2.png
  media/subplots-3.png
Labels: enhancement, status: review 1️⃣ completed, matplotlib

#6936 [Edit] TypeScript: Unions
  content/typescript/concepts/unions/unions.md
Labels: enhancement, typescript, status: review 1️⃣ completed

#6935 [Edit] UI/UX: Wicked Problems
  content/uiux/concepts/wicked-problems/wicked-problems.md
Labels: enhancement, ui and ux

#6931 [Edit] General: Semantic Technologies
  content/general/concepts/semantic-technologies/semantic-technologies.md
Labels: enhancement, general

#6929 [Edit] Python: pip
  content/python/concepts/pip/pip.md
Labels: enhancement, python

#6928 [Edit] UI/UX: Wireframe
  content/uiux/concepts/wireframe/wireframe.md
Labels: enhancement, ui and ux

#6927 [Edit] UI/UX: UI Design
  content/uiux/concepts/ui-design/ui-design.md
Labels: enhancement, ui and ux

#6925 [Edit] Kotlin
  content/kotlin/kotlin.md
Labels: enhancement, kotlin

#6912 [Edit] General: Programming Optimization
  content/general/concepts/programming-optimization/programming-optimization.md
Labels: enhancement, general

#6906 [Edit] AI: Depth First Search
  content/ai/concepts/search-algorithms/terms/depth-first-search/depth-first-search.md
Labels: enhancement, ai

#6905 [Edit] Git: Reset
  content/git/concepts/reset/reset.md
Labels: enhancement, git

#6902 [Edit] UI/UX: User Research
  content/uiux/concepts/user-research/user-research.md
Labels: enhancement, ui and ux

#6901 [Edit] CSS: contrast
  content/css/concepts/filter-functions/terms/contrast/contrast.md
Labels: enhancement, css

#6899 [Edit] Python: IDLE
  content/python/concepts/idle/idle.md
Labels: enhancement, python

#6894 [Edit] UI/UX: Image
  content/uiux/concepts/image/image.md
Labels: enhancement, ui and ux

#6895 [Edit] UI/UX: Video
  content/uiux/concepts/video/video.md
Labels: enhancement, ui and ux

#6903 [Concept Entry] Python: os module
  content/python/concepts/os-module/os-module.md
  content/python/concepts/os-module/terms/basename/basename.md
  content/python/concepts/os-module/terms/dirname/dirname.md
  content/python/concepts/os-module/terms/exists/exists.md
  content/python/concepts/os-module/terms/join/join.md
  content/python/concepts/os-path-module/os-path-module.md
Labels: enhancement, python, status: under review

#6876 [Edit] Python: JSON Module - .load()
  content/python/concepts/json-module/terms/load/load.md
Labels: enhancement, python, status: review 1️⃣ completed

#6830 [Edit] Kotlin: .lowercase()
  content/kotlin/concepts/strings/terms/lowercase/lowercase.md
Labels: enhancement, kotlin

#6889 [Edit] SwiftUI: Accessibility
  content/swiftui/concepts/accessibility/accessibility.md
Labels: enhancement, swiftui

#6834 [Edit] Java: Operators
  content/java/concepts/operators/operators.md
Labels: enhancement, java

#6837 [Edit] C: printf()
  content/c/concepts/basic-output/terms/printf/printf.md
Labels: enhancement, c

#6922 [Edit] General: Inorder traversal
  content/general/concepts/binary-search-tree/terms/inorder-traversal/inorder-traversal.md
Labels: enhancement, general, status: review 1️⃣ completed

#6885 [Edit] General: DNS
  content/general/concepts/dns/dns.md
Labels: enhancement, general

#6799 [Term Entry] Python Pandas - Dataframe: .explode()
  content/pandas/concepts/dataframe/terms/explode/explode.md
Labels: new entry, status: review 1️⃣ completed, pandas, status: under review

#6880 [Term Entry] Java HashMap: .put()
  content/java/concepts/hashmap/terms/put/put.md
Labels: java, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed
