Repository Codecademy/docs, pull requests merged in 2025-07, with the labels that each got.

#7187 [Term Entry] C++ Arrays:at()
  content/cpp/concepts/arrays/terms/at/at.md
Labels: c++, new entry, status: under review

#7190 [Term Entry] C++ - Pointers: .swap()
  content/cpp/concepts/pointers/terms/swap/swap.md
Labels: c++, new entry, status: under review

#7200 [Term Entry] Python Keywords: def
  content/python/concepts/keywords/terms/def/def.md
Labels: python, new entry, status: review 1️⃣ completed

#7196 [Edit]: Python `len()`
  content/python/concepts/built-in-functions/terms/len/len.md
Labels: enhancement, python, status: review 1️⃣ completed

#7294 [Edit] Python Strings: .join()
  content/python/concepts/strings/terms/join/join.md
Labels: enhancement, python, status: review 1️⃣ completed

#7275 [Edit] Python Built-in Functions: next()
  content/python/concepts/built-in-functions/terms/next/next.md
Labels: enhancement, python, status: under review

#7273 [Edit] Pandas: .sort_values()
  content/pandas/concepts/dataframe/terms/sortvalues/sortvalues.md
Labels: enhancement, status: review 1️⃣ completed, pandas

#7198 [Edit]: Python `abs()`
  content/python/concepts/built-in-functions/terms/abs/abs.md
Labels: enhancement, python, status: review 1️⃣ completed

#7183 Modified the routing article
  content/general/concepts/routing/routing.md
Labels: enhancement, general, status: review 1️⃣ completed, status: under review

#7184 Add Term Entry for the JavaScript .endsWith() method
  content/javascript/concepts/strings/terms/endsWith/endsWith.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7199 [Edit]: Python `.isnumeric()`
  content/python/concepts/strings/terms/isnumeric/isnumeric.md
Labels: enhancement, python, status: review 1️⃣ completed

#7205 [Edit]: Python `eval()`
  content/python/concepts/built-in-functions/terms/eval/eval.md
Labels: enhancement, python, status: review 1️⃣ completed

#7191 [Term Entry] C++ Smart Pointer Method: std::unique_ptr::release()
  content/cpp/concepts/pointers/terms/release/release.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7194 [Term Entry] C++ Array Function: .cend()
  content/cpp/concepts/arrays/terms/cend/cend.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#7319 [Edit] Java Strings: .compareTo()
  content/java/concepts/strings/terms/compareTo/compareTo.md
Labels: enhancement, java, status: review 1️⃣ completed

#7327 [Term Entry] NumPy Random Module: .binomial()
  content/numpy/concepts/random-module/terms/binomial/binomial.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#7206 [Edit]: Python `getattr()`
  content/python/concepts/built-in-functions/terms/getattr/getattr.md
Labels: enhancement, python, status: review 1️⃣ completed

#7342 [Edit] Python Strings: .splitlines()
  content/python/concepts/strings/terms/splitlines/splitlines.md
Labels: enhancement, python, status: review 1️⃣ completed

#7305 [Term Entry] NumPy Random Module: .normal()
  content/numpy/concepts/random-module/terms/normal/normal.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#7325 [Term Entry] JavaScript Arrays: .flatMap()
  content/javascript/concepts/arrays/terms/flatMap/flatMap.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#7321 [Edit] SQL: Errors
  content/sql/concepts/errors/errors.md
Labels: enhancement, sql, status: review 1️⃣ completed

#7338 [Edit] Git: .gitignore
  content/git/concepts/gitignore/gitignore.md
Labels: git, status: review 1️⃣ completed, claimed

#7270 [Edit] C++: Math functions: sqrt()
  content/cpp/concepts/math-functions/terms/sqrt/sqrt.md
Labels: enhancement, c++, status: review 1️⃣ completed

#7344 [Edit] CSS Transform Functions: rotate()
  content/css/concepts/transform-functions/terms/rotate/rotate.md
  media/css-rotate-1.jpg
  media/css-rotate-2.gif
  media/css-rotate-3.gif
Labels: enhancement, css, status: review 1️⃣ completed

#7276 [Edit] Java: Strings: .valueOf()
  content/java/concepts/strings/terms/valueOf/valueOf.md
Labels: enhancement, java, status: review 1️⃣ completed

#7277 [Edit] JavaScript:date: .setTime()
  content/javascript/concepts/dates/terms/setTime/setTime.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#7259 [Edit] Python: strings: .find()
  content/python/concepts/strings/terms/find/find.md
Labels: enhancement, python, status: review 1️⃣ completed

#7223 [Edit]: Python time `.sleep()`
  content/python/concepts/time-module/terms/sleep/sleep.md
Labels: enhancement, python, status: review 1️⃣ completed

#7297 [Edit] JavaScript: Window: setinterval()
  content/javascript/concepts/window/terms/setInterval/setInterval.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#7274 [Edit] C#: Strings: .Substring()
  content/c-sharp/concepts/strings/terms/substring/substring.md
Labels: enhancement, status: review 1️⃣ completed, c#

#7296 [Edit] C++: enum
  content/cpp/concepts/enum/enum.md
Labels: enhancement, c++, status: review 1️⃣ completed

#7207 [Edit] PHP: Arrays
  content/php/concepts/arrays/arrays.md
Labels: enhancement, php, status: review 1️⃣ completed

#7322 [Edit] CSS: Filter-functions: drop-shadow()
  content/css/concepts/filter-functions/terms/drop-shadow/drop-shadow.md
  media/drop-shadow1.png
  media/drop-shadow2.png
  media/drop-shadow3.png
Labels: enhancement, css, status: review 1️⃣ completed

#7320 [Edit] Java: iterator
  content/java/concepts/iterator/iterator.md
Labels: enhancement, java, status: review 1️⃣ completed

#7299 [Edit] JavaScript: Objects: .keys()
  content/javascript/concepts/objects/terms/keys/keys.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#7333 [Edit] Python: Request Module
  content/python/concepts/requests-module/requests-module.md
Labels: enhancement, python, status: review 1️⃣ completed

#7300 [Edit] Python: Matplotlib: .boxplot()
  content/matplotlib/concepts/pyplot/terms/boxplot/boxplot.md
  media/boxplot1.png
  media/boxplot2.png
  media/boxplot3.png
Labels: enhancement, status: review 1️⃣ completed, matplotlib
