Repository Codecademy/docs, pull requests merged in 2025-09, with the labels that each got.

#7611 [Edit] PyTorch: .randn()
  content/pytorch/concepts/tensors/terms/randn/randn.md
Labels: enhancement, status: review 1️⃣ completed, pytorch

#7610 [Edit] JavaScript: .sort()
  content/javascript/concepts/arrays/terms/sort/sort.md
  content/javascript/concepts/sort/sort.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#7554 [Edit] Concept Entry: Powershell conditionals
  content/powershell/concepts/conditionals/conditionals.md
Labels: enhancement, status: review 1️⃣ completed, powershell

#7623 [Edit] PyTorch: .mean()
  content/pytorch/concepts/tensors/terms/mean/mean.md
Labels: enhancement, status: review 1️⃣ completed, pytorch

#7513 [Term Entry] C++ Sets: emplace()
  content/cpp/concepts/sets/terms/emplace/emplace.md
Labels: c++, new entry, status: review 1️⃣ completed

#7558 [Edit] Concept entry: Markdown Links
  content/markdown/concepts/links/links.md
Labels: enhancement, status: review 1️⃣ completed, markdown

#7552 [Edit] Term Entry: Python `slice()`
  content/python/concepts/built-in-functions/terms/slice/slice.md
Labels: enhancement, python, status: review 1️⃣ completed

#7645 [Edit] AI: Gradient Descent
  content/ai/concepts/search-algorithms/terms/gradient-descent/gradient-descent.md
Labels: enhancement, status: review 1️⃣ completed, ai

#7644 [Edit] AI: Simulated Annealing
  content/ai/concepts/search-algorithms/terms/simulated-annealing/simulated-annealing.md
Labels: enhancement, status: review 1️⃣ completed, ai

#7643 [Edit] AI: Search Algorithms
  content/ai/concepts/search-algorithms/search-algorithms.md
Labels: enhancement, status: review 1️⃣ completed, ai

#7642 [Edit] HTML: <tfoot>
  content/html/concepts/tables/terms/tfoot/tfoot.md
  media/html-tfoot-1.jpg
  media/html-tfoot-2.jpg
  media/html-tfoot-3.jpg
Labels: enhancement, html, status: review 1️⃣ completed

#7612 Update arrays.md
  content/typescript/concepts/arrays/arrays.md
Labels: enhancement, typescript, status: review 1️⃣ completed, status: review 2️⃣ completed

#7574 Update tuples.md
  content/typescript/concepts/tuples/tuples.md
Labels: enhancement, typescript, status: review 1️⃣ completed, status: review 2️⃣ completed

#7571 Update data-types.md
  content/java/concepts/data-types/data-types.md
Labels: enhancement, java, status: review 1️⃣ completed, status: review 2️⃣ completed

#7551 [Term Entry - Edit]: Python `namedtuple`
  content/python/concepts/collections-module/terms/namedtuple/namedtuple.md
Labels: enhancement, python, status: review 1️⃣ completed
