Repository Codecademy/docs, pull requests merged in 2025-04, with the labels that each got.

#6389 [Term Entry] C++ Maps: .emplace()
  content/cpp/concepts/maps/terms/emplace/emplace.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#6392 New term entry added - open
  content/pillow/concepts/image/terms/open/open.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6430 [Term Entry] Python - NumPy built-in functions: .cumsum()
  content/numpy/concepts/built-in-functions/terms/cumsum/cumsum.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6436 updates on kotlin
  content/kotlin/concepts/data-types/data-types.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, kotlin

#6433 [Concept Entry] Python-NumPy: Linear Algebra
  content/numpy/concepts/linear-algebra/linear-algebra.md
Labels: new entry, status: review 1️⃣ completed, numpy

#6431 [Term Entry] Add jacobs law
  content/uiux/concepts/ux-psychology/terms/jacobs-law/jacobs-law.md
Labels: new entry, status: review 1️⃣ completed, ui and ux, status: under review

#6437 [Term Entry] Numpy - split()
  content/numpy/concepts/built-in-functions/terms/split/split.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6403 [Term Entry] Data Science Data Distributions: student's t distribution
  content/data-science/concepts/data-distributions/terms/students-t-distribution/students-t-distribution.md
  media/stdistribution-output.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, data science

#6429 Add term entry for numpy.linalg.matrix_rank()
  content/numpy/concepts/linear-algebra/terms/matrix-rank/matrix-rank.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#6440 Numpy argmax 6424
  content/numpy/concepts/built-in-functions/terms/argmax/argmax.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6404 [Term Entry] Python Plotly - graph_objects: .Carpet()
  content/plotly/concepts/graph-objects/terms/carpet/carpet.md
  media/carpet_output1.png
  media/carpet_output2.png
  media/carpet_output3.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6434 [Term Entry] Python - NumPy built-in functions: .argmax()
  content/numpy/concepts/built-in-functions/terms/argmax/argmax.md
Labels: new entry, status: review 1️⃣ completed, numpy

#6477 [Edit] Python: NumPy - .mean()
  content/numpy/concepts/built-in-functions/terms/mean/mean.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6441 [Term Entry] Python Pillow - Image: .frombuffer()
  content/pillow/concepts/image/terms/frombuffer/frombuffer.md
  media/checkerboard.png
  media/numpy_gradient.png
  media/red_gradient.png
Labels: new entry, status: review 1️⃣ completed, pillow

#6432 feat(numpy): add term entry for .repeat() function
  content/numpy/concepts/built-in-functions/terms/repeat/repeat.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#6435 [Term Entry] Python Pillow .show() method
  content/pillow/concepts/image/terms/show/show.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#6475 Add documentation for torch.bitwise_and()
  content/pytorch/concepts/tensor-operations/terms/bitwise-and/bitwise-and.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6478 [Edit]: Python substrings
  content/python/concepts/substrings/substrings.md
Labels: enhancement, python, status: review 1️⃣ completed

#6510 Blend pillow - updated link
  content/pillow/concepts/image/terms/blend/blend.md
Labels: enhancement, status: review 1️⃣ completed

#6482 [Edit] Java: pojo
  content/java/concepts/pojo/pojo.md
Labels: enhancement, java, status: review 1️⃣ completed

#6502 [Edit] Python: NumPy - .sqrt()
  content/numpy/concepts/math-methods/terms/sqrt/sqrt.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6479 [Term Entry] PyTorch Tensor Operations: .bitwise_not()
  content/pytorch/concepts/tensor-operations/terms/bitwise-not/bitwise-not.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6481 [Term Entry] Add Millers Law
  content/uiux/concepts/ux-psychology/terms/millers-law/millers-law.md
  media/millers-law-phone-number-comparison.png
Labels: new entry, status: review 1️⃣ completed, ui and ux, status: under review

#6442 [Term Entry] Python Pillow - Image: .effect_noise()
  content/pillow/concepts/image/terms/effect-noise/effect-noise.md
  media/basic_noise.png
  media/medium_noise.png
  media/strong_noise.png
  media/subtle_noise.png
Labels: new entry, status: review 1️⃣ completed, pillow

#6513 [Edit] Python:open()
  content/python/concepts/built-in-functions/terms/open/open.md
Labels: enhancement, python, status: review 1️⃣ completed

#6484 [Edit] Python: deque
  content/python/concepts/deque/deque.md
Labels: enhancement, python, status: review 1️⃣ completed

#6438 [Term Entry] Python - NumPy Linear-algebra: .cholesky()
  content/numpy/concepts/linear-algebra/terms/cholesky/cholesky.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, numpy

#6503 [Edit] Python: NumPy - .flatten()
  content/numpy/concepts/ndarray/terms/flatten/flatten.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6476 Added file on tile
  content/numpy/concepts/built-in-functions/terms/tile/tile.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6486 Create atan2 function in pytorch
  content/pytorch/concepts/tensor-operations/terms/atan2/atan2.md
  media/atan2_output1.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6483 [Edit] Python: modulo
  content/python/concepts/modulo/modulo.md
Labels: enhancement, python, status: review 1️⃣ completed

#6485 [Edit] Python (Pytorch): .cat()
  content/pytorch/concepts/tensors/terms/cat/cat.md
Labels: enhancement, status: review 1️⃣ completed, pytorch

#6517 [Edit] Python: datetime.date()
  content/python/concepts/dates/terms/date/date.md
Labels: enhancement, python, status: review 1️⃣ completed

#6514 [Edit] Python sets
  content/python/concepts/sets/sets.md
Labels: enhancement, python, status: review 1️⃣ completed

#6542 [Edit] Python Strings: .startswith()
  content/python/concepts/strings/terms/startswith/startswith.md
Labels: enhancement, python, status: review 1️⃣ completed

#6543 [Edit] Python Sets: .intersection()
  content/python/concepts/sets/terms/intersection/intersection.md
  media/intersection.png
Labels: enhancement, python, status: review 1️⃣ completed

#6544 [Edit] PowerShell: Loops
  content/powershell/concepts/loops/loops.md
Labels: enhancement, status: review 1️⃣ completed, powershell

#6545 [Edit] Python:NumPy Math Methods: .exp()
  content/numpy/concepts/math-methods/terms/exp/exp.md
Labels: enhancement, status: review 1️⃣ completed, numpy

#6504 [Term Entry] Python NumPy Built-in Function: .Quantile()
  content/numpy/concepts/built-in-functions/terms/quantile/quantile.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6532 [Edit] Python: built-in-functions: ord()
  content/python/concepts/built-in-functions/terms/ord/ord.md
Labels: enhancement, python, status: under review

#6574 [Edit] Python .split()
  content/python/concepts/strings/terms/split/split.md
Labels: enhancement, python, status: review 1️⃣ completed

#6573 [Edit] Python - .append()
  content/python/concepts/lists/terms/append/append.md
Labels: enhancement, python, status: review 1️⃣ completed

#6572 [Edit] Python round()
  content/python/concepts/built-in-functions/terms/round/round.md
Labels: enhancement, python, status: review 1️⃣ completed

#6566 [Edit] C Strings
  content/c/concepts/strings/strings.md
Labels: enhancement, c, status: review 1️⃣ completed

#6563 [Edit] Python threading
  content/python/concepts/threading/threading.md
Labels: python, new entry, status: under review

#6611 [Edit] Python Strings: .endswith()
  content/python/concepts/strings/terms/endswith/endswith.md
Labels: enhancement, python, status: review 1️⃣ completed

#6575 [Edit] Java stack
  content/java/concepts/stack/stack.md
  media/java-stack-push-pop-diagram.png
  media/java-stack-push-pop-diagram1.png
Labels: enhancement, java, status: review 1️⃣ completed

#6565 [Edit] Python - .Thread()
  content/python/concepts/threading/terms/thread/thread.md
Labels: enhancement, python, status: review 1️⃣ completed

#6614 Edit - Pillow
  content/pillow/pillow.md
Labels: enhancement, status: under review, pillow

#6616 [Edit] Python math.floor()
  content/python/concepts/math-module/terms/math-floor/math-floor.md
Labels: enhancement, python, status: review 1️⃣ completed

#6617 [Edit] Python strip
  content/python/concepts/strings/terms/strip/strip.md
Labels: enhancement, python, status: review 1️⃣ completed

#6619 [Edit] Python .zip()
  content/python/concepts/built-in-functions/terms/zip/zip.md
Labels: enhancement, python, status: review 1️⃣ completed

#6620 [Edit] Java: stringbuilder
  content/java/concepts/stringbuilder/stringbuilder.md
Labels: enhancement, java, status: review 1️⃣ completed

#6582 [Edit] Python: NumPy - .reshape()
  content/numpy/concepts/built-in-functions/terms/reshape/reshape.md
Labels: enhancement, numpy, status: under review

#6628 [Edit] Python .count()
  content/python/concepts/lists/terms/count/count.md
Labels: enhancement, python, status: review 1️⃣ completed

#6633 [Edit] Java Arraylist
  content/java/concepts/array-list/array-list.md
Labels: enhancement, java, status: review 1️⃣ completed

#6622 [Edit]Python: os-path-module .join()
  content/python/concepts/os-path-module/terms/join/join.md
Labels: enhancement, python, status: under review

#6623 [Edit] Python: dunder-methods __str__()
  content/python/concepts/dunder-methods/terms/str/str.md
Labels: enhancement, python, status: under review

#6635 [Edit] SQL not-equal-to
  content/sql/concepts/operators/terms/not-equal-to/not-equal-to.md
Labels: sql, new entry, status: under review

#6608 [Edit] Git: Remove
  content/git/concepts/rm/rm.md
Labels: enhancement, git, status: review 1️⃣ completed

#6610 [Edit] Python Strings: .isdigit()
  content/python/concepts/strings/terms/isdigit/isdigit.md
Labels: enhancement, python, status: review 1️⃣ completed

#6533 [Term Entry] Python Pillow - Image: .point() #6518
  content/pillow/concepts/image/terms/point/point.md
  media/inverted-gradient.png
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6534 Create argmin.md
  content/numpy/concepts/built-in-functions/terms/argmin/argmin.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6624 [Edit] Luau
  content/luau/luau.md
Labels: enhancement, status: review 1️⃣ completed, luau

#6637 [Edit] Css: margins
  content/css/concepts/margins/margins.md
  media/margins-output-1.png
  media/margins-output-2.png
  media/margins-output-3.png
Labels: enhancement, css, status: review 1️⃣ completed

#6638 [Term Entry] Add Cognitive Load
  content/uiux/concepts/cognitive-load/cognitive-load.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#6547 Create histogram method for pillow
  content/pillow/concepts/image/terms/histogram/histogram.md
  media/pillow-grayscale-histogram.png
  media/pillow-image-file-town.jpg
  media/pillow-rgb-histogram.png
  media/pillow-rgba-histogram.png
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6556 [Term Entry] Python - NumPy built-in functions: .histogram()
  content/numpy/concepts/built-in-functions/terms/histogram/histogram.md
Labels: new entry, status: review 1️⃣ completed, numpy, status: under review

#6646 [Edit] Python: matplotlib - .scatter()
  content/matplotlib/concepts/pyplot/terms/scatter/scatter.md
  media/matplot-scatter-output-1.png
  media/matplot-scatter-output-2.png
  media/matplot-scatter-output-3.png
Labels: enhancement, matplotlib, status: under review

#6559 add pillow terms getcolors
  content/pillow/concepts/image/terms/getcolors/getcolors.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6560 [Term Entry] Python Pillow - Image: .getextrema()
  content/pillow/concepts/image/terms/getextrema/getextrema.md
  media/funny-husky.jpg
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6653 [Edit] General: postorder-traversal
  content/general/concepts/binary-search-tree/terms/postorder-traversal/postorder-traversal.md
Labels: enhancement, general, status: review 1️⃣ completed

#6647 [Edit] Python: OrderedDict
  content/python/concepts/collections-module/terms/OrderedDict/OrderedDict.md
Labels: enhancement, python, status: review 1️⃣ completed
