Repository Codecademy/docs, pull requests merged in 2025-03, with the labels that each got.

#6230 [Term Entry] Data Science Data Distributions: Geometric Distribution
  content/data-science/concepts/data-distributions/terms/geometric-distribution/geometric-distribution.md
  media/geometric-distribution.png
Labels: new entry, status: under review, data science

#6258 [Term Entry] PyTorch Tensor Operations: .multinomial()
  content/pytorch/concepts/tensor-operations/terms/multinomial/multinomial.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6255 [Term Entry] AI Machine Learning: Classification
  content/ai/concepts/machine-learning/terms/classification/classification.md
Labels: new entry, status: review 1️⃣ completed, ai

#6257 [Term Entry] Data Science Data Distributions: Poisson Distribution
  content/data-science/concepts/data-distributions/terms/poisson-distribution/poisson-distribution.md
  media/poisson-histogram.png
Labels: new entry, status: review 1️⃣ completed, data science

#6267 [Term Entry] Exponential Distribution
  content/data-science/concepts/data-distributions/terms/exponential-distribution/exponential-distribution.md
  documentation/tags.md
  media/exponential-distribution.png
Labels: new entry, status: under review, data science

#6270 Patch for docs!
  content/c-sharp/concepts/data-types/data-types.md
Labels: enhancement, status: review 1️⃣ completed, c#, status: under review

#6264 [Term Entry] Data Science Data Distributions: Normal Distribution
  content/data-science/concepts/data-distributions/terms/normal-distribution/normal-distribution.md
  media/normal-distribution-box-plot.png
  media/normal-distribution-empirical-rule.png
  media/normal-distribution-formula.png
  media/normal-distribution-histogram.png
  media/normal-distribution-q-plot.png
Labels: new entry, status: under review, data science

#6271 [Term Entry] Javascript Window function: resizeTo()
  content/javascript/concepts/window/terms/resizeTo/resizeTo.md
Labels: javascript, new entry, status: under review

#6273 [Term Entry] Weibull Distribution
  content/data-science/concepts/data-distributions/terms/weibull-distribution/weibull-distribution.md
  documentation/tags.md
  media/weibull-distribution.png
Labels: new entry, status: review 1️⃣ completed, data science

#6263 Fix broken image URLs
  content/plotly/concepts/figure-factory/terms/create-quiver/create-quiver.md
Labels: enhancement, status: review 1️⃣ completed

#6222 fix(code snippet): Added the missing "f" for a print statement f-string
  content/python/concepts/collections-module/terms/Counter/Counter.md
Labels: enhancement, python, status: review 1️⃣ completed, status: review 2️⃣ completed

#6276 [Term Entry] JavaScript DOM Manipulation: .appendChild() #6236
  content/javascript/concepts/dom-manipulation/terms/appendChild/appendChild.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6130 reportError term entry added #6110
  content/javascript/concepts/window/terms/reportError/reportError.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6297 [Term Entry] General Algorithm: Huffman Coding
  content/general/concepts/algorithm/terms/huffman-coding/huffman-coding.md
  media/huffman_coding_1.png
  media/huffman_coding_2.png
  media/huffman_coding_3.png
  media/huffman_coding_4.png
Labels: general, new entry, status: review 1️⃣ completed

#6278 [Term Entry] PyTorch Tensor Operations: .abs()
  content/pytorch/concepts/tensor-operations/terms/abs/abs.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6302 [Term Entry] PyTorch Tensor Operations: `.as_strided()`
  content/pytorch/concepts/tensor-operations/terms/as-strided/as-strided.md
Labels: new entry, status: under review, pytorch

#6274 [Term Entry] JS DOM Method: .createElement()
  content/javascript/concepts/dom-manipulation/terms/createElement/createElement.md
  documentation/tags.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6141 [Term Entry] C++ sets - .find()
  content/cpp/concepts/sets/terms/find/find.md
Labels: c++, new entry, status: review 1️⃣ completed

#6282 Add removechild term 6237
  content/javascript/concepts/dom-manipulation/terms/removeChild/removeChild.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6268 [Term Entry] Sankey
  content/plotly/concepts/graph-objects/terms/sankey/sankey.md
  media/sankey-cash-flow.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#6334 [Term Entry] Python Plotly - graph_objects: `.Funnelarea()`
  content/plotly/concepts/graph-objects/terms/funnelarea/funnelarea.md
  media/funnelarea-example.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6333 [Term Entry] Python Plotly - graph_objects: `.Scatterternary()`
  content/plotly/concepts/graph-objects/terms/scatterternary/scatterternary.md
  media/ternary-scatter-plot-example-2.png
  media/ternary-scatter-plot-example.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6306 [Term Entry] PyTorch Tensor Operations: .add()
  content/pytorch/concepts/tensor-operations/terms/add/add.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6337 [Term Entry] PyTorch Tensor Operations: .randperm()
  content/pytorch/concepts/tensor-operations/terms/randperm/randperm.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6338 [Term Entry] PyTorch Tensor Operations: .acos()
  content/pytorch/concepts/tensor-operations/terms/acos/acos.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6340 [Term Entry] Python:Plotly Graph Objects: .Contour()
  content/plotly/concepts/graph-objects/terms/contour/contour.md
  media/contour-plot.png
Labels: new entry, status: under review, plotly

#6226 [term entry] Regression
  content/ai/concepts/machine-learning/terms/regression/regression.md
  media/height-vs-weight-plot.png
Labels: new entry, status: review 1️⃣ completed, status: under review, ai

#6301 [Term Entry] JavaScript DOM Manipulation: .innerHTML() #6235
  content/javascript/concepts/dom-manipulation/terms/innerHTML/innerHTML.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6339 [Term Entry] Python:Plotly Graph Objects: .Ohlc()
  content/plotly/concepts/graph-objects/terms/ohlc/ohlc.md
  media/ohlc-chart.png
Labels: new entry, status: under review, plotly

#6332 [Term Entry] JavaScript DOM Manipulation: `.replaceChildren()`
  content/javascript/concepts/dom-manipulation/terms/replaceChildren/replaceChildren.md
  media/replace-children-example.gif
Labels: javascript, new entry, status: under review

#6331 [Term Entry] JavaScript DOM Manipulation: `.getElementById()`
  content/javascript/concepts/dom-manipulation/terms/getElementById/getElementById.md
  media/get-element-by-id-example.gif
Labels: javascript, new entry, status: review 1️⃣ completed

#6300 [Term Entry] Command line Bash: File Operations #6288
  content/command-line/concepts/bash/terms/file-operations/file-operations.md
Labels: new entry, status: review 1️⃣ completed, status: under review, command line

#6313 [Term Entry] PyTorch Tensor Operations: .randint()
  content/pytorch/concepts/tensor-operations/terms/randint/randint.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6319 [Term Entry] Command line Bash: Associative Arrays
  content/command-line/concepts/bash/terms/associative-arrays/associative-arrays.md
Labels: new entry, status: review 1️⃣ completed, command line

#6329 [Term Entry] PyTorch Tensor Operations: .angle()
  content/pytorch/concepts/tensor-operations/terms/angle/angle.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6330 [Term Entry] PyTorch Tensor Operations: .addcmul()
  content/pytorch/concepts/tensor-operations/terms/addcmul/addcmul.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6346 6298 missing mode in vim docpage
  content/command-line/concepts/vim/vim.md
Labels: enhancement, status: review 1️⃣ completed, status: under review, command line

#6280 Initial commit, description and example of setAttribute()
  content/javascript/concepts/dom-manipulation/terms/setAttribute/setAttribute.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6305 [Term Entry] Command line Bash: Input-Output Redirection #6287
  content/command-line/concepts/bash/terms/input-output-redirection/input-output-redirection.md
Labels: new entry, status: review 1️⃣ completed, status: under review, command line

#6345 [Term Entry] PyTorch Tensor Operations: .asin()
  content/pytorch/concepts/tensor-operations/terms/asin/asin.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6343 [Term Entry] Python Pillow - Image: .alpha_composite()
  content/pillow/concepts/image/terms/alpha-composite/alpha-composite.md
  media/ocean.png
  media/ship-on-ocean.png
  media/ship.png
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6228 [Edit issue] C: union
  content/c/concepts/union/union.md
Labels: enhancement, c, status: review 1️⃣ completed

#6231 [Term entry]Java script event handler: .add event listener()
  content/javascript/concepts/event-handling/terms/addeventlistener/addeventlistener.md
Labels: javascript, new entry, status: review 1️⃣ completed

#6260 [Edit]Cloud computing faas
  content/cloud-computing/concepts/faas/faas.md
Labels: enhancement, status: review 1️⃣ completed, cloud

#6342 [Term Entry] Python Pillow Image Method: .frombytes()
  content/pillow/concepts/image/terms/frombytes/frombytes.md
  media/frombytes.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#6374 [Term Entry] JS DOM: querySelector()
  content/javascript/concepts/dom-manipulation/terms/queryselector/queryselector.md
  media/querySelector_output1.png
  media/querySelector_output2.png
  media/querySelector_output3.gif
Labels: javascript, new entry, status: review 1️⃣ completed

#6350 Update histogram2dContour.md note section
  content/plotly/concepts/graph-objects/terms/histogram2dContour/histogram2dContour.md
Labels: enhancement, status: under review, plotly

#6351 Update treemap.md note section
  content/plotly/concepts/express/terms/treemap/treemap.md
Labels: enhancement, status: under review, plotly

#6352 corrected the image links
  content/pillow/concepts/image/terms/convert/convert.md
Labels: enhancement, status: under review, pillow

#6353 corrected image links
  content/pillow/concepts/image/terms/transpose/transpose.md
Labels: enhancement, status: under review, pillow

#6382 [Term Entry] Python Pillow - Image: .paste()
  content/pillow/concepts/image/terms/paste/paste.md
  media/pillow-paste-background.jpeg
  media/pillow-paste-collage-result.jpeg
  media/pillow-paste-foreground.jpeg
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6279 [Term Entry] Python:Plotly Graph Objects: .Parcoords()
  content/plotly/concepts/graph-objects/terms/parcoords/parcoords.md
  media/plotly-go-parcoords.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, plotly

#6347 [Term Entry] Python Pillow - Image: .getpixel() #6327
  content/pillow/concepts/image/terms/getpixel/getpixel.md
  media/pillow-getpixel-peacock.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#6354 Add description file of the getbands method
  content/pillow/concepts/image/terms/getbands/getbands.md
  media/samandgos.jpg
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6355 [Term Entry] Python Pillow - Image: .merge()
  content/pillow/concepts/image/terms/merge/merge.md
  media/Boston.jpg
  media/merged-boston.png
Labels: new entry, status: review 1️⃣ completed, status: under review, pillow

#6275 [Term Entry] C++ operators arithmetic operators
  content/cpp/concepts/operators/terms/arithmetic-operators/arithmetic-operators.md
Labels: c++, new entry, status: review 1️⃣ completed

#6261 [Term Entry]Java script event handler .removeeventlistener()
  content/javascript/concepts/event-handling/terms/removeeventlistener/removeeventlistener.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6381 [Term Entry] Python Neural Networks: Adagrad
  content/ai/concepts/neural-networks/terms/adagrad/adagrad.md
Labels: new entry, status: review 1️⃣ completed, ai

#6372 [Term Entry] PyTorch Tensor Operations: .addcdiv()
  content/pytorch/concepts/tensor-operations/terms/addcdiv/addcdiv.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6375 [Term Entry] Python Pillow - Image: .composite()
  content/pillow/concepts/image/terms/composite/composite.md
  media/composite_output1.jpg
  media/composite_output2.jpg
  media/composite_output3.jpg
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, pillow

#6393 [Term Entry] PyTorch Tensor Operations: .atan()
  content/pytorch/concepts/tensor-operations/terms/atan/atan.md
  media/atan_output1.png
  media/atan_output2.png
Labels: new entry, status: review 1️⃣ completed, pytorch

#6395 [Term Entry] Command line Bash: String Manipulation
  content/command-line/concepts/bash/terms/string-manipulation/string-manipulation.md
Labels: new entry, status: review 1️⃣ completed, command line

#6386 [Term Entry] C++ Maps: .find()
  content/cpp/concepts/maps/terms/find/find.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#6335 [Term Entry] Data Science Data Distributions: Hypergeometric Distribu…
  content/data-science/concepts/data-distributions/terms/hypergeometric-distribution/hypergeometric-distribution.md
Labels: new entry, status: review 1️⃣ completed, data science

#6399 C++: Loops
  content/cpp/concepts/loops/loops.md
  media/loop-flow-diagram.png
Labels: enhancement, c++, status: review 1️⃣ completed

#6400 [Term Entry] C++ Loops: foreach
  content/cpp/concepts/loops/terms/foreach/foreach.md
Labels: c++, new entry, status: review 1️⃣ completed

#6394 [Term Entry] C++ Maps: .end()
  content/cpp/concepts/maps/terms/end/end.md
Labels: c++, new entry, status: review 1️⃣ completed

#6383 [Term Entry] PyTorch Tensor Operations: .asinh()
  content/pytorch/concepts/tensor-operations/terms/asinh/asinh.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6384 [Term Entry] Python Pillow - Image: .putalpha()
  content/pillow/concepts/image/terms/putalpha/putalpha.md
  media/pillow-putalpha-example.png
  media/pillow-putalpha-gradient-example.png
  media/pillow-putalpha-transparent-example.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#6405 [Term Entry] Python Pillow - Image: .eval()
  content/pillow/concepts/image/terms/eval/eval.md
  media/pillow-eval.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pillow

#6428 [Concept Entry] NumPy: Random Module
  content/numpy/concepts/random-module/random-module.md
Labels: new entry, status: review 1️⃣ completed, numpy
