Repository Codecademy/docs, pull requests merged in 2025-01, with the labels that each got.

#5831 [Concept Entry] Python: Packages
  content/python/concepts/packages/packages.md
Labels: python, status: under review

#5830 [Concept Entry] Pandas: Pivot Tables
  content/pandas/concepts/pivot-tables/pivot-tables.md
Labels: new entry, pandas, status: under review

#5834 Concept Entry: Git - Amend
  content/git/concepts/amend/amend.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5891 Update json.md
  content/general/concepts/json/json.md
Labels: enhancement, general, status: review 1️⃣ completed, status: review 2️⃣ completed

#5907 [Term Entry] Python statsmodels: anova_lm()
  content/python/concepts/statsmodels/terms/anova-lm/anova-lm.md
Labels: python, new entry, status: review 1️⃣ completed

#5827 Added docs for javascript spread operator - #5802
  content/javascript/concepts/spread-operator/spread-operator.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5829 [Edit] Combine Duplicate Focus Group Entries
  content/uiux/concepts/focus-group/focus-group.md
  content/uiux/concepts/focus-groups/focus-groups.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ui and ux

#5880 [Concept Entry] Rust: Ownership
  content/rust/concepts/ownership/ownership.md
Labels: new entry, status: review 1️⃣ completed, rust

#5881 [Concept Entry] Javascript: Nullish Coalescing
  content/javascript/concepts/nullish-coalescing/nullish-coalescing.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#5898 [Concept Entry] Sklearn ensembles
  content/sklearn/concepts/ensembles/ensembles.md
Labels: new entry, status: under review, sklearn

#5917 [Edit] Fix typo in CSS Overflow entry
  content/css/concepts/overflow/overflow.md
Labels: enhancement, css, status: review 1️⃣ completed, status: review 2️⃣ completed

#5835 Updated doc for python strftime module
  content/python/concepts/dates/terms/strftime/strftime.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5794 The document for Mixedlm entry.
  content/python/concepts/statsmodels/terms/mixedlm/mixedlm.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5833 Add custom exceptions md #5788
  content/python/concepts/errors/errors.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5900 [Term Entry] Python Dates: .strptime() #5755
  content/python/concepts/dates/terms/strptime/strptime.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5896 [Term Entry] PyTorch Tensor Operations: .swapaxes()
  content/pytorch/concepts/tensor-operations/terms/swapaxes/swapaxes.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5883 Adding Squash Documentation
  content/git/concepts/squash/squash.md
Labels: git, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5941 fix grammar in Javascript iterator.md
  content/javascript/concepts/iterators/iterators.md
Labels: enhancement, javascript, status: review 1️⃣ completed, status: ready for next review

#5910 [Term Entry] Python scipy integrate odeint
  content/scipy/concepts/scipy-integrate/terms/odeint/odeint.md
  media/odeint_solution_plot.png
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, scipy

#5893 Specifying data types
  content/pytorch/concepts/tensor-operations/terms/specifying-data-types/specifying-data-types.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5890 Added file on chisquare_test
  content/python/concepts/statsmodels/terms/chi-squared-tests/chi-squared-tests.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#5784 [Concept Entry] Subject: Date formats in sql
  content/sql/concepts/date-format/date-format.md
Labels: sql, new entry, status: review 1️⃣ completed

#5903 [Term Entry] Python statsmodels: model residuals
  content/python/concepts/statsmodels/terms/model-residuals/model-residuals.md
  media/model-residuals-example.png
Labels: python, new entry, status: review 1️⃣ completed

#5895 [Term Entry] Python Scipy Function: find_peaks()
  content/scipy/concepts/scipy-signal/terms/find-peaks/find-peaks.md
Labels: new entry, status: review 1️⃣ completed, status: under review, scipy

#5921 [#5867 : ConceptEntry] Pytorch: HandlingBatches (docs)
  content/pytorch/concepts/handling-batches/handling-batches.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5942 [Edit] Python: Operators
  content/python/concepts/operators/operators.md
Labels: python, new entry, status: review 1️⃣ completed, status: under review

#5952 [Term Entry]PyTorch Split_Tensor .tensor_split() - Requested Edits
  content/pytorch/concepts/tensor-operations/terms/tensor-split/tensor-split.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5906 Add new entry: working with JSON in Go
  content/go/concepts/working-with-json/working-with-json.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, go

#5925 Lua: comments.md incorrectly shows comment close as ]]--
  content/lua/concepts/comments/comments.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5951 [Term Entry] PyTorch Tensor Operations: .take_along_dim()
  content/pytorch/concepts/tensor-operations/terms/take-along-dim/take-along-dim.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#5919 Scipy curve fit
  content/scipy/concepts/scipy-optimize/terms/curve-fit/curve-fit.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, scipy

#5997 Bult in plotting pandas
  content/pandas/concepts/built-in-plotting/built-in-plotting.md
  media/built-in-plotting.png
Labels: new entry, status: review 1️⃣ completed, pandas

#5838 Create polyfill for JavaScript
  content/javascript/concepts/polyfill/polyfill.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5916 Pytorch parallelism
  content/pytorch/concepts/distributed-data-parallelism/distributed-data-parallelism.md
  documentation/tags.md
Labels: status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author, pytorch

#5988 [Concept Entry] Pandas: Multi-indexing
  content/pandas/concepts/multi-indexing/multi-indexing.md
Labels: new entry, status: review 1️⃣ completed, pandas

#5992 Cpp inclusion guards
  content/cpp/concepts/inclusion-guards/inclusion-guards.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5902 Added docs/content/pytorch/concepts/using-functional-api/using-functional-api.md
  content/pytorch/concepts/using-functional-api/using-functional-api.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#5993 Access modifiers
  content/cpp/concepts/access-modifiers/access-modifiers.md
Labels: c++, status: review 1️⃣ completed, status: under review

#5913 Add pretrained models guide
  content/pytorch/concepts/loading-pretrained-models/loading-pretrained-models.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6004 [Term Entry] PyTorch Tensor Operations: .diagonal_scatter()
  content/pytorch/concepts/tensor-operations/terms/diagonal-scatter/diagonal-scatter.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6005 [Term Entry] PyTorch Tensor Operations: .select_scatter()
  content/pytorch/concepts/tensor-operations/terms/select-scatter/select-scatter.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5950 Header Files Addition
  content/c/concepts/header-files/header-files.md
Labels: c, new entry, status: review 1️⃣ completed, status: under review

#6006 [Term Entry] PyTorch Tensor Operations: .slice_scatter()
  content/pytorch/concepts/tensor-operations/terms/slice-scatter/slice-scatter.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6007 [Term Entry] PyTorch Tensor Operations: .scatter_reduce()
  content/pytorch/concepts/tensor-operations/terms/scatter-reduce/scatter-reduce.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6000 [Term Entry] PyTorch Tensor Operations: .swapdims()
  content/pytorch/concepts/tensor-operations/terms/swapdims/swapdims.md
Labels: new entry, status: under review, pytorch

#5999 Add scanf() documentation for C
  content/c/concepts/basic-output/terms/scanf/scanf.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6009 [Concept Entry] C: Control Statements
  content/c/concepts/control-statements/control-statements.md
Labels: c, new entry, status: under review

#5991 [Concept Entry] Git: HEAD
  content/git/concepts/head/head.md
Labels: git, new entry, status: under review

#6023 PyTorch Tensor Operations: .transpose()
  content/pytorch/concepts/tensor-operations/terms/transpose/transpose.md
Labels: new entry, status: under review, pytorch

#6024 fix(lua): fix incorrect code for reversed lua iterator
  content/lua/concepts/iterators/iterators.md
Labels: typo, status: review 1️⃣ completed, status: review 2️⃣ completed, lua

#5998 Added documentation page of C++ access modifier: protected
  content/cpp/concepts/access-modifiers/terms/protected/protected.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#5983 Adding IsoReg folder and files
  content/sklearn/concepts/isotonic-regression/isotonic-regression.md
  media/isotonic-regression-example.jpg
Labels: new entry, status: review 1️⃣ completed, status: under review, sklearn

#6022 [Term Entry] PyTorch Tensor Operations: .unbind()
  content/pytorch/concepts/tensor-operations/terms/unbind/unbind.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6027 [Concept Entry] C keywords
  content/c/concepts/keywords/keywords.md
Labels: c, new entry, status: review 1️⃣ completed

#6010 [Term Entry] C Keywords: typedef
  content/c/concepts/keywords/terms/typedef/typedef.md
Labels: c, new entry, status: review 1️⃣ completed

#6002 [Term Entry] Python statsmodels: ARIMA
  content/python/concepts/statsmodels/terms/arima/arima.md
  media/arima-example.png
Labels: python, new entry, status: review 1️⃣ completed

#6030 Created the entry for Public Access Modifier
  content/cpp/concepts/access-modifiers/terms/public/public.md
  documentation/tags.md
Labels: c++, new entry, status: review 1️⃣ completed

#6039 Update public.md
  content/cpp/concepts/access-modifiers/terms/public/public.md
Labels: enhancement, c++, status: review 1️⃣ completed

#6038 [Term Entry] PyTorch Tensor Operations: Moving Tensors Across Devices(CPU/GPU)
  content/pytorch/concepts/tensor-operations/terms/moving-tensors-across-devices/moving-tensors-across-devices.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#5986 Add C++ concept entry for destructors
  content/cpp/concepts/destructors/destructors.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6037 [Concept Entry] C: Unions
  content/c/concepts/union/union.md
Labels: c, new entry, status: review 1️⃣ completed

#6041 [Term Entry] Python statsmodels:SARIMAX
  content/python/concepts/statsmodels/terms/sarimax/sarimax.md
  media/sarimax-example.png
Labels: python, new entry, status: review 1️⃣ completed

#6035 [Term Entry] Created the term entry `sgd.md`
  content/pytorch/concepts/optimizers/terms/sgd/sgd.md
  documentation/tags.md
Labels: new entry, status: under review, pytorch

#6036 [Term Entry] Created the term entry for `rmsprop.md`
  content/pytorch/concepts/optimizers/terms/rmsprop/rmsprop.md
  documentation/tags.md
Labels: new entry, status: under review, pytorch

#6003 Cscope
  content/c/concepts/scope/scope.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, status: waiting for author

#6043 [Edit] Python: time
  content/python/concepts/dates/terms/time/time.md
Labels: enhancement, python, status: review 1️⃣ completed

#5915 Pytorch parallelization
  content/pytorch/concepts/parallelizing-models/parallelizing-models.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6056 [Term Entry] PyTorch Tensor Operations: .vsplit()
  content/pytorch/concepts/tensor-operations/terms/vsplit/vsplit.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6044 [Term Entry] C Arrays: Dynamic Array
  content/c/concepts/arrays/terms/dynamic-arrays/dynamic-arrays.md
Labels: c, new entry, status: review 1️⃣ completed

#6057 [Term Entry] PyTorch Tensor Operations: .vstack()
  content/pytorch/concepts/tensor-operations/terms/vstack/vstack.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6040 [Edit Entry] - Added Codebyte Example
  content/c-sharp/concepts/comments/comments.md
Labels: enhancement, status: review 1️⃣ completed, c#

#6054 [Term Entry] Python:SciPy scipy.integrate: quad()
  content/scipy/concepts/scipy-integrate/terms/quad/quad.md
Labels: new entry, status: review 1️⃣ completed, scipy

#6042 [Concept Entry] C: Storage Classes
  content/c/concepts/storage-classes/storage-classes.md
Labels: c, new entry, status: under review
