Repository Codecademy/docs, pull requests merged in 2025-02, with the labels that each got.

#6055 [Term Entry] Python:SciPy scipy.stats: Descriptive Stats
  content/scipy/concepts/scipy-stats/terms/descriptive-stats/descriptive-stats.md
Labels: new entry, status: review 1️⃣ completed, scipy

#6076 [Concept Entry] General: CPU
  docs/content/general/concepts/cpu/cpu.md
Labels: general, new entry, status: review 1️⃣ completed

#6078 [Concept Entry] General:Terminal
  content/general/concepts/terminal/terminal.md
Labels: general, new entry, status: review 1️⃣ completed

#6077 [Concept Entry] General: RAM
  content/general/concepts/ram/ram.md
Labels: general, new entry, status: review 1️⃣ completed

#6075 [Concept Entry] general: Machine Learning
  content/general/concepts/machine-learning/machine-learning.md
Labels: general, new entry, status: review 1️⃣ completed, ai

#6081 [Edit] Sklearn: linear regression analysis
  content/sklearn/concepts/linear-regression-analysis/linear-regression-analysis.md
Labels: enhancement, status: review 1️⃣ completed

#6083 Remove duplicate Entry for CPU
  docs/content/general/concepts/cpu/cpu.md
Labels: enhancement, general, status: review 1️⃣ completed

#6029 [Concept Entry] AI: Supervised Learning
  content/ai/concepts/supervised-learning/supervised-learning.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#6031 Created the file for private access modifier
  content/cpp/concepts/access-modifiers/terms/private/private.md
Labels: c++, new entry, status: review 1️⃣ completed

#6049 New entry Multilevel Inheritance
  content/cpp/concepts/inheritance/terms/multilevel-inheritance/multilevel-inheritance.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#5982 [Concept Entry] C: Static Variables
  content/c/concepts/static-variables/static-variables.md
Labels: c, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6051 [Term Entry] Python statsmodels: statistical distributions
  content/python/concepts/statsmodels/terms/statistical-distributions/statistical-distributions.md
  media/statsmodels-statistical-distributions.png
Labels: python, new entry, status: review 1️⃣ completed

#6072 [Concept Entry] PyTorch: GPU Acceleration with CUDA
  content/pytorch/concepts/gpu-acceleration-with-cuda/gpu-acceleration-with-cuda.md
Labels: new entry, status: under review, pytorch

#6088 [Concept Entry] general: Number
  content/general/concepts/number/number.md
Labels: general, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6092 [Term Entry] C Operators: Ternary Operator
  content/c/concepts/operators/terms/ternary-operator/ternary-operator.md
  documentation/tags.md
Labels: c, new entry, status: review 1️⃣ completed

#6028 [Term Entry] PyTorch GPU Acceleration with CUDA: Performance Optimization
  content/pytorch/concepts/gpu-acceleration-with-cuda/terms/performance-optimization/performance-optimization.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6074 [Term Entry] PyTorch GPU Acceleration with CUDA: CUDA Operations
  content/pytorch/concepts/gpu-acceleration-with-cuda/terms/cuda-operations/cuda-operations.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6096 Update supervised learning path
  content/ai/concepts/machine-learning/terms/supervised-learning/supervised-learning.md
Labels: enhancement, status: review 1️⃣ completed

#6093 [Term Entry] C Operators: Unary operators
  content/c/concepts/operators/terms/unary-operators/unary-operators.md
Labels: c, new entry, status: review 1️⃣ completed

#6086 PyTorch GPU Acceleration with CUDA: Memory Management
  content/pytorch/concepts/gpu-acceleration-with-cuda/terms/memory-management/memory-management.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6095 [Term Entry]Jupyter extensions entry
  content/data-science/concepts/jupyter-notebook-extensions/jupyter-notebook-extensions.md
Labels: python, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6119 [Term Entry] C Operators: sizeof()
  content/c/concepts/operators/terms/sizeof/sizeof.md
Labels: c, new entry, status: review 1️⃣ completed

#6116 [Term Entry] PyTorch Optimizers: Adam
  content/pytorch/concepts/optimizers/terms/adam/adam.md
Labels: new entry, pytorch

#6117 [Term Entry] PyTorch Tensor Operations: .tile()
  content/pytorch/concepts/tensor-operations/terms/tile/tile.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6118 [Term Entry] PyTorch Tensor Operations: .is_tensor()
  content/pytorch/concepts/tensor-operations/terms/is-tensor/is-tensor.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6094 Completed Concept Entry for Javascript: Event loop #5800
  content/javascript/concepts/event-loop/event-loop.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6121 [Concept Entry] general: Linux
  content/general/concepts/linux/linux.md
  media/general-linux.png
Labels: general, new entry, status: review 1️⃣ completed

#6120 [Term Entry] PyTorch Tensor Operations: .numel()
  content/pytorch/concepts/tensor-operations/terms/numel/numel.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6032 [Term Entry] C Pointers: Double Pointer
  content/c/concepts/pointers/terms/double-pointer/double-pointer.md
Labels: c, new entry, status: review 1️⃣ completed, status: under review

#6079 [Concept Entry] General: Processor
  content/general/concepts/processor/processor.md
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#6080 [Concept Entry] general: Artificial Intelligence
  content/general/concepts/artificial-intelligence/artificial-intelligence.md
Labels: general, new entry, status: review 1️⃣ completed, status: under review

#6125 [Term Entry] Created the entry `unsqueze.md`
  content/pytorch/concepts/tensor-operations/terms/unsqueeze/unsqueeze.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6132 [Concept Entry] general: GraphQL
  content/general/concepts/graphql/graphql.md
Labels: general, new entry, status: review 1️⃣ completed

#6137 added a new catalog path for pytorch
  documentation/catalog-content.md
Labels: documentation, status: review 1️⃣ completed

#6050 [Concept Entry] PyTorch : Parameter Updates
  content/pytorch/concepts/parameter-updates/parameter-updates.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, pytorch

#6090 [Term Entry] PyTorch Tensor Operations: .is_nonzero()
  content/pytorch/concepts/tensor-operations/terms/is-nonzero/is-nonzero.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6048 [Concept Entry] PyTorch: Custom Loss Functions Creation
  content/pytorch/concepts/custom-loss-functions-creation/custom-loss-functions-creation.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6127 [Concept Entry] Created the export entry
  content/pytorch/concepts/model-export-with-torchscript/model-export-with-torchscript.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6126 [Concept Entry] Created the entry on Export
  content/pytorch/concepts/model-export-with-torchscript/terms/model-export-for-deployment/model-export-for-deployment.md
  documentation/tags.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6162 [Concept Entry] Data Science: Hypothesis Testing
  content/data-science/concepts/hypothesis-testing/hypothesis-testing.md
Labels: new entry, status: review 1️⃣ completed

#6089 Create new entry for C++
  content/cpp/concepts/inheritance/terms/hierarchical-inheritance/hierarchical-inheritance.md
Labels: c++, new entry, status: review 1️⃣ completed, status: under review

#6122 [Term Entry] Javascript Window function: scroll() #6106
  content/javascript/concepts/window/terms/scroll/scroll.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6135 [Concept Entry] AI: Weakly-Supervised Learning
  content/ai/concepts/machine-learning/terms/weakly-supervised-learning/weakly-supervised-learning.md
Labels: new entry, status: review 1️⃣ completed, status: under review, ai

#6140 Contributed .from_numpy() Reference in PyTorch Docs
  content/pytorch/concepts/tensor-operations/terms/from-numpy/from-numpy.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, pytorch

#6133 [Concept Entry] AI: Self-Supervised Learning
  content/ai/concepts/machine-learning/terms/self-supervised-learning/self-supervised-learning.md
Labels: new entry, status: review 1️⃣ completed, status: review 2️⃣ completed, ai

#6164 [Term Entry] Data Science Hypothesis Testing:Z-table
  content/data-science/concepts/hypothesis-testing/terms/z-table/z-table.md
Labels: new entry, status: review 1️⃣ completed

#6163 [Term Entry] Data Science Hypothesis Testing: T-table
  content/data-science/concepts/hypothesis-testing/terms/t-table/t-table.md
Labels: new entry, status: review 1️⃣ completed

#6033 Add new content to concept git rebase
  content/git/concepts/rebase/rebase.md
Labels: enhancement, git, status: review 1️⃣ completed, status: under review

#6166 Creation of as-tensor.md
  content/pytorch/concepts/tensor-operations/terms/as-tensor/as-tensor.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6165 Fix Markdown code block example
  content/markdown/concepts/code-blocks/code-blocks.md
Labels: enhancement, status: review 1️⃣ completed, markdown, status: under review

#6167 [Term Entry] JS Window Function: resizeTo()
  content/javascript/concepts/window/terms/resizeTo/resizeTo.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6172 Added a new Concept Entry for JS: Event Handling
  content/javascript/concepts/event-handling/event-handling.md
  documentation/tags.md
Labels: javascript, new entry, status: review 1️⃣ completed

#6174 Add documentation for Hybrid Inheritance in C++
  content/cpp/concepts/inheritance/terms/hybrid-inheritance/hybrid-inheritance.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6173 Updated events.md
  content/javascript/concepts/events/events.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6176 [Concept Entry] AI: Reinforcement Learning
  content/ai/concepts/machine-learning/terms/reinforcement-learning/reinforcement-learning.md
Labels: new entry, status: review 1️⃣ completed, status: waiting for author, ai

#6178 Dom Concept Entry
  content/javascript/concepts/dom-manipulation/dom-manipulation.md
Labels: javascript, new entry, status: under review

#6168 Create-table-entry.md -& fig.png added / Requesting help for hosting my media file.
  content/plotly/concepts/figure-factory/terms/create-table/create-table.md
  media/create-table-fig.png
Labels: new entry, status: review 1️⃣ completed, status: under review, plotly

#6175 [Concept Entry] PyTorch: Saving Model States
  content/pytorch/concepts/saving-model-states/saving-model-states.md
Labels: new entry, status: under review, pytorch

#6181 Added a new concept Data Transformations
  content/pytorch/concepts/data-transformations/data-transformations.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6182 [Concept Entry] AI: Unsupervised Learning
  content/ai/concepts/machine-learning/terms/unsupervised-learning/unsupervised-learning.md
Labels: new entry, status: review 1️⃣ completed, ai

#6053 Adding [Term Entry] C++ Inheritance: Multiple Inheritance
  content/cpp/concepts/inheritance/terms/multiple-inheritance/multiple-inheritance.md
Labels: c++, new entry, status: review 1️⃣ completed, status: review 2️⃣ completed

#6203 [Term Entry] PyTorch Tensor Operations: .bernoulli()
  content/pytorch/concepts/tensor-operations/terms/bernoulli/bernoulli.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6204 [Term Entry] PyTorch Tensor Operations: .normal()
  content/pytorch/concepts/tensor-operations/terms/normal/normal.md
Labels: new entry, status: review 1️⃣ completed, pytorch

#6205 [Term Entry] Python:Plotly Express: .icicle()
  content/plotly/concepts/express/terms/icicle/icicle.md
  media/icicle-chart.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6139 [Term Entry] Javascript Window function: structuredClone()
  content/javascript/concepts/window/terms/structuredClone/structuredClone.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6138 Scrollby markdown
  content/javascript/concepts/window/terms/scrollBy/scrollBy.md
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6131 [Term Entry] Adds Javascript Window function: requestAnimationFrame()
  content/javascript/concepts/window/terms/requestAnimationFrame/requestAnimationFrame.md
  media/requestAnimationFrame__1.gif
Labels: javascript, new entry, status: review 1️⃣ completed, status: under review

#6217 [Term Entry] Python Plotly - express: .density_heatmap()
  content/plotly/concepts/express/terms/density-heatmap/density-heatmap.md
  media/density_heatmap_1.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6210 [Concept Entry] Data Distributions
  content/data-science/concepts/data-distributions/data-distributions.md
  media/histogram-plot.png
Labels: new entry, status: under review, ai

#6215 [Term Entry] Density contour
  content/plotly/concepts/express/terms/density-contour/density-contour.md
  media/2D-Density-Contour-Plot.png
Labels: new entry, status: under review, plotly

#6214 [Term Entry] Created entry on `Vanishing Gradient Problem`
  content/ai/concepts/neural-networks/terms/vanishing-gradient/vanishing-gradient.md
Labels: new entry, status: review 1️⃣ completed, ai

#6241 Corrected link for the image
  content/javascript/concepts/window/terms/stop/stop.md
Labels: enhancement, javascript, status: review 1️⃣ completed

#6211 Create where.md entry
  content/pytorch/concepts/tensor-operations/terms/where/where.md
Labels: new entry, status: review 1️⃣ completed, status: under review, pytorch

#6225 Add `.create_quiver()` entry
  content/plotly/concepts/figure-factory/terms/create-quiver/create-quiver.md
  media/basic-quiver-plot.png
  media/custom-quiver-plot.png
Labels: new entry, status: review 1️⃣ completed, plotly

#6216 [Term Entry] Python Plotly - express: .strip()
  content/plotly/concepts/express/terms/strip/strip.md
  media/plotly-strip-1.png
Labels: new entry, status: under review, plotly

#6219 [Concept Entry] general: Cloud computing
  content/general/concepts/cloud-computing/cloud-computing.md
  media/cloud-computing.png
Labels: general, new entry, status: under review

#6218 [Term Entry] PyTorch Tensor Operations: .poisson()
  content/pytorch/concepts/tensor-operations/terms/poisson/poisson.md
Labels: new entry, status: under review, pytorch
